.l-bid-head{
	background-color: #e5fdff;
	padding-top: 74px;
	padding-bottom: 80px;
	@media ( max-width: @screen-sm-max) {
		padding: 40px 0;
	}
	[class*=col-]{
		@media ( max-width: @screen-xs-max) {
			&:not(:last-child){
				margin-bottom: 30px;
			}
		}
	}
}
.l-bid-head__ttl{
	font-size: 48px;
	font-weight: 600;
	color: @bondi_blue;
    letter-spacing: 0.2px;
	margin-bottom: 46px;
	@media ( max-width: @screen-md-max) {
		font-size: 40px;
	}
	@media ( max-width: @screen-sm-max) {
		font-size: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 22px;
		margin-bottom: 26px;
	}
}
.l-bid-head__item-numb{
	float: left;
	color: @bondi_blue;
	font-size: 96px;
	font-weight: 600;
	margin-top: -5px;
	@media ( max-width: @screen-sm-max) {
		font-size: 66px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 52px;
	}
}
.l-bid-head__item-txt{
	overflow: hidden;
	padding-left: 10px;
	br{
		@media ( max-width: @screen-md-max) {
			display: none;
		}
	}
}
.l-bid-head__item-name{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 16px;
	@media ( max-width: @screen-md-max) {
		font-size: 18px;
	}
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 10px;
	}
}
.l-bid-head__item-about{
	font-size: 18px;
	line-height: 24px;
	@media ( max-width: @screen-md-max) {
		font-size: 16px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
	}
}