mixin item(numb, txt1, txt2)
	.col-md-4
		.l-bid-head__item.clearfix
			b.l-bid-head__item-numb #{numb}
			.l-bid-head__item-txt
				.l-bid-head__item-name #{txt1}
				.l-bid-head__item-about #{txt2}

mixin l-bid-head(data)
	.l-bid-head
		.container
			.l-bid-head__ttl - Нужна разработка логотипа или фирстиля?
			.row
				.col-md-4.col-sm-4
					.l-bid-head__item.clearfix
						b.l-bid-head__item-numb 1
						.l-bid-head__item-txt
							.l-bid-head__item-name Заполните заявку
							.l-bid-head__item-about Мы быстро оповестим исполнителей Pomogoo <br>о вашей заявке.
				.col-md-4.col-sm-4
					.l-bid-head__item.clearfix
						b.l-bid-head__item-numb 2
						.l-bid-head__item-txt
							.l-bid-head__item-name Получите предложения
							.l-bid-head__item-about Заинтерисаванные исполнители предложат вам <br>свои услуги.
				.col-md-4.col-sm-4
					.l-bid-head__item.clearfix
						b.l-bid-head__item-numb 3
						.l-bid-head__item-txt
							.l-bid-head__item-name Выберите исполнителя
							.l-bid-head__item-about Выберите подходящее для вас предложение по цене <br>или рейтингу исполнителя