mixin short-rev(img)
	.l-cust-rev__item.clearfix
		.l-cust-rev__item-img.h-object-fit
			img(src="s/images/tmp_file/#{img}.jpg", alt="")
		.l-cust-rev__item-txt
			.l-cust-rev__item-txt-wrp.clearfix
				.l-cust-rev__item-user
					span.l-cust-rev__item-user-name Роберт Малишев
				.l-cust-rev__item-done
					span.l-cust-rev__item-done-txt Выполнил 737 задания. Средняя оценка: 5
					span.l-cust-rev__item-done-stars
						+svg('icon-star')
						+svg('icon-star')
						+svg('icon-star')
						+svg('icon-star')
						+svg('icon-star')
				.l-cust-rev__item-rev
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.l-cust-rev__item-caption Источник

mixin l-perf-rev(data)
	.l-cust-rev.l-perf-rev
		h1 Отзывы исполнителей о Pomogoo
		.l-cust-rev__annotation
			p Тысячи исполнителей уже получили возможность зарабатывать на Pomogoo тогда, когда им удобно, выполняя только ту работу, которая им нравится. Нам очень приятно читать отзывы, которые они оставляют о работе сервиса. <br>Именно благодаря им Pomogoo с каждым днем становится лучше.
			p Мы рады, что каждый из исполнителей присоединился к сервису, и гордимся командой наших проверенных пользователей. А их отзывы о нашей работе доказывают, что мы делаем действительно полезный и необходимый для многих продукт.
		.l-cust-rev__content
			+short-rev('user1')
			+short-rev('user2')
			+short-rev('user3')
			+short-rev('user4')
			+short-rev('user5')
			+short-rev('user6')
		.l-cust-rev__btns
			a(href="#").but.but_bondi.but_bondi_lg
				span Создать задание
			a(href="#").c-check-link
				span Может быть вы хотите стать исполнителем Pomogoo?