.l-cust-rev__item-done-stars{
	display: inline-block;
	vertical-align: middle;
    position: relative;
    top: -1px;
    @media ( max-width: @screen-xs-max) {
    	top: auto;
    	margin-top: 10px;
    	display: block;
    }
	.icon{
		color: @y_orange;
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		&:not(:last-child){
			margin-right: 4px;
		}
	}
}
.l-cust-rev__item-done-txt{
	display: inline-block;
	vertical-align: middle;
	color: #011126;
	font-size: 14px;
	margin-right: 7px;
	@media ( max-width: @screen-xs-max) {
		font-size: 13px;
	}
}
.l-cust-rev.l-perf-rev{
	.l-cust-rev__annotation{
		font-size: 16px;
		line-height: 30px;
	    margin-bottom: 80px;
		margin-top: 44px;
		max-width: none;
		@media ( max-width: @screen-sm-max) {
			font-size: 14px;
		    line-height: 26px;
		    margin-bottom: 25px;
		    margin-top: 25px;
		}	
		p{
			margin-bottom: 30px;
			@media ( max-width: @screen-sm-max) {
				margin-bottom: 15px;
			}
		}
	}
	.l-cust-rev__item:not(:last-child){
	    margin-bottom: 63px;
	    @media ( max-width: @screen-sm-max) {
	    	margin-bottom: 40px;
	    }
	}
	.l-cust-rev__btns{
		margin-top: 63px;
		@media ( max-width: @screen-sm-max) {
			margin-top: 33px;
		}
	}
}
.l-cust-rev__item-done{
	margin-top: 11px;
    margin-bottom: 21px;
}