mixin brand(img)
	.c-footer__middle-brand-column
		.c-footer__middle-brand-img
			img(src="s/images/tmp_file/#{img}.png", alt="")

mixin footer()
	footer.c-footer
		.c-footer__top
			.container
				.c-footer__top-list-items.clearfix
					.c-footer__top-list-item
						.c-footer__top-list-item-ttl Как тут все устроено
						ul.c-footer__top-list-item-links.h-list
							li
								a(href="#") Как стать исполнителем
							li
								a(href="#") Безлимитные предложения
							li
								a(href="#") Как это работает
							li
								a(href="#") Сделка без риска
							li
								a(href="#") Безопасность и гарантии
							li
								a(href="#") Награды и рейтинг
							li
								a(href="#") Отзывы исполнителей
							li
								a(href="#") Отзывы заказчиков
					.c-footer__top-list-item
						.c-footer__top-list-item-ttl Компания
						ul.c-footer__top-list-item-links.h-list
							li
								a(href="#") Наш блог
							li
								a(href="#") Вакансии
							li
								a(href="#") Контакты
							li
								a(href="#") СМИ о нас
					.c-footer__top-list-item
						.c-footer__top-list-item-ttl Поддержка
						ul.c-footer__top-list-item-links.h-list
							li
								a(href="#") Правила сервиса
							li
								a(href="#") Частые вопросы
				.c-footer__top-contacts
					.c-footer__top-contacts-item
						.c-footer__top-contacts-ico
							+svg('icon-tel')
						.c-footer__top-contacts-txt
							span +7 (495) 771 25 69
							span +7 (495) 771 25 69
					.c-footer__top-contacts-item
						.c-footer__top-contacts-ico
							+svg('icon-clock')
						.c-footer__top-contacts-txt
							span пн - пт 9:00 - 23:00
							span сб - вс 9:00 - 21:00
					.c-footer__top-contacts-item
						.c-footer__top-contacts-ico
							+svg('icon-letter')
						.c-footer__top-contacts-txt
							span pomogoo@gmail.com
				.c-footer__top-soc
					.c-footer__top-soc-ttl Поделитесь с друзьями:
					.c-footer__top-soc-widgets
						.c-footer__top-soc-fb
							#fb-root
								.fb-like(data-href='https://youdo.com/' data-layout='standard' data-action='like' data-show-faces='true' data-width="181" layout="button_count" show_faces="false" send="false")
						.c-footer__top-soc-tw
							a.twitter-follow-button(href='https://twitter.com/TwitterDev' data-size='small' data-show-screen-name="false")
						.l-personal__download
							a(href="#").appstore
								span Скачать из
								<svg id="icon-appstore" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2467.58 707.94"><defs><style>.cls-1{fill:#fff;}</style></defs><title>appstore</title><path class="cls-1" d="M2467.58,637a71,71,0,0,1-71,71H71.15A71.07,71.07,0,0,1,0,637V71.06A71.16,71.16,0,0,1,71.15,0H2396.51a71,71,0,0,1,71.06,71v0l0,565.92h0Z"/><path class="cls-22" d="M2467.58,637a71,71,0,0,1-71,71H71.15A71.07,71.07,0,0,1,0,637V71.06A71.16,71.16,0,0,1,71.15,0H2396.51a71,71,0,0,1,71.06,71v0l0,565.92h0Z"/><path class="cls-1" d="M541.88,350.08c-0.54-59.72,48.91-88.77,51.17-90.12-28-40.82-71.41-46.4-86.66-46.84-36.46-3.84-71.82,21.81-90.39,21.81-18.94,0-47.54-21.44-78.36-20.81-39.66.61-76.77,23.57-97.12,59.22-42,72.69-10.68,179.5,29.56,238.26,20.13,28.79,43.65,60.9,74.43,59.77,30.12-1.22,41.37-19.18,77.71-19.18,36,0,46.57,19.18,78,18.45,32.32-.5,52.67-28.9,72.1-57.94,23.26-33,32.6-65.46,33-67.13-0.74-.26-62.75-23.94-63.38-95.5h0ZM482.57,174.46c16.2-20.25,27.28-47.8,24.2-75.76-23.44,1-52.76,16.21-69.65,36-14.94,17.45-28.28,46.06-24.83,73,26.34,2,53.38-13.28,70.28-33.22h0Z"/><path class="cls-1" d="M978.1,567.23H936L913,494.8H832.82l-22,72.43h-41L849.3,320.66h49L978.1,567.23h0ZM906,464.42L885.16,400q-3.31-9.87-12.44-46.45H872q-3.67,15.73-11.71,46.45l-20.5,64.39H906Zm275.93,11.73q0,45.36-24.65,71.69-22.07,23.43-54.82,23.42-35.33,0-50.78-25.22v93.29h-39.51V447.87q0-28.49-1.46-58.44h34.75l2.21,28.18h0.74q19.77-31.85,60-31.85,31.47,0,52.51,24.87t21,65.52h0Zm-40.25,1.45q0-26-11.71-42.82-12.82-17.54-34.4-17.55a41.1,41.1,0,0,0-26.52,9.69,44.94,44.94,0,0,0-15.55,25.44,51.57,51.57,0,0,0-1.83,12V494q0,19.37,11.9,32.76t30.91,13.36c14.88,0,26.47-5.76,34.75-17.19S1141.68,496.38,1141.68,477.59Zm244.81-1.45q0,45.36-24.65,71.69-22.1,23.43-54.84,23.42-35.33,0-50.78-25.22v93.29H1216.7V447.87q0-28.49-1.46-58.44H1250l2.21,28.18h0.74q19.74-31.85,60-31.85,31.44,0,52.52,24.87t21,65.52h0Zm-40.27,1.45q0-26-11.73-42.82-12.82-17.54-34.36-17.55a41.27,41.27,0,0,0-26.56,9.69A44.92,44.92,0,0,0,1258,452.36a52.77,52.77,0,0,0-1.85,12V494q0,19.37,11.88,32.76c7.93,8.88,18.24,13.36,31,13.36,14.9,0,26.48-5.76,34.75-17.19S1346.21,496.38,1346.21,477.59Zm269,20.47q0,31.49-21.93,51.23-24.07,21.57-67.18,21.59-39.81,0-63.87-15.36l9.14-32.93A110,110,0,0,0,1528.44,538q22.35,0,34.75-10.06c8.28-6.71,12.47-15.68,12.47-26.87a34.43,34.43,0,0,0-10.27-25.25c-6.84-6.82-18.14-13.17-34-19q-64.77-24.15-64.79-70.63,0-30.35,22.87-49.75T1550,317q33.67,0,56,11.71l-9.92,32.2q-21-11.34-47.39-11.34c-13.94,0-24.87,3.43-32.69,10.25a29.32,29.32,0,0,0-9.92,22.35,30.19,30.19,0,0,0,11.36,24.14q9.84,8.75,35.84,19,31.86,12.84,46.83,30t15.07,42.76h0Zm131-79h-43.55V505.4q0,32.93,23.06,32.91a69.43,69.43,0,0,0,17.55-1.83l1.09,30q-11.68,4.36-30.73,4.37-23.41,0-36.6-14.29t-13.18-47.93V419h-25.95V389.36h25.95V356.8l38.81-11.71v44.26h43.55v29.72h0Zm196.12,57.79q0,41-23.43,67.31-24.49,27.1-65.13,27.07-39.2,0-62.4-25.94t-23.24-65.48q0-41.33,24-67.67t64.61-26.35q39.14,0,62.92,26,22.74,25.18,22.7,65.07h0Zm-41,.91q0-24.43-10.58-41.95-12.43-21.18-35.51-21.18c-15.83,0-28,7.06-36.23,21.18q-10.62,17.54-10.6,42.69,0,24.46,10.6,42c8.54,14.12,20.46,21.18,35.9,21.18q22.66,0,35.51-21.53c7.27-12,10.92-26,10.92-42.36h0Zm169.45-53.6a68.77,68.77,0,0,0-12.45-1.09q-20.85,0-32.21,15.75-9.84,13.9-9.86,35.11v93.29h-39.51V445.43q0.05-28-1.15-56H2010l1.45,34h1.09c4.19-11.69,10.75-21.12,19.76-28.18a47.79,47.79,0,0,1,28.56-9.52,63.46,63.46,0,0,1,9.88.72l0,37.69h0Zm176.72,45.75a92.63,92.63,0,0,1-1.45,17.92H2127.51q0.67,26.35,17.2,40.28,15,12.4,38.77,12.41,26.33,0,48-8.39l6.19,27.4q-25.24,11-59.62,11-41.37,0-65-24.31t-23.59-65.29q0-40.19,22-66.93,23-28.52,62.18-28.52,38.45,0,58.21,28.52,15.65,22.6,15.68,55.92h0Zm-37.68-10.25c0.28-11.73-2.32-21.83-7.67-30.37-6.84-11-17.37-16.49-31.47-16.49-12.92,0-23.44,5.35-31.45,16.1-6.58,8.54-10.49,18.81-11.69,30.72l82.29,0h0Z"/></svg>
							a(href="#").googleplay
								span Скачать из
								<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1982.15 501.45"><defs><style>.cls-11{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:url(#linear-gradient);}.cls-4{fill:url(#linear-gradient-2);}.cls-5{fill:url(#linear-gradient-3);}.cls-6{fill:url(#linear-gradient-4);}.cls-7{fill:#fff;}</style><clipPath id="clip-path" transform="translate(0 9.56)"><path class="cls-11" d="M318.47,174.32L217.13,115.81,21.66,3C10.8-3.32,0,.48,0,13.57V473.39c0,9.82,7.73,14,17.16,8.61s200-115.46,200-115.46L318.47,308l97.41-56.23c11.43-6.6,10.33-15.65.69-20.85s-98.09-56.63-98.09-56.63h0Z"/></clipPath><linearGradient id="linear-gradient" x1="-453.74" y1="-526.98" x2="-453.74" y2="-481.15" gradientTransform="translate(5055.1 5717.48) scale(10.86)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#207cb0"/><stop offset="0.38" stop-color="#3cb2bf"/><stop offset="0.8" stop-color="#58e9ce"/><stop offset="1" stop-color="#63ffd4"/></linearGradient><linearGradient id="linear-gradient-2" x1="-465.3" y1="-515.6" x2="-435.98" y2="-515.6" gradientTransform="translate(5055.1 5717.48) scale(10.86)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4bc3ae"/><stop offset="1" stop-color="#dee999"/></linearGradient><linearGradient id="linear-gradient-3" x1="-450.64" y1="-504.06" x2="-450.64" y2="-480.99" gradientTransform="translate(5055.1 5717.48) scale(10.86)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ec403d"/><stop offset="0.38" stop-color="#c93b75"/><stop offset="0.8" stop-color="#a636ac"/><stop offset="1" stop-color="#9934c2"/></linearGradient><linearGradient id="linear-gradient-4" x1="-433.76" y1="-510.22" x2="-433.76" y2="-497.91" gradientTransform="translate(5055.1 5717.48) scale(10.86)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f87"/><stop offset="0.61" stop-color="#ffb175"/><stop offset="1" stop-color="#ffc774"/></linearGradient></defs><title>googleplay</title><g class="cls-2"><path class="cls-3" d="M0-7.75V490.09L251,241.18Z" transform="translate(0 9.56)"/></g><g class="cls-2"><path class="cls-4" d="M318.47,174.32L217.13,115.81,0-9.56v1.81L251,241.18Z" transform="translate(0 9.56)"/></g><g class="cls-2"><path class="cls-5" d="M0,490.09v1.81L217.13,366.53,318.46,308,251,241.18Z" transform="translate(0 9.56)"/></g><g class="cls-2"><path class="cls-6" d="M318.47,174.32L251,241.18,318.46,308l115.81-66.86Z" transform="translate(0 9.56)"/></g><path class="cls-7" d="M1580.44,398.07a62.58,62.58,0,0,1-25.82-5.22A48.63,48.63,0,0,1,1535,376.8h-1.59a194.66,194.66,0,0,1,1.59,24.05v59.56h-21.92V250.65h17.83l3,19.82H1535q8.46-11.89,19.69-17.18t25.75-5.28q28.8,0,44.46,19.68t15.67,55.22q0,35.69-15.92,55.43t-44.2,19.73h0Zm-3.17-131.43q-22.19,0-32.1,12.29T1535,318v4.89q0,30.51,10.18,43.66t32.62,13.15q18.77,0,29.4-15.19t10.63-41.88q0-27.07-10.63-41.55t-29.93-14.48h0Zm114,128.79h-21.94V189.88h21.94V395.43h0Zm126.07,0L1813,374.82H1812q-10.83,13.61-21.6,18.42c-7.17,3.22-16.15,4.83-26.88,4.83q-21.55,0-33.75-11.09t-12.22-31.57q0-43.85,70.14-46l24.58-.79v-9q0-17-7.35-25.16t-23.45-8.13q-18.12,0-40.95,11.09l-6.73-16.77a102.92,102.92,0,0,1,23.46-9.11,101.68,101.68,0,0,1,25.57-3.3q25.89,0,38.37,11.49t12.48,36.86v98.81h-16.24v0h0ZM1767.85,380q20.45,0,32.17-11.22t11.69-31.45V324.23l-21.94.91q-26.16.93-37.71,8.14t-11.55,22.38c0,7.92,2.38,14,7.19,18.09s11.5,6.23,20.14,6.23h0Zm78.52-129.33h23.5l31.71,82.56q10.43,28.26,13,40.83h1.06q1.71-6.75,7.19-23.07t35.86-100.33h23.51l-62.23,164.86q-9.24,24.43-21.62,34.69T1868,460.41a88.54,88.54,0,0,1-19.82-2.24V440.62a76.59,76.59,0,0,0,16.26,1.59q22.58,0,32.22-25.36l8.06-20.6-58.34-145.6h0Z" transform="translate(0 9.56)"/><path class="cls-7" d="M1174.23,264.11c7,5.76,21.5,17.86,21.5,40.89,0,22.39-12.72,33-25.43,43-3.94,3.93-8.49,8.19-8.49,14.85s4.55,10.29,7.87,13l10.91,8.47c13.33,11.21,25.43,21.51,25.43,42.41,0,28.47-27.56,57.23-79.64,57.23-43.92,0-65.11-20.89-65.11-43.31,0-10.9,5.44-26.35,23.32-36.94,18.76-11.49,44.21-13,57.84-13.94-4.24-5.45-9.09-11.2-9.09-20.56,0-5.15,1.53-8.19,3-11.82-3.34.31-6.67,0.6-9.7,0.6-32.09,0-50.26-23.92-50.26-47.53,0-13.94,6.36-29.38,19.37-40.58,17.27-14.23,37.86-16.66,54.22-16.66h62.37L1193,264.12h-18.76Zm-21.5,134.46a48.6,48.6,0,0,0-7-.31c-2.72,0-19.1.6-31.82,4.87-6.66,2.39-26,9.67-26,31.18s20.91,36.94,53.31,36.94c29,0,44.51-14,44.51-32.72,0-15.48-10-23.62-33-40h0Zm8.79-57.55c7-7,7.55-16.65,7.55-22.11,0-21.8-13-55.71-38.14-55.71a28.34,28.34,0,0,0-21.22,10c-5.13,6.36-6.67,14.53-6.67,22.41,0,20.28,11.82,53.9,37.88,53.9a31.07,31.07,0,0,0,20.6-8.49h0Zm-177.92,52.7c-48.06,0-73.76-37.49-73.76-71.36,0-39.62,32.34-73.46,78.32-73.46,44.41,0,72.24,34.76,72.24,71.35C1060.38,355.91,1032.89,393.72,983.59,393.72Zm37.77-24.49c7.28-9.68,9.09-21.77,9.09-33.58,0-26.61-12.69-77.39-50.18-77.39a42.08,42.08,0,0,0-27.2,10.3c-11.79,10.57-13.92,23.88-13.92,36.89,0,29.92,14.82,79.18,51.41,79.18,11.78,0,23.87-5.73,30.81-15.39h0ZM819.72,393.72c-48.07,0-73.77-37.49-73.77-71.36,0-39.62,32.36-73.46,78.32-73.46,44.44,0,72.25,34.76,72.25,71.35,0,35.66-27.52,73.47-76.8,73.47h0Zm37.79-24.49c7.26-9.68,9.08-21.77,9.08-33.58,0-26.61-12.71-77.39-50.2-77.39a42.1,42.1,0,0,0-27.2,10.3c-11.79,10.57-13.9,23.88-13.9,36.89,0,29.92,14.8,79.18,51.4,79.18,11.79,0,23.88-5.73,30.82-15.39h0ZM722.85,389l-43.47,10c-17.64,2.73-33.44,5.15-50.15,5.15-83.9,0-115.81-61.69-115.81-110,0-59,45.28-113.66,122.8-113.66a175.25,175.25,0,0,1,46.5,6.38c22.8,6.38,33.43,14.28,40.13,18.84l-25.24,24L687,232.12l7.6-12.17c-10.33-10-29.19-28.56-65-28.56-48,0-84.2,36.49-84.2,89.67,0,57.13,41.34,110.93,107.6,110.93,19.47,0,29.48-3.94,38.61-7.6V335.49l-45.89,2.42L670,324.83H734.4l-7.9,7.58c-2.15,1.84-2.43,2.44-3,4.86-0.31,2.74-.6,11.57-0.6,14.61V389h0Z" transform="translate(0 9.56)"/><path class="cls-7" d="M1270.32,380.23c-10-.91-12.15-2.72-12.15-14.61v-172l0.17-2c1.23-10.63,4.26-12.45,13.69-17.93h-43.47l-22.8,10.94H1229v0.14l0-.11V372.3c0,6.06-1.2,7-8.19,16.1h53.8l11.25-6.68c-5.19-.59-10.36-0.88-15.52-1.5h0ZM1394,383c-3.31,1.82-6.63,3.94-9.95,5.44-10,4.54-20.24,5.73-29.31,5.73-9.63,0-24.73-.62-40.15-11.78-21.42-15.1-30.77-41.06-30.77-63.71,0-46.77,38-69.71,69.14-69.71,10.86,0,22,2.71,31.1,8.46,15.08,9.94,19,22.92,21.1,29.86L1334.23,316,1311,317.82c7.53,38.35,33.5,60.65,62.18,60.65,15.39,0,26.57-5.43,36.84-10.55L1394,383h0Zm-28.36-90c5.73-2.11,8.74-3.92,8.74-8.14,0-12.07-13.59-26-29.9-26-12.09,0-34.72,9.36-34.72,42,0,5.13.6,10.56,0.91,16l55-23.86h0Zm57.49-42V271h-2.42V251.06h-6.6V249h15.6v2.06h-6.58ZM1450.28,271V250.87h-0.11L1444,271h-1.89L1436,250.87h-0.08V271h-2.2V249h3.77l5.61,17.77h0.07l5.52-17.77h3.82v22h-2.19Z" transform="translate(0 9.56)"/></svg>
		.c-footer__middle.hidden-xs
			.container
				.row.row_brands
					+brand('brand1')
					+brand('brand2')
					+brand('brand3')
					+brand('brand4')
					+brand('brand5')
				.row
					.col-md-4.col-sm-4
						.c-footer__middle-item
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea como consma veniam, quis nostrum exercitationem ullam 
					.col-md-4.col-sm-4
						.c-footer__middle-item
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea como consma veniam, quis nostrum exercitationem ullam 
					.col-md-4.col-sm-4
						.c-footer__middle-item
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea como consma veniam, quis nostrum exercitationem ullam
		.c-footer__bottom.hidden-xs
			.container
				.c-footer__bottom-copy
					span ©
					span Pomogoo 2017 г.