.c-footer__top{
	background-color: #f2f6f8;
	color: #555;
    padding-top: 59px;
    padding-bottom: 55px;
    @media ( max-width: @screen-sm-max) {
    	padding: 30px 0;
    }
}
.c-footer__top-list-item{
	float: left;
	padding-right: 100px;
	@media ( max-width: @screen-md-max) {
		padding-right: 57px;
	}
	@media ( max-width: @screen-sm-max) {
		padding-right: 20px;
		padding-left: 20px;
		width: 33.333%;
		text-align: center;
	}
	@media ( max-width: @screen-xs-max) {
		// width: 100%;
		padding-left: 0;
		padding-right: 0;
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}
	@media ( max-width: 550px) {
		width: 100%;
		float: none;
	}
}
.c-footer__top-list-item-ttl{
	font-size: 16px;
	font-weight: 600;
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
	}
	&:after{
		content: '';
		width: 62px;
		height: 1px;
		background-color: #fff;
		display: block;
		margin-top: 16px;
		@media ( max-width: @screen-sm-max) {
			margin-left: auto;
			margin-right: auto;
		}
		@media ( max-width: @screen-xs-max) {
			margin-top: 7px;
		}
	}
}
.c-footer__top-list-item-links{
	margin-top: 14px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 7px;
	}
	li:not(:last-child){
		margin-bottom: 12px;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 5px;
		}
	}
	a{
		font-size: 12px;
		transition: all 0.3s ease;
		&:hover{
			color: @y_orange;
		}
	}
}
.c-footer__top-contacts{
	float: left;
	padding-left: 15px;
	padding-top: 2px;
	@media ( max-width: @screen-md-max) {
		padding-left: 0;
	}
	@media ( max-width: @screen-sm-max) {
		padding-left: 20px;
		padding-right: 20px;
		width: 50%;
	}
	@media ( max-width: 550px) {
		width: 100%;
		margin-bottom: 30px;
	}
}
.c-footer__top-contacts-ico{
	color: #011126;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	@media ( max-width: 550px) {
		display: block;
		margin-bottom: 10px;
	}
}
.c-footer__top-list-items{
	float: left;
	@media ( max-width: @screen-sm-max) {
		float: none;
		margin-bottom: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 20px;
	}
}
.c-footer__top-contacts-txt{
	display: inline-block;
	vertical-align: middle;
	padding-left: 11px;
	font-size: 14px;
	@media ( max-width: @screen-md-max) {
		font-size: 13px;
	}
	span{
		display: block;
		&:not(:last-child){
		    margin-bottom: 10px;
		    @media ( max-width: @screen-xs-max) {
		    	margin-bottom: 5px;
		    }
		}
	}
}
.c-footer__top-contacts-item{
	@media ( max-width: 550px) {
		text-align: center;
	}
	&:not(:last-child){
	    margin-bottom: 26px;
	}
}
.c-footer__top-soc{
	float: right;
	@media ( max-width: @screen-sm-max) {
		float: left;
		width: 50%;
	}
	@media ( max-width: 550px) {
		width: 100%;
		text-align: center;
	}
	.l-personal__download{
		margin-top: 118px;
		@media ( max-width: @screen-sm-max) {
		    margin-top: 20px;
		}
	}
	.l-personal__download a{
	    width: 112px;
    	height: 32px;
    	margin-right: 12px;
    	@media ( max-width: @screen-sm-max) {
    		margin-left: 0;
    		margin-right: 12px;
    		display: inline-block;
    		vertical-align: middle;
    	}
    	&:last-child{
    		margin-right: 0;
    	}
    	span{
    		font-size: 8px;
    	}
    	&.appstore{
    		@media ( max-width: @screen-sm-max) {
    			margin-bottom: 0;
    		}
		    span{
		    	top: 3px;
    			left: 35px;
		    }
    	}
    	&.googleplay{
    		span{
			    top: 3px;
    			left: 39px;
    		}
    	}
	}
}
.c-footer__top-soc-widgets{
    // padding-right: 113px;
}
.c-footer__top-soc-ttl{
    margin-bottom: 30px;
    @media ( max-width: @screen-sm-max) {
    	margin-bottom: 20px;
    }
}
.c-footer__top-soc-fb{
	margin-bottom: 18px;
	height: 20px;
}
.c-footer__top-soc-tw{
	margin-bottom: 18px;
	height: 23px;
}
.c-footer__middle-brand-column{
	width: 20%;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	&:last-child{
		text-align: right;
	}
	&:first-child{
		text-align: left;
	}
}
.c-footer__middle{
	background-color: #1e546d;
	padding-top: 50px;
	padding-bottom: 55px;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	p{
		margin-bottom: 0;
	}
	.row_brands{
		font-size: 0;
	    margin: 0 -15px 56px;
	}
	.row{
		margin-left: -30px;
		margin-right: -30px;
		@media ( max-width: @screen-md-max) {
			margin-left: -15px;
			margin-right: -15px;
		}
		[class*=col-]{
			padding: 0 30px;
			@media ( max-width: @screen-md-max) {
				padding: 0 15px;
			}
		}
	}
}
.c-footer__bottom{
	background-color: @Blue_Charcoal;
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding-top: 29px;
	padding-bottom: 33px;
}
.c-footer__bottom-copy{
	span{
		display: inline-block;
		&:first-child{
		    font-size: 15px;
		    padding-right: 7px;
		    padding-top: 0px;
		    position: relative;
		    top: 2px;
		    right: 1px;
		}
	}
}


