mixin l-profile-default(data)
	.l-profile-default
		.l-prof-def__head.clearfix
			.l-prof-def__head-ttl Здраствуйте, Виктория!
			.l-prof-def__head-views
				+svg('icon-eye')
				span 0 просмотров профиля
		.l-prof-def__sub-head.clearfix
			.l-prof-def__ava
				.l-prof-def__ava-photo
					.h-object-fit
						img(src="s/images/tmp_file/ava.jpg", alt="")
				.l-prof-def__ava-photo-add
					label
						input(type="file")
						.button-add-photo
							+svg('icon-photoap')
							span Изменить фото
			.l-prof-def__city-wrp
				.l-prof-def__city
					+svg('icon-mark')
					span Львов
				.l-prof-def__vals Нет оценок