.l-profile{
	padding-top: 75px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 40px;
	}
	.row{
		margin: 0;
	}
	[class*='col-']{
		padding: 0;
	}
}
.l-profile-default{
	// padding-right: 71px;
}
.l-prof-def__head-ttl{
	font-size: 36px;
	font-weight: 400;
	float: left;
	@media ( max-width: @screen-md-max) {
		font-size: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 24px;
		float: none;
	}
}
.l-prof-def__head-views{
	float: right;
	color: #b9c2ba;
	margin-top: 17px;
	font-size: 14px;
	@media ( max-width: @screen-md-max) {
		margin-top: 12px;
	}
	@media ( max-width: @screen-xs-max) {
		float: none;
	}
	&.active{
		.icon{
			color: #6badc3;
		}
	}
	.icon{
		color: #b9c2ba;
		width: 22px;
		height: 12px;
		margin-right: 20px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
	}
}
.l-prof-def__ava-photo-add{
	height: 34px;
	label{
		display: block;
		width: 100%;
		height: 34px;
		position: relative;
		font-weight: 300;
		cursor: pointer;
		input{
			position: absolute;
			opacity: 0;
			visibility: hidden;
		}
	}
	.button-add-photo{
		width: 100%;
		padding: 0 9px;
		height: 100%;
		background-color: #f2f6f8;
		border-radius: 5px;
		display: block;
		padding-top: 6px;
		margin-top: 15px;
		color: #010101;
		font-size: 16px;
		text-align: center;
		transition: all 0.3s ease;
		&:hover{
			background-color: (#f2f6f8 - 10%);
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		    padding-top: 8px;
		}
		.icon{
			width: 21px;
			height: 17px;
			color: #b9c2ba;
		}
		span{
			display: inline-block;
			vertical-align: middle;
			padding-left: 8px;
		}
	}
}
.l-prof-def__ava{
	width: 200px;
	float: left;
	@media ( max-width: @screen-xs-max) {
		float: none;
	}
}
.l-prof-def__ava-photo{
	height: 195px;
	.h-object-fit{
		width: 100%;
		height: 100%;
	}
}
.l-prof-def__head{
    margin-bottom: 38px;
}
.l-prof-def__city{
    span{
    	display: inline-block;
    	vertical-align: middle;
    	padding-left: 6px;
    	font-size: 16px;
    	color: #b9c2ba;
    	@media ( max-width: @screen-xs-max) {
    		font-size: 14px;
    	}
    }
	.icon{
		width: 9px;
		height: 12px;
		color: @l_green;
	}
	.years{
		margin-right: 10px;
		padding-left: 0;
	}
}
.l-prof-def__city-wrp{
    overflow: hidden;
    padding-left: 24px;
    font-size: 16px;
    margin-top: -3px;
    color: #b9c2ba;
    @media ( max-width: @screen-xs-max) {
    	float: none;
    	padding-left: 0;
    	margin-top: 15px;
    }
}
.l-prof-def__vals{
	color: #b9c2ba;
	font-size: 16px;
	margin-top: 24px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 8px;
		font-size: 14px;
	}
}
.l-prof-def__rating{
	margin-top: 24px;
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
	}
}
.l-prof-def__rating-stars{
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 4px;
	.icon{
		color: @y_orange;
		width: 20px;
		height: 20px;
	}
}
.l-prof-def__icons{
	font-size: 0;
	margin-top: 30px;
	a{
		display: inline-block;
		&:not(:last-child){
			margin-right: 15px;
			@media ( max-width: @screen-xs-max) {
				margin-right: 10px;
			}
		}
	}
	.icon{
		width: 68px;
		height: 68px;
		color: #F1F6F8;
		@media ( max-width: @screen-xs-max) {
			width: 50px;
			height: 50px;
		}
	}
	&.active{
		.icon-rat-1{
			color: @bondi_blue;
		}
		.icon-rat-2{
			color: @y_orange;
		}
		.icon-rat-3{
			color: @l_green;
		}
		.icon-rat-4{
			color: @l_green;
		}
	}
}