mixin checkbox(txt)
	label.check-label
		input(type="checkbox")
		i.checkbox
		span #{txt}
mixin col()
	.cols-item
		span

mixin l-bid-write-2(data)
	.l-bid-write-wrp
		.l-bid-write
			.l-bid-write__ttl Заполните заявку
			form.l-bid-write__form
				label.l-bid-write__need
					.label-txt Мне нужно
					input.form-control(type="text" placeholder="Разработать баннеры")
				.l-bid-write__sub-cat.label-txt Подкатегория <a href="#">«Грузоперевозки. Другой груз»</a>
				.l-bid-write__desc
					label
						.label-txt Опишите пожелания и детали, чтобы исполнители лучше оценили вашу задачу
						textarea.form-control(placeholder="Максимально подробно опишите свои пожелания, для какой компании или продукта требуется логотип или фирменный стиль, кто ваша целевая аудитория. Где будет размещаться логотип. Какие эмоции он должен вызывать.")
					.label-private-wrp.info
						.label-private
							+svg('icon-lock')
							span Приватная информация
						.label-private__popup
							span Эта информация будет доступна только выбранному исполнителю задания
					.label-private-wrp.photo.photo_2
						label.label-private
							input(type="file")
							+svg('icon-camera')
							span Добавить фото
				.l-bid-write__cargo
					.label-txt Параметры груза
					.l-bid-write__cargo-line.clearfix
						input.form-control(type="text" placeholder="Вес груза, кг")
						input.form-control(type="text" placeholder="Длина, м")
						input.form-control(type="text" placeholder="Ширина, м")
						input.form-control(type="text" placeholder="Высота, м")
					.l-bid-write__cargo-check
						label.check-label
							input(type="checkbox")
							i.checkbox
							span Требуется погрузка / разгрузка
				.l-bid-write__date
					.label-txt Дата и время
					.row
						.col-md-6.col-sm-6
							select.selectpicker
								option Начать работу
								option Завершить работу
								option Указать период
						.col-md-6.col-sm-6
							.label-date-time
								label.label-date
									+svg('icon-date')
									input.form-control.datepicker-here(type="text" placeholder="Дата")
								label.label-time
									input.form-control.mask(type="text" placeholder="Время")
							.label-time__btns
								button(type="button").today Сегодня,
								button(type="button").tommorow завтра
				.l-bid-write__adress
					.label-txt Адрес
					.l-bid-write__adress-line
						i.adress-line__ico
							span А
						label
							input.form-control(type="text" placeholder="Улица, дом, строение, корпус")
					.l-bid-write__adress-line.with-delete
						+svg('icon-arrow')
						i.adress-line__ico
							span Б
						label
							input.form-control(type="text" placeholder="Улица, дом, строение, корпус")
						span.but-del
					button(type="button").l-bid-write__add
						span Добавить ещё один адрес
				.l-bid-write__map
					#bid-map
				.l-bid-write__budget
					.l-bid-write__budget-head
						b На какой бюджет вы расчитиваете?
						.budget-quest
							+svg('icon-quest')
							.budget-popup
								span Это поможет найти исполнителей, которые будут готовы выполнить ваше задание.
					.l-bid-write__budget-body
						.l-bid-write__budget-cols
							.row
								+col()
								+col()
								+col()
								+col()
								+col()
						.l-bid-write__budget-slider
							input.price-slider(type="text" id="budget-slider")
						label.l-bid-write__budget-indicate
							span.indicate-txt  Укажите точную стоимость задания
							input.form-control.indicate-input(type="text" value="1000")
							span.indicate-rub ₽
				.l-bid-write__must
					label.check-label
						input(type="checkbox")
						i.checkbox
						span Исполнитель должен иметь документы для оформления расписки.
					a(href="#")
						span Посмотреть пример расписки
					+svg('icon-quest')
					.l-bid-write__must-popup
						span Мы настоятельно советуем оформлять расписку при передаче перевозимого исполнителем груза, денег
				.l-bid-write__your-cont
					.label-txt Ваши контакты
					b +7 (905) 888-55-11
				.l-bid-write__addit-cont
					button(type="button" data-toggle="collapse" data-target="#addit-cont")
						span Дополнительные условия
					#addit-cont.collapse.addit-cont-checks
						.addit-cont-checks__wrp
							.addit-cont-checks__item
								+checkbox('Получать email-уведомления о новых предложениях')
								+checkbox('Показывать мое задание только исполнителям  ')
								+checkbox('Отключить комментарии у задания')
				.l-bid-write__agree
					button(type="submit").but.but_bondi.but_bondi_lg
						span Опубликовать