.adress-line__ico{
	width: 23px;
	height: 23px;
	border: 2px solid @l_green;
	position: absolute;
	font-style: normal;
	border-radius: 50%;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 600;
    color: @l_green;
    top: 5px;
}
.l-bid-write__adress-line{
	position: relative;
	&.with-delete{
		padding-right: 47px;
	}
	.but-del{
		width: 32px;
		height: 31px;
		border: 1px solid #9eaaa0;
		border-radius: 5px;
		display: block;
		position: absolute;
		top: 0;
		background-color: #fff;
		right: 0;
		cursor: pointer;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 21px;
			height: 2px;
			background-color: #9eaaa0;
		}
	}
	.icon{
		color: @l_green;
		position: absolute;
		top: -8px;
		height: 13px;
		width: 9px;
		transform: rotate(-90deg);
		left: 6px;
	}
	label{
		padding-left: 40px;
	}
}
.l-bid-write__add{
	color: @bondi_blue;
	font-size: 14px;
	text-decoration: underline;
	margin-top: 5px;
	&:hover{
		text-decoration: none;
	}
}
.l-bid-write__map{
	margin-top: 30px;
}
#bid-map{
	width: 100%;
	height: 190px;
}
.l-bid-write__cargo{
	margin-top: 20px;
	.l-bid-write__cargo-line{
		border: 1px solid #9eaaa0;
		border-radius: 5px;
		.form-control{
			border: none;
			border-radius: 0;
			float: left;
			width: 25%;
			@media ( max-width: @screen-xs-max) {
				width: 50%;
			}
			&:not(:last-child){
				border-right: 1px solid #9eaaa0;
			}
			&:first-child{
				border-radius: 5px 0 0 5px;
			}
			&:last-child{
				border-radius: 0 5px 5px 0;
			}
			&:nth-child(2){
				@media ( max-width: @screen-xs-max) {
					border-right: none;
					border-radius: 0 5px 0 0;
				}
			}
			&:nth-child(3){
				@media ( max-width: @screen-xs-max) {
					border-radius: 0 0 0 5px;
				}
			}
		}
	}
}
.l-bid-write__cargo-check{
	margin-top: 20px;
	span{
		padding-left: 10px;
	}
	 .checkbox:before {
	    background: #F2F6F8;
	    box-shadow: 5px 0px 0px 0px #F2F6F8;
	}
}
.label-private-wrp.photo{
    right: 191px;
    bottom: 11px;
    &.photo_2{
    	bottom: 6px;
    }
    @media ( max-width: @screen-xs-max) {
    	right: 11px;
    	bottom: 34px;
    }
    .label-private{
    	width: 122px;
    	input{
    		opacity: 0;
    		visibility: hidden;
    		width: 0;
    		height: 0;
    		position: absolute;
    	}
    	.icon{
    		width: 13px;
    		height: 11px;
    	}
    }
}
.l-bid-write__desc{
	position: relative;
}
.label-txt.l-bid-write__sub-cat{
	margin-bottom: 45px;
	a{
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.l-bid-write__must{
	margin-top: 30px;
	position: relative;
	.checkbox{
		@media ( max-width: @screen-xs-max) {
			position: absolute;
			top: 0;
			left: 0;
		}
		&:before{
		    background: #F2F6F8;
    		box-shadow: 5px 0px 0px 0px #F2F6F8;
		}
	}
	.check-label{
		span{
			@media ( max-width: @screen-xs-max) {
				padding-left: 30px;
			}
		}
	}
	a{
		padding-left: 30px;
		color: @bondi_blue;
		text-decoration: underline;
		display: inline-block;
		vertical-align: middle;
		&:hover{
			text-decoration: none;
		}
	}
	.icon{
		color: @bondi_blue;
		margin-left: 5px;
		&:hover{
			& ~ .l-bid-write__must-popup{
				opacity: 1;
				pointer-events: auto;
				z-index: 3;
			}
		}
	}
}
.l-bid-write__must-popup{
	position: absolute;
    color: #fff;
    background-color: #1e546d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 9px;
    font-size: 12px;
    line-height: 16px;
    width: 144px;
    height: 131px;
    opacity: 0;
    transition: all 0.3s ease;
    top: -70px;
    right: 210px;
    pointer-events: none;
    @media ( max-width: @screen-xs-max) {
	    // top: -92px;
    	// right: -20px;
    	display: none;
    }
    &:before{
		content: '';
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-right: 8px solid #1e546d;
		border-bottom: 5px solid transparent;
		position: absolute;
		left: -6px;
		bottom: 2px;
		// @media ( max-width: @screen-xs-max) {
		//     left: 0;
		//     right: 0;
		//     bottom: -7px;
		//     margin: auto;
		//     transform: rotate(-90deg);
		// }
    }
}
.l-bid-write__your-cont{
	margin-top: 30px;
	margin-bottom: 30px;
	b{
		display: block;
		font-style: 14px;
		color: #010101;
		margin-top: 5px;
	}
}