<template>
    <span>
        <div class="c-header__right-notice c-header__right-item">
            <div class="c-header__right-notice-ico">
                <svg width="1em" height="1em" class="icon icon-notice ">
                    <use xlink:href="/s/images/useful/svg/theme/symbol-defs.svg#icon-notice"></use>
                </svg>
            </div>
            <div class="notifications_info">
                <span v-if="UnreadNotificationsCount != 0" class="num_notifications">{{UnreadNotificationsCount}}</span>
            </div>
            <div class="c-header__right-notice-menu" style="max-height: 87vh; overflow-y: auto;">
                <div class="notice-menu__head">Уведомления</div>

                <notification v-if="Notifications.length" v-for="(notific, index) in Notifications"
                              v-bind:notification="notific"
                              v-bind:key="notific.timestamp">
                </notification>

                <div style="padding: 25px;" v-if="!Notifications.length">На данный момент нет уведомлений</div>

                <div v-if="Notifications.length" class="notice-menu__footer clearfix">
                    <a style="cursor: pointer" v-on:click.stop.prevent="readAllNotifications()">
                        Отметить все как прочитанные
                    </a>
                    <a v-if="NotificationsPagination.nextPage" v-on:click.stop.prevent="loadMoreNotifications()">
                        Показать еще
                    </a>
                </div>
            </div>
        </div>
        <a class="c-header__right-chat" data-toggle="modal" data-target="#modal-mob-chat">
            <svg width="1em" height="1em" class="icon icon-msgs ">
                <use xlink:href="/s/images/useful/svg/theme/symbol-defs.svg#icon-msgs"></use>
            </svg>
            <div class="chat_info">
                <span v-if="Msg != 0" class="num_messages">{{Msg}}</span>
            </div>
        </a>
        </span>
</template>

<script>
    const play = require('audio-play');
    const load = require('audio-loader');

    import Notification from '../notification/Notification.vue';


    export default {
        props: ['event_count', 'id'],
        components: {Notification},
        data() {
            return {
                Msg: this.event_count.msg_count,
                Purchases: this.event_count.purchases_count,
                Sales: this.event_count.sales_count,
                ActiveThread: undefined,
                Notifications: [],
                UnreadNotificationsCount: 0,
                NotificationsPagination: {
                    page: 0,
                    nextPage: true
                },
                max: {
                    maxHeight: window.innerHeight
                }
            }
        },
        methods: {
            listenForNewEvent() {
                Echo.private('App.User.' + this.id).listen('NewEventCount', (e) => {
                    if (e.event.msg) {
                        e.event['active_thread'] = this.ActiveThread;
                        this.$bus.$emit('newMsg', e.event);
                        //load('../sound/4TnDj0v9GE.ogg').then(play);
                        if (this.ActiveThread == e.event.thread_id) {
                            axios.post('/mark_as_read', {
                                data: e.event,
                            }).catch(function (error) {
                                console.log(error);
                            })
                        }
                        else
                            this.Msg++;
                    }
                    if (e.event.sale) {
                        //load('../sound/3gveeCqUD6.ogg').then(play);
                        this.$bus.$emit('closePurchases', e.event);
                        this.Sales = this.Sales + e.event.count;
                    }
                    if (e.event.purchases) {
                        //load('../sound/baNnhH1I7M.ogg').then(play);
                        this.$bus.$emit('closePurchases', e.event);
                        this.Purchases = this.Purchases + e.event.count;

                    }
                }).notification((notification) => {
                    this.Notifications.unshift(notification);
                    this.UnreadNotificationsCount++;
                });
            },
            initNotifications() {
                if (this.NotificationsPagination.page < 1) {
                    this.NotificationsPagination.page = 1;
                    axios.get('/notifications?page=1').then((response) => {
                            if (response.data.data) {
                                this.Notifications = response.data.data;
                                this.UnreadNotificationsCount = response.data.unreadNotificationsCount;
                                if (!response.data.next_page_url) {
                                    this.NotificationsPagination.nextPage = false;
                                }
                            }
                        }
                    ).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            loadMoreNotifications() {
                if (this.NotificationsPagination.nextPage == true) {
                    this.NotificationsPagination.page++;
                    let new_notifications = this.Notifications;
                    axios.get('/notifications?page=' + this.NotificationsPagination.page)
                        .then((response) => {
                                if (response.data.data) {
                                    new_notifications = new_notifications.concat(response.data.data);
                                    this.Notifications = new_notifications;
                                    if (!response.data.next_page_url) {
                                        this.NotificationsPagination.nextPage = false;
                                    }
                                }
                            }
                        ).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            readAllNotifications() {
                axios.post('/notifications/read-all')
                    .then((response) => {
                            this.UnreadNotificationsCount = 0;
                        }
                    ).catch(function (error) {
                    console.log(error);
                });
            },
            listenForRemoveCounter() {
                this.$bus.$on('removeCounter', ($event) => {
                    this.Msg = this.Msg - $event;
                });
                this.$bus.$on('activeThread', ($event) => {
                    this.ActiveThread = $event
                });
            }
        },
        mounted() {
            this.listenForNewEvent();
            this.listenForRemoveCounter();
            this.initNotifications();
            $('.c-header__right-notice').on('click', function () {
                $(this).toggleClass('active');
                $('.c-header__right-notice-menu').toggleClass('active');
            });
        }
        ,
    }
</script>

<style scoped>
    .notifications_info {
        padding-right: 40px;
        position: relative;
    }
    .notifications_info .num_notifications {
        position: absolute;
        background-color: #ff624e;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        right: 10px;
        bottom: 0;
        top: 0;
        margin: auto;
        height: 20px;
        min-width: 20px;
        padding: 4px 4px;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        line-height: 1.2;
    }
</style>