<template>
    <div class="notice-menu__item" >
        <svg width="1em" height="1em" class="icon icon-pensil" v-if="notifi.api_type === 'offer'">
            <use xlink:href="/s/images/useful/svg/theme/symbol-defs.svg#icon-pensil"></use>
        </svg>
        <div class="notice-menu__item-txt" v-if="notifi.api_type === 'offer'">
            <p>{{ notifi.data.message }}</p>
            <a v-bind:href="notifi.data.task_url">
                «{{notifi.data.task_name}}»
            </a>
        </div>
        <div class="notice-menu__item-txt" v-if="notifi.api_type === 'system'">
            <p>{{ notifi.data.message }}</p>

            <a v-bind:href="notifi.data.task_url" v-if="notifi.data.task_url !== undefined">
                «{{notifi.data.task_name}}»
            </a>
        </div>
        <div class="notice-menu__item-date">{{notifi.created_at}}</div>
    </div>
</template>


<script>
    export default {
        props: ['notification'],
        data() {
            return {
                NOTIFICATION_TYPES: {
                    newOffer: 'App\\Notifications\\TaskOfferCreated',
                    dataVerified: 'App\\Notifications\\DataVerified',
                },
                notifi: {}
            }
        },
        mounted () {
            this.notifi = this.notification;
            //console.log(this.notifi, this.notifi.api_type, this.notifi.api_type === "offer");
        }
    }
</script>
