mixin grid-item(ico, txt)
	.col-md-3.col-sm-3
		a(href="#").l-propose__grid-item
			.l-propose__grid-item-ico
				+svg(ico)
			.l-propose__grid-item-name #{txt}

mixin l-propose(data)
	.l-propose
		.container
			h4 Что мы можем вам предложить
			.row.row_main
				.col-md-3.col-sm-3
					.l-propose__item
						.l-propose__item-ico
							+svg('icon-courier')
						h6 Курьерские услуги
						ul.l-propose__item-links.h-list.minimized
							li
								a(href="#") Услуги нашего курьера
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
						button(type="button")
							span Показать все категории
				.col-md-3.col-sm-3
					.l-propose__item
						.l-propose__item-ico
							+svg('icon-repair')
						h6 Бытовой ремонт
						ul.l-propose__item-links.h-list.minimized
							li
								a(href="#") Бытовой ремонт
							li
								a(href="#") Мастер на час
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
						button(type="button")
							span Показать все категории
				.col-md-3.col-sm-3
					.l-propose__item
						.l-propose__item-ico
							+svg('icon-cargo')
						h6 Грузоперевозки
						ul.l-propose__item-links.h-list.minimized
							li
								a(href="#") Перевозка вещей, переезды
							li
								a(href="#") Пассажирские перевозки
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
						button(type="button")
							span Показать все категории
				.col-md-3.col-sm-3
					.l-propose__item
						.l-propose__item-ico
							+svg('icon-clean')
						h6 Уборка
						ul.l-propose__item-links.h-list.minimized
							li
								a(href="#") Уборка
							li
								a(href="#") Поддерживающая уборка
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
							li
								a(href="#") Услуги  курьера на легковом авто
						button(type="button")
							span Показать все категории
			.l-propose__grid
				.row
					+grid-item('icon-comp', 'Компьютерная помощь')
					+grid-item('icon-events', 'Мероприятия и промо-акции')
					+grid-item('icon-beauty', 'Красота и здоровье')
					+grid-item('icon-camera', 'Фото и видео услуги')
					+grid-item('icon-design', 'Дизайн')
					+grid-item('icon-juristic', 'Юридическая помощь')
					+grid-item('icon-web', 'Web-разработка')
					+grid-item('icon-visual', 'Виртуальный  помощник')
					+grid-item('icon-loop-repair', 'Ремонт транспорта')
					+grid-item('icon-install', 'Установка и ремонт техники')
					+grid-item('icon-smartphone', 'Ремонт цифровой техники')
					+grid-item('icon-education', 'Репетиторы и образование')
			a(href="#").l-propose__button.but.but_bondi
				span Показать все категории
