.l-propose__item-links{
	margin-top: 27px;
	@media ( max-width: @screen-xs-max) {
		display: none;
	}
	a{
		color: @bondi_blue;
		&:hover{
			color: (@bondi_blue - 30%);
		}
	}
	li{
		margin-bottom: 12px;
	}
	&.minimized {
		li:nth-child(2) {
			& ~ li {
				display: none;
			}
		}
	}
}
.l-propose{
	position: relative;
	z-index: 1;
	text-align: center;
	padding-top: 76px;
	padding-bottom: 77px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.row_main{
		@media ( max-width: @screen-xs-max) {
		    border-top: 1px solid #ADCAD9;
	   		border-left: 1px solid #ADCAD9;
			margin-left: 0;
			margin-right: 0;
		}
		[class*='col-']{
			@media ( max-width: @screen-xs-max) {
				padding-left: 0;
				padding-right: 0;
			}
			&:last-child{
				.l-propose__item{
					border-bottom: none;
				}
			}
		}
	}
	h4{
	    margin-bottom: 63px;
	}
}
.l-propose__grid-item-name{
	font-size: 16px;
    margin-top: 13px;
    @media ( max-width: @screen-sm-max) {
    	font-size: 14px;
    }
    @media ( max-width: @screen-xs-max) {
	    margin-top: 7px;
	    padding-left: 10px;
	    overflow: hidden;
    }
}
.l-propose__grid-item{
	display: block;
	border-right: 1px solid #ADCAD9;
	border-bottom: 1px solid #ADCAD9;
	transition: all 0.3s ease;
    padding-top: 44px;
    height: 154px;
	padding-left: 10px;
	padding-right: 10px;
	@media ( max-width: @screen-xs-max) {
		text-align: left;
		padding-top: 10px;
		padding-bottom: 15px;
		height: auto;
	}
	&:hover{
		background-color: #F1F6F8;
	}	
}
.l-propose__grid{
	margin-top: 84px;
	@media ( max-width: @screen-sm-max) {
		margin-top: 25px;
	}
	@media ( max-width: @screen-xs-max) {
		margin-top: 0;
	}
	.row{
		border-top: 1px solid #ADCAD9;
		border-left: 1px solid #ADCAD9;
		margin-left: 0;
		margin-right: 0;
	}
	[class*="col-"]{
		padding-left: 0;
		padding-right: 0;
	}
}
.l-propose__item{
	text-align: center;
	@media ( max-width: @screen-sm-max) {
		margin-bottom: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		text-align: left;
		padding-left: 10px;
		padding-right: 10px;
		border-right: 1px solid #ADCAD9;
    	border-bottom: 1px solid #ADCAD9;
    	min-height: 49px;
    	margin-bottom: 0;
    	padding-top: 10px;
	}
	h6{
	    margin-top: 23px;
	    @media ( max-width: @screen-xs-max) {
	    	font-size: 14px;
	    	margin-top: 0;
	    	text-align: left;
	    	overflow: hidden;
	    	padding-left: 10px;
	    	padding-top: 8px;
	    	&:after{
	    		display: none;
	    	}
	    }
	}
	button{
		height: 35px;
		color: #666;
		text-align: center;
		font-size: 12px;
		border: 1px solid @bondi_blue;
	    margin-top: 3px;
    	padding: 0 14px;
    	transition: all 0.3s ease;
    	&:hover{
    		color: #fff;
    		background-color: @bondi_blue;
    	}
    	@media ( max-width: @screen-xs-max) {
    		display: none;
    	}
	}
}
.l-propose__item-ico{
	height: 88px;
	@media ( max-width: @screen-xs-max) {
		height: 33px;
		float: left;
		width: 44px;
		text-align: center;
	}
	.icon-courier{
		width: 106px;
		height: 82px;
		@media ( max-width: @screen-xs-max) {
			width: 30px;
			height: 25px;
		}
	}
	.icon-repair{
		width: 80px;
		height: 80px;
		@media ( max-width: @screen-xs-max) {
			width: 30px;
			height: 30px;
		}
	}
	.icon-cargo{
		width: 97px;
		height: 65px;
		@media ( max-width: @screen-xs-max) {
			width: 35px;
			height: 28px;
		}
	}
	.icon-clean{
		width: 54px;
		height: 88px;
		@media ( max-width: @screen-xs-max) {
			width: 30px;
			height: 30px;
		}
	}
}
.l-propose__grid-item-ico{
	height: 33px;
	@media ( max-width: @screen-xs-max) {
		width: 44px;
		float: left;
		text-align: center;
	}
	.icon{
		color: @Blue_Charcoal;
	}
	.icon-comp{
		width: 30px;
		height: 28px;
	}
	.icon-events{
		width: 28px;
		height: 33px;
	}
	.icon-beauty{
		width: 31px;
		height: 28px;
	}
	.icon-camera{
		width: 34px;
		height: 28px;
	}
	.icon-design{
		width: 33px;
		height: 33px;
	}
	.icon-juristic{
		width: 35px;
		height: 31px;
	}
	.icon-web{
		width: 35px;
		height: 30px;
	}
	.icon-visual{
		width: 29px;
		height: 31px;
	}
	.icon-loop-repair{
		width: 43px;
		height: 31px;
	}
	.icon-install{
		width: 26px;
		height: 31px;
	}
	.icon-smartphone{
		width: 16px;
		height: 31px;
	}
	.icon-education{
		width: 44px;
		height: 31px;
	}
}
.l-propose__button{
	font-weight: 400;
    margin-top: 60px;
    margin-top: 60px;
    font-size: 24px;
    padding: 0 29px;
    height: 59px;
    line-height: 52px;
    @media ( max-width: @screen-xs-max) {
	    margin-top: 30px;
	    font-size: 16px;
	    padding: 0 20px;
	    height: 47px;
	    line-height: 47px;
    }
}