.l-profile-score__suppl{
	label{
	    margin-top: 10px;
	    float: left;
	    position: relative;
		span{
			color: #010101;
			font-size: 14px;
			display: inline-block;
			vertical-align: middle;
		}
		.form-control{
			width: 123px;
			display: inline-block;
			vertical-align: middle;
			height: 36px;
			margin-left: 7px;
			&:focus{
				border-color: @y_orange;
				& ~ .min-price{
					opacity: 1;
				}
			}
		}
		.rub{
		    font-size: 17px;
    		margin-left: 11px;
		}
		.min-price{
			font-size: 12px;
			color: @y_orange;
			position: absolute;
			left: 105px;
			top: 44px;
			display: block;
			opacity: 0;
			transition: all 0.3s ease;
		}
	}
	.but{
		float: left;
		height: 36px;
		font-size: 16px;
		line-height: 32px;
		margin-left: 16px;
		margin-top: 9px;
		@media ( max-width: @screen-xs-max) {
			margin-left: 0;
		}
	}
}
.l-profile-score{
	padding-top: 24px;
}
.l-profile-score__ballace{
	h5{
		margin-bottom: 20px;
	}
}
.l-profile-score__story{
	background-color: #f2f6f8;
	border-radius: 10px;
	margin-top: 56px;
	padding-left: 30px;
    padding-top: 27px;
    padding-bottom: 32px;
    @media ( max-width: @screen-xs-max) {
    	padding: 30px 15px;
    	margin-top: 36px;
    }
    .l-profile-score__story-bd{
	    margin-top: 18px;
    	p{
    		margin-bottom: 0;
    		color: @gray_txt;
		    margin-top: 23px;
    	}
		.nav-tabs{
			border-bottom: none;
		}
		.nav-tabs > li > a{
			border: none;
			text-decoration: underline;
			color: @bondi_blue;
			font-size: 16px;
			font-weight: 400;
			@media ( max-width: @screen-xs-max) {
				font-size: 14px;
			}
		}
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus{
			border: none;
			background: none;
			font-size: 16px;
			font-weight: 400;
			@media ( max-width: @screen-xs-max) {
				font-size: 14px;
			}
		}
		.nav-tabs > li.active{
			a{
				text-decoration: none;
				color: black;
			}
		}
		.nav-tabs > li > a:hover{
			border: none;
			background: none;
		}
	}
}
.l-profile-score{
	.l-bid-write__form .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 123px;
	}
}
.l-profile-score__story-head{
	h5{
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
	    margin-right: 12px;
	    @media ( max-width: @screen-xs-max) {
	    	margin-bottom: 10px;
	    }
	}
	.bootstrap-select{
		display: inline-block;
		vertical-align: middle;
	}
	.btn{
	    padding: 9px 12px;
	}
}
.l-profile-score__faq{
	margin-top: 51px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
	}
	h5{
		margin-bottom: 29px;
	}
}
.l-profile-score__faq-item{
	font-size: 16px;
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
	}
	&:not(:last-child){
	    margin-bottom: 52px;
	    @media ( max-width: @screen-xs-max) {
	    	margin-bottom: 30px;
	    }
	}
	b{
		display: block;
	    margin-bottom: 26px;
	    @media ( max-width: @screen-xs-max) {
	    	margin-bottom: 10px;
	    }
	}
	p{
		margin-bottom: 0;
		line-height: 24px;
	}
	a{
		.link_bondi;
	}
}