mixin l-profile-score(data)
	.l-profile-score
		.l-profile-score__ballace
			h5 Баланс: 0 рублей
			p Поддерживайте положительный баланс для возможности оставлять предложения
			form.l-profile-score__suppl.l-bid-write__form.clearfix
				label
					span Пополнит счет на
					input.form-control(type="text" value="400")
					span.rub ₽
					span.min-price Минимальная сумма 400 руб.
				button(type="submit").but.but_bondi
					span Пополнить счет
			.l-profile-score__story.l-bid-write__form
				.l-profile-score__story-head
					h5 История операций
					select.selectpicker
						option за месяц
						option за неделю
						option за год
				.l-profile-score__story-bd
					ul.nav.nav-tabs
						li.active
							a(href='#all-operations' data-toggle='tab') Все операции
						li
							a(href='#funding' data-toggle='tab') Пополнения счета
						li
							a(href='#dismiss' data-toggle='tab') Списание со счета
					.tab-content
						#all-operations.tab-pane.fade.in.active
							p За данный период транзакций не было
						#funding.tab-pane.fade
							p За данный период транзакций не было
						#dismiss.tab-pane.fade
							p За данный период транзакций не было
			.l-profile-score__faq
				h5 Частые вопросы
				.l-profile-score__faq-item
					b Условия работы с Pomogoo
					p Pomogoo списывает с исполнителей фиксированную оплату за возможность оставлять к заданиям предложения с контактными данными. Стоимость одного предложения зависит от категории заданий и начинается от 20 рублей. Оплата за предложения не возвращается.
				.l-profile-score__faq-item
					b Какая минимальная сумма для пополнения счета
					p 400 рублей.
				.l-profile-score__faq-item
					b Я могу сделать возврат денежных средств со своего счета Pomogoo?
					p Да. Для того, чтобы вернуть деньги, необходимо отправить заявку с запросом на вывод по адресу money@youdo.com. Средства будут возвращены на ваш счет, с которого производилось пополнение баланса в Pomogoo в течение 5 рабочих дней с учетом комиссии платежной системы.
				.l-profile-score__faq-item
					b По какой причине я могу лишиться статуса исполнителя?
					p Полный список причин описан в правилах сайта в разделе <a href="#">Верификация Пользователя.</a>