/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@ico-green-user-name: 'ico-green-user';
@ico-green-user-x: 44px;
@ico-green-user-y: 0px;
@ico-green-user-offset-x: -44px;
@ico-green-user-offset-y: 0px;
@ico-green-user-width: 16px;
@ico-green-user-height: 16px;
@ico-green-user-total-width: 60px;
@ico-green-user-total-height: 42px;
@ico-green-user-image: '../images/useful/sprites/theme/theme-sprite.png';
@ico-green-user: 44px 0px -44px 0px 16px 16px 60px 42px '../images/useful/sprites/theme/theme-sprite.png' 'ico-green-user';
@ico-orange-star-name: 'ico-orange-star';
@ico-orange-star-x: 44px;
@ico-orange-star-y: 18px;
@ico-orange-star-offset-x: -44px;
@ico-orange-star-offset-y: -18px;
@ico-orange-star-width: 16px;
@ico-orange-star-height: 14px;
@ico-orange-star-total-width: 60px;
@ico-orange-star-total-height: 42px;
@ico-orange-star-image: '../images/useful/sprites/theme/theme-sprite.png';
@ico-orange-star: 44px 18px -44px -18px 16px 14px 60px 42px '../images/useful/sprites/theme/theme-sprite.png' 'ico-orange-star';
@ico-type-four-name: 'ico-type-four';
@ico-type-four-x: 0px;
@ico-type-four-y: 0px;
@ico-type-four-offset-x: 0px;
@ico-type-four-offset-y: 0px;
@ico-type-four-width: 20px;
@ico-type-four-height: 20px;
@ico-type-four-total-width: 60px;
@ico-type-four-total-height: 42px;
@ico-type-four-image: '../images/useful/sprites/theme/theme-sprite.png';
@ico-type-four: 0px 0px 0px 0px 20px 20px 60px 42px '../images/useful/sprites/theme/theme-sprite.png' 'ico-type-four';
@ico-type-one-name: 'ico-type-one';
@ico-type-one-x: 22px;
@ico-type-one-y: 0px;
@ico-type-one-offset-x: -22px;
@ico-type-one-offset-y: 0px;
@ico-type-one-width: 20px;
@ico-type-one-height: 20px;
@ico-type-one-total-width: 60px;
@ico-type-one-total-height: 42px;
@ico-type-one-image: '../images/useful/sprites/theme/theme-sprite.png';
@ico-type-one: 22px 0px -22px 0px 20px 20px 60px 42px '../images/useful/sprites/theme/theme-sprite.png' 'ico-type-one';
@ico-type-three-name: 'ico-type-three';
@ico-type-three-x: 0px;
@ico-type-three-y: 22px;
@ico-type-three-offset-x: 0px;
@ico-type-three-offset-y: -22px;
@ico-type-three-width: 20px;
@ico-type-three-height: 20px;
@ico-type-three-total-width: 60px;
@ico-type-three-total-height: 42px;
@ico-type-three-image: '../images/useful/sprites/theme/theme-sprite.png';
@ico-type-three: 0px 22px 0px -22px 20px 20px 60px 42px '../images/useful/sprites/theme/theme-sprite.png' 'ico-type-three';
@ico-type-two-name: 'ico-type-two';
@ico-type-two-x: 22px;
@ico-type-two-y: 22px;
@ico-type-two-offset-x: -22px;
@ico-type-two-offset-y: -22px;
@ico-type-two-width: 20px;
@ico-type-two-height: 20px;
@ico-type-two-total-width: 60px;
@ico-type-two-total-height: 42px;
@ico-type-two-image: '../images/useful/sprites/theme/theme-sprite.png';
@ico-type-two: 22px 22px -22px -22px 20px 20px 60px 42px '../images/useful/sprites/theme/theme-sprite.png' 'ico-type-two';
@spritesheet-width: 60px;
@spritesheet-height: 42px;
@spritesheet-image: '../images/useful/sprites/theme/theme-sprite.png';
@spritesheet-sprites: @ico-green-user @ico-orange-star @ico-type-four @ico-type-one @ico-type-three @ico-type-two;
@spritesheet: 60px 42px '../images/useful/sprites/theme/theme-sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
