mixin all-tasks__list-item(data)
	.all-tasks__list-item
		.all-tasks__list-item-inner
			.all-tasks__list-item-left
				.all-tasks__list-item-title
					a(href="#")!=data.title
				.all-tasks__list-item-user
					.all-tasks__list-item-user-image
						.h-object-fit
							img(src=data.image, alt)
					.all-tasks__list-item-user-info
						.all-tasks__list-item-user-name
							a(href="#")!=data.name
						.all-tasks__list-item-reviews
							span Отзывы
							| 
							+svg('icon-like-2')
							| 
							span 7
			.all-tasks__list-item-right
				if (data.price)
					.all-tasks__list-item-price
						if (data.visa)
							+svg('icon-card-2')
						span!=data.price
				if (data.date)
					.all-tasks__list-item-date(class=data.low_time ? 'low_time' : null)
						+svg('icon-clock-2')
						span!=data.date
				if (data.type)
					.all-tasks__list-item-type
						span!=data.type
				if (data.address)
					.all-tasks__list-item-address
						+svg('icon-mark')
						span!=data.address

mixin all-tasks__list(data)
	unless data
		- var data = {}
		//-
	.all-tasks__list
		if (data.list)
			each item in data.list
				+all-tasks__list-item(item)
		else
			.all-tasks__list-empty
				.all-tasks__list-empty-icon
					+svg('icon-big-pointer', 'icon-1')
					+svg('icon-big-pointer', 'icon-2')
				.all-tasks__list-empty-info
					.all-tasks__list-empty-ttl: span Нет заданий
					if (data.empty_txt)
						.all-tasks__list-empty-txt
							span!=data.empty_txt

mixin my-tasks__item(data)
	.my-tasks__item
		.my-tasks__item-icon
			+svg(data.icon)
		.my-tasks__item-info
			.all-tasks__list-item-left
				.all-tasks__list-item-title
					a(href="#")!=data.title
				if (data.status)
					.my-tasks__item-status(class=data.status)
						.my-tasks__item-status-txt
							+svg('icon-mark')
							if (data.status == 'opened')
								span Открыто
							if (data.status == 'finished')
								span Завершена
							if (data.status == 'inprocess')
								span Выполняется
						.my-tasks__item-buttons
							button.but.but_green.but_xs(type="button") Опубликовать
							button.but.but_t-orange.but_link Удалить
			.all-tasks__list-item-right
				if (data.price)
					.all-tasks__list-item-price
						if (data.visa)
							+svg('icon-card-2')
						span!=data.price

mixin my-tasks__list(data)
	unless data
		- var data = {}
		//-
	.all-tasks__list
		if (data.list)
			each item in data.list
				+my-tasks__item(item)
		else
			.all-tasks__list-empty
				.all-tasks__list-empty-icon
					+svg('icon-big-pointer', 'icon-1')
					+svg('icon-big-pointer', 'icon-2')
				.all-tasks__list-empty-info
					.all-tasks__list-empty-ttl: span Нет заданий
					if (data.empty_txt)
						.all-tasks__list-empty-txt
							span!=data.empty_txt