mixin button(id)
	.l-no-lt__item
		a(href="#").select-link
			span Выбрать
		.l-no-lt__item-button.clearfix(data-toggle="collapse" href="##{id}")
			.l-no-lt__item-left
				span Дизайн
			.l-no-lt__item-right
				span.price 700 руб.
		.service-button__content-wrap.collapse.clearfix(id="#{id}")
			+sub-button('Логотипы, фирменный стиль')
			+sub-button('Листовки, буклеты визитки')
			+sub-button('Илюстрации, иконки, арт')
			+sub-button('Дизайн сайтов')
			+sub-button('Баннеры, оформление соц. сетей')
			+sub-button('3d-графика, анимация')
			+sub-button('Инфографика, презентации')
			+sub-button('Наружная реклама, вывески')
			+sub-button('Наружная реклама, вывески')

mixin sub-button(txt)
	.l-no-lt__item-button.l-no-lt__item-button_sub.clearfix
		.l-no-lt__item-left
			span #{txt}
		.l-no-lt__item-right
			span.price 700 руб.
			a(href="#")
				span Выбрать

mixin l-no-limit(data)
	.l-no-limit
		.container
			.row
				.col-md-9
					.l-no-limit__content
						.l-no-limit__head.clearfix
							h1 Пакеты безлимитных предложений
							select.selectpicker
								option для г. Москва
								option для г. Санкт-Петербург
						.l-no-limit__annotation Пакеты безлимитных предложений позволяют оставлять неограниченное количество откликов ко всем заданиям в выбранных категориях. Для приобретения пакета выберите интересующие вас категории или подкатегории из списка ниже.
						a(href="#").l-no-limit__read-full
							span Читайте полные условия, отзывы исполнителей и ответы на частые вопросы
						.l-no-limit__body
							.l-no-lt__bd-top.clearfix
								.l-no-lt__bd-top-left
									span Название категории
								.l-no-lt__bd-top-right
									span Стоимость за день
									span Статус
							.l-no-lt__bd-middle
								+button('service_1')
								+button('service_2')
								+button('service_3')
								+button('service_4')
								+button('service_5')
								+button('service_6')
								+button('service_7')
								+button('service_8')
								+button('service_9')
								+button('service_10')
								+button('service_11')
								+button('service_12')
								+button('service_13')
								+button('service_14')
								+button('service_15')
				.col-md-3
					.l-no-limit__media
						.l-no-limit__media-item
							+svg('icon-pig')
							b Больше предложений — ниже цена
							span Стоимость одного предложения в рамках пакета от нескольких рублей. Чем больше предложений — тем они дешевле.
						.l-no-limit__media-item
							+svg('icon-star2')
							b Рост рейтинга на 25%
							span Рейтинг исполнителей в категориях с пакетами предложений растет быстрее на 25%.

						.l-no-limit__media-item
							+svg('icon-messages')
							b Возможность оставлять комментарии. 
							span Рейтинг исполнителей в категориях с пакетами предложений растет быстрее на 25%.
	.l-no-limit__footer
		.container
			.l-no-limit__footer-cont.clearfix
				span.selected Выбрано 3 категории на сумму 177 руб./день
				a(href="#modal-no-limit" data-toggle="modal").but.but_y-orange.but_y-orange_lg
					span Оплатить пакет на 15 дней