.l-no-risk-is{
	padding-top: 76px;
	@media ( max-width: @screen-xs-max) {
		padding-top: 30px;
	}
	p{
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 0;
		max-width: 872px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 13px;
		@media ( max-width: @screen-sm-max) {
			font-size: 16px;
			line-height: 26px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
			line-height: 24px;
		}
	}
	h4{
		@media ( max-width: @screen-sm-max) {
			font-size: 24px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 20px;
		}
	}
}
.l-no-risk__how-work{
    margin-top: 77px;
    padding-bottom: 80px;
    border-bottom: 1px solid @gray;
    @media ( max-width: @screen-xs-max) {
    	margin-top: 30px;
    	padding-bottom: 30px;
    }
	h6{
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 60px;
		@media ( max-width: @screen-sm-max) {
			font-size: 24px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 20px;
			margin-bottom: 30px;
		}
		&:after{
			display: none;
		}
	}
}
.icon-step1{
	width: 158px;
	height: 135px;
}
.icon-step2{
	width: 184px;
	height: 136px;
}
.icon-step3{
	width: 185px;
	height: 136px;
}
.l-no-risk__how-work-icons{
	max-width: 1047px;
	margin-left: auto;
	margin-right: auto;
	.work-icon{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		&_1{
		    margin-right: 217px;
		    @media ( max-width: @screen-md-max) {
		    	margin-right: 199px;
		    }
		    i, b{
		    	background-repeat: no-repeat;
				width: 202px;
				height: 26px;
				display: block;
				position: absolute;
				right: -209px;
				@media ( max-width: @screen-md-max) {
					transform: scale(0.8);
				}
		    }
		    i{
		    	background-image: url('../images/tmp_file/gr-long-arrow.png');
		    	top: 54px;
		    }
		    b{
		    	background-image: url('../images/tmp_file/or-long-arrow.png');
				top: 85px;
		    }
		}
		&_2{
		    margin-right: 271px;
		    @media ( max-width: @screen-md-max) {
		    	margin-right: 205px;
		    }
		    i{
				background-repeat: no-repeat;
				width: 319px;
				height: 26px;
				display: block;
				position: absolute;
			    top: 55px;
    			right: -262px;
				background-image: url('../images/tmp_file/gr-long-arrow-done.png');
				@media ( max-width: @screen-md-max) {
					transform: scale(0.96);
					width: 276px;
					background-position: -101px 0;
				}
		    }
		    &:before, &:after{
		    	width: 7px;
		    	height: 5px;
		    	content: '';
		    	display: block;
		    	background-color: #fff;
		    	position: absolute;
		    	right: 0;
		    }
		    &:before{
		    	top: 60px;
		    }
		    &:after{
		    	top: 70px;
		    }
		}
	}
}
.l-no-risk__item-ico{
	margin-bottom: 30px;
}
.l-no-risk__items{
	margin-top: 57px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 0;
	}
}
.l-no-risk__item{
	float: left;
	text-align: center;
	&:not(:last-child){
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 30px;
		}
	}
	&:nth-child(1){
		width: 263px;
		margin-right: 124px;
		@media ( max-width: @screen-md-max) {
			width: 213px;
			margin-right: 110px;
		}
		@media ( max-width: @screen-sm-max) {
			width: 33.333%;
			margin-right: 0;
			padding: 0 15px;
		}
		@media ( max-width: @screen-xs-max) {
			float: none;
			width: 100%;
		}
	}
	&:nth-child(2){
		width: 305px;
	    margin-right: 130px;
	    @media ( max-width: @screen-md-max) {
			width: 245px;
			margin-right: 81px;
	    }
	    @media ( max-width: @screen-sm-max) {
    		width: 33.333%;
    		margin-right: 0;
    		padding: 0 15px;
    	}	
    	@media ( max-width: @screen-xs-max) {
			float: none;
			width: 100%;
		}
	}
	&:nth-child(3){
	    width: 342px;
	    @media ( max-width: @screen-md-max) {
	    	width: 291px;
	    }
	    @media ( max-width: @screen-sm-max) {
	    	width: 33.333%;
	    	margin-right: 0;
	    	padding: 0 15px;
	    }
	    @media ( max-width: @screen-xs-max) {
			float: none;
			width: 100%;
		}
	}
}
.l-no-risk__item-ttl{
	font-size: 18px;
	font-weight: 400;
	@media ( max-width: @screen-sm-max) {
		font-size: 16px;
		position: relative;
    	height: 70px;
	}
	@media ( max-width: @screen-xs-max) {
		height: 35px;
	}
	&:after{
		display: block;
		content: '';
		width: 58px;
		height: 2px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		background-color: @bondi_blue;
		@media ( max-width: @screen-sm-max) {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin-top: 0;
		}
	}
}
.l-no-risk__item-txt{
	font-size: 14px;
	line-height: 24px;
	margin-top: 23px;
}