mixin l-no-risk-is(data)
	.l-no-risk-is
		.container
			.l-no-risk-is__head
				h4 Что такое «Сделка без риска»
				p Сервис «Сделка без риска» позволяет исполнителям и заказчикам безопасно сотрудничать на Pomogoo. Стоимость задания списывается с банковской карты заказчика, резервируется до момента успешного завершения задания и переводится на банковскую карту исполнителя.*
			.l-no-risk__how-work
				h6 Как работает «Сделка без риска»
				.l-no-risk__how-work-icons.hidden-sm.hidden-xs
					.work-icon.work-icon_1
						+svg('icon-step1')
						i
						b
					.work-icon.work-icon_2
						+svg('icon-step2')
						i
					.work-icon.work-icon_3
						+svg('icon-step3')
				.l-no-risk__items.clearfix
					.l-no-risk__item
						.l-no-risk__item-ico.visible-sm.visible-xs
							+svg('icon-step1')
						.l-no-risk__item-ttl 1. Создание задания
						.l-no-risk__item-txt Заказчик публикует задание, договаривается с исполнителем о стоимости, сроках и условиях работы.
					.l-no-risk__item
						.l-no-risk__item-ico.visible-sm.visible-xs
							+svg('icon-step2')
						.l-no-risk__item-ttl 2. Резервирование оплаты
						.l-no-risk__item-txt Когда исполнитель выбран, стоимость задания списывается с банковской карты заказчика и хранится на специальном счете до завершения задания.
					.l-no-risk__item
						.l-no-risk__item-ico.visible-sm.visible-xs
							+svg('icon-step3')
						.l-no-risk__item-ttl 3. Оплата задания/возврат денег
						.l-no-risk__item-txt Если задание не выполнено, денежные средства возвращаются на банковскую карту заказчика. Если задание успешно выполнено, деньги поступают на банковскую карту исполнителя.