mixin l-profile-about-me-2(data)
	.l-profile-about-me
		.l-prof-ab-me__busy
			h5 Если вы заняты или уже выполняете заказ 
			p Количество принятих заявок влияет на ваш рейтинг и место в каталоге. Поэтому, если вы заняты или уже выполняете заказ, нажмите кнопку «Я занят». Вы не ищезнете из каталога, но ваш статус изменится на «Я занят».
			a(href="#").but.but_y-orange
				+svg('icon-pause')
				span Я занят
		form.l-prof-ab-me__head
			.l-prof-ab-me__head-top
				h5 Немного о себе
				a(href="#")
					+svg('icon-pensil')
					span Добавить
			.l-prof-ab-me__head-mdl
				textarea.form-control(placeholder="Напишите о себе, укажите образование, профессиональное образование, род деятельности, перечислите виды услуг…")
			.l-prof-ab-me__head-bot
				button(type="submit").but.but_bondi
					span Сохранить
		form.l-prof-ab-me__add-video
			.l-prof-ab-me__add-video-head
				h5 Добавьте видеоролик о себе
				a(href="#") (Как сделать хороший видео-ролик)
			.l-prof-ab-me__add-video-bd Профили с видео получают больше внимания и вызывают больше доверия у авторов заданий. Вероятность, что выберут вас, увеличится на 25%.
			.l-prof-ab-me__add-video-foot
				label
					input(type="file")
					span.link_bondi Выберите файл
				.ab-formats mov, avi, flv, wmv, mpg и mp4. До 100Мб
		.l-prof-ab-me__examps
			h5 Примеры работ
			p Если у вас есть примеры выполненной вами работы, обязательно прикрепите их, это покажет вас в лучшем свете в глазах автора задания. А также вы будете вызывать больше доверия как исполнитель.
			a(href="#").but.but_bondi
				+svg('icon-camera')
				span Создать фотоальбом
		form.l-prof-ab-me__head.services
			.l-prof-ab-me__head-top
				h5 Услуги и цены
				a(href="#")
					+svg('icon-pensil')
					span Редактировать
				.l-profile-score__suppl.l-bid-write__form.clearfix
					label
						span Минимальная цена за час работы
						input.form-control(type="text")
						span.rub ₽
			.l-prof-ab-me__head-mdl.services
				textarea.form-control(placeholder="Стоимость услуг подбираются индивидуально, в зависимости от сложности и объема работ.")
			.l-prof-ab-me__head-bot
				button(type="submit").but.but_bondi
					span Сохранить
		.l-prof-ab-me__works
			h5 Виды выполняемых работ
			mixin item()
				.l-prof-ab-me__works-item
					a(href="#") Мероприятия и промо-акции
					span 1487 место в рейтинге категории, выполнено 55 заданий
					p Промо-модель  Помощь в проведении мероприятий  Что-то другое  Разнорабочий
			+item()
			+item()
			+item()
			+item()
		.l-prof-ab-me__mean
			.mean-head
				b Средняя оценка: 5.0
				.mean-head__stars
					+svg('icon-star')
					+svg('icon-star')
					+svg('icon-star')
					+svg('icon-star')
					+svg('icon-star')
			.mean-body
				mixin item(txt)
					.mean-body__item
						span #{txt}
						.mean-body__item-stars
							+svg('icon-star')
							+svg('icon-star')
							+svg('icon-star')
							+svg('icon-star')
							+svg('icon-star')
				+item('Качество')
				+item('Вежливость')
				+item('Цена')
				+item('Пунктуальность')
				+item('Адекватность')
		.l-prof-ab-me__reviews
			.reviews__head
				b Отзывы
				span
					+svg('icon-like')
					strong +117
			.reviews__body-user.clearfix
				.reviews__body-user-photo.h-object-fit
					img(src="s/images/tmp_file/user2.jpg", alt="")
				.reviews__body-user-info.clearfix
					.reviews__body-user-name Роберт Малишев
					.reviews__body-user-about
						span.about-left Отзывы
						.about-right
							+svg('icon-like')
							span 7 - закакзчик
					.reviews__body-user-txt
						.txt-top Отзыв о выполнении задания «Доставить 2 пакета в центр» 
						.txt-middle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						.txt-bottom
							mixin bot-item(txt)
								.txt-bottom__item
									span #{txt}
									.txt-bottom__item-stars
										+svg('icon-star')
										+svg('icon-star')
										+svg('icon-star')
										+svg('icon-star')
										+svg('icon-star')
							+bot-item('Пунктуальность')
							+bot-item('Адекватность')
							+bot-item('Вежливость')
					.reviews__body-user-time 1 день назад
			.reviews__body-user.clearfix
				.reviews__body-user-photo.h-object-fit
					img(src="s/images/tmp_file/user5.jpg", alt="")
				.reviews__body-user-info.clearfix
					.reviews__body-user-name Альбина Митько
					.reviews__body-user-about
						span.about-left Отзывы
						.about-right
							+svg('icon-like')
							span 7 - закакзчик
					.reviews__body-user-txt
						.txt-top Отзыв о выполнении задания «Доставить 2 пакета в центр» 
						.txt-middle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						.txt-bottom
							mixin bot-item(txt)
								.txt-bottom__item
									span #{txt}
									.txt-bottom__item-stars
										+svg('icon-star')
										+svg('icon-star')
										+svg('icon-star')
										+svg('icon-star')
										+svg('icon-star')
							+bot-item('Пунктуальность')
							+bot-item('Адекватность')
							+bot-item('Вежливость')
					.reviews__body-user-time 1 день назад