mixin modal-no-limit(data)
	.modal-no-limit#modal-no-limit.modal.fade
		.modal-dialog
			.modal-content
				.modal-no-limit__ttl Выберите срок действия пакета
				.row
					.col-md-4.col-sm-4
						a(href="#").modal-no-limit__item
							.modal-no-limit__item-head
								span Пакет на 15 дней
							.modal-no-limit__item-body
								.price.clearfix
									.price__left 77
									.price__right
										span руб.
										span в день
							.modal-no-limit__item-footer
								.total
									span итого
								.total-price 1350 руб.
					.col-md-4.col-sm-4
						a(href="#").modal-no-limit__item
							.modal-no-limit__item-head
								span Пакет на 30 дней
							.modal-no-limit__item-body
								.price.clearfix
									.price__left 66
									.price__right
										span руб.
										span в день
							.modal-no-limit__item-footer
								.total
									span скидка 10%
								.total-price 1350 руб.
					.col-md-4.col-sm-4
						a(href="#").modal-no-limit__item
							.modal-no-limit__item-head
								span Пакет на 90 дней
							.modal-no-limit__item-body
								.price.clearfix
									.price__left 77
									.price__right
										span руб.
										span в день
							.modal-no-limit__item-footer
								.total
									span скидка 30%
								.total-price 1350 руб.
				.modal-no-limit__btn
					a(href="#").but.but_bondi
						span Оплатить 1350 руб.
