.modal-no-limit{
	@media ( max-width: @screen-xs-max) {
		padding-left: 0 !important;
	}
	[class*=col-]{
    	&:not(:last-child){
    		@media ( max-width: @screen-xs-max) {
    			margin-bottom: 30px;
    		}
    	}
    }
	.modal-content{
		border-radius: 0;
	    padding-top: 54px;
		padding-bottom: 10px;
		padding-left: 48px;
		padding-right: 48px;
		padding-bottom: 62px;
		@media ( max-width: @screen-xs-max) {
			padding: 30px 15px;
		}
	}
	.modal-dialog{
		width: 744px;
		@media ( max-width: @screen-xs-max) {
			width: 100%;
			margin: auto;
		}
	}
}
.modal-no-limit__item-head{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	background-color: @gray;
    padding: 17px 10px;
}
.modal-no-limit__item{
	display: block;
	border: 1px solid @y_orange;
	&.active{
		color: black;
		.modal-no-limit__item-head{
			background-color: @y_orange;
			color: #fff;
		}
		.modal-no-limit__item-body{
			background-color: #fffbf4;
		}
		.modal-no-limit__item-footer{
			background-color: #fffbf4;
			.total{
				span{
					background-color: #fffbf4;
				}
			}
		}
	}
}
.modal-no-limit__item-body{
    padding: 33px 0;
	.price{
	    max-width: 100px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.price__left{
		float: left;
		font-size: 36px;
		font-weight: 600;
	}
	.price__right{
		float: right;
		font-size: 16px;
		font-weight: 600;
		padding-top: 5px;
		line-height: 16px;
		span{
			display: block;
		}
	}
}
.modal-no-limit__ttl{
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 60px;
	@media ( max-width: @screen-xs-max) {
		font-size: 20px;
		margin-bottom: 20px;
	}
}
.modal-no-limit__item-footer{
	text-align: center;
	padding-bottom: 24px;
	.total-price{
		font-size: 18px;
    	margin-top: 11px;
    	font-weight: 400;
	}
	.total{
		color: @y_orange;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;
		position: relative;
		&:before{
			content: '';
			display: block;
			height: 1px;
			width: 170px;
			position: absolute;
			top: 7px;
			left: 0;
			right: 0;
			margin: auto;
			background-color: #edecf1;
		}
		span{
			display: inline-block;
			position: relative;
			background-color: #fff;
			padding: 0 10px;
		}
	}
}
.modal-no-limit__btn{
	margin-top: 60px;
	text-align: center;
}