mixin l-profile__sidebar-posts()
	.l-profile__sidebar-posts
		.l-catalog-banner
			.l-catalog-banner__img
				img(src="s/images/tmp_file/cat-banner.png", alt="")
			.l-catalog-banner__ttl Как уберечься от мошенников?
			.l-catalog-banner__btn
				a(href="#").but.but_bondi
					span Подробнее
		.l-catalog-posts
			.l-catalog-posts__ttl Новые публикации в блоге
			a(href="#").l-catalog-posts__item
				.l-catalog-posts__item-img.h-object-fit
					img(src="s/images/tmp_file/art1.jpg", alt="")
				.l-catalog-posts__item-ttl Как бросить нелюбимую работу и начать путешествовать
				.l-catalog-posts__item-txt Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
			.l-catalog-posts__subs
				a(href="#")
					span Как бросить нелюбимую работу и начать путешествовать
				a(href="#")
					span Как бросить нелюбимую работу и начать путешествовать
				a(href="#")
					span Как бросить нелюбимую работу и начать путешествовать

mixin l-profile-sidebar(data)
	.l-profile__sidebar
		a(href="#").l-profile__sidebar-quest
			+svg('icon-shield')
			span Хотите стать исполнителем Pomogoo?
		.l-profile__sidebar-confirm
			.confirm-top
				h5 Подтвержденные контакты
				.confirm-top__item.clearfix
					.confirm-top__item-ico
						+svg('icon-conf-tel')
					.confirm-top__item-txt
						.confirm-top__item-name Телефон
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span 8 (908) 789-98-65
				.confirm-top__item.clearfix.active
					a(href="#").remove-bind отвязать
					.confirm-top__item-ico
						+svg('icon-conf-mail')
					.confirm-top__item-txt
						.confirm-top__item-name Телефон
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span nadia_rylut@mail.ru
				.confirm-top__item.clearfix.active
					a(href="#").remove-bind отвязать
					.confirm-top__item-ico
						+svg('icon-conf-fb')
					.confirm-top__item-txt
						.confirm-top__item-name Телефон
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span 325 друзей
			.confirm-middle Повысьте доверие пользователей к себе – привяжите ваши аккаунты социальных сетей к профилю Pomogoo. Мы обязуемся не раскрывать ваши контакты.
			.confirm-bottom
				.confirm-top__item.clearfix
					.confirm-top__item-ico
						+svg('icon-conf-vk')
					.confirm-top__item-txt
						.confirm-top__item-name VKontakte
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span 8 (908) 789-98-65
				.confirm-top__item.clearfix
					.confirm-top__item-ico
						+svg('icon-conf-tw')
					.confirm-top__item-txt
						.confirm-top__item-name Twitter
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span 8 (908) 789-98-65
				.confirm-top__item.clearfix
					.confirm-top__item-ico
						+svg('icon-conf-google')
					.confirm-top__item-txt
						.confirm-top__item-name Google
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span 8 (908) 789-98-65
				.confirm-top__item.clearfix
					.confirm-top__item-ico
						+svg('icon-conf-ml')
					.confirm-top__item-txt
						.confirm-top__item-name Mail.ru
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span 8 (908) 789-98-65
		+l-profile__sidebar-posts()
