.l-profile__sidebar-quest{
    position: relative;
    padding: 15px 21px 15px 96px;
    background-color: @gray;
    line-height: 24px;
    display: block;
    @media ( max-width: @screen-sm-max) {
    	padding-bottom: 35px;
    }
	.icon{
		position: absolute;
		width: 39px;
		height: 40px;
		top: 20px;
		left: 33px;
	}
}
.l-profile__sidebar-posts{
	padding-bottom: 84px;
	@media ( max-width: @screen-sm-max) {
		padding-bottom: 40px;
	}
}
.l-profile__sidebar{
	padding-top: 9px;
}
.confirm-top__item-ico{
	float: left;
	width: 36px;
	height: 36px;
	position: relative;
	.icon{
		width: 36px;
		height: 36px;
	    color: @gray;
	}
}
.confirm-top__item-name{
	margin-bottom: 7px;
}
.confirm-top__item-txt{
    overflow: hidden;
    padding-left: 10px;
    margin-top: -3px;
}
.confirm-top{
    padding-left: 15px;
    padding-right: 15px;
}
.confirm-middle{
	padding: 15px 25px;
	background-color: @gray;
	color: @gray_txt;
	font-size: 12px;
	line-height: 18px;
	position: relative;
	&:before{
		content: '';
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-right: 10px solid #f2f6f8;
		border-bottom: 7px solid transparent;
		position: absolute;
		bottom: -11px;
		left: 40px;
		margin: auto;
		transform: rotate(-90deg);
	}
}
.l-profile__sidebar-confirm{
	border: 1px solid #f2f6f8;
	margin-top: 31px;
    padding-top: 11px;
}
.confirm-top__item-inf{
	font-size: 12px;
	span{
		color: @gray_txt;
		display: none;
	}
}
.confirm-top__item{
	padding: 30px 30px;
	position: relative;
	@media ( max-width: @screen-xs-max) {
	    padding: 20px 15px;
	}
	.remove-bind{
		color: @y_orange;
		font-size: 12px;
		right: 0;
		position: absolute;
		top: 38px;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease;
	}
	&:not(:last-child){
		border-bottom: 1px solid @gray;
	}
	&.active{
		&:hover{
			.remove-bind{
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
		.icon-conf-mail{
			color: @y_orange;
		}
		.icon-conf-fb{
			color: #265999;
		}
		.icon-conf-google{
			color: #FC463C;
		}
		.icon-conf-tw{
			color: #00AEEE;
		}
		.icon-conf-vk{
			color: #3277A2;
		}
		.icon-conf-doc{
			color: @l_green;
		}
		.icon-conf-tel{
			color: @bondi_blue;
		}
		.confirm-top__item-inf{
			a{
				display: none;
			}
			span{
				display: block;
			}
		}
	}
}
.confirm-bottom{
	padding-left: 15px;
	padding-right: 15px;
}
.confirm-top__ab-user{
	color: @gray_txt;
	font-size: 14px;
	margin-top: 10px;
}
.l-profile__sidebar-favorite{
	margin-top: 60px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
	}
	h5{
		margin-bottom: 14px;
	}
	.row{
		margin: 0 -2px;
		margin-top: 15px;
	}
	span{
		display: block;
		color: #010101;
		font-size: 14px;
		line-height: 30px;
	}
}
.sidebar-favorite__item{
	overflow: hidden;
	border-radius: 50%;
	width: 53px;
	height: 53px;
	img{
		border-radius: 50%;
	}
}
.sidebar-favorite__col{
	padding: 0 2px;
	float: left;
	margin-bottom: 14px;
}