mixin l-advantages(data)
	.l-advantages
		.container
			h4 Основные преимущества Pomogoo
			.l-advantages__content
				.row
					.col-md-4.col-sm-4
						.l-advantages__item.clearfix
							.l-advantages__item-icon
								+svg('icon-benefit')
							.l-advantages__item-cont
								.l-advantages__item-ttl Выгодные цены
								.l-advantages__item-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					.col-md-4.col-sm-4
						.l-advantages__item.clearfix
							.l-advantages__item-icon
								+svg('icon-like')
							.l-advantages__item-cont
								.l-advantages__item-ttl Проверенные исполнители
								.l-advantages__item-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					.col-md-4.col-sm-4
						.l-advantages__item.clearfix
							.l-advantages__item-icon
								+svg('icon-clock')
							.l-advantages__item-cont
								.l-advantages__item-ttl Экономия времени
								.l-advantages__item-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt