.registration-header {
	padding-bottom: 20px;
	text-align: center;
	margin-top: 70px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 40px;
	}
	h2{
		margin-bottom: 25px;
		font-weight: 400;
		font-size: 36px;
		@media ( max-width: @screen-xs-max) {
			line-height: 34px;
			font-size: 28px;
		}
	}
	span{
		font-style: italic;
		line-height: 24px;
		color: @gray_txt;
		font-size: 14px;
	}
}
.registration-content__left{
	margin-top: 5px;
}
.registration-content__left.registration-content__left-socials{
	flex-direction: column;
	align-items: center;
	padding-right: 20px;
	text-align: center;
	display: flex;

	position: relative;
	&:before{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		display: block;
		width: 1px;
		background-color: @gray;
		content: '';
		@media ( max-width: @screen-xs-max) {
			display: none;
		}
	}

	&:after{
		position: absolute;
		right: -19px;
		top: 100px;
		font-weight: 400;
		padding: 7px;
		display: block;
		background-color: #fff;
		content: 'или';
		@media ( max-width: @screen-xs-max) {
			display: none;
		}
	}



	@media ( max-width: @screen-xs-max) {
		padding-right: 0;
	}
	span{
		display: inline-block;
		margin-bottom: 15px;
		line-height: 18px;
		font-weight: 400;
		color: @gray_txt;
		font-size: 12px;
	}
}
.registration-content__right{
	padding-right: 40px;
	padding-left: 40px;
	.steps-content__form-input{
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 15px;
		height: auto;
	}
}
.registration-content__wrap{
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 10px;
	display: flex;
	@media ( max-width: @screen-xs-max) {
		margin-top: 0;
	}
	.steps-content__form-input label{
		@media ( max-width: @screen-xs-max) {
			width: 100%;
		}
	}
}
.registration-content{
	max-width: 566px;
	display: flex;
	@media ( max-width: @screen-xs-max) {
		flex-direction: column;
		align-items: center;
	}
}
.registration-content__img{
	border-radius: 50%;
	height: 113px;
	width: 113px;
}
.steps-content__form-input.l-prof-set__form-line.clearfix.tel .form-line__input .btn{
	margin-left: 1px;
}
.steps-content__form-input .example{
	display: inline-block;
	font-style: italic;
	line-height: 24px;
	color: @gray_txt;
	font-size: 14px;
	margin-top: 8px;
}
.registration-content__button{
	.but_bondi{
		width: 100%;
	}
}
input[type="file"] + .link_bondi{
	text-align: center;
	margin-top: 10px;
	display: block;
}
.disabled{
	background-color: @gray!important;
	color: @gray_txt!important;
	&:hover{
		background-color: @gray!important;
		color: @gray_txt!important;
		cursor: default!important;
	}
}
.registration-content__socials{
	display: inline-block;
	&-google{
		background-color: #e74d35;
	}
	margin-bottom: 15px;
	font-size: 33px;
	width: 127px;
	height: 33px;
}
.icon_wrapp-add{
	display: inline-block;
	color: @gray_txt;
	font-size: 34px;
	span{
		text-decoration: underline;
		color: @bondi_blue;
		font-size: 14px;
		vertical-align: middle;
		display: inline-block;
		margin-left: 10px;
	}
}
.l-prof-def__ava-photo-add.l-prof-def__ava-photo-add__noheight{
	height: auto;
	label{
		margin-bottom: 25px;
		height: auto;
	}
}