mixin c-task-card-4(data)
	.l-task-card
		.l-task-card__content
			.l-task-card__header
				h1.h3 Сохранить CRV в pdf формат для печати
				span.e-tag.e-tag_aqua-island: span 15 000 руб.
				.c-task-card__tools
					span.c-task-card__tool.green Выполнено
					span.c-task-card__tool 37 просмотров
					span.c-task-card__tool Создано вчера 9:52
					span.c-task-card__tool Дизайн
			.l-task-card__table.map
				.l-task-card__table-item.clearfix.map
					#card-task-map.map_route
				.l-task-card__table-item.clearfix.destination
					.table-item__key Адрес
					.table-item__val
						.table-item__val-adr <span class="orange">От:</span> Санкт-Петербург, Садовая 28/30
						.table-item__val-adr <span class="green">До:</span> Автовская 46, 33
						.table-item__val-distance Примерное расстояние: 8.51 км
				.l-task-card__table-item.clearfix
					.table-item__key Начать
					.table-item__val 27 июля 2017 , 11:00
				.l-task-card__table-item.clearfix
					.table-item__key Стоимость
					.table-item__val 1 000 руб.
				.l-task-card__table-item.clearfix
					.table-item__key Оплата
					.table-item__val Онлайн
				.l-task-card__table-item.need.clearfix
					.table-item__key Нужно
					.table-item__val
						p Необходимо доставить один конверт по одному адресу: забрать в точке А можно
						p начиная с 11-30, отвезти в точку Б нужно до 14-00.
				.l-task-card__table-add
					.l-task-card__table-add-wrp.clearfix
						a(href="#").table-btns__add
							b Добавить предложения 
							span Чтобы отправить свои контакты заказчику 
						.table-btns__add-lnks
							a(href="#") Поделиться ссылкой
							a(href="#") Пожаловаться на задание
				.l-task-card__table-or
					p Или <a href="#">оставляйте неограниченное количество предложений</a>
					p к категории «Курьерские услуги» бесплатно
			.l-task-card__bid
				h5 Ваше предложение
				p Ваше предложение окажется на 6 месте, если вы <a href="#">оставите его прямо сейчас</a>
			.l-task-card__comments
				h5 Комментарии
				.l-task-card__comments-empty.clearfix
					+svg('icon-revs')
					.comments-empty__txt
						p В комментариях разрешено обсуждать только детали задания. Запрещено грубить или оскорблять пользователей Pomogoo, оставлять любые контактные данные, ссылки на сторонние ресурсы и т.д. За нарушение правил возможна блокировка аккаунта!
						label.check-label
							input(type="checkbox")
							i.checkbox
							span Уведомлять о новых комментариях в этом задании
					a(href="#").comments-empty__link Написать новый комментарий