mixin all-tasks__map-trig()
	button.all-tasks__map-trig(type="button")
		+svg('icon-expand')
		span.hide-text Cкрыть карту
		span.show-text Раскрыть карту

mixin all-tasks__map(data)
	.all-tasks__map-wrap
		.all-tasks__map-inner
			#all-tasks__map.all-tasks__map.js-all-tasks-map
		+all-tasks__map-trig()