mixin l-profile-sidebar-4(data)
	.l-profile__sidebar
		.l-profile__sidebar-price
			span Цена за час работы
			b от 700 руб.
		a(href="#").but.but_bondi.propose.busy
			span Предложить задание
		.l-profile__sidebar-annot Исполнитель получит уведомление и сможет оказать вам свои услуги
		.l-profile__sidebar-confirm
			.confirm-top
				h5 Исполнитель
				.confirm-top__ab-user на Pomogoo с 17 июня 2017 г.
				.confirm-top__item.clearfix.active
					.confirm-top__item-ico
						+svg('icon-conf-doc')
					.confirm-top__item-txt
						.confirm-top__item-name Документы
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi отправить на проверку
							span 8 (908) 789-98-65
				.confirm-top__item.clearfix.active
					.confirm-top__item-ico
						+svg('icon-conf-tel')
					.confirm-top__item-txt
						.confirm-top__item-name Телефон
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span 8 (908) 789-98-65
				.confirm-top__item.clearfix.active
					a(href="#").remove-bind отвязать
					.confirm-top__item-ico
						+svg('icon-conf-mail')
					.confirm-top__item-txt
						.confirm-top__item-name Телефон
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span nadia_rylut@mail.ru
				.confirm-top__item.clearfix.active
					a(href="#").remove-bind отвязать
					.confirm-top__item-ico
						+svg('icon-conf-fb')
					.confirm-top__item-txt
						.confirm-top__item-name Телефон
						.confirm-top__item-inf
							a(href="#").bind-contact.link_bondi привязать
							span 325 друзей
		.l-profile__sidebar-posts
			.l-catalog-banner
				.l-catalog-banner__img
					img(src="s/images/tmp_file/cat-banner.png", alt="")
				.l-catalog-banner__ttl Как уберечься от мошенников?
				.l-catalog-banner__btn
					a(href="#").but.but_bondi
						span Подробнее
			.l-profile__sidebar-favorite
				h5 В избранном
				span Этого пользователя добавили
				span в избранное 170 человек
				.row
					mixin user(img)
						.sidebar-favorite__col
							a(href="#").sidebar-favorite__item.h-object-fit
								img(src="s/images/tmp_file/#{img}.jpg", alt="")
					+user('user1')
					+user('user2')
					+user('user3')
					+user('user4')
					+user('user5')
					+user('user6')
					+user('user7')
					+user('user8')
					+user('user9')
					+user('user10')
				a.link_bondi(href="#") Показать всех
			.l-catalog-posts
				.l-catalog-posts__ttl Новые публикации в блоге
				a(href="#").l-catalog-posts__item
					.l-catalog-posts__item-img.h-object-fit
						img(src="s/images/tmp_file/art1.jpg", alt="")
					.l-catalog-posts__item-ttl Как бросить нелюбимую работу и начать путешествовать
					.l-catalog-posts__item-txt Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
				.l-catalog-posts__subs
					a(href="#")
						span Как бросить нелюбимую работу и начать путешествовать
					a(href="#")
						span Как бросить нелюбимую работу и начать путешествовать
					a(href="#")
						span Как бросить нелюбимую работу и начать путешествовать