mixin l-publications(data)
	.l-publications
		.container
			h4 Новые публикации в блоге
			.row
				.col-md-6.col-sm-6
					a(href="#").l-publications__item
						.l-publications__item-play
							+svg('icon-play')
						.l-publications__item-img.h-object-fit
							img(src="s/images/tmp_file/pub1.jpg", alt="")
						.l-publications__item-txt
							.l-publications__item-ttl Видеоистория
							.l-publications__item-about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				.col-md-6.col-sm-6
					a(href="#").l-publications__item
						.l-publications__item-img.h-object-fit
							img(src="s/images/tmp_file/pub2.jpg", alt="")
						.l-publications__item-txt
							.l-publications__item-ttl История пользователей
							.l-publications__item-about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				.col-md-6.col-sm-6
					a(href="#").l-publications__item
						.l-publications__item-img.h-object-fit
							img(src="s/images/tmp_file/pub3.jpg", alt="")
						.l-publications__item-txt
							.l-publications__item-ttl Подборки
							.l-publications__item-about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				.col-md-6.col-sm-6
					a(href="#").l-publications__item
						.l-publications__item-img.h-object-fit
							img(src="s/images/tmp_file/pub4.jpg", alt="")
						.l-publications__item-txt
							.l-publications__item-ttl Интервью с заказчиком
							.l-publications__item-about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
			.l-publications__question
				.l-publications__question-ttl Хотите стать героем наших историй?
				.l-publications__question-btns
					a(href="#").but.but_white
						span Разместите задание
					span.or или
					a(href="#").but.but_white
						span Станьте исполнителем