.l-catalog-sidebar{
	ul{
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
		li{
			&:not(:last-child){
				margin-bottom: 33px;
				@media ( max-width: @screen-sm-max) {
					margin-bottom: 15px;
				}
			}
			a{
				font-size: 18px;
				font-weight: 400;
				color: @bondi_blue;
				@media ( max-width: @screen-sm-max) {
					font-size: 16px;
				}
				&:hover{
					color: @y_orange;
				}
			}
			ul{
				li{
			    	padding-left: 53px;
			    	&:first-child{
    					margin-top: 28px;
    					@media ( max-width: @screen-sm-max) {
    						margin-top: 10px;
    					}
			    	}
					&:not(:last-child){
						margin-bottom: 15px;
						@media ( max-width: @screen-sm-max) {
							margin-bottom: 5px;
						}
					}
					a{
						font-size: 18px;
						font-weight: 300;
						@media ( max-width: @screen-sm-max) {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
.l-catalog-wrapper{
	padding-top: 76px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 35px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-top: 20px;
	}
}
.l-catalog-banner__ttl{
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	padding-left: 45px;
	margin-bottom: 30px;
	@media ( max-width: @screen-md-max) {
		padding-left: 35px;
	}
}
.l-catalog-banner{
	border: 1px solid @gray;
	max-width: 300px;
    margin-top: 75px;
    text-align: center;
    padding-top: 53px;
    padding-bottom: 32px;
    @media ( max-width: @screen-md-max) {
    	max-width: 280px;
    }
    @media ( max-width: @screen-sm-max) {
    	display: none;
    }
}
.l-catalog-banner__btn{
	padding-left: 31px;
	padding-right: 32px;
	.but{
		display: block;
		width: 100%;
	}
}
.l-catalog-posts__ttl{
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 24px;
}
.l-catalog-posts__item{
	display: block;
}
.l-catalog-posts{
	max-width: 300px;
	margin-top: 53px;
	@media ( max-width: @screen-md-max) {
		max-width: 280px;
	}
	@media ( max-width: @screen-sm-max) {
		display: none;
	}
}
.l-catalog-posts__item-img{
	height: 199px;
}
.l-catalog-posts__item-ttl{
	margin-top: 12px;
	font-weight: 600;
	line-height: 24px;
}
.l-catalog-posts__item-txt{
	margin-top: 13px;
    font-size: 14px;
    line-height: 24px;
}
.l-catalog-posts__subs{
	margin-top: 26px;
	a{
		display: block;
		font-size: 14px;
		font-weight: 600;
		line-height: 24px;
		padding: 9px 15px;
		border-top: 1px solid @gray;
		border-bottom: 1px solid @gray;
		&:last-child{
			border-bottom: none;
		}
	}
}