mixin l-catalog-sidebar(data)
	.l-catalog-sidebar
		ul
			li
				a(href="#") Все категории
			li
				a(data-toggle="collapse" href="#category_1") Курьерские услуги
				ul.collapse#category_1
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Услуги курьера на легковом авто
					li
						a(href="#") Купить и доставить
					li
						a(href="#") Срочная доставка
					li
						a(href="#") Доставка продуктов
					li
						a(href="#") Доставка еды из ресторанов
					li
						a(href="#") Курьер на день
					li
						a(href="#") Другая посылка
			li
				a(href="#category_2" data-toggle="collapse") Бытовой ремонт
				ul.collapse#category_2
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Услуги курьера на легковом авто
					li
						a(href="#") Купить и доставить
			li
				a(href="#category_3" data-toggle="collapse") Грузоперевозки
				ul.collapse#category_3
					li
						a(href="#") Курьер на день
					li
						a(href="#") Другая посылка
			li
				a(href="#category_4" data-toggle="collapse") Уборка и помощь по хозяйству
				ul.collapse#category_4
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Другая посылка
			li
				a(href="#category_5" data-toggle="collapse") Виртуальный помощник
				ul.collapse#category_5
					li
						a(href="#") Услуги пешего курьера 
			li
				a(href="#category_6" data-toggle="collapse") Компьютерная помощь
				ul.collapse#category_6
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Услуги курьера на легковом авто
					li
						a(href="#") Купить и доставить
			li
				a(href="#category_7" data-toggle="collapse") Мероприятия и промо-акции
				ul.collapse#category_7
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Услуги курьера на легковом авто
			li
				a(href="#category_8" data-toggle="collapse") Дизайн
				ul.collapse#category_8
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Услуги курьера на легковом авто
					li
						a(href="#") Купить и доставить
			li
				a(href="#category_9" data-toggle="collapse") Web-разработка
				ul.collapse#category_9
					li
						a(href="#") Курьер на день
					li
						a(href="#") Другая посылка
			li
				a(href="#category_10" data-toggle="collapse") Фото- и видео-услуги
				ul.collapse#category_10
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Услуги курьера на легковом авто
					li
						a(href="#") Купить и доставить
			li
				a(href="#category_11" data-toggle="collapse") Установка и ремонт техники
				ul.collapse#category_11
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Услуги курьера на легковом авто
			li
				a(href="#category_12" data-toggle="collapse") Красота и здоровье
				ul.collapse#category_12
					li
						a(href="#") Услуги пешего курьера 
			li
				a(href="#category_13" data-toggle="collapse") Ремонт цифровой техники
				ul.collapse#category_13
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Услуги курьера на легковом авто
			li
				a(href="#category_14" data-toggle="collapse") Юридическая помощь
				ul.collapse#category_14
					li
						a(href="#") Курьер на день
					li
						a(href="#") Другая посылка
			li
				a(href="#category_15" data-toggle="collapse") Репетиторы и образование
				ul.collapse#category_15
					li
						a(href="#") Услуги пешего курьера 
					li
						a(href="#") Услуги курьера на легковом авто
			li
				a(href="#category_16" data-toggle="collapse") Ремонт транспорта
				ul.collapse#category_16
					li
						a(href="#") Срочная доставка
					li
						a(href="#") Доставка продуктов
	.l-catalog-banner
		.l-catalog-banner__img
			img(src="s/images/tmp_file/cat-banner.png", alt="")
		.l-catalog-banner__ttl Как уберечься от мошенников?
		.l-catalog-banner__btn
			a(href="#").but.but_bondi
				span Подробнее
	.l-catalog-posts
		.l-catalog-posts__ttl Новые публикации в блоге
		a(href="#").l-catalog-posts__item
			.l-catalog-posts__item-img.h-object-fit
				img(src="s/images/tmp_file/art1.jpg", alt="")
			.l-catalog-posts__item-ttl Как бросить нелюбимую работу и начать путешествовать
			.l-catalog-posts__item-txt Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
		.l-catalog-posts__subs
			a(href="#")
				span Как бросить нелюбимую работу и начать путешествовать
			a(href="#")
				span Как бросить нелюбимую работу и начать путешествовать
			a(href="#")
				span Как бросить нелюбимую работу и начать путешествовать