<template>
    <li>
        <div class="chat__wrapper">
            <div class="chat_img h-object-fit">
                <img :src="User.profile.avatar_thumb" alt="Аватар пользователя">
            </div>
            <div class="chat_info">
                <span v-if="msgCount != undefined" class="num_messages">{{msgCount}}</span>
                <div class="chat_info-name">
                    <span>{{User.name}}</span>
                </div>
                <div class="chat_info-online">
                    <span v-if="User.online == true">Онлайн</span>
                    <span  v-else >Был на сайте {{User.last_activity_diff}}</span>
                </div>
            </div>
        </div>
    </li>
</template>


<script>

    export default {
        props: ['user', 'msgCount'],

        data() {
            return {
                User: this.user,
                NewMsgCount: undefined
            }
        },
        computed: {
            timestamp: function () {
                return moment(this.User.created_at, 'DD-MM-YYYY').format('d MMM  Y');
            }
        },
        watch: {
            msgCount: function (value) {
                this.NewMsgCount = value;
            },
        },
        mounted() {
        }
    }
</script>