<template>
    <div class="modal-chat">
        <div class="modal-chat__info">
            <span v-if="this.chat_message.name != 'You'">{{this.chat_message.name}}</span>
            <span v-else >Вы</span>
            <span>{{ timestamp}}</span>
        </div>
        <div class="modal-chat__txt">
            <p v-html="this.chat_message.body">{{this.chat_message.body}}</p>
        </div>
    </div>
</template>


<script>
    export default {
        props: ['chat_message', 'auth', 'threadId'],
        data() {
            return {
                Auth: this.auth,
            }
        },
        computed: {
            timestamp: function () {
                return moment(this.chat_message.time, 'DD-MM-YYYY H:mm:ss').fromNow();
            }
        },
        mounted() {

        },
    }
</script>
