<template>
    <div>
        <div id="modal-mob-chat" class="modal fade modal-mob-numb" @click="cl">
            <div class="modal-dialog modal-dialog__chat">
                <div class="chat__sidebar">
                    <button id="modal-mob-chat-closer" type="button" data-toggle="modal" data-target="#modal-mob-chat" style="z-index: 99999;"
                            @click="cl"
                            class="close_modal"></button>
                    <label>
                        <input type="text" @input="filterChats" placeholder="Введите имя для общения"
                               class="form-control">
                    </label>

                    <div v-if="loading" class="loader"></div>

                    <ul v-if="!loading" class="h-list">
                        <chat-list
                                v-bind:class="{ ' has-deal': findObjectKey('user_id',parseInt(user.id)),
                                               ' has-new-msg': NewMsg.includes(parseInt(user.participants[0].dialog_id)),
                                               ' is-active': Active == parseInt(user.participants[0].dialog_id)}"
                                v-for="user in Users"
                                v-bind:user="user"
                                v-bind:key="user.participants[0].dialog_id"
                                v-bind:msgCount="NewMsgCount[user.participants[0].dialog_id]"
                                @click.native="getChat(user)">
                        </chat-list>
                    </ul>
                </div>

                <simple-chat :users="this.Users"
                             :auth="this.AuthUser"
                             v-bind:activeTrade="ActiveTrade"
                             v-bind:messages="Messages"
                             v-bind:activeUserId="ActiveUserId"
                             v-bind:activeUser="ActiveUser"
                             v-bind:treadId="ThreadId"
                             v-bind:allMsgCount="AllMsgCount"
                             v-bind:currentMsgIndex="CurrentMsgIndex"></simple-chat>
            </div>
        </div>
    </div>
</template>

<script>

    import MessangerItem from './ChatList.vue';
    import SimpleChat from './SimpleChatForm.vue';

    export default {
        components: {MessangerItem, SimpleChat},
        data() {
            return {
                loading: false,
                Users: this.users,
                AuthUser: undefined,
                Messages: [],
                ThreadId: undefined,
                Active: undefined,
                NewMsg: [],
                ActiveTrade: [],
                NewMsgCount: {},
                windowsActive: true,
                AllMsgCount: undefined,
                CurrentMsgIndex: undefined,
                ActiveUserId: undefined,
                ActiveUser: undefined,
                initialized: false
            }
        },
        methods: {
            cl(event) {
                if ($(event.toElement).attr("id") == "modal-mob-chat" || $(event.toElement).attr("id") == "modal-mob-chat-closer") {

                    //this.$bus.$emit('activeThread', undefined);
                    //this.$bus.$emit('set_CurrentThreadId', undefined);
                    //this.Active = undefined;
                }
            },
            getChat(user) {
                this.ActiveUserId = user.id;
                this.ActiveUser = user;
                this.AllMsgCount = undefined;
                this.CurrentMsgIndex = undefined;
                var thread_id = parseInt(user.participants[0].dialog_id);
                this.ThreadId = thread_id;
                this.Active = thread_id;
                axios.post('/get_global_message', {thread_id: thread_id}).then((response) => {
                        this.$bus.$emit('activeThread', thread_id);
                        if (this.NewMsgCount[thread_id] != undefined) {
                            this.$bus.$emit('removeCounter', this.NewMsgCount[thread_id]);
                            this.NewMsgCount[thread_id] = undefined;
                        }
                        var index = this.NewMsg.indexOf(thread_id);

                        if (index >= 0)
                            this.NewMsg.splice(index, 1);

                        if (response.data.length != 0) {
                            this.AllMsgCount = parseInt(response.data.messages_count);
                            this.CurrentMsgIndex = parseInt(response.data.current_msg_index);
                            var scroll = $(".modal-chat__wrapper");
                            scroll.perfectScrollbar({
                                suppressScrollX: true
                            });
                            scroll.scrollTop(0);
                            this.Messages = response.data.messages.reverse();
                            scroll.animate({scrollTop: 5000}, 500);
                        } else {
                            this.Messages = [];
                        }
                    }
                ).catch(function (error) {
                    console.log(error);
                });
            },
            getChatByUserId(user_id) {
                let chat_user = this.getUserById(user_id);
                if (chat_user === null) {
                    this.createNewChatWithUser(user_id)
                } else {
                    this.getChat(chat_user);
                    $('#modal-mob-chat').modal();
                }
            },
            createNewChatWithUser(user_id) {
                axios.post('/create_new_chat', {
                    user_id: user_id
                }).then((response) => {
                    let thread_id = response.data.dialog_id;
                    this.callNewUserChat(thread_id, false);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getUserById(user_id) {
                let chat_user = null;
                this.Users.forEach((user) => {
                    if (user.id === user_id) {
                        chat_user = user;
                    }
                });
                return chat_user;
            },
            listenForNewEvent() {
                this.$bus.$on('closePurchases', ($event) => {
                    this.removeIfObjectKeyExists('lot_id', $event.lot_id);
                });
                this.$bus.$on('newMsg', ($event) => {
                    if (this.ThreadId != $event.thread_id || !this.windowsActive) {
                        /*
                         *  If user non exists in fill list
                         */
                        if ($event.new_user_id != undefined) {
                            this.callNewUserChat($event.thread_id);
                        }


                        if ($event.is_system == undefined) {
                            if (this.ThreadId == undefined)
                                this.pushListToTop($event.user_id, true);
                            else
                                this.pushListToTop($event.user_id, false);
                            this.NewMsg.push($event.thread_id);
                        } else {
                            if ($event.new_thread) {
                                this.callNewUserChat($event.thread_id, $event.notify != false);
                            } else {
                                $('#modal-mob-chat').modal();
                                let chat_user;
                                this.Users.forEach((user) => {
                                    if (user.id == $event.user_id) {
                                        chat_user = user;
                                    }
                                });
                                this.getChat(chat_user);
                            }
                            this.pushListToTop($event.user_id, true);
                        }
                        if ($event.notify != false) {
                            if (this.NewMsgCount[$event.thread_id] != undefined)
                                this.NewMsgCount[$event.thread_id]++;
                            else
                                this.NewMsgCount[$event.thread_id] = 1;
                        }
                    }
                })
            },
            newMassageActiveCreate() {
                var arr = [];
                var count_arr = {};
                var new_msg = this.NewMsg.new_msg;
                var active_trade = this.NewMsg.active_trade;
                if (new_msg.length > 0) {
                    new_msg.forEach(function (element) {
                        if (element.msg_count > 0) {
                            arr.push(parseInt(element.thread_id));
                            count_arr[parseInt(element.thread_id)] = parseInt(element.msg_count);
                        }
                    });
                    this.NewMsgCount = count_arr;
                }
                this.NewMsg = arr;
                arr = [];
                if (active_trade.length > 0) {
                    active_trade.forEach(function (element) {
                        if (element.user_id != undefined) {
                            arr = [{
                                'lot_id': parseInt(element.lot_id),
                                'user_id': parseInt(element.user_id),
                                'owner_id': parseInt(element.owner_id),
                                'buyer_id': parseInt(element.buyer_id)
                            }];
                        }
                    });
                    this.ActiveTrade = arr;
                }
            },
            findObjectKey(key, value) {
                var obj = this.ActiveTrade;
                var count = 0;
                Object.keys(obj).forEach(function (c) {
                    if (parseInt(obj[c][key]) == value) {
                        count++;
                    }
                });
                return count;
            },
            removeIfObjectKeyExists(key, value) {
                var obj = this.ActiveTrade;
                var index;
                Object.keys(obj).forEach(function (c) {
                    if (parseInt(obj[c][key]) == value) {
                        index = c;
                    }
                });
                this.ActiveTrade.splice(index, 1);

            },
            pushListToTop(id, priority) {
                var result = $.grep(this.Users, function (e) {
                    return e.id == id;
                });

                if (result.length == 0) {
                    return 0;
                } else if (result.length == 1) {
                    var index = this.Users.indexOf(result[0]);
                    if (index > -1) {
                        this.Users.splice(index, 1);
                        if (priority)
                            this.Users.splice(0, 0, result[0]);
                        else
                            this.Users.splice(1, 0, result[0]);
                    }
                }

            },
            listenForPushTop() {
                this.$bus.$on('pushToTop', ($event) => {
                    if ($event != undefined)
                        this.pushListToTop($event, true);
                })
            }
            ,
            callNewUserChat(thread_id, notify = true) {
                axios.post('/get_new_chat_user', {
                    dialog_id: thread_id
                }).then((response) => {
                    this.Users.push(response.data.user);
                    if (notify) {
                        this.NewMsg.push(parseInt(thread_id));
                        this.NewMsgCount[parseInt(thread_id)] = 1;
                    } else {
                        $('#modal-mob-chat').modal();
                        console.log(response.data.user);
                        this.getChat(response.data.user);
                    }
                    this.pushListToTop(response.data.user.id, true);
                }).catch(function (error) {
                    console.log(error);

                });
            },
            checkActive() {
                $(window).on("blur focus", function (e) {
                    var prevType = $(this).data("prevType");

                    if (prevType != e.type) {   //  reduce double fire issues
                        switch (e.type) {
                            case "blur":
                                this.windowsActive = false;
                                break;
                            case "focus":
                                this.windowsActive = true;
                                break;
                        }
                    }

                    $(this).data("prevType", e.type);
                })
            },
            filterChats(event) {
                this.loading = true;
                axios.get('/initialize-chat?q=' + event.target.value)
                    .then((response) => {
                            this.NewMsg = response.data.new_chat_event;
                            this.Users = response.data.users;
                            this.AuthUser = response.data.auth_user;
                            this.newMassageActiveCreate();
                            this.listenForNewEvent();
                            this.listenForPushTop();

                            this.Users.sort(function (a, b) {
                                var c = new Date(a.participants[0].updated_at);
                                var d = new Date(b.participants[0].updated_at);
                                return d - c;
                            });
                            this.checkActive();
                            this.loading = false;
                        }
                    )
                    .catch(function (error) {
                        console.log(error);
                        this.loading = false;
                    });
            }

        },
        mounted() {
            axios.get('/initialize-chat').then((response) => {

                    this.NewMsg = response.data.new_chat_event;
                    this.Users = response.data.users;
                    this.AuthUser = response.data.auth_user;
                    this.newMassageActiveCreate();
                    this.listenForNewEvent();
                    this.listenForPushTop();

                    this.Users.sort(function (a, b) {
                        var c = new Date(a.participants[0].updated_at);
                        var d = new Date(b.participants[0].updated_at);
                        return d - c;
                    });
                    this.checkActive();
                }
            ).catch(function (error) {
                console.log(error);
            });
        },
    }
</script>

<!--<style>-->
<!--.modal-backdrop {-->
<!--z-index: -1;-->
<!--}-->
<!--</style>-->