<template>
    <div class="modal-chat__block" v-if="CurrentThreadId">
        <div class="grey-block__modal active" v-if="this.showInfo[this.CurrentThreadId]">
            <div class="modal_volume">
                <svg width="1em" height="1em" class="icon icon-volume ">
                    <use xlink:href="s/images/useful/svg/theme/symbol-defs.svg#icon-volume"></use>
                </svg>
            </div>
            <span>{{activeUser.name}} {{ activeUser.profile.relation.status_message }}
                <a v-if="activeUser.profile.relation.task_name" target="_blank" v-bind:href="activeUser.profile.relation.task_url" class="link_bondi">
                    «{{ activeUser.profile.relation.task_name }}»
                </a>
            </span>
            <span v-if="activeUser.profile.relation.show_phone" class="info-tel__chat">Телефон исполнителя:
                        <span class="info-tel__chat-tel">
                  <svg width="1em" height="1em" class="icon icon-tel ">
                    <use xlink:href="/s/images/useful/svg/theme/symbol-defs.svg#icon-tel"></use>
                  </svg>{{ activeUser.profile.phone }}</span>
                    </span>
        </div>
        <div class="grey-block__modal" v-else>
            <div class="modal_volume">
                <svg width="1em" height="1em" class="icon icon-volume ">
                    <use xlink:href="/s/images/useful/svg/theme/symbol-defs.svg#icon-volume"></use>
                </svg>
            </div>
            <a href="#" class="link_bondi" v-on:click="showUserInfo()" v-if="activeUser">Информация о
                пользователе</a>
        </div>
        <div class="modal-chat__wrapper">
            <div v-if="allMsgCount > CurrentIndex" class="c-chat__dialog-item"
                 style="text-align: center">
                <a href="#" v-on:click="getMoreMsg()">Показать ещё</a>
            </div>
            <chat-message v-for="(chat_message, index) in Messages"
                          v-bind:chat_message="chat_message"
                          v-bind:key="index"
                          :auth="Auth"></chat-message>
        </div>
        <div class="modal-chat__input">
            <div class="modal-chat__input-textarea">
                        <textarea type="text" v-model="text" @keyup.enter="sendMessage()"
                                  required="required"></textarea>
            </div>
            <div class="modal-chat__input-button">
                <button :disabled="isDisabled" v-on:click="sendMessage()" class="but but_bondi">Отправить
                </button>
                <span class="text-center">Или нажмите Enter</span>
            </div>
        </div>
    </div>

    <div style="margin: auto" v-else>
        Выберите чат
    </div>


</template>

<style scoped>
    .modal-chat__wrapper {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>

<script>
    import ChatMessage from './ChatMessage.vue';

    export default {
        props: ['users', 'auth', 'messages', 'treadId', 'activeTrade', 'allMsgCount', 'currentMsgIndex', 'activeUserId', 'activeUser'],
        components: {ChatMessage},
        data() {
            return {
                Users: this.users,
                Auth: this.auth,
                text: '',
                CurrentThreadId: '',
                Messages: [],
                CurrentIndex: this.currentMsgIndex,
                isDisabled: false,
                showInfo: []
            }
        },
        watch: {
            treadId: function (value) {
                this.listenForNewMessage(value, this.CurrentThreadId);
                this.CurrentThreadId = value;
            },
            messages: function (value) {
                this.Messages = value;
            },
            AllMsgCount: function (value) {
                this.AllMsgCount = value;
            },
            currentMsgIndex: function (value) {
                this.CurrentIndex = value;
            }
        },
        mounted () {
            this.$bus.$on('set_CurrentThreadId', (data) => {
                this.CurrentThreadId = data;
            });
        },
        methods: {
            showUserInfo() {
                Vue.set(this.showInfo, this.CurrentThreadId, true);
            },
            sendMessage() {
                this.isDisabled = true;
                if (this.CurrentThreadId != '' && this.text != '') {
                    axios.post('/send_global_message', {
                        text: this.text,
                        thread_id: this.CurrentThreadId
                    }).then((response) => {
                        this.text = '';
                        this.Messages.push(response.data.message);
                        this.$bus.$emit('pushToTop', response.data.to_user_id);
                        $('.modal-chat__wrapper').animate({scrollTop: $('.modal-chat__wrapper').prop("scrollHeight")}, 500);
                    }).catch(function (error) {
                        alert(error.response.data.msg);
                        console.log(error.response.data.msg);
                        this.text = '';
                    });
                }
                setTimeout(() => this.isDisabled = false, 3000);
            },
            closeTrade() {
                if (this.checkIsActiveTradeBuyerExists() > 1) {
                    var win = window.open('/purchases', '_blank');
                    win.focus();
                } else {
                    var lot_id = parseInt(this.getLotIdByObjectKey('buyer_id', parseInt(this.Auth.id), 'owner_id', parseInt(this.activeUserId)));
                    axios.post('/axios-update-trade', {
                        lot_id: lot_id
                    }).then((response) => {
                        this.Messages.push(response.data.msg);
                        this.$bus.$emit('pushToTop', response.data.to_user_id);
                        $('.modal-chat__wrapper').animate({scrollTop: $('.modal-chat__wrapper').prop("scrollHeight")}, 500);
                        this.removeIfObjectKeyExists(lot_id);
                    }).catch(function (error) {
                        alert(error);
                        console.log(error);
                    });
                }
            },
            refuseMoney() {
                if (this.checkIsActiveTradeOwnerExists() > 1) {
                    var win = window.open('/sales', '_blank');
                    win.focus();
                } else {
                    var lot_id = parseInt(this.getLotIdByObjectKey('owner_id', parseInt(this.Auth.id), 'buyer_id', parseInt(this.activeUserId)));
                    axios.post('/axios-refuse-money-trade', {
                        lot_id: lot_id
                    }).then((response) => {
                        this.Messages.push(response.data.msg);
                        this.$bus.$emit('pushToTop', response.data.to_user_id);
                        $('.modal-chat__wrapper').animate({scrollTop: $('.modal-chat__wrapper').prop("scrollHeight")}, 500);
                        this.removeIfObjectKeyExists(lot_id);
                    }).catch(function (error) {
                        alert(error);
                        console.log(error);
                    });
                }
            },
            removeIfObjectKeyExists(key, value) {
                var obj = this.activeTrade;
                var index;
                Object.keys(obj).forEach(function (c) {
                    if (parseInt(obj[c][key]) == value) {
                        index = c;
                    }
                });
                this.activeTrade.splice(index, 1);

            },
            checkIsActiveTradeOwnerExists() {
                return this.findObjectKey('owner_id', parseInt(this.Auth.id), 'buyer_id', parseInt(this.activeUserId));
            },
            checkIsActiveTradeBuyerExists() {
                return this.findObjectKey('buyer_id', parseInt(this.Auth.id), 'owner_id', parseInt(this.activeUserId));
            },
            activeOwnerTradeCount() {
                var count = this.findObjectKey('owner_id', parseInt(this.Auth.id), 'buyer_id', parseInt(this.activeUserId));
                if (count > 1)
                    return '(' + count + ')';
            },
            activeBuyerTradeCount() {
                var count = this.findObjectKey('buyer_id', parseInt(this.Auth.id), 'owner_id', parseInt(this.activeUserId));
                if (count > 1)
                    return '(' + count + ')';
            },
            listenForNewMessage(thread_id, oldThread) {
                Echo.leave('threads.chats.' + oldThread);
                Echo.channel('threads.chats.' + parseInt(thread_id)).listen('ChatGlobalMessage', (e) => {
                    if (e.user_id == this.auth.id)
                        e.message.name = 'Вы';
                    this.Messages.push(e.message);
                    $('.modal-chat__wrapper').animate({scrollTop: $('.modal-chat__wrapper').prop("scrollHeight")}, 500);
                });
            },
            findObjectKey(key, value, key_second, value_second) {
                var obj = this.activeTrade;
                var count = 0;
                Object.keys(obj).forEach(function (c) {
                    if (parseInt(obj[c][key]) == value && parseInt(obj[c][key_second]) == value_second) {
                        count++;
                    }
                });
                return count;
            },
            removeObjectKey(key, value, key_second, value_second) {
                var obj = this.activeTrade;
                var count = 0;
                Object.keys(obj).forEach(function (c) {
                    if (parseInt(obj[c][key]) == value && parseInt(obj[c][key_second]) == value_second) {
                        var index = this.ActiveTrade.indexOf(parseInt(this.LotID));
                        if (index > -1) {
                            this.ActiveTrade.splice(index, 1);
                        }
                    }
                });
                return count;
            },
            getLotIdByObjectKey(key, value, key_second, value_second) {
                var obj = this.activeTrade;
                var lot_id;
                Object.keys(obj).forEach(function (c) {
                    if (parseInt(obj[c][key]) == value && parseInt(obj[c][key_second]) == value_second) {
                        lot_id = parseInt(obj[c]['lot_id']);
                    }
                });
                return lot_id;
            },
            getMoreMsg() {
                axios.post('/get_global_message', {
                    thread_id: this.CurrentThreadId,
                    skip: this.CurrentIndex
                }).then((response) => {
                        if (response.data.length != 0) {
                            this.CurrentIndex = parseInt(response.data.current_msg_index);
                            var scroll = $(".modal-chat__wrapper");
                            scroll.perfectScrollbar({
                                suppressScrollX: true
                            });
                            scroll.scrollTop(0);
                            this.Messages = response.data.messages.reverse().concat(this.Messages);
                            var count = parseInt(response.data.messages.length);
                            var element = $(document).find('.modal-chat__wrapper .c-chat__dialog-item').slice(0, count);
                            var outerHeight = 0;
                            element.each(function () {
                                outerHeight += $(this).outerHeight();
                            });
                            outerHeight += 50;
                            scroll.scrollTop(outerHeight);

                            // this.Messages = response.data.messages;
                        } else {
                            this.Messages = [];
                        }
                    }
                ).catch(function (error) {
                    console.log(error);
                });
            }

        }
    }
</script>