.l-service-rules__content{
	font-size: 16px;
	line-height: 26px;
	@media ( max-width: @screen-sm-max) {
		font-size: 14px;
		line-height: 24px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 13px;
		line-height: 22px;
	}
	p{
		margin-top: 20px;
		margin-bottom: 20px;
		@media ( max-width: @screen-xs-max) {
			margin: 15px 0;
		}
	}
	h3{
		margin-bottom: 30px;
		font-weight: 300;
		@media ( max-width: @screen-sm-max) {
			font-size: 24px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 22px;
		}
	}
	a{
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	ul{
		padding-left: 30px;
		list-style-type: none;
		margin-bottom: 20px;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 15px;
		}
		li{
			position: relative;
			&:before{
				content: "\2013 ";
				position: absolute;
				left: -20px;
				top: 0px;
			}
		}
	}
}
.l-service-rules{
	padding-bottom: 80px;
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
	}
}