mixin l-vacancies(data)
	.l-vacancies
		h1 Вакансии
		.l-vacancies__section
			.l-vacancies__annotation Мы не заманиваем людей офисными пуфиками и плюшками. <br>Мы ищем сотрудников, которые, прежде всего, хотят работать над интереснейшим проектом и развивать себя в опытной команде, получать удовольствие и гордиться тем, что они делают!
		.l-vacancies__section
			h2 Наш офис
			.l-vacancies__img.h-object-fit
				img(src="s/images/tmp_file/office.jpg", alt="")
		.l-vacancies__section
			h2 Что мы предлагаем?
			ul
				li Удобный рабочий график, как правило, с 11 до 20 часов.
				li Любая необходимая техника и софт на вашем рабочем месте.
				li Работа в атмосфере интересного проекта без лишних бюрократических и корпоративных заморочек.
				li Оплачиваемое участие в профессиональных конференциях, курсах повышения квалификации, оплачиваемая учебная литература и т.д.
				li Оформление в соответствии с ТК РФ.
		.l-vacancies__items
			.l-vacancies__item
				a(href="#") UI дизайнер (mobile)
				span от 50 000 руб.
			.l-vacancies__item
				a(href="#") Web дизайнер (mobile)
				span от 50 000 руб.
			.l-vacancies__item
				a(href="#") Ведущий системный администратор
				span от 40 000 руб.
			.l-vacancies__item
				a(href="#") Менеджер по работе с клиентами (Модератор)
				span от 30 000 руб.
			.l-vacancies__item
				a(href="#") UI дизайнер (mobile)
				span от 50 000 руб.
			.l-vacancies__item
				a(href="#") Web дизайнер (mobile)
				span от 50 000 руб.
			.l-vacancies__item
				a(href="#") Ведущий системный администратор
				span от 40 000 руб.
			.l-vacancies__item
				a(href="#") Менеджер по работе с клиентами (Модератор)
				span от 30 000 руб.