.l-vacancies__annotation{
    font-size: 14px;
    font-weight: 400;
    margin-top: 13px;
    line-height: 30px;
    @media ( max-width: @screen-xs-max) {
    	line-height: 24px;
    }
}
.l-vacancies{
	padding-bottom: 84px;
	@media ( max-width: @screen-sm-max) {
		padding: 30px 0;
	}
}
.l-vacancies__section{
	padding-bottom: 50px;
    border-bottom: 1px solid #edecf1;
    padding-top: 55px;
    @media ( max-width: @screen-sm-max) {
    	padding: 30px 0;
    }
    @media ( max-width: @screen-xs-max) {
    	padding: 20px 0;
    }
    &:nth-child(3){
    	padding-bottom: 59px;
    	@media ( max-width: @screen-sm-max) {
    		padding-bottom: 30px;
    	}
    }
    &:nth-child(4){
    	h2{
    		margin-bottom: 31px;
    	}
    }
	h2{
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 62px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 30px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 20px;
		}
	}
	ul{
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
		li{
			font-size: 16px;
			font-weight: 400;
			position: relative;
			padding-left: 31px;
			line-height: 59px;
			@media ( max-width: @screen-md-max) {
				line-height: 49px;
			}
			@media ( max-width: @screen-xs-max) {
				font-size: 14px;
				line-height: 20px;
				&:not(:last-child){
					margin-bottom: 10px;
				}
			}
			&:before{
				content: '';
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: @y_orange;
				display: block;
				position: absolute;
				top: 23px;
				left: 0;
				@media ( max-width: @screen-md-max) {
					top: 18px;
				}
				@media ( max-width: @screen-xs-max) {
					top: 4px;
				}
			}
		}
	}
}
.l-vacancies__img{
	height: 538px;
	max-width: 900px;
	@media ( max-width: @screen-xs-max) {
		height: 240px;
	}
}
.l-vacancies__items{
	background-color: #e6fdff;
	border: 1px solid #edecf1;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 25px;
	padding-bottom: 28px;
}
.l-vacancies__item{
	&:not(:last-child){
		margin-bottom: 26px;
	}
	a{
		color: #1e546d;
		font-size: 18px;
		font-weight: 600;
		@media ( max-width: @screen-xs-max) {
			font-size: 15px;	
		}
		&:hover{
			color: @y_orange;
		}
	}
	span{
		color: #011126;
		display: block;
		margin-top: 14px;
		@media ( max-width: @screen-sm-max) {
			margin-top: 10px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 13px;
		}
	}
}