mixin header-black-login(data)
	header.c-header.js-header.login
		.container
			.c-header__wrp.clearfix
				.c-header__left
					button.c-header__menu_small-trigger(type="button")
						i
						i
						i
					a(href="#").c-header__logo
						span Pomogoo
					ul.h-list.c-header__menu_small
						li
							a(href="#") Как это работает
						li
							a(href="#") Как стать исполнителем
						li
							a(href="#") Наш блог
						li
							a(href="#") Отзывы заказчиков
						li
							a(href="#") Правила сервиса
						li
							a(href="#") Частые вопросы
						li
							a(href="#") Контакты
				.c-header__center
					ul.c-header__menu_big.h-list_inline-block
						li.menu__create
							a.menu__create-link(href="#") Создать задание
							ul.h-list.menu__create-list
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Курьерские услуги
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Курьерские услуги
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Бытовой ремонт
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Lorem ipsum dolor sit.
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Грузоперевозки
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Курьерские услуги
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Уборка и помощь по хозяйству
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Lorem ipsum dolor sit.
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Виртуальный помощник
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Курьерские услуги
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Компьютерная помощь
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Lorem ipsum dolor sit.
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Мероприятия и промо-акции
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Курьерские услуги
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Дизайн
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Lorem ipsum dolor sit.
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Web-разработка
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Курьерские услуги
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Фото- и видео-услуги
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Lorem ipsum dolor sit.
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Установка и ремонт техники
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Курьерские услуги
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Красота и здоровье
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Lorem ipsum dolor sit.
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Ремонт цифровой техники
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Курьерские услуги
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Юридическая помощь
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Lorem ipsum dolor sit.
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Репетиторы и образование
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Курьерские услуги
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
								li.menu__create-list-item
									a.menu__create-list-link(href="#") Ремонт транспорта
									ul.h-list.menu__create-sub-list
										li.title-link-item
											a(href="#") Lorem ipsum dolor sit.
										li
											a(href="#") Услуги пешего курьера
										li
											a(href="#") Услуги курьера на легковом авто
										li
											a(href="#") Купить и доставить
										li
											a(href="#") Срочная доставка
										li
											a(href="#") Доставка продуктов
										li
											a(href="#") Доставка еды из ресторанов
										li
											a(href="#") Курьер на день
										li
											a(href="#") Другая посылка
						li.menu__all
							a(href="#") Все задания
						li.menu__performers
							a(href="#") Исполнители
						li.menu__where
							a(href="#") Мои заказы
				.c-header__right
					a(href="#").c-header__right-money 0 ₽
					.c-header__right-notice.c-header__right-item
						.c-header__right-notice-ico
							+svg('icon-notice')
						.c-header__right-notice-menu
							.notice-menu__head Уведомления
							.notice-menu__item
								.notice-menu__item-txt Ваши данные подтверждены
								.notice-menu__item-date 19 июня
							.notice-menu__item
								+svg('icon-pensil')
								.notice-menu__item-txt Ваше задание «Сделать аналог сайта y...» было удалено по причине: «"Задание противоречит .Правилам Сервиса. К сожалению, Сервис не располагает подобным функциона-лом. Мы понимаем, что Вас интере-сует решение данной задачи, но, к сожалению, подобный функционал запрещен. Вы можете создать зада-ние для решения другой задачи. Надеемся на «Ваше понимание!"»
								.notice-menu__item-date 19 июня
							.notice-menu__item
								+svg('icon-pensil')
								.notice-menu__item-txt 4 новых предложения к заданию <a href="#">«Сделать аналог сайта y...»</a>
								.notice-menu__item-date 19 июня
							.notice-menu__item.photo
								.h-object-fit
									img(src="s/images/tmp_file/user2.jpg", alt="")
								.notice-menu__item-txt Новый комментарий Олександр П. Ура)
								.notice-menu__item-date 19 июня
							.notice-menu__footer.clearfix
								a(href="#") Отметить как все прочитанные
								a(href="#") Показать еще
					a(href="#").c-header__right-chat
						+svg('icon-msgs')
					.c-header__right-user.c-header__right-item
						.c-header__right-user-ava-wrp
							.c-header__right-user-ava.h-object-fit
								img(src="s/images/tmp_file/ava.jpg", alt="")
							span Виктория Х.
						.c-header__right-user-menu
							a(href="#").user-menu__item
								+svg('icon-user-1')
								span Профиль
							a(href="#").user-menu__item
								+svg('icon-heart')
								span Избранное
							a(href="#").user-menu__item
								+svg('icon-pig')
								span На счете 0 ₽
							a(href="#").user-menu__item
								+svg('icon-settings')
								span Настройки
							a(href="#").user-menu__item
								+svg('icon-exit')
								span Выход