.c-header{
	&.login{
		@media ( max-width: @screen-xs-max) {
			padding-bottom: 0;
		}
		.c-header__logo{
			@media ( max-width: @screen-xs-max) {
				display: none;
			}
		}
		.c-header__center{
			@media ( max-width: @screen-md-max) {
				display: none;
			}
		}
		.c-header__right-chat{
			position: relative;
			width: 50px;
			.icon{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				display: block;
				width: 18px;
				height: 16px;
				@media ( max-width: @screen-xs-max) {
					top: 3px;
				}
			}
		}
		.c-header__right-notice-menu{
			box-shadow: 0 4px 6.7px 1.3px rgba(1, 17, 38, 0.16);
			width: 268px;
			background-color: #fff;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 2;
			color: @gray_txt;
			font-size: 12px;
			line-height: 16px;
			cursor: default;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all 0.3s ease;
			&.active{
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
			@media ( max-width: @screen-xs-max) {
			    left: -133px;
			}
		}
		.notice-menu__footer{
			padding-left: 30px;
			padding-right: 15px;
			padding-bottom: 15px;
			background-color: @gray;
			a{
				color: @bondi_blue !important;
				text-decoration: underline;
				padding: 0;
				line-height: 16px;
				&:first-child{
					float: left;
					max-width: 110px;
				}
				&:last-child{
					float: right;
				}
				&:hover{
					text-decoration: none;
					background: none;
				}
			}
		}
		.notice-menu__item{
			padding-left: 40px;
			padding-right: 15px;
			position: relative;
			padding-top: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid @gray;
			transition: all 0.3s ease;
			&.photo{
			    padding-left: 56px;
			}
			a{
				color: @y_orange;
				padding: 0 !important;
				display: inline !important;
				float: none !important;
				height: auto !important;
				&:hover{
					background: none;
				}
			}
			&:hover{
				color: black;
				background-color: @gray;
			}
			.h-object-fit{
				position: absolute;	
				top: 20px;
				left: 15px;
				border-radius: 50%;
				width: 32px;
				height: 32px;
				overflow: hidden;
				img{
					border-radius: 50%;
				}
			}
			.icon{
				position: absolute;
				width: 12px;
				height: 12px;
				top: 23px;
				left: 15px;
			}
		}
		.notice-menu__item-date{
			position: absolute;
			top: 5px;
			right: 15px;
			font-size: 8px;
		}
		.notice-menu__head{
			font-size: 16px;
			font-weight: 600;
			padding: 15px;
			border-bottom: 1px solid @gray;
			color: black;
		}
		.c-header__right{
			position: absolute;
			right: 0;
			height: 100%;
			top: 0;
			margin-top: 0;
			a, .c-header__right-item{
				border: none;
				height: 100%;
				padding-top: 14px;
				float: left;
				@media ( max-width: @screen-xs-max) {
					padding-top: 5px;
				}
				&:not(:first-child){
					margin-left: 0;
				}
			}
			.c-header__right-money{
				font-size: 18px;
				padding-top: 17px;
				@media ( max-width: @screen-xs-max) {
					padding-top: 11px;
				}
			}
			.c-header__right-user{
				position: relative;
				cursor: pointer;
				&.active{
					background-color: #fff;
					color: black;
				}
				span{
					display: inline-block;
					vertical-align: middle;
					font-size: 14px;
					font-weight: 400;
					padding-left: 10px;
					@media ( max-width: @screen-xs-max) {
						display: none;
					}
				}
			}
			.c-header__right-user-menu{
				position: absolute;
				cursor: default;
				top: 100%;
				left: 0;
				width: 100%;
				z-index: 2;
				background-color: #fff;
				box-shadow: 0 4px 6.7px 1.3px rgba(1, 17, 38, 0.16);
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition: all 0.3s ease;
				@media ( max-width: @screen-xs-max) {
				    left: -96px;
    				width: 150px;
				}
				&.active{
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
				.user-menu__item{
				    padding: 6px 15px;
				    display: block;
				    width: 100%;
				    float: none;
				    &:hover{
				    	background-color: @bondi_blue;
				    	span{
				    		color: #fff;
				    	}
				    	.icon{
				    		color: @y_orange;
				    	}
				    }
					span{
						display: inline-block;
						color: black;
						padding-left: 10px;
					}
					.icon{
						color: @gray_txt;
						width: 15px;
						height: 15px;
					}
				}
			}
			.c-header__right-user-ava{
				width: 34px;
				height: 34px;
				border-radius: 50%;
				overflow: hidden;
				border: 1px solid #fff;
				display: inline-block;
				vertical-align: middle;
				img{
					border-radius: 50%;
				}
			}
			.c-header__right-notice{
				position: relative;
				cursor: pointer;
				width: 50px;
				&.active{
					background-color: #fff;
					.c-header__right-notice-ico{
						.icon{
							color: black;
						}
					}
				}
				.c-header__right-notice-ico{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					.icon{
						width: 18px;
						height: 16px;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
					}
				}
			}
		}
		.c-header__wrp{
			position: relative;
			@media ( max-width: @screen-md-max) {
			    padding-bottom: 17px;
			}
			@media ( max-width: @screen-xs-max) {
				// padding-bottom: 0;
			}
		}
	}
	@media ( max-width: @screen-sm-max) {
		font-size: 13px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 16px;
	}
}