mixin l-modal-vacancy(data)
	#vacancy-modal.modal.fade.l-modal-vacancy
		.modal-dialog
			.modal-content
				.l-modal-vacancy__head Укажите ваши данные для отклика на вакансию <b>UI дизайнер (mobile) 40 000 руб.</b>
				.l-modal-vacancy__body
					form.form-check
						label.input-wrap
							input.form-control(type="text" placeholder="Имя")
						label.input-wrap
							input.form-control(type="text" placeholder="Фамилия")
						label.input-wrap
							input.form-control(type="email" placeholder="Email или телефон")
						label.add-file
							span.add-file__button
								+svg('icon-clip')
								span Добавить резюме
							input(type="file")
						label.check-wrap
							input(type="checkbox")
							span.checkbox
							span.checkbox-txt Я даю согласие на обработку<br>личных данных
						button(type="submit").but.but_bondi
							span Откликнуться