.edit-task-modal{
	.modal-content{
		padding-top: 45px;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 45px;
		@media ( max-width: @screen-xs-max) {
			padding: 20px 15px;
		}
	}
	.modal-dialog{
		width: 572px;
		@media ( max-width: @screen-xs-max) {
			width: 100%;
			margin: auto;
		}
	}
}
.edit-task-modal__item{
	&:not(:last-child){
		margin-bottom: 45px;
	}
	a{
		font-size: 16px;
		font-weight: 400;
		&:focus{
			color: @bondi_blue;
		}
	}
	p{
		margin-bottom: 0;
		margin-top: 12px;
	}
}
.edit-task-modal__price-input{
	background-color: @bondi_blue;
	color: #fff;
	border-radius: 5px;
	padding: 9px 10px;
	width: 214px;
	margin-left: auto;
	margin-right: auto;
	input{
		color: @bondi_blue;
		font-size: 30px;
		font-weight: 400;
		height: 35px;
		width: 95px;
		border-radius: 5px;
		display: inline-block;
		vertical-align: middle;
		box-shadow: none;
		border: none;
		text-align: center;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		font-size: 30px;
		font-weight: 400;
		padding-left: 20px;
	}
}
.edit-task-modal__price{
	border: 1px solid @l_green;
	padding-left: 47px;
	padding-right: 47px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	@media ( max-width: @screen-xs-max) {
		padding: 15px 20px;
	}
}
.edit-task-modal__btn{
	text-align: center;
	.but{
		height: 28px;
		line-height: 26px;
		font-size: 14px;
		padding: 0 20px;
	}
}
.edit-task-modal__quest{
	background-color: @gray;
	font-size: 12px;
	line-height: 18px;
	padding: 15px;
	margin-top: 20px;
}
.edit-task-modal__quest-top{
	color: @gray_txt;
}
.edit-task-modal__quest-bot{
	margin-top: 15px;
	span{
		float: left;
		display: block;
		@media ( max-width: @screen-xs-max) {
			float: none;
		}
	}
	a{
		float: right;
		display: block;
		color: @bondi_blue;
		font-size: 12px;
		@media ( max-width: @screen-xs-max) {
			float: none;
			margin-top: 10px;
		}
		&:hover{
			color: @y_orange;
		}
	}
}
.cancel-task-modal{
	.modal-dialog{
		width: 572px;
		@media ( max-width: @screen-xs-max) {
			width: 100%;
			margin: auto;
		}
	}
	.modal-content{
		padding: 60px;
		@media ( max-width: @screen-xs-max) {
			padding: 50px 15px;
		}
	}
}
.cancel-task-modal__content{
	h5{
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 40px;
		@media ( max-width: @screen-xs-max) {
			font-size: 24px;
		}
	}
	label{
		display: block;
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}
}
.cancel-task-modal__footer{
	margin-top: 45px;
	.but{
		margin-right: 30px;
		@media ( max-width: @screen-xs-max) {
			display: block;
			max-width: 300px;
			margin-bottom: 20px;
		}
	}
}