mixin l-how-it-works-content(data)
	.l-how-it-works-content__wrp
		.l-how-it-works-content
			.l-how-it-works-content__clip
				b Pomogoo
				a(href="#").but.but_white
					span Смотреть ролик
			.l-how-it-works-content__create
				h1 Как создать задание на Pomogoo
				.l-how-it-works-content__media
					h5 Выберите категорию
					.l-how-it-works-content__laptop
						img(src="s/images/tmp_file/laptop.png", alt="")
					h5 В свободной форме опишите детали вашего задания
					.l-how-it-works-content__form
						img(src="s/images/tmp_file/form.png", alt="")
	.l-how-it-works__steps
		.l-how-it-works__steps-item.clearfix
			.txt
				strong Получайте предложения исполнителей
				span Сразу после создания задания вам начнут поступать предложения от людей, которые готовы его выполнить.
			.img
				img(src="s/images/tmp_file/how-step1.png", alt="")
		.l-how-it-works__steps-item.clearfix
			.txt
				strong Выберите лучшего исполнителя
				span Вам остается выбрать среди предложений лучшее по цене или рейтингу исполнителя.
			.img
				img(src="s/images/tmp_file/how-step2.png", alt="")
		.l-how-it-works__steps-item.clearfix
			.txt
				strong Завершение задания
				span После выполнения задания не забудьте подтвердить, что исполнитель выполнил поручение, и написать отзыв о его работе.
			.img
				img(src="s/images/tmp_file/how-step3.png", alt="")
	.l-how-it-works__btns
		a(href="#").but.but_bondi.but_bondi_lg
			span Создать задание
		a(href="#").maybe-link Может быть вы хотите стать исполнителем Pomogoo?