.l-how-it-works-content{
	max-width: 770px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14px;
}
.l-how-it-works-content__clip{
	background-color: @bondi_blue;
	color: #fff;
	text-align: center;
	padding: 119px 20px 149px;
	b{
		font-size: 48px;
		font-weight: 700;
		display: block;
	}
	.but_white{
		margin-top: 32px;
		height: 40px;
		line-height: 36px;
		font-size: 18px;
		padding: 0 31px;
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
		&:hover{
			color: black;
			background-color: #fff;
		}
	}
}
.l-how-it-works-content__media{
	text-align: center;
    margin-top: 73px;
	h5{
		font-size: 24px;
		font-weight: 400;
	}
}
.l-how-it-works-content__laptop{
	// width: 580px;
	// height: 344px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 61px;
    margin-bottom: 56px;
}
.l-how-it-works-content__form{
	margin-left: auto;
	margin-right: auto;
	margin-top: 61px;
}
.l-how-it-works-content__create{
	padding-top: 75px;
}
.l-how-it-works-content__wrp{
	padding-bottom: 83px;
	border-bottom: 1px solid #edecf1;
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
	}
}
.l-how-it-works__steps{
	padding-bottom: 88px;
	border-bottom: 1px solid #edecf1;
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
	}
}
.l-how-it-works__btns{
    padding-top: 85px;
    padding-bottom: 84px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    @media ( max-width: @screen-md-max) {
    	padding: 40px 0;
    }
    @media ( max-width: @screen-xs-max) {
    	padding: 20px 0;
    }
    .but{
	    margin-right: 76px;
	    @media ( max-width: @screen-md-max) {
	    	margin-right: 30px;
	    }
    }
    .maybe-link{
		font-size: 18px;
		font-weight: 400;
		text-decoration: underline;
		color: @bondi_blue;
		@media ( max-width: @screen-md-max) {
			font-size: 15px;
		}
		@media ( max-width: @screen-xs-max) {
			display: block;
			margin-top: 10px;
		}
		&:hover{
			text-decoration: none;
		}
    }
}
.l-how-it-works__steps-item{
	padding-top: 60px;
    padding-right: 86px;
    @media ( max-width: @screen-md-max) {
    	padding-right: 0;
    }
    @media ( max-width: @screen-xs-max) {
    	padding-top: 30px;
    }
	.txt{
		max-width: 401px;
		float: left;
		padding-top: 92px;
		padding-left: 55px;
		@media ( max-width: @screen-md-max) {
			padding-top: 0;
			padding-left: 0;
			max-width: 348px;
		}
		@media ( max-width: @screen-sm-max) {
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
	}
	.img{
		float: right;
		@media ( max-width: @screen-md-max) {
			max-width: 340px;
		}
		@media ( max-width: @screen-sm-max) {
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}
    &:nth-child(2){
		.txt{
			padding-left: 0;
			padding-top: 122px;
			position: relative;
			padding-right: 55px;
			left: -8px;
			float: right;
			@media ( max-width: @screen-md-max) {
				padding-right: 0;
				left: auto;
				padding-top: 0;
			}
			@media ( max-width: @screen-sm-max) {
				float: none;
			}
		}
		.img{
			float: left;
			padding-left: 30px;
			@media ( max-width: @screen-sm-max) {
				float: none;
			}
		}
    }
    &:nth-child(3){
    	.txt{
    		padding-top: 99px;
    		@media ( max-width: @screen-md-max) {
    			padding-top: 0;
    		}
    	}
    	.img{
    		padding-right: 72px;
    	}
    	strong{
		    // margin-top: 14px;
    	}
    }
	strong{
		font-size: 24px;
		font-weight: 400;
		line-height: 35px;
		display: block;
		@media ( max-width: @screen-md-max) {
			font-size: 20px;
			line-height: 30px;
		}
	}
	span{
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		display: block;
		margin-top: 10px;
	}
}