mixin l-main-slider(data)
	.l-main-slider__wrp
		.l-main-slider
			.l-main-slider__slides-item.h-object-fit
				img(src="s/images/tmp_file/slide1.jpg", alt="")
			.l-main-slider__slides-item.h-object-fit
				img(src="s/images/tmp_file/slide2.jpg", alt="")
			.l-main-slider__slides-item.h-object-fit
				img(src="s/images/tmp_file/slide3.jpg", alt="")
			.l-main-slider__slides-item.h-object-fit
				img(src="s/images/tmp_file/slide4.jpg", alt="")
		.l-main-slider__content
			.container
				.l-main-slider__cont-wrp
					h1 Освободим вас от забот
					.l-mn-slider__sub-head Помомжем найти надежного исполнителя для любых задач
					form.l-main-slider__form
						input.form-control(type="search" placeholder="Напишите, чем вам помочь...")
						button(type="submit").but.but_bondi
							span Заказать услугу
					.l-main-slider__annotation Например сделать уборку квартиры
					a(href="#").but.but_y-orange
						span Cтать исполнителем и начать зарабатывать