.l-main-slider__slides-item{
	height: 504px;
}
.l-main-slider__wrp{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	left: 0;
}
.l-main-slider__content{
    position: absolute;
    top: 133px;
    left: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    @media ( max-width: @screen-xs-max) {
    	top: 120px;
    }
}
.l-main-slider{
	position: relative;
	transition: opacity 0.3s ease;
	&:not(.slick-initialized){
		opacity: 0;

	}
}
.l-mn-slider__sub-head{
	font-size: 16px;
	margin-top: 28px;
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
	}
}
.main-page__top{
	height: 504px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: #000;
		opacity: 0.5;
		display: block;
		z-index: 1;
	}
}
.l-main-slider__cont-wrp{
	max-width: 825px;
	margin-left: auto;
	margin-right: auto;
	.but_y-orange{
	    margin-top: 30px;
    	padding: 0 26px;
    	@media ( max-width: @screen-xs-max) {
    		min-height: 40px;
    		line-height: 20px;
    		font-size: 14px;
    		height: auto;
    		padding: 10px 26px;
    	}
	}
}
.l-main-slider__form{
	margin-top: 29px;
	position: relative;
	.but{
		position: absolute;
		top: 0;
		right: -1px;
		height: 51px;
		line-height: 29px;
		font-size: 18px;
		padding: 0 38px;
		@media ( max-width: @screen-sm-max) {
			font-size: 16px;
		}
		@media ( max-width: @screen-xs-max) {
			height: 40px;
			position: static;
			margin-top: 10px;
		}
	}
	.form-control{
		display: block;
		height: 51px;
		border-radius: 0 5px 5px 0;
		font-size: 18px;
	    padding-left: 20px;
	    border: none;
	    transition: all 0.3s ease;
	    box-shadow: 0px 0px 34px 0px rgba(24,159,183,0);
	    @media ( max-width: @screen-xs-max) {
	    	height: 40px;
	    }
	    @media ( max-width: @screen-sm-max) {
	    	font-size: 16px;
	    }
	    @media ( max-width: @screen-xs-max) {
	    	border-radius: 0;
	    	font-size: 14px;
	    }
	    &:focus{
	    	border: none;
	    	box-shadow: 0px 0px 34px 0px rgba(24,159,183,1);
	    }
	}
	::-webkit-input-placeholder{
		color: #686868;
		transition: all 0.3s ease;
	}
	::-moz-placeholder{
		color: #686868;
		transition: all 0.3s ease;
	}
	:-moz-placeholder{
		color: #686868;
		transition: all 0.3s ease;
	}
	:-ms-input-placeholder{
		color: #686868;
		transition: all 0.3s ease;
	}
	:focus::-webkit-input-placeholder{
		opacity: 0;
	}
	:focus::-moz-placeholder{
		opacity: 0;
	}
	:focus:-moz-placeholder{
		opacity: 0;
	}
	:focus:-ms-input-placeholder{
		opacity: 0;
	}
}
.l-main-slider__annotation{
	font-size: 12px;
	font-weight: 300;
	text-align: left;
    margin-top: 13px;
}