mixin l-tech-sidebar(data)
	.l-tech-sidebar
		ul.h-list
			li
				a.active(href="#") Как это работает
			li
				a(href="#") Сделка без риска
			li
				a(href="#") Безопасность и гарантии
			li
				a(href="#") Стать исполнителем
			li
				a(href="#") Награды и рейтинг
			li
				a(href="#") Отзывы исполнителей	
			li
				a(href="#") Отзывы заказчиков