.l-tech-sidebar{
	padding-top: 7px;
	@media ( max-width: @screen-sm-max) {
		margin-bottom: 30px;
	}
	a{
		color: @bondi_blue;
		font-size: 18px;
		font-weight: 400;
		@media ( max-width: @screen-md-max) {
			font-size: 16px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
		&.active{
			font-weight: 600;
			color: black;
			&:hover{
				color: black;
			}
		}
		&:hover{
			color: @y_orange;
		}
	}
	li{
		&:not(:last-child){
			margin-bottom: 25px;
			@media ( max-width: @screen-sm-max) {
				margin-bottom: 15px;
			}
		}
	}
}
.l-tech-wrapper{
	padding-top: 75px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 30px;
	}
	.col-md-3{
		width: 23%;
		@media ( max-width: @screen-md-max) {
			width: 25%;
		}
		@media ( max-width: @screen-sm-max) {
			width: 100%;
		}
	}
	.col-md-9{
		width: 77%;
		@media ( max-width: @screen-md-max) {
			width: 75%;
		}
		@media ( max-width: @screen-sm-max) {
			width: 100%;
		}
	}
	h1{
		font-size: 36px;
		font-weight: 400;
		color: black;
		position: relative;
		@media ( max-width: @screen-md-max) {
			font-size: 30px;
		}
		@media ( max-width: @screen-sm-max) {
			font-size: 28px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 24px;
		}
		&:after{
			content: '';
			display: block;
			height: 2px;
			width: 130px;
			background-color: @bondi_blue;
		    margin-top: 42px;
		    @media ( max-width: @screen-md-max) {
		    	margin-top: 25px;
		    }
		    @media ( max-width: @screen-sm-max) {
		    	margin-top: 15px;
		    }
		}
	}
}