.blog-main__banner{
	height: 509px;
	position: relative;
	color: #fff;
	text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
    @media ( max-width: 650px) {
    	padding: 100px 0;
    }
	&:before{
		content: '';
		opacity: 0.79;
		background-color: #011126;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	h1{
		font-size: 48px;
		font-weight: 700;
		@media ( max-width: 650px) {
			font-size: 36px;
		}
	}
	.container{
		position: relative;
		z-index: 1;
	}
	::-webkit-input-placeholder{
		@media ( max-width: 650px) {
			font-size: 13px;
		}
	}
	::-moz-placeholder{
		@media ( max-width: 650px) {
			font-size: 13px;
		}
	}
	:-moz-placeholder{
		@media ( max-width: 650px) {
			font-size: 13px;
		}
	}
	:-ms-input-placeholder{
		@media ( max-width: 650px) {
			font-size: 13px;
		}
	}
}
.blog-main__banner-subheader{
	font-size: 16px;
	font-weight: 600;
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	line-height: 30px;
	@media ( max-width: 650px) {
		font-size: 14px;
	}
}
.blog-main__banner-form{
	max-width: 670px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	position: relative;
	label{
		display: block;
		font-weight: 300;
		width: 100%;
	}
	input{
		display: block;
		width: 100%;
		height: 51px;
		padding-left: 15px;
		color: black;
		font-size: 16px;
	}
	button{
		padding: 0 45px;
		background-color: @bondi_blue;
		text-align: center;
		height: 51px;
		line-height: 49px;
		color: #fff;
		font-size: 18px;
		transition: all 0.3s ease;
	    position: absolute;
	    top: 0;
	    right: 0;
		&:hover{
			background-color: (@bondi_blue - 30%);
		}
		@media ( max-width: 650px) {
			position: static;
		}
	}
}
.blog-main__item{
	display: block;
	border: 1px solid #f2f6f8;
	border-bottom: none;
	transition: all 0.3s ease;
	height: 373px;
	overflow: hidden;
	&:last-child{
		border-bottom: 1px solid #f2f6f8;
	}
	&:hover{
		background-color: #f2f6f8;
		img{
			transform: scale(1.1);
		}
	}
	img{
		transition: all 0.3s ease;
	}
	@media ( max-width: @screen-md-max) {
		height: 302px;
	}
	@media ( max-width: @screen-sm-max) {
		height: 250px;
	}
	@media ( max-width: 650px) {
		height: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
}
.blog-main__item-img{
	height: 100%;
	width: 500px;
	float: left;
	overflow: hidden;
	@media ( max-width: @screen-md-max) {
    	width: 450px;
	}
	@media ( max-width: @screen-sm-max) {
		width: 350px;
	}
	@media ( max-width: @screen-xs-max) {
		height: 300px;
	}
	@media ( max-width: 650px) {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	@media ( max-width: 450px) {
		height: 230px;
	}
}
.blog-main__item-txt{
	overflow: hidden;
	padding-left: 68px;
	padding-top: 39px;
	@media ( max-width: @screen-md-max) {
        padding-left: 38px;
    	padding-top: 30px;
	}
	@media ( max-width: @screen-sm-max) {
		padding-top: 20px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-left: 27px;
		padding-right: 10px;
	}
	@media ( max-width: 650px) {
		padding-left: 10px;
		padding-right: 10px;
	}
	span{
		display: block;
		font-size: 18px;
		font-weight: 400;
		@media ( max-width: @screen-sm-max) {
			font-size: 16px;
		}
		@media ( max-width: @screen-xs-max) {
			line-height: 22px;
		}
		@media ( max-width: 650px) {
			font-size: 16px;
		}
	}
	b{
		font-size: 36px;
		font-weight: 700;
		line-height: 48px;
		display: block;
		margin: 51px 0;
		max-width: 455px;
		@media ( max-width: @screen-md-max) {
			font-size: 26px;
			line-height: 38px;
			margin: 40px 0;
			max-width: 340px;
		}
		@media ( max-width: @screen-sm-max) {
			font-size: 20px;
			line-height: 30px;
			margin: 35px 0;
		}
		@media ( max-width: @screen-xs-max) {
			line-height: 28px;
			margin: 21px 0;
			font-size: 18px;
		}
		@media ( max-width: 650px) {
			margin-left: auto;
			margin-right: auto;
			font-size: 18px;
			line-height: 24px;
			margin: 22px 0;
			max-width: none;
		}
	}
}
.blog-main__content{
	padding-top: 84px;
}