mixin all-tasks__city-modal(data)
	.modal.fade#all-tasks__city-modal.modal-mob-numb.all-tasks__city-modal
		.modal-dialog
			.modal-body
				button.but-modal-close(type='button', data-dismiss='modal')
				.modal-welcome__txt.modal-welcome__txt-left
					h2 Выберите город, чтобы увидеть созданные в нем задания
				.modal-welcome__bottom
					form
						ul.h-list.radio-list
							li
								label.radio-label
									input(type="radio", name="change-city", checked)
									i.radio
									span Челябинск
							li
								label.radio-label
									input(type="radio", name="change-city")
									i.radio
									span Свердловск
				.modal-welcome__bottom-txt
					p
						|Изменение города влияет только на отображение заданий на странице.
					p
						|Чтобы настроить подписку на задания в интересующем вас городе, укажите нужный город в 
						a(href="#") «Общих настройках»
						| 
						|на странице вашего профиля.