mixin l-profile-about-me(data)
	.l-profile-about-me
		form.l-prof-ab-me__head
			.l-prof-ab-me__head-top
				h5 Немного о себе
				a(href="#")
					+svg('icon-pensil')
					span Добавить
			.l-prof-ab-me__head-mdl
				textarea.form-control(placeholder="Напишите о себе, укажите образование, профессиональное образование, род деятельности, перечислите виды услуг…")
			.l-prof-ab-me__head-bot
				button(type="submit").but.but_bondi
					span Сохранить
		.l-prof-ab-me__add-video
			.l-prof-ab-me__add-video-head
				h5 Добавьте видеоролик о себе
				a(href="#") (Как сделать хороший видео-ролик)
			.l-prof-ab-me__add-video-bd Профили с видео получают больше внимания и вызывают больше доверия у авторов заданий. Вероятность, что выберут вас, увеличится на 25%.
			.l-prof-ab-me__add-video-foot
				label
					input(type="file")
					span.link_bondi Выберите файл
				.ab-formats mov, avi, flv, wmv, mpg и mp4. До 100Мб
		.l-prof-ab-me__examps
			h5 Примеры работ
			p Если у вас есть примеры выполненной вами работы, обязательно прикрепите их, это покажет вас в лучшем свете в глазах автора задания. А также вы будете вызывать больше доверия как исполнитель.
			a(href="#").but.but_bondi
				+svg('icon-camera')
				span Создать фотоальбом
		.l-prof-ab-me__vals
			h5 У вас нет оценок в настоящий момент
			p Заказчики оценивают всех исполнителей по разнообразным критериям таким как цена, качество, вежливость
		.l-prof-ab-me__revs
			h5 Отзывов пока нет
			+svg('icon-revs')
			p Отзывы появятся после того, как вы создадите или выполните задание
		.l-prof-ab-me__cond
			p Выполнять заказы на Pomogoo могут только совершеннолетние пользователи, прошедшие процедуру подтверждения профиля.
			a(href="#").but.but_bondi
				span Я хочу стать исполнителем