include ../l-profile-settings/l-profile-settings
include ../l-profile-sidebar/l-profile-sidebar
include ../all-tasks__map/all-tasks__map

mixin all-tasks__sidebar(data)
	.all-tasks__sidebar
		+all-tasks__map()
		.all-tasks__sidebar-collapses
			+collapse-item('serv_2', 'Все категории', false, true)
			+collapse-item('serv_2', 'Курьерские услуги', true)
			+collapse-item('serv_3', 'Бытовой ремонт')
			+collapse-item('serv_4', 'Грузоперевозки')
			+collapse-item('serv_5', 'Уборка и помощь по хозяйству')
			+collapse-item('serv_6', 'Виртуальный помощник')
			+collapse-item('serv_7', 'Компьютерная помощь')
			+collapse-item('serv_8', 'Мероприятия и промо-акции')
			+collapse-item('serv_9', 'Дизайн')
			+collapse-item('serv_10', 'Web-разработка')
			+collapse-item('serv_11', 'Фото- и видео-услуги')
			+collapse-item('serv_12', 'Установка и ремонт техники')
			+collapse-item('serv_13', 'Красота и здоровье')
			+collapse-item('serv_14', 'Ремонт цифровой техники')
			+collapse-item('serv_15', 'Юридическая помощь')
			+collapse-item('serv_16', 'Репетиторы и образование')
			+collapse-item('serv_17', 'Ремонт транспорта')
		+l-profile__sidebar-posts()