mixin uslugi_collapse(data)
	.panel-heading(role='tab')
		a(role='button', data-toggle='collapse', data-parent='#accordion', href='#kurjer', aria-expanded='true', aria-controls='kurjer').steps-content__collapse Курьерские услуги
	#kurjer.panel-collapse.collapse.in(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Срочная доставка 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Доставка продуктов 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Доставка еды из ресторанов 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Курьер на день 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Другая посылка
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#remont', aria-expanded='false', aria-controls='remont').steps-content__collapse Бытовой ремонт
	#remont.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить 
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#gruz', aria-expanded='false', aria-controls='gruz').steps-content__collapse Грузоперевозки
	#gruz.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#uborka', aria-expanded='false', aria-controls='uborka').steps-content__collapse Уборка и помощь по хозяйству
	#uborka.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#helper', aria-expanded='false', aria-controls='helper').steps-content__collapse Виртуальный помощник
	#helper.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#comphelp', aria-expanded='false', aria-controls='comphelp').steps-content__collapse Компьютерная помощь
	#comphelp.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#akciji', aria-expanded='false', aria-controls='akciji').steps-content__collapse Мероприятия и промо-акции
	#akciji.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#dizajn', aria-expanded='false', aria-controls='dizajn').steps-content__collapse Дизайн
	#dizajn.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#webdev', aria-expanded='false', aria-controls='webdev').steps-content__collapse Web-разработка
	#webdev.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#foto', aria-expanded='false', aria-controls='foto').steps-content__collapse Фото- и видео-услуги
	#foto.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#technich', aria-expanded='false', aria-controls='technich').steps-content__collapse Установка и ремонт техники
	#technich.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#krasa', aria-expanded='false', aria-controls='krasa').steps-content__collapse Красота и здоровье
	#krasa.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#remon', aria-expanded='false', aria-controls='remon').steps-content__collapse Ремонт цифровой техники
	#remon.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#urhelp', aria-expanded='false', aria-controls='urhelp').steps-content__collapse Юридическая помощь
	#urhelp.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#rep', aria-expanded='false', aria-controls='rep').steps-content__collapse Репетиторы и образование
	#rep.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить
	.panel-heading(role='tab')
		a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#trans', aria-expanded='false', aria-controls='trans').steps-content__collapse Ремонт транспорта
	#trans.panel-collapse.collapse(role='tabpanel')
		.panel-body
			label.check-label
				input(type="checkbox", checked)
				i.checkbox
				span Услуги пешего курьера 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Услуги курьера на легковом авто 
		.panel-body
			label.check-label
				input(type="checkbox")
				i.checkbox
				span Купить и доставить