.steps-content__collapse{
	display: inline-block;
	margin-bottom: 21px;
	padding-left: 21px;
	line-height: 36px;
	color: @l_colapse;
	font-weight: 400;
	font-size: 18px;
	position: relative;
	&:before{
		border-color: @gray_txt transparent transparent transparent;
		border-width: 6px 4.5px 0 4.5px;
		border-style: solid;
		position: absolute;
		display: block;
		margin: auto;
		content: '';
		bottom: 0;
		height: 0;
		top: 6px;
		width: 0;
		left: 0;
	}
	&:focus,
	&:hover{
		color: @l_colapse;
	}
}
.panel-body label{
	font-weight: 300;
	margin-bottom: 0;
}
.panel-body{
	padding-left: 38px;
	@media ( max-width: @screen-xs-max) {
		padding-left: 13px;
	}
	&:last-child{
		margin-bottom: 35px;
	}
	.check-label span {
		display: inline-block;
		vertical-align: middle;
		padding-left: 21px;
		font-size: 18px;
		letter-spacing: -0.4px;
		@media ( max-width: @screen-xs-max) {
			font-size: 16px;
		}
	}
}