.register_modal {}
.modal-body{
	background-color: #fff;
	padding: 30px 45px;
	@media ( max-width: @screen-xs-max) {
		padding: 45px 20px 20px;
	}
}
.modal-body.modal-body__width{
	max-width: 800px;
	width: 800px;
	@media ( max-width: @screen-sm-max) {
		width: auto;
	}
}
.modal-reg_success__txt{
	margin-bottom: 20px;
	text-align: center;
	margin-top: 20px;
	.icon-check{
		color: @l_green!important;
		transform:scaleX(-1);
	}
	span{
		line-height: 24px;
		font-weight: 400;
		font-size: 18px;
		color: @gray_txt;
	}
	h3{
		margin-bottom: 30px;
		line-height: 48px;
		color: @l_colapse;
		margin-top: 80px;
		font-weight: 600;
		font-size: 30px;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 20px;
			line-height: 30px;
			margin-top: 20px;
			font-size: 22px;
		}
	}
	.icon-smajlik{
		font-size: 90px;
		color: #8ed12f;
	}
}
.modal-welcome__txt{
	text-align: center;
	&-left{
		text-align: left;
	}
	h2{
		margin-bottom: 20px;
		line-height: 40px;
		font-weight: 600;
		font-size: 30px;
		@media ( max-width: @screen-xs-max) {
			line-height: 30px;
			font-size: 22px;
		}
	}
	& > span{
		display: inline-block;
		padding-left: 25px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			text-align: center;
			padding-left: 0;
		}
	}
	p{
		margin-bottom: 30px;
		line-height: 24px;
		font-weight: 400;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 20px;
		}
		span{
			font-weight: 600;
		}
	}
}
.modal-welcome__info{
	background-color: @chat; 
	text-align: center;
	margin: 30px auto;
	line-height: 24px;
	max-width: 562px;
	font-size: 16px;
	padding: 30px;
	p{
		font-weight: 400;
	}
	span{
		font-weight: 600;
		text-align: left;
		display: block;
		span{
			display: inline-block;
			padding-left: 10px;
		}
	}
	.modal-welcome__info-wrap{
		display: inline-block;
		margin: 0 auto;
	}
}
.modal-welcome__bottom{
	justify-content: space-between;	
	flex-direction: column;
	margin-bottom: 20px;
	align-items: center;
	margin-top: 20px;
	display: flex;
	&-left{
		align-items: flex-start;
	}
	.but.but_bondi{
		margin-top: 30px;
	}
	.but{
		white-space: nowrap;
	}
	a{
		display: inline-block;
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}
	.underline{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.modal-welcome__txt.modal-welcome__txt-left{
	&:last-child{
		p{
			margin-bottom: 10px;
		}
	}
}
.modal-welcome__txt{
	a{
		display: inline-block;
		margin-left: 6px;
		margin-right: 6px;
	}
	br{
		@media ( max-width: @screen-sm-max) {
			display: none;
		}
	}
}