mixin l-no-risk-adv(data)
	.l-no-risk-adv
		.container
			h6 Преимущества «Сделки без риска»
			.l-no-risk-adv__content
				.row
					.col-md-6.col-sm-6
						.l-no-risk-adv__item.clearfix
							.l-no-risk-adv__item-ico
								+svg('icon-adv1')
							.l-no-risk-adv__item-txt
								b 100% оплата работы
								span После завершения задания оплата отправляется исполнителю.
					.col-md-6.col-sm-6
						.l-no-risk-adv__item.clearfix
							.l-no-risk-adv__item-ico
								+svg('icon-adv2')
							.l-no-risk-adv__item-txt
								b Безопасное сотрудничество
								span До завершения задания деньги хранятся на специальном счете в платежной системе.
					.col-md-6.col-sm-6
						.l-no-risk-adv__item.clearfix
							.l-no-risk-adv__item-ico
								+svg('icon-adv3')
							.l-no-risk-adv__item-txt
								b Гарантированный возврат
								span Если задание не выполнено, деньги возвращаются заказчику.
					.col-md-6.col-sm-6
						.l-no-risk-adv__item.clearfix
							.l-no-risk-adv__item-ico
								+svg('icon-adv4')
							.l-no-risk-adv__item-txt
								b Удобная оплата
								span Оплата задания онлайн банковской картой.
	.l-no-risk__create-task
		.container
			.l-no-risk__create-task-content
				.l-no-risk-banner__btns
					a(href="#").but.but_y-orange.but_y-orange_lg
						span Создать задание
					a(href="#").select-task
						span Выбрать задание