.l-no-risk-adv__item-ico{
	float: left;
	.icon{
		width: 169px;
		height: 125px;
		@media ( max-width: @screen-sm-max) {
		    width: 139px;
    		height: 105px;
		}
		@media ( max-width: @screen-xs-max) {
			width: 99px;
			height: 65px;
		}
	}
}
.l-no-risk-adv__item-txt{
	overflow: hidden;
	padding-left: 30px;
	padding-top: 21px;
	@media ( max-width: @screen-md-max) {
		padding-top: 0;
	}
	@media ( max-width: @screen-sm-max) {
		padding-left: 20px;
	}
	b{
		display: block;
		font-size: 24px;
		font-weight: 400;
		@media ( max-width: @screen-sm-max) {
			font-size: 18px;
		}
	}
	span{
		display: block;
		font-size: 14px;
		line-height: 24px;
		margin-top: 3px;
	}
}
.l-no-risk-adv__content{
	padding-bottom: 22px;
	border-bottom: 1px solid @gray;
}
.l-no-risk__create-task-content{
	padding-bottom: 80px;
	border-bottom: 1px solid @gray;
	@media ( max-width: @screen-md-max) {
		padding-bottom: 30px;
	}
}
.l-no-risk-adv{
	padding-top: 80px;
	overflow: hidden;
	@media ( max-width: @screen-md-max) {
		padding-top: 40px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-top: 20px;
	}
	[class*="col-"]{
		padding: 0 53px;
		@media ( max-width: @screen-md-max) {
			padding: 0 15px;
		}
	}
	.row{
		margin: 0 -53px;
		@media ( max-width: @screen-md-max) {
			margin: 0 -15px;
		}
	}
	h6{
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 64px;
		@media ( max-width: @screen-xs-max) {
			font-size: 20px;
			margin-bottom: 30px;
		}
		&:after{
			display: none;
		}
	}
}
.l-no-risk-adv__item{
	margin-bottom: 60px;
	@media ( max-width: @screen-md-max) {
		margin-bottom: 30px;
	}
}
.l-no-risk__create-task{
	text-align: center;
	
	padding-top: 82px;
	@media ( max-width: @screen-md-max) {
		padding: 30px 0;
	}
	.l-no-risk-banner__btns .select-task{
		margin-left: 31px;
		color: @bondi_blue;
		@media ( max-width: @screen-xs-max) {
			display: block;
			margin-left: 0;
		}
	}
}