mixin l-security(data)
	.l-security
		h1 Безопасность и наши гарантии
		.l-security__annotation Наша важнейшая задача — обеспечить максимальную безопасность ваших заданий.
		.l-security__articles
			.l-security__art-item.clearfix
				.l-security__art-item-txt
					b Верификация исполнителей
					p Чтобы стать исполнителем Pomogoo необходимо указать свои персональные данные, данные доверенных лиц, подтвердить контакты (телефон, e-mail, аккаунты в соцсетях), пройти онлайн-тестирование и собеседование по телефону со специалистом сервиса. После этого принимается решение о присвоении статуса исполнителя или отказе. Выборочно мы просим некоторых исполнителей подтвердить паспортные данные. В профиле исполнителя указывается уровень его верификации. Если исполнитель получил более трех негативных отзывов от заказчиков Pomogoo, он лишается статуса.
				.l-security__art-item-img
					img(src="s/images/tmp_file/secur1.png", alt="")
			.l-security__art-item.clearfix
				.l-security__art-item-txt
					b Отзывы и социальный рейтинг
					p Pomogoo показывает реальные отзывы заказчиков о каждом исполнителе. <br>Это поможет при поиске исполнителя задания выбрать для работы самых ответственных людей. Высокий уровень рейтинга исполнителя свидетельствует о большом количестве качественно выполненных заданий.
				.l-security__art-item-img
					img(src="s/images/tmp_file/secur2.png", alt="")
		.l-security__btn
			a(href="#").but.but_bondi.but_bondi_lg
				span Создать задание
