.l-security__art-item{
	&:not(:last-child){
		margin-bottom: 43px;
	}
	&:nth-child(2){
		.l-security__art-item-img{
			top: -51px;
		}
	}
	&:nth-child(1){
		.l-security__art-item-img{
		    width: 328px;
		    top: 8px;
		    @media ( max-width: @screen-md-max) {
		    	width: 268px;
		    }
		}
	}
	b{
		font-size: 18px;
	    font-weight: 600;
	    margin-bottom: 6px;
	    display: block;
	    @media ( max-width: @screen-md-max) {
	    	font-size: 16px;
	    }
	}
	p{
	    margin-bottom: 0;
	    font-size: 16px;
	    letter-spacing: 0.1px;
	    line-height: 30px;
	    @media ( max-width: @screen-md-max) {
	    	font-size: 14px;
	    	line-height: 24px;
	    }
	}
}
.l-security__art-item-txt{
	float: left;
	max-width: 529px;
	@media ( max-width: @screen-md-max) {
		max-width: 390px;
	}
	@media ( max-width: @screen-xs-max) {
		max-width: none;
		float: none;
	}
}
.l-security__art-item-img{
	float: right;
	height: 280px;
	position: relative;
	width: 345px;
	@media ( max-width: @screen-md-max) {
		height: 230px;
		width: 275px;
	}
	@media ( max-width: @screen-xs-max) {
		margin-left: auto;
		margin-right: auto;
		float: none;
		position: static;
		margin-top: 15px;
	}
}
.l-security__annotation{
	color: @bondi_blue;
	font-size: 18px;
	font-weight: 400;
	margin-top: 45px;
	@media ( max-width: @screen-md-max) {
		font-size: 16px;
		margin-top: 25px;
	}
}
.l-security__articles{
	margin-top: 52px;
	@media ( max-width: @screen-md-max) {
	    margin-top: 32px;
	}
}
.l-security__btn{
	margin-top: 4px;
}
.l-security{
	padding-bottom: 83px;
}