mixin short-rev(img)
	.l-cust-rev__item.clearfix
		.l-cust-rev__item-img.h-object-fit
			img(src="s/images/tmp_file/#{img}.jpg", alt="")
		.l-cust-rev__item-txt
			.l-cust-rev__item-txt-wrp.clearfix
				.l-cust-rev__item-user
					span.l-cust-rev__item-user-name Роберт Малишев
				.l-cust-rev__item-rev
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.l-cust-rev__item-caption Источник

mixin l-cust-rev(data)
	.l-cust-rev
		h1 Отзывы заказчиков о Pomogoo
		.l-cust-rev__annotation Ежедневно на просторах интернета мы встречаем десятки отзывов наших пользователей о Pomogoo. Самые яркие и эмоциональные из них собираются на этой странице. Рады поделиться ими с вами!
		.l-cust-rev__content
			.l-cust-rev__item.clearfix
				.l-cust-rev__item-img.h-object-fit
					img(src="s/images/tmp_file/user1.jpg", alt="")
				.l-cust-rev__item-txt
					.l-cust-rev__item-txt-wrp.clearfix
						.l-cust-rev__item-user
							span.l-cust-rev__item-user-name Роберт Малишев
							span.l-cust-rev__item-user-about Популярный блогер
						.l-cust-rev__item-rev
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.l-cust-rev__item-caption Источник
			+short-rev('user2')
			+short-rev('user3')
			+short-rev('user4')
			+short-rev('user5')
			+short-rev('user6')
		.l-cust-rev__btns
			a(href="#").but.but_bondi.but_bondi_lg
				span Создать задание
			a(href="#").c-check-link
				span Может быть вы хотите стать исполнителем Pomogoo?
