include ../all-tasks__map/all-tasks__map

mixin all-tasks__filter(data)
	.all-tasks__filter
		if (data.title || data.city)
			.all-tasks__filter-ttl
				if (data.title)
					span!=data.title ? data.title : null
				if (data.city)
					a(href="#all-tasks__city-modal" data-toggle="modal")!=data.city ? data.city : null
		if (data.nav_tabs)
			.all-tasks__filter-nav-tabs
				ul.nav.nav-tabs(role='tablist')
					each nav_item in data.nav_tabs
						li(role='presentation', class=nav_item.active ? 'active' : null)
							a(href='#' + nav_item.id, aria-controls=nav_item.id, role='tab', data-toggle='tab')!=nav_item.txt
		.all-tasks__filter-body
			if (data.logged)
				.all-tasks__filter-form
					form
						.all-tasks__filter-line
							.all-tasks__filter-input-wrap
								input(type="text", placeholder="Поиск по заданиям..", name="all-tasks__filter-search")
								button(type="submit").all-tasks__filter-submit
									+svg('icon-search')
							.all-tasks__filter-select-wrap
								select.selectpicker
									option(data-content='<svg width="1em" height="1em" class="icon icon-mark icon-mark_green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="s/images/useful/svg/theme/symbol-defs.svg#icon-mark"></use></svg><span>Открытые</span>', selected) Открытые
									option(data-content='<svg width="1em" height="1em" class="icon icon-mark icon-mark_red"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="s/images/useful/svg/theme/symbol-defs.svg#icon-mark"></use></svg><span>Завершенные</span>') Завершенные
									option(data-content='<svg width="1em" height="1em" class="icon icon-mark icon-mark_orange"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="s/images/useful/svg/theme/symbol-defs.svg#icon-mark"></use></svg><span>Выполняются</span>') Выполняются
						.all-tasks__filter-checkboxes
							ul.h-list
								li
									label.check-label
										input(type="checkbox", checked)
										i.checkbox
										span Еще без предложений
								li
									label.check-label
										input(type="checkbox")
										i.checkbox
										span Горячие задания
			if (data.txt)
				.all-tasks__filter-txt: span!=data.txt
			if (data.status)
				.all-tasks__filter-status
					ul.h-list
						if (data.status.opened)
							li.all-tasks__filter-status-opened!=data.status.opened
						if (data.status.draft)
							li.all-tasks__filter-status-draft!=data.status.draft
						if (data.status.finished)
							li.all-tasks__filter-status-finished!=data.status.finished
						if (data.status.inprocess)
							li.all-tasks__filter-status-inprocess!=data.status.inprocess
	+all-tasks__map-trig()