.all-tasks__filter {
	background-color: #f2f6f8;
	padding: 25px 27px 30px;

	&-ttl {
		padding-bottom: 15px;
		font-weight: 400;
		// font-size: 30px;
		font-size: 24px;

		@media ( max-width: @screen-sm-max) {
			font-size: 20px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 18px;
		}
		.after;

		a {
			transition: color 0.3s ease;
			text-decoration: underline;
			margin-top: 8px;
			font-size: 14px;
			color: #b4c1bb;
			float: right;

			&:hover {
				text-decoration: none;
				color: #99b6cd;
			}
			&:focus {
				text-decoration: underline;
			}
			&:active {
				text-decoration: underline;
			}
		}
	}
	&-body {}
	&-txt {
		padding-top: 20px;
		font-size: 16px;

		@media ( max-width: @screen-xs-max) {
			padding-top: 15px;
			font-size: 14px;
		}
	}
	&-status {
		padding-top: 20px;
		font-size: 16px;

		&-draft {
			color: #6badc3;
		}
		&-opened {
			color: #fcb53a;
		}
		&-finished {
			color: #c60537;
		}
		&-inprocess {
			color: #a2cf3a;
		}

		ul {}
		li {
			display: inline-block;
			vertical-align: top;

			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
	&-form {}
	&-line {
		display: table;
		width: 100%;
	}
	&-input-wrap {
		vertical-align: middle;
		display: table-cell;
		position: relative;
		width: 100%;

		input {
			border-radius: 5px 0px 0px 5px;
			border: 1px solid #9eaaa0;
			padding-right: 30px;
			padding-left: 10px;
			border-right: none;
			height: 35px;
			width: 100%;
		}
	}
	&-submit {
		transition: color 0.3s ease;
		margin-bottom: auto;
		position: absolute;
		margin-top: auto;
		font-size: 13px;
		display: block;
		color: #9eaaa0;
		right: 10px;
		bottom: 0;
		top: 0;

		&:hover {
			color: #fcba4e;
		}
		&:focus {}
		&:active {}
	}
	&-select-wrap {
		vertical-align: middle;
		display: table-cell;

		.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
			width: 100%;
		}
		.bootstrap-select .dropdown-toggle:focus {
			outline: none !important;
		}
		.bootstrap-select > .dropdown-toggle {
			border-radius: 0px 5px 5px 0px;
			border-color: #fcba4e;
			height: 35px;
		}
		.icon {
			margin-right: 10px;
		}
	}
	&-checkboxes {
		padding-top: 21px;
		font-size: 18px;

		.checkbox:before {
			// box-shadow: 5px 0px 0px 0px #f2f6f8;
			// background: #f2f6f8;
			box-shadow: none;
			background: none;
		}
		ul {}
		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
	& ~ .all-tasks__map-trig {
		&:not(.active) {
			display: none;
		}
	}
	&-nav-tabs {
		.nav-tabs {
			border-bottom: none;

			& > li {
				margin-bottom: 0;

				&:first-child {
					& > a {
						border-bottom-left-radius: 5px;
						border-top-left-radius: 5px;
					}
				}
				&:last-child {
					& > a {
						border-bottom-right-radius: 5px;
						border-top-right-radius: 5px;
					}
				}
				&:not(:last-child) {
					& > a {
						border-right-color: transparent !important;
					}
				}
				&.active {
					& > a {
						&:hover,
						&:focus,
						& {
							border-bottom-color: #9eaaa0;
							background-color: #b4c1bb;
							border: 1px solid #9eaaa0;
							cursor: default;
							color: #fff;
						}
					}
				}
				& > a {
					border-bottom-color: #9eaaa0;
					border: 1px solid #9eaaa0;
					background-color: #fff;
					padding: 10px 15px;
					line-height: 1.2;
					border-radius: 0;
					margin-right: 0;
					color: #b4c1bb;

					&:hover,
					&:focus {
						background-color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}
}