.l-bid__body{
	padding-top: 85px;
	padding-bottom: 85px;
	@media ( max-width: @screen-sm-max) {
		padding: 40px 0;
	}
}
.l-bid-write-wrp{
	padding-right: 71px;
	@media ( max-width: @screen-sm-max) {
		padding-right: 0;
	}
}
.l-bid-write{
	background-color: #f2f6f8;
	border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 28px;
    padding-bottom: 23px;
    @media ( max-width: @screen-xs-max) {
    	padding: 30px 15px;
    }
}
.l-bid-write__ttl{
	font-size: 30px;
	margin-bottom: 28px;
	font-weight: 700;
	@media ( max-width: @screen-xs-max) {
		font-size: 22px;
	}
}
.l-bid-write__form{
	.indicate-input{
		&:focus{
			border-color: @y_orange;
		}
	}
	label{
		display: block;
		font-weight: 300;
		position: relative;
	}
	.form-control{
		display: block;
		width: 100%;
	    height: 31px;
	    border: 1px solid #9eaaa0;
	    border-radius: 5px;
	    padding: 0 12px;
	    color: #010101;
	    &:focus{
	    	box-shadow: none;
	    }
	}
	textarea.form-control{
		height: 202px;
		padding-top: 4px;
		max-width: 100%;
    	line-height: 24px;
    	@media ( max-width: @screen-xs-max) {
    		height: 262px;
    	}
	}
	.label-txt{
		color: #9eaaa0;
		font-size: 12px;
		margin-bottom: 4px;
	}
	.label-private-wrp{
		position: absolute;
		right: 11px;
		bottom: 11px;
	}
	.label-private__popup{
		position: absolute;
		top: -63px;
		right: -170px;
		color: #fff;
		background-color: #1e546d;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 8px 9px;
		font-size: 12px;
		line-height: 16px;
		width: 144px;
		height: 82px;
		opacity: 0;
		transition: all 0.3s ease;
		@media ( max-width: @screen-sm-max) {
			right: 0;
			top: -103px;
		}
		@media ( max-width: @screen-xs-max) {
			z-index: 5;
		}
		&:before{
			content: '';
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-right: 8px solid #1e546d;
			border-bottom: 5px solid transparent;
			position: absolute;
			left: -6px;
			bottom: 2px;
			@media ( max-width: @screen-sm-max) {
				left: 0;
				right: 0;
				bottom: -7px;
				margin: auto;
				transform: rotate(-90deg);
			}
		}
	}
	.label-private{
		color: #9eaaa0;
		font-size: 12px;
		border: 1px solid #9eaaa0;
		border-radius: 2px;
		width: 169px;
		height: 19px;
		text-align: center;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover{
			background-color: #9eaaa0;
			color: #fff;
			.icon{
				color: #fff;
			}
			& ~ .label-private__popup{
				opacity: 1;
			}
		} 
		span{
			display: inline-block;
			vertical-align: middle;
			padding-left: 5px;
		}
		.icon{
			color: #9eaaa0;
			width: 8px;
			transition: all 0.3s ease;
			height: 11px;
		}
	}
	.btn-default{
		border-color: #9eaaa0;
	}
	.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
		background-color: #fff;
	}
	.btn-default:hover{
		background-color: #fff;
	}
	.bootstrap-select .dropdown-toggle:focus{
		outline: none !important;
	}
	.btn-group.open .dropdown-toggle{
		box-shadow: none;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 100%;
	}
	.btn:active, .btn.active{
		box-shadow: none;
	}
	.caret{
		display: none;
	}
	.bs-caret{
		position: absolute;
	    top: 6px;
    	right: 9px;
		width: 10px;
		height: 10px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
			height: 100%;
			border-right: 1px solid #9eaaa0;
			border-bottom: 1px solid #9eaaa0;
			transform: rotate(45deg);
		}
	}
	::-webkit-input-placeholder{
		color: #010101;
		@media ( max-width: @screen-xs-max) {
			font-size: 12px;
		}
	}
	::-moz-placeholder{
		color: #010101;
		@media ( max-width: @screen-xs-max) {
			font-size: 12px;
		}
	}
	:-moz-placeholder{
		color: #010101;
		@media ( max-width: @screen-xs-max) {
			font-size: 12px;
		}
	}
	:-ms-input-placeholder{
		color: #010101;
		@media ( max-width: @screen-xs-max) {
			font-size: 12px;
		}
	}
	.label-date-time{
		position: relative;
		z-index: 3;
		.label-date{
			width: 165px;
			float: left;
			@media ( max-width: @screen-md-max) {
				width: 150px;
			}
			.icon{
				width: 15px;
				height: 15px;
				color: #9eaaa0;
				position: absolute;
				top: 8px;
				left: 12px;
			}
			.form-control{
				padding-left: 38px;
			    border-right: none;
    			border-radius: 5px 0 0 5px;
    			box-shadow: none;
			}
		}
		.label-time{
			width: 64px;
			float: left;
			&:before{
				content: '';
				height: 21px;
				width: 1px;
				background-color: #9eaaa0;
				display: block;
				position: absolute;
				top: 5px;
				left: 0;
			}
			.form-control{
				border-left: none;
				border-radius: 0px 5px 5px 0;
				box-shadow: none;
				padding-left: 10px;
			}
		}
	}
}
.datepicker--pointer{
	display: none;
}
.l-bid-write__need{
	margin-bottom: 30px;
}
.l-bid-write__selects{
	margin-bottom: 29px;
	[class*='col-']{
		padding: 0 10px;
		@media ( max-width: @screen-xs-max) {
			&:not(:last-child){
				margin-bottom: 15px;
			}
		}
	}
	.row{
		margin: 0 -10px;
	}
}
.l-bid-write__addit-head{
	.label-txt{
		float: left;
	}
	button{
		color: @bondi_blue;
		font-size: 12px;
		float: right;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.l-bid-write__addit{
    margin-top: 28px;
    display: none;
    &.active{
    	display: block;
    }
    textarea.form-control{
	    height: 126px;
    }
}
.l-bid-write__file{
    margin-top: 30px;
    display: none;
    &.active{
    	display: block;
    }
	label{
		float: left;
		position: relative;
		@media ( max-width: @screen-xs-max) {
			float: none;
		}
	}
	input{
		position: absolute;
		opacity: 0;
		visibility: hidden;
	}
}
.l-bid-write__file-but{
	height: 36px;
	line-height: 34px;
	color: #fffefe;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	padding: 0 25px;
	background-color: @y_orange;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s ease;
	cursor: pointer;
	&:hover{
		background-color: (@y_orange - 30%);
	}
}
.l-bid-write__file-txt{
	overflow: hidden;
	font-size: 12px;
	padding-left: 28px;
	line-height: 18px;
	margin-top: -4px;
	@media ( max-width: @screen-xs-max) {
		padding-left: 0;
		margin-top: 10px;
	}
}
.l-bid-write__date{
	max-width: 490px;
	margin-top: 23px;
	@media ( max-width: @screen-xs-max) {
		[class*='col-']{
			&:not(:last-child){
				margin-bottom: 15px;
			}
		}
	}
}
.label-time__btns{
	text-align: center;
	position: relative;
	z-index: 2;
	button{
		font-size: 12px;
		text-decoration: underline;
		display: inline-block;
		&:hover{
			text-decoration: none;
		}
		&.today{
			color: @y_orange;
		}
		&.tommorow{
			color: #9eaaa0;
		}
	}
}
.l-bid-write__budget-head{
	@media ( max-width: @screen-xs-max) {
		position: relative;
	}
	b{
		display: inline-block;
		letter-spacing: -0.3px;
	}
	.budget-quest{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		@media ( max-width: @screen-xs-max) {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.icon{
		color: @bondi_blue;
		vertical-align: baseline;
		&:hover{
			& ~ .budget-popup{
				opacity: 1;
				pointer-events: auto;
    			z-index: 3;
			}
		}
	}
	.budget-popup{
		position: absolute;
		color: #fff;
		background-color: #1e546d;
		border-radius: 5px;
		padding: 8px 9px;
		font-size: 12px;
		line-height: 16px;
		width: 144px;
		height: 94px;
		opacity: 0;
		transition: all 0.3s ease;
	    top: -80px;
    	right: -156px;
    	pointer-events: none;
    	@media ( max-width: @screen-xs-max) {
    		right: auto;
    		left: -160px;
    	}
		&:before{
			content: '';
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-right: 8px solid #1e546d;
			border-bottom: 5px solid transparent;
			position: absolute;
			left: -6px;
			bottom: 2px;
			@media ( max-width: @screen-xs-max) {
				left: auto;
				right: -6px;
			    transform: rotate(-65deg);
			}
		}
	}
}
.l-bid-write__budget{
	background-color: #fff;
	border: 1px solid #9eaaa0;
	border-radius: 5px;
	margin-top: 26px;
    padding-top: 26px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    @media ( max-width: @screen-xs-max) {
    	padding: 30px 15px;
    }
}
.l-bid-write__budget-slider{
	margin-top: -26px;
	.irs-line{
		height: 2px;
		background-color: @bondi_blue;
		border: 1px solid @bondi_blue;
	}
	.irs-bar{
		background: none;
		box-shadow: none;
		border: none;
	}
	.irs-bar-edge{
		background: none;
		box-shadow: none;
		border: none;
	}
	.irs-slider{
		width: 10px;
		height: 17px;
		border-radius: 4px;
		background: #1e546d;
		box-shadow: none;
		border: none;
	    margin-left: 2px;
	}
	.irs-from, .irs-to, .irs-single{
		background-color: #1e546d;
	}
	.irs-min, .irs-max{
		display: none;
	}
	.irs-single{
	        font-size: 10px;
    padding: 3px;
	}
	.irs-grid-pol{
		background: #999;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		opacity: 1;
		top: -17px;
		background-color: #1e546d;
	}
	.irs-grid-pol.small{
		background: #999;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		opacity: 1;
		top: -17px;
		background-color: #1e546d;
	}
	.irs-grid-text{
		display: none;
	}
}
.l-bid-write__budget-cols{
	font-size: 0;
	margin-top: 25px;
	.row{
		margin: 0 -2px;
	}
	.cols-item{
		border-right: 3px solid #fff;
		width: 20%;
		display: inline-block;
		vertical-align: bottom;
		background-color: #e5fdff;
		&:nth-child(1){
			height: 13px;
		}
		&:nth-child(2){
			height: 25px;
		}
		&:nth-child(3){
			height: 38px;
		}
		&:nth-child(4){
			height: 50px;
		}
		&:nth-child(5){
			height: 63px;
			border-right: none;
		}
	}
}
.l-bid-write__budget-indicate{
	margin-top: -7px;
	span{
		font-weight: 400;
		display: inline-block;
		vertical-align: middle;
		@media ( max-width: @screen-xs-max) {
			display: block;
		}
	}
	.indicate-txt{
	    margin-right: 15px;
	    @media ( max-width: @screen-xs-max) {
	    	margin-bottom: 10px;
	    }
	}
	.indicate-rub{
		margin-left: 10px;
		font-size: 18px;
		color: #4e4e4e;
		font-weight: 100;
		@media ( max-width: @screen-xs-max) {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.form-control{
		max-width: 106px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		@media ( max-width: @screen-xs-max) {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.l-bid-write__contacts{
	max-width: 490px;
	margin-top: 27px;
	[class*='col-']{
		&:not(:last-child){
			margin-bottom: 30px;
		}
	}
	label{
		margin-bottom: 0;
	}
	.tel-wrap{
		position: relative;
		.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
			width: 78px;
			position: absolute;
			left: 2px;
			top: 1px;
		}
		.btn-default{
			// border-color: #9eaaa0;
			border: none;
			border-radius: 5px 0 0 5px;
			&:before{
				content: '';
				position: absolute;
				top: 5px;
				right: 0;
				width: 1px;
				height: 19px;
				background-color: #9eaaa0;
				display: block;
			}
		}
		.form-control{
		    padding-left: 95px;
		}
		.bs-caret{
			right: 13px;
		}
	}
}
.l-bid-write__enter{
	font-size: 12px;
	margin-top: 13px;
	a{
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.l-bid-write__addit-cont{
	margin-top: 28px;
	span{
		display: inline-block;
		vertical-align: middle;
	}
	button{
		color: @bondi_blue;
		position: relative;
		span{
			text-decoration: underline;
		}
		&[aria-expanded="true"]{
			color: @y_orange;
			span{
				text-decoration: none;
			}
			&:before{
			    top: 6px;
			    transform: rotate(-135deg);
			    border-color: @y_orange;
			}
		}
		&:before{
			content: '';
			position: absolute;
			top: 1px;
			right: -28px;
			width: 10px;
			height: 10px;
			border-right: 1px solid @bondi_blue;
			border-bottom: 1px solid @bondi_blue;
			transform: rotate(45deg);
			display: block;
			transition: all 0.3s ease;
		}
		&:hover{
			text-decoration: none;
		}
	}
	.checkbox{
		width: 16px;
		height: 16px;
		border: 1px solid #B0C2BC;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		@media ( max-width: @screen-xs-max) {
			position: absolute;
			top: 0;
			left: 0;
		}
		&:before{
			background: #F2F6F8;
			box-shadow: 5px 0px 0px 0px #F2F6F8;
		}
	}
	.check-label{
	    margin-bottom: -6px;
	    @media ( max-width: @screen-xs-max) {
	    	margin-bottom: 15px;
	    }
		span{
			padding-left: 13px;
			@media ( max-width: @screen-xs-max) {
				padding-left: 30px;
				padding-top: 10px;
			}
		}
	}
}
.addit-cont-checks__wrp{
	padding-top: 17px;
}
.l-bid-write__agree{
    margin-top: 23px;
	.checkbox{
		width: 16px;
		height: 16px;
		border: 1px solid #B0C2BC;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		&:before{
			background: #F2F6F8;
			box-shadow: 5px 0px 0px 0px #F2F6F8;
		}
	}
	.check-label{
	    margin-bottom: -6px;
	    margin-top: 23px;
		span{
			padding-left: 13px;
		}
	}
	.but_bondi_lg{
		font-size: 22px;
		padding: 0 53px;
		line-height: 62px;
		height: 64px;
	}
	a{
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.l-bid-write__budget-footer{
	border-top: 1px solid #f2f6f8;
	padding-top: 30px;
	margin-top: 30px;
	[class*='col-']{
		&:not(:last-child){
			margin-bottom: 30px;
		}
	}
	a{
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.radio-label{
		span{
			font-weight: 400;
		}
	}
}
.l-bid-write__budget-footer-about{
	font-size: 12px;
	line-height: 18px;
	span{
		display: block;
	}
}