mixin checkbox(txt)
	label.check-label
		input(type="checkbox")
		i.checkbox
		span #{txt}
mixin col()
	.cols-item
		span

mixin l-bid-write(data)
	.l-bid-write-wrp
		.l-bid-write
			.l-bid-write__ttl Заполните заявку
			form.l-bid-write__form
				label.l-bid-write__need
					.label-txt Мне нужно
					input.form-control(type="text" placeholder="Разработать баннеры")
				.l-bid-write__selects
					.row
						.col-md-6.col-sm-6
							select.selectpicker
								option Дизайн
								option Верстка
								option Программирование
						.col-md-6.col-sm-6
							select.selectpicker
								option Интерне баннеры, оформления
								option Верстка
								option Программирование
				.l-bid-write__desc
					label
						.label-txt Опишите пожелания и детали, чтобы исполнители лучше оценили вашу задачу
						textarea.form-control(placeholder="Максимально подробно опишите свои пожелания, для какой компании или продукта требуется логотип или фирменный стиль, кто ваша целевая аудитория. Где будет размещаться логотип. Какие эмоции он должен вызывать.")
					.label-private-wrp.info
						.label-private
							+svg('icon-lock')
							span Приватная информация
						.label-private__popup
							span Эта информация будет доступна только выбранному исполнителю задания
					.label-private-wrp.photo
						.label-private
							//- input(type="file")
							+svg('icon-camera')
							span Добавить фото
				.l-bid-write__addit
					.l-bid-write__addit-head.clearfix
						.label-txt Добавить приватную информацию
						button(type="button") Скрыть
					label
						textarea.form-control(placeholder="Например: квартира 17, код домофона 777, ключ под ковриком :)")
				.l-bid-write__file.clearfix
					label
						input(type="file")
						.l-bid-write__file-but
							span Выберите файл
					.l-bid-write__file-txt Наличие фото помогает исполнителям лучше оценить вашу задачу и сформулировать свое предложение. 
				.l-bid-write__date
					.label-txt Дата и время
					.row
						.col-md-6.col-sm-6
							select.selectpicker
								option Начать работу
								option Завершить работу
								option Указать период
						.col-md-6.col-sm-6
							.label-date-time
								label.label-date
									+svg('icon-date')
									input.form-control.datepicker-here(type="text" placeholder="Дата")
								label.label-time
									input.form-control.mask(type="text" placeholder="Время")
							.label-time__btns
								button(type="button").today Сегодня,
								button(type="button").tommorow завтра
				.l-bid-write__budget
					.l-bid-write__budget-head
						b На какой бюджет вы расчитиваете?
						.budget-quest
							+svg('icon-quest')
							.budget-popup
								span Это поможет найти исполнителей, которые будут готовы выполнить ваше задание.
					.l-bid-write__budget-body
						.l-bid-write__budget-cols
							.row
								+col()
								+col()
								+col()
								+col()
								+col()
						.l-bid-write__budget-slider
							input.price-slider(type="text" id="budget-slider")
						label.l-bid-write__budget-indicate
							span.indicate-txt  Укажите точную стоимость задания
							input.form-control.indicate-input(type="text" value="1000")
							span.indicate-rub ₽
					//- .l-bid-write__budget-footer
					//- 	.row
					//- 		.col-md-6.col-sm-6
					//- 			label.radio-label
					//- 				input(type="radio" name="pay")
					//- 				i.radio
					//- 				span Оплата банковской картой
					//- 			.l-bid-write__budget-footer-about
					//- 				span Через сервис <a href="#">Сделка без риска.</a>
					//- 				span Комиссия — 5% + 40 руб.
					//- 		.col-md-6.col-sm-6
					//- 			label.radio-label
					//- 				input(type="radio" name="pay")
					//- 				i.radio
					//- 				span Оплата наличными
					//- 			.l-bid-write__budget-footer-about
					//- 				span Оплата наличными по договорённости с исполнителем.


				.l-bid-write__contacts
					.label-txt Ваши контакты
					.row
						.col-md-6.col-sm-6
							label
								input.form-control(type="text" placeholder="Имя Фамилия")
						.col-md-6.col-sm-6
							label
								input.form-control(type="email" placeholder="E-mail")
						.col-md-6.col-sm-6
							.tel-wrap
								select.selectpicker
									option +7
									option +1
									option +373
									option +374
								label
									input.form-control.tel-input(type="tel" placeholder="Ваш телефон")
				.l-bid-write__enter
					span Уже зарегистрированы? <a href="#">Войдите!</a>
				.l-bid-write__addit-cont
					button(type="button" data-toggle="collapse" data-target="#addit-cont")
						span Дополнительные условия
					#addit-cont.collapse.addit-cont-checks
						.addit-cont-checks__wrp
							.addit-cont-checks__item
								+checkbox('Получать email-уведомления о новых предложениях')
								+checkbox('Показывать мое задание только исполнителям  ')
								+checkbox('Отключить комментарии у задания')
				.l-bid-write__agree
					button(type="submit").but.but_bondi.but_bondi_lg
						span Опубликовать
					label.check-label
						input(type="checkbox")
						i.checkbox
						span Я согласен с <a href="#">Правилами сайта</a>