.l-prof-set__wrp{

}
.l-profile-tabs{
	@media ( max-width: @screen-xs-max) {
		margin-top: 25px;
	}
	.l-prof-set__wrp{
		.nav-tabs{
			font-size: 0;
			max-width: 548px;
			margin-left: auto;
			margin-right: auto;
		}
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus{
			background-color: @y_orange;
			border-radius: 5px;
			color: #fff;
			font-size: 16px;
			font-weight: 400;
			border-bottom: none;
		}
		.nav-tabs > li > a{
			font-size: 16px;
			background-color: @gray;
			color: @gray_txt;
		    padding: 7px 19px;
			border-bottom: none;
			border-radius: 5px;
			font-weight: 400;
			@media ( max-width: 600px) {
				display: block;
			}
		}
		.nav-tabs > li{
			margin-right: 0;
			float: none;
			display: inline-block;
			@media ( max-width: 600px) {
				display: block;
			}
		}
		.tab-content{
			text-align: left;
		}
	}
}
.l-profile-settings{
	padding-top: 84px;
	padding-bottom: 40px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 40px;
	}
}
.l-prof-set__main-set{
	padding-left: 130px;
    margin-top: 26px;
    padding-bottom: 46px;
    border-bottom: 1px solid @gray;
    @media ( max-width: @screen-sm-max) {
    	padding-left: 0;
    }
    .but{
		margin-left: 202px;
		height: 45px;
		line-height: 39px;
		@media ( max-width: 600px) {
			margin-left: 0;
		}
    }
	.l-bid-write__form{
		@media ( max-width: 600px) {
			text-align: center;
		}
		.form-control{
			border-color: @gray;
			height: 43px;
			border-radius: 0;
			box-shadow: none;
		}
	}
	.l-bid-write__form .bootstrap-select .dropdown-toggle:focus{
		background-color: #fff;
	}
}
.l-prof-set__form-line{
	margin-bottom: 29px;
	@media ( max-width: 600px) {
		text-align: center;
	}
	.label-txt{
		margin-bottom: -14px;
		margin-top: 13px;
	}
	&.tel{
		.form-line__input{
			position: relative;
			.bootstrap-select{
				position: absolute;
				top: 1px;
				left: 1px;
				&:before{
					content: '';
					position: absolute;
					top: 5px;
					right: -10px;
					z-index: 2;
					width: 1px;
					height: 30px;
					display: block;
					background-color: @gray;
				}
			}
			.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
				width: 70px;
			}
			.btn{
				border: none;
			    padding: 11px 12px;
			}
			.form-control{
			    padding-left: 90px;
			}
		}
	}
	.form-line__input{
		width: 271px;
		position: relative;
		float: left;
		@media ( max-width: 600px) {
			// margin-left: auto;
			width: 100%;
			margin-right: auto;
			float: none;
		}
	}
	.data-type{
		width: 202px;
		float: left;
		padding-left: 16px;
		padding-top: 12px;
		font-size: 16px;
		position: relative;
		@media ( max-width: 600px) {
			float: none;
			padding-left: 0;
			padding-top: 0;
			margin-bottom: 10px;
			margin-left: auto;
			margin-right: auto;
			font-size: 14px;
			text-align: left;
			width: auto;
		}
		&.req{
			&:before{
				content: '*';
				position: absolute;
				color: @y_orange;
				font-size: 16px;
				display: block;
				top: 6px;
    			left: 2px;
    			@media ( max-width: 600px) {
    				display: none;
    			}
			}
		}
	}
	.form-control{
		font-size: 16px;
		font-weight: 400;
		@media ( max-width: 600px) {
			font-size: 14px;
		}
	}
	.btn-default{
		border-color: @gray;
	}
	.btn{
		border-radius: 0;
		padding: 12px 12px;
	}
	.bs-caret{
	    top: 14px;
	    &:before{
	    	border-color: @bondi_blue;
	    }
	}
	.bootstrap-select > .dropdown-toggle.bs-placeholder,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:active{
		border-color: @gray;
		color: black;
	}
	.btn-default:active,
	.btn-default.active,
	.open > .dropdown-toggle.btn-default{
	    border-color: @gray;
	}
}
.form-line__input-select{
	float: left;
	margin-right: 9px;
	&:nth-child(1){
		width: 76px;
	}
	&:nth-child(2){
		width: 101px;
	}
	&:nth-child(3){
		width: 76px;
		margin-right: 0;
	}
}
.l-prof-set__sex{
	label{
		position: relative;
		float: left;
		width: 50%;
		height: 33px;
		cursor: pointer;
		@media ( max-width: 600px) {
			float: none;
		}
		input{
			position: absolute;
			opacity: 0;
			visibility: hidden;
			&:checked{
				& ~ .l-prof-set__sex-but{
					background-color: @y_orange;
					color: #fff;
				}
			}
		}
	}
	.l-prof-set__sex-but{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: @gray;
		color: @gray_txt;
		font-weight: 400;
		text-align: center;
		border-radius: 5px;
		line-height: 30px;
		padding: 0 10px;
		transition: all 0.3s ease;
	}
}
.l-prof-set__change-pass{
	padding-top: 10px;
	h5{
		margin-bottom: 30px;
	}
}
.l-prof-set__delete-profile{
	text-align: center;
	padding-top: 55px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 30px;
	}
	h5{
		text-align: center;
		margin-bottom: 30px;
	}
	.but{
		height: 45px;
		line-height: 39px;
    }
}
.l-prof-set__notice{
    padding-left: 170px;
    padding-top: 45px;
    @media ( max-width: @screen-sm-max) {
    	padding-left: 0;
    }
    h5{
    	margin-bottom: 30px;
    }
	label{
		display: block;
		font-weight: 300;
		.checkbox{
			@media ( max-width: @screen-xs-max) {
				position: absolute;
				top: -10px;
				left: 0;
			}
		}
		span{
			@media ( max-width: @screen-xs-max) {
				padding-left: 30px;
			}
		}
	}
	p{
		padding-left: 25px;
		margin-bottom: 0;
		@media ( max-width: @screen-xs-max) {
			padding-left: 0;
		}
		a{
			color: @bondi_blue;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.but{
		margin-top: 50px;
	    height: 45px;
    	line-height: 39px;
	}
}
.l-prof-set__subs-item-but{
	background-color: @gray;
    padding-left: 29px;
    padding-top: 3px;
    cursor: pointer;
    @media ( max-width: @screen-xs-max) {
    	padding-left: 15px;
    	padding-right: 15px;	
    }
    &[aria-expanded="true"]{
    	background-color: #e5fdff;
    	& ~ .l-prof-set__subs-item-cont{
    		background-color: #e5fdff;
    	}
    }
	
}
.l-prof-set__subs-item-cont{
	background-color: @gray;
}
.l-prof-set__subs-item-cont-wrp{
	padding-left: 70px;
	padding-top: 5px;
	padding-bottom: 10px;
	@media ( max-width: @screen-xs-max) {
		padding-left: 30px;
	}	
}
.l-prof-set__subs-item{
	border-radius: 5px;
	&:not(:last-child){
		margin-bottom: 16px;
	}
	label{
		display: block;
		font-weight: 300;
		font-size: 16px;
		cursor: pointer;
		b{
			color: @gray_txt;
			font-weight: 300;
		}
		span{
			padding-left: 30px;	
		}
		i{
			background-color: #fff;
			@media ( max-width: @screen-xs-max) {
				position: absolute;	
				top: -8px;	
				left: 0;
			}	
			&:before{
				background: none;
				box-shadow: none;
			}
		}
		&.main-label{
			color: @bondi_blue;
			font-size: 18px;
			font-weight: 400;
			display: inline-block;
			@media ( max-width: @screen-xs-max) {
				font-size: 16px;
			}
		}
	}
}
.l-prof-set__subs{
    padding-top: 51px;
    h5{
    	margin-bottom: 37px;
    }
}
.l-prof-set__geo{
	margin-top: 54px;
	p{
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
	h5{
		margin-bottom: 35px;
	}
	label{
		font-weight: 300;
		i{
			position: absolute;
			top: 0;
			left: 0;
			background-color: #fff;
			&:before{
				box-shadow: none;
				background: none;
			}
		}
		span{
			padding-left: 30px;
			line-height: 24px;
			font-size: 16px;
			@media ( max-width: @screen-xs-max) {
				font-size: 14px;
			}
		}
	}
}
.l-prof-set__geo-change{
	background-color: #f2f6f8;
	border-radius: 5px;
	padding: 30px;
}
.l-prof-set__geo-item{
	margin-bottom: 30px;
	.but{
		height: 36px;
		line-height: 35px;
		padding: 0 30px;
		@media ( max-width: @screen-xs-max) {
			padding: 0 15px;
		}
	}
	span{
		display: block;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 15px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
}
.l-prof-set__types{
	margin-top: 60px;
	h5{
		margin-bottom: 10px;
	}
}
.l-prof-set__types-line{
	b{
		font-weight: 300;
	}
	.icon{
		color: #b4c1bb;
		margin-right: 5px;
	}
	.icon-mail{
		width: 18px;
		height: 12px;
	}
	.icon-smartphone{
		height: 18px;
		width: 11px;
	}
	label{
		display: inline-block;
		margin-left: 12px;
		@media ( max-width: @screen-xs-max) {
			display: block;
			margin-bottom: -6px;
		}
		span{
			padding-left: 7px;
		}
		i{
			&:before{
				box-shadow: none;
				background: none;
			}
		}
	}
}
.l-prof-set__button{
	margin-top: 46px;
	.but{
		height: 43px;
    	line-height: 40px;
	}
}

label.success, .selectize-input.success{
	&:before{
		content: '';
		width: 9px;
		height: 15px;
		border-right: 3px solid @l_green;
		border-bottom: 3px solid @l_green;
		transform: rotate(45deg);
		position: absolute;
		top: 10px;
		display: block;
		right: -30px;
		@media ( max-width: @screen-xs-max) {
			display: none;
		}
	}
	.form-control{
		border-color: @l_green;
	}
}