mixin sub-label(txt1, price)
	label.check-label
		input(type="checkbox")
		i.checkbox
		span #{txt1} 
			b ( от 550 руб.)

mixin collapse-item(id, name, active, disable_sub_labels)
	.l-prof-set__subs-item
		.l-prof-set__subs-item-but(data-toggle=disable_sub_labels ? null : "collapse", data-target=disable_sub_labels ? null : "##{id}", class=active ? null : 'collapsed')
			label.check-label.main-label
				input(type="checkbox")
				i.checkbox
				span #{name} 
		unless (disable_sub_labels)
			.l-prof-set__subs-item-cont.collapse(id="#{id}", class=active ? 'in' : null)
				.l-prof-set__subs-item-cont-wrp
					+sub-label('Услуги пешего курьера')
					+sub-label('Услуги курьера на легковом авто')
					+sub-label('Купить и доставить')
					+sub-label('Срочная доставка')
					+sub-label('Доставка продуктов')
					+sub-label('Доставка еды из ресторанов')
					+sub-label('Курьер на день')
					+sub-label('Другая посылка')

mixin l-profile-settings(data)
	.l-profile-settings
		.l-prof-set__wrp
			.l-prof-set__tabs
				ul.nav.nav-tabs
					li.active
						a(href='#main-set' data-toggle='tab') Общие настройки
					li
						a(href='#notice' data-toggle='tab') Уведомления
					li
						a(href='#subscribe' data-toggle='tab') Подписка на задания
				.tab-content
					#main-set.tab-pane.fade.in.active
						form.l-prof-set__main-set
							.l-bid-write__form
								.l-prof-set__form-line.clearfix
									.data-type.req Имя
									.form-line__input
										input.form-control(type="text" value="Виктория")
								.l-prof-set__form-line.clearfix
									.data-type Фамилия
									.form-line__input
										input.form-control(type="text" value="Хриновськая")
								.l-prof-set__form-line.clearfix
									.data-type.req Город
									.form-line__input.success
										input.form-control(type="text" value="Львов")
								.l-prof-set__form-line.clearfix
									.data-type.req День Рождения
									.form-line__input
										.form-line__input-select
											select.selectpicker(title="День")
												option 1
												option 2
												option 3
										.form-line__input-select
											select.selectpicker(title="Месяц")
												option Январь
												option Февраль
												option Март
										.form-line__input-select
											select.selectpicker(title="Год")
												option 1990
												option 1991
												option 1992
								.l-prof-set__form-line.clearfix
									.data-type.req Пол
									.form-line__input
										.l-prof-set__sex.clearfix
											label
												input(type="radio" value="male" name="sex")
												span.l-prof-set__sex-but Мужчина
											label
												input(type="radio" value="female" name="sex" checked)
												span.l-prof-set__sex-but Женщина
								.l-prof-set__form-line.clearfix.tel
									.data-type.req Телефон
									.form-line__input
										select.selectpicker
											option +7
											option +898
											option +123
										input(type="tel" value="9745361462771").form-control
										.label-txt Телефон скрыт от других пользователей
								.l-prof-set__form-line.clearfix
									.data-type.req E-mail
									.form-line__input
										input.form-control(type="email" value="adia_lia@gmail.com")
										.label-txt Почтовый адрес скрыт от других пользователей
								button(type="submit").but.but_bondi
									span Сохранить
						.l-prof-set__change-pass
							.l-prof-set__main-set
								h5 Изменить пароль
								.l-bid-write__form
									.l-prof-set__form-line.clearfix
										.data-type Пароль
										.form-line__input
											input.form-control(type="password")
									.l-prof-set__form-line.clearfix
										.data-type Подтвердить
										.form-line__input
											input.form-control(type="password")
								button(type="submit").but.but_bondi
									span Сохранить
						.l-prof-set__delete-profile
							h5 Вы можете удалить свой профиль на Pomogoo
							a(href="#").but.but_bondi
								span Удалить профиль
					#notice.tab-pane.fade
						form.l-prof-set__notice
							h5 Получать уведомления:
							label.check-label
								input(type="checkbox")
								i.checkbox
								span Системные уведомления
							label.check-label
								input(type="checkbox")
								i.checkbox
								span СМС о новом личном сообщении в чате
							label.check-label
								input(type="checkbox")
								i.checkbox
								span Я хочу получать новости сайта
							p Подписываться на задания могут только исполнители с <a href="#">подтвержденным аккаунтом.</a>
							button(type="submit").but.but_bondi
								span Сохранить
					#subscribe.tab-pane.fade
						form
							.l-prof-set__subs
								h5 1. Выберите категории
								+collapse-item('serv_2', 'Курьерские услуги')
								+collapse-item('serv_3', 'Бытовой ремонт')
								+collapse-item('serv_4', 'Грузоперевозки')
								+collapse-item('serv_5', 'Уборка и помощь по хозяйству')
								+collapse-item('serv_6', 'Виртуальный помощник')
								+collapse-item('serv_7', 'Компьютерная помощь')
								+collapse-item('serv_8', 'Мероприятия и промо-акции')
								+collapse-item('serv_9', 'Дизайн')
								+collapse-item('serv_10', 'Web-разработка')
								+collapse-item('serv_11', 'Фото- и видео-услуги')
								+collapse-item('serv_12', 'Установка и ремонт техники')
								+collapse-item('serv_13', 'Красота и здоровье')
								+collapse-item('serv_14', 'Ремонт цифровой техники')
								+collapse-item('serv_15', 'Юридическая помощь')
								+collapse-item('serv_16', 'Репетиторы и образование')
								+collapse-item('serv_17', 'Ремонт транспорта')
							.l-prof-set__geo
								h5 2. Геопозиция. Свердловская и Челябинская область
								p Выберите метро или районы, из которых хотите получать уведомления о новых заданиях:
								.l-prof-set__geo-change
									.l-prof-set__geo-item
										span Свердловск (выбран весь город)
										a(href="#").but.but_y-orange
											span Изменить станции метро
									.l-prof-set__geo-item
										span Челябинская область (не выбрано)
										a(href="#").but.but_y-orange
											span Выбрать район на карте
									label.l-prof-set__geo-label.check-label
										input(type="checkbox")
										i.checkbox
										span Отправлять уведомление, если новое задание находится рядом со мной. Если на вашем телефоне установлено мобильное приложение.
							.l-prof-set__types
								h5 3. Типы уведомлений
								.l-prof-set__types-line
									span Уведомлять меня по:
									label.check-label
										input(type="checkbox")
										i.checkbox
										span
											+svg('icon-mail')
											b E-mail
									label.check-label
										input(type="checkbox")
										i.checkbox
										span
											+svg('icon-smartphone')
											b Push
							.l-prof-set__button
								button(type="submit").but.but_bondi
									span Сохранить

