mixin l-catalog-services(data)
	.l-catalog-services
		.l-cat-serv__head
			b Курьерские услуги
			form.l-cat-serv__bottom.clearfix
				.l-cat-serv__bottom-left
					select.selectpicker(title="По рейтингу")
						option(data-icon="ico ico-orange-star") По рейтингу
						option(data-icon="ico ico-green-user") Новые исполнители
					label
						input(type="checkbox")
						i
						span Сейчас на сайте
				.l-cat-serv__bottom-right
					a(href="#") Санкт-Петербург
		.l-cat-serv__body
			mixin item(img)
				.l-cat-serv__item
					.l-cat-serv__item-left
						.h-object-fit
							img(src="s/images/tmp_file/#{img}.jpg", alt="")
						.l-cat-serv__item-left-revs
							span.revs-name Отзывы
							span.revs-count
								+svg('icon-like-2')
								span 77
						.l-cat-serv__item-left-stars
							+svg('icon-star')
							+svg('icon-star')
							+svg('icon-star')
							+svg('icon-star')
							+svg('icon-star')
					.l-cat-serv__item-right
						.l-cat-serv__item-right-head.clearfix
							.l-cat-serv__it-rght-hd-left
								.l-cat-serv__item-name Альбина Митько
								.l-cat-serv__item-icons
									.l-cat-serv__item-icon
										i.ico.ico-type-one
										.popup
											span Процент успешно выполненных заданий
									.l-cat-serv__item-icon
										i.ico.ico-type-two
										.popup
											span Процент успешно выполненных заданий
									.l-cat-serv__item-icon
										i.ico.ico-type-three
										.popup
											span Процент успешно выполненных заданий
									.l-cat-serv__item-icon
										i.ico.ico-type-four
										.popup
											span Процент успешно выполненных заданий
							.l-cat-serv__it-rght-hd-right 700 руб./час
						.l-cat-serv__it-rght-hd-status Сейчас на сайте
						.l-cat-serv__item-right-body
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
						.l-cat-serv__item-right-footer
							a(href="#").but.but_bondi
								span Предложить задание
			+item('user5')
			+item('user8')
			+item('user9')
			+item('user10')
			+item('user11')
			+item('user12')
			+item('user13')
			+item('user14')
		.l-cat-serv__footer.clearfix
			.c-pagination
				ul
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") 4
					li
						a(href="#") 5
					li
						a(href="#") 6
					li
						a(href="#") 7
					li
						a(href="#") 8
					li
						a(href="#") 9
					li
						a(href="#") 10
					li
						a(href="#") 11
					li
						a(href="#") 12
					li
						a(href="#") 13
					li
						a(href="#") 14
					li
						a(href="#") 15