mixin collapse_content()
	.l-faq__dropdowns-item-about
		span Мы подготовили для вас небольшой ролик о том, как устроен Pomogoo для исполнителей. Во время просмотра рекомендуем развернуть видео на полный экран.
		.l-faq__dropdowns-item-video
			iframe(src='https://www.youtube.com/embed/K8_9RrlHwAw', frameborder='0', allowfullscreen='')
		span Если вы еще не стали исполнителем, посмотрите, как это сделать. Если вы уже подали заявку на регистрацию исполнителя и ожидаете решение Pomogoo, либо статус исполнителя вам уже присвоен (о чем вы должны получить email и смс-подтверждение), обязательно ознакомьтесь с нашими рекомендациями ниже.
	ol.l-faq__dropdowns-item-list.h-list
		li
			span.l-faq__dropdowns-item-ttl 1. Прочитайте правила сервиса
			p Обязательно ознакомьтесь с основными нарушениями, за которые можно лишиться статуса исполнителя без возможности восстановления доступа.
		li
			span.l-faq__dropdowns-item-ttl 2. Не поленитесь правильно оформить свой профиль
			p Расскажите о себе: сколько вам лет, где учились, работали. Укажите все преимущества, которые получит заказчик, если выберет вас исполнителем своего задания.
			ul.h-list
				li - Отметьте категории заданий, в которых готовы работать.
				li - Перечислите спектр ваших услуг и их стоимость.
				li - Загрузите примеры своих работ. Даже если вы планируете работать курьером, то можете загрузить свое фото с посылкой или букетом цветов.
			p Важно! В профиле запрещено указывать любые контактные данные: телефон, e-mail, ссылки на сторонние сервисы.
			p Примеры заполнения профилей вы можете посмотреть в разделе “Исполнители”.  
		li
			span.l-faq__dropdowns-item-ttl 3. Подпишитесь и следите за появлением новых заданий
			p Вы можете подписаться на <a href="#">определенные задания</a> по категориям и районам. Уведомления о новых заданиях будут приходить вам на e-mail и через push-уведомления мобильного приложения Pomogoo.
			p Мы рекомендуем установить и использовать наши мобильные приложения (IOS и Android), чтобы максимально быстро реагировать на новые задания и отвечать на вопросы заказчиков. На сайте вы можете просматривать список актуальных заданий из вашего города по категориям, фильтровать задания, которые еще не имеют предложений или которые требуют выполнения прямо сейчас (горячие задания). На сегодняшний день Pomogoo работает в Москве и Санкт-Петербурге, но вы можете выполнять удалённые задания, находясь в любом городе Российской Федерации. Это могут быть задания из категории «Виртуальный помощник», «Интернет и дизайн», «Юридическая помощь» и другие. Мы обязательно будем анонсировать запуск проекта в новых регионах.
			

mixin drop_item(btn_txt, id)
	.l-faq__dropdowns-item
		button.l-faq__dropdowns-item-btn(data-toggle="collapse" data-target="##{id}")
			+svg('icon-quote')
			span #{btn_txt}
		.l-faq__dropdowns-item-content-wrp.collapse(id="#{id}")
			.l-faq__dropdowns-item-content
				+collapse_content()

mixin l-faq(data)
	.l-tech-content
		.l-faq
			h1 Частые вопросы
			.l-faq__dropdowns
				+drop_item('Что важно знать исполнителям для успешного старта?', 'faq_1')
				+drop_item('Отзывы пользователей о пакетах безлимитных предложений', 'faq_2')
				+drop_item('Что важно знать исполнителям для успешного старта?', 'faq_3')
				+drop_item('Отзывы пользователей о пакетах безлимитных предложений', 'faq_4')
				+drop_item('Что важно знать исполнителям для успешного старта?', 'faq_5')
				+drop_item('Отзывы пользователей о пакетах безлимитных предложений', 'faq_6')
				+drop_item('Что важно знать исполнителям для успешного старта?', 'faq_7')
				+drop_item('Отзывы пользователей о пакетах безлимитных предложений', 'faq_8')
				+drop_item('Что важно знать исполнителям для успешного старта?', 'faq_9')
				+drop_item('Отзывы пользователей о пакетах безлимитных предложений', 'faq_10')
				+drop_item('Что важно знать исполнителям для успешного старта?', 'faq_11')
				+drop_item('Отзывы пользователей о пакетах безлимитных предложений', 'faq_12')
				+drop_item('Что важно знать исполнителям для успешного старта?', 'faq_13')
				+drop_item('Отзывы пользователей о пакетах безлимитных предложений', 'faq_14')
				+drop_item('Что важно знать исполнителям для успешного старта?', 'faq_1')
			.l-faq__btn
				a(href="#").but.but_bondi
					span Показать еще