.l-faq__dropdowns-item-content{
    background-color: #f2f6f8;
    font-size: 16px;
    line-height: 24px;
    color: black;
    padding-top: 31px;
    padding-bottom: 20px;
    @media ( max-width: @screen-md-max) {
    	font-size: 14px;
    	line-height: 20px;
    }
}
.l-tech-content{
	@media ( max-width: @screen-md-max) {
		padding-left: 30px;
	}
	@media ( max-width: @screen-sm-max) {
		padding-left: 0;
		margin-top: 30px;
	}
}
.l-faq__dropdowns-item-btn{
    font-size: 24px;
    font-weight: 400;
    position: relative;
    padding-top: 28px;
    display: block;
    width: 100%;
    text-align: left;
    padding-bottom: 28px;
    border-bottom: 1px solid #EEECF1;
    @media ( max-width: @screen-md-max) {
    	font-size: 20px;
    	padding-top: 22px;
    	padding-bottom: 22px;
    }
    @media ( max-width: @screen-sm-max) {
    	font-size: 18px;
    	padding-top: 15px;
    	padding-bottom: 15px;
    }
    @media ( max-width: @screen-xs-max) {
    	padding-right: 30px;
    	font-size: 14px;
    }
    &.active{
    	&:before{
    		transform: rotate(-135deg);
    		top: 40px;
    		@media ( max-width: @screen-md-max) {
    			top: 30px;
    		}
    		@media ( max-width: @screen-sm-max) {
    			top: 20px;
    		}
    		@media ( max-width: @screen-xs-max) {
    			top: 28px;
    		}
    	}
    }
    &:before{
    	content: '';
    	width: 18px;
    	height: 18px;
    	border-right: 2px solid @bondi_blue;
    	border-bottom: 2px solid @bondi_blue;
    	display: block;
    	transform: rotate(45deg);
    	position: absolute;
    	top: 32px;
    	right: 0;
    	transition: all 0.3s ease;
    	@media ( max-width: @screen-md-max) {
    		top: 24px;
    		width: 14px;
    		height: 14px;
    	}
		@media ( max-width: @screen-sm-max) {
			top: 14px;
			width: 12px;
			height: 12px;
		}
		@media ( max-width: @screen-xs-max) {
			top: 22px;
		}
    }
	.icon{
		width: 15px;
		height: 12px;
		color: @bondi_blue;
		position: absolute;
		top: 36px;
		left: 0;
		@media ( max-width: @screen-md-max) {
			top: 29px;
		}
		@media ( max-width: @screen-sm-max) {
			top: 20px;
		}
		@media ( max-width: @screen-xs-max) {
			position: static;
			float: left;
		}
	}
	span{
		padding-left: 30px;
    	letter-spacing: 0.1px;
    	@media ( max-width: @screen-xs-max) {
    		overflow: hidden;
    		display: block;
    		padding-left: 11px;
    	}
	}
}

.l-faq__dropdowns{
	margin-top: 7px;
	@media ( max-width: @screen-sm-max) {
		margin-top: 27px;
	}
}
.l-faq__dropdowns-item-video{
	margin-top: 29px;
    margin-bottom: 63px;
    @media ( max-width: @screen-xs-max) {
    	margin: 15px 0;
    }
	iframe{
		width: 100%;
		height: 475px;
		@media ( max-width: @screen-xs-max) {
			height: 225px;
		}
	}
}
.l-faq__dropdowns-item-about{
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 25px;
    @media ( max-width: @screen-xs-max) {
    	padding-left: 15px;
    	padding-right: 15px;
    }
}
.l-faq__dropdowns-item-ttl{
    font-size: 24px;
    margin-bottom: 34px;
    display: block;
    @media ( max-width: @screen-md-max) {
    	font-size: 20px;
    }
    @media ( max-width: @screen-sm-max) {
    	font-size: 18px;
    }
    @media ( max-width: @screen-xs-max) {
    	font-size: 16px;
    	margin-bottom: 21px;
    }
}
.l-faq__dropdowns-item-list{
	a{
		color: @bondi_blue;
		&:hover{
			color: @y_orange;
		}
	}
	p{
		margin-bottom: 0;
		&:last-child{
			margin-top: 24px;
		}
	}
	li{
		padding-left: 31px;
		padding-right: 31px;
		border-top: 1px solid @y_orange;
		padding-top: 27px;
		padding-bottom: 27px;
		@media ( max-width: @screen-xs-max) {
			padding: 15px;
		}
	}
	ul{
		li{
			padding-left: 0;
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
			border-top: none;
		}
	}
}
.l-faq__btn{
    text-align: center;
    margin-top: 63px;
    @media ( max-width: @screen-sm-max) {
    	margin-top: 40px;
    }
    .but{
		font-size: 24px;
		font-weight: 400;
		padding: 0 69px;
		height: 74px;
		line-height: 70px;
		@media ( max-width: @screen-md-max) {
		    font-size: 20px;
		    padding: 0 45px;
		    height: 54px;
		    line-height: 53px;
		}
    }
}
.l-faq{
	padding-bottom: 83px;
	@media ( max-width: @screen-md-max) {
		padding-bottom: 50px;
	}
	@media ( max-width: @screen-sm-max) {
		padding-bottom: 30px;
	}
}