mixin l-how-it-works-txt(data)
	.l-how-it-works-txt
		h1 Как это работает?
		p <b>Pomogoo</b> — удобный сервис, который позволяет быстро и безопасно находить надежных исполнителей для решения бытовых и бизнес-задач. Вам достаточно разместить свое задание на сервисе. Через несколько минут вы начнете получать предложения от исполнителей, которые будут готовы решить вашу проблему.
		p Выполнять задания на Pomogoo могут исполнители, которые прошли <a href="#">специальную проверку</a> администрацией сервиса. Вы можете убедиться, что наш сервис <a href="#">безопасен для заказчиков.</a> <br>Мы работаем в Екатеринбурге и Челябинске, а так же на территории Свердловской и Челябинской областях