.c-task-card {
	&__tools{
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
	}
	&__tool{
		margin-bottom: 10px;
		&:not(:last-child){
			position: relative;
			padding-right: 24px;
			&:after{
				content: '';
				width: 1px;
				height: 16px;
				background-color: #c3cbc4;
				position: absolute;
				top: 0;
				right: 12px;
			}
		}
		&.is-atlantis{
			color: @atlantis;
		}
		&.done{
			color: @y_orange;
		}
	}
}
.l-task-card__header{
	h1{
		margin-bottom: 30px;
	}
}
.l-task-card-wrapper{
	.row{
		margin: 0;
	}
	[class*='col']{
		padding: 0;
	}
}
.l-task-card{
	padding-top: 76px;
	padding-right: 70px;
	padding-bottom: 84px;
	@media ( max-width: @screen-sm-max) {
		padding: 30px 0;
	}
}
.l-task-card__table{
	box-shadow: 0 0 6.7px 1.3px rgba(1, 17, 38, 0.08);
	padding-top: 26px;
	margin-top: 22px;
	padding-bottom: 30px;
	
}
.table-item__key{
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 90px;
	@media ( max-width: @screen-xs-max) {
		float: none;
		margin-bottom: 10px;
	}
}
.table-item__val{
	padding-left: 37px;
	overflow: hidden;
	@media ( max-width: @screen-md-max) {
		padding-left: 20px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-left: 0;
	}
}
.l-task-card__table-item{
    margin-bottom: 27px;
    padding-left: 30px;
    padding-right: 30px;
    @media ( max-width: @screen-xs-max) {
    	padding-left: 15px;
    	padding-right: 15px;
    }
    &.need{
    	background-color: @gray;
    	padding-top: 30px;
    	padding-bottom: 30px;
    	@media ( max-width: @screen-xs-max) {
    		padding-top: 15px;
    		padding-bottom: 15px;
    	}
    }
}
.table-item__val-imgs{
	margin-top: 30px;
	.row{
		margin: 0 -13px;
	}
	.table-item__val-col{
		float: left;
		padding: 0 13px;
		width: 20%;
		@media ( max-width: @screen-xs-max) {
			width: 33.3333%;
			margin-bottom: 15px;
		}
	}
	.h-object-fit{
		height: 100px;
		@media ( max-width: @screen-md-max) {
		    height: 70px;
		}
	}
}
.table-item__val{
	p{
		margin-bottom: 0;
		line-height: 24px;
	}
}
.l-task-card__table-btns{
	margin-top: 60px;
	padding-left: 30px;
	@media ( max-width: @screen-xs-max) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.table-btns__add{
	background-color: @gray;
	border-radius: 5px;
	text-align: center;
	padding: 6px 62px;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.3s ease;
	@media ( max-width: @screen-xs-max) {
		padding: 5px 15px;
		display: block;
		max-width: 300px;
	}
	&:hover{
		background-color: (@gray - 10%);
	}
	b{
		display: block;
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 5px;
		@media ( max-width: @screen-xs-max) {
			font-size: 20px;
		}
	}
	span{
		display: block;
	}
}
.table-btns__tw{
	display: inline-block;
	vertical-align: middle;
	margin-left: 36px;
	@media ( max-width: @screen-xs-max) {
		margin-left: 0;
		display: block;
		margin-top: 20px;
	}
	&:hover{
		span{
			text-decoration: none;
		}
	}
	.icon{
		width: 17px;
		height: 13px;
		margin-right: 10px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		text-decoration: underline;
	}
}
.l-task-card__table-complaint{
	margin-top: 28px;
	padding-left: 124px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 20px;
		padding-left: 15px;
	}
	a{
		color: @y_orange;
		&:hover{
			span{
				text-decoration: none;
			}
		}
		.icon{
			height: 22px;
			width: 16px;
		}
		span{
			display: inline-block;
			vertical-align: middle;
			padding-left: 10px;
			text-decoration: underline;
		}
	}
}
.l-task-card__reviews-head{
	b, .card__reviews-head-stars, span{
		display: inline-block;
		vertical-align: bottom;
		@media ( max-width: @screen-xs-max) {
			display: block;
		}
	}
	.card__reviews-head-stars{
		@media ( max-width: @screen-xs-max) {
			margin: 10px 0;
		}
		.icon{
			width: 32px;
			height: 32px;
			color: @y_orange;
			@media ( max-width: @screen-xs-max) {
				width: 20px;
				height: 20px;
			}
		}
	}
	b{
		font-size: 30px;
		font-weight: 400;
		margin-right: 15px;
		line-height: 25px;
		@media ( max-width: @screen-xs-max) {
			font-size: 24px;
			margin-right: 0;
		}
	}
	span{
		font-size: 16px;
		color: @gray_txt;
		margin-left: 15px;
		@media ( max-width: @screen-xs-max) {
			margin-left: 0;
		}
	}
}
.l-task-card__reviews-head{
	padding-bottom: 15px;
	border-bottom: 1px solid @gray;
	margin-bottom: 100px;
	@media ( max-width: @screen-md-max) {
		margin-bottom: 50px;
	}
}
.l-task-card__reviews{
	margin-top: 60px;
}
.l-task-card{
	@media ( max-width: @screen-sm-max) {
		padding-right: 0;
	}
	h5{
		font-size: 30px;
		font-weight: 400;
		@media ( max-width: @screen-xs-max) {
			font-size: 24px;
		}
	}
}
.l-task-card__bid{
	margin-top: 52px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
	}
	h5{
	    margin-bottom: 30px;
	}
	p{
		margin-bottom: 0;
		font-size: 16px
	}
	a{
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.comments-item__img{
	width: 42px;
	height: 42px;
	float: left;
	display: block;
}
.comments-item__txt{
	overflow: hidden;
	padding-left: 18px;
	margin-top: -4px;
}
.comments-item__cont{
	margin-top: 11px;
	font-size: 16px;
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
	}
}
.comments-item__name{
	display: block;
	b{
		font-size: 16px;
		color: @bondi_blue;
		display: inline-block;
		vertical-align: middle;
		font-weight: 300;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
	span{
		color: @gray_txt;
		display: inline-block;
		vertical-align: middle;
		padding-left: 5px;
		@media ( max-width: @screen-xs-max) {
			display: block;
			padding-left: 0;
		}
	}
	strong{
		font-size: 14px;
		font-weight: 600;
		color: @gray_txt;
		display: inline-block;
		vertical-align: middle;
		padding-left: 5px;
	}
}
.l-task-card__comments-item-wrp{
	&:not(:last-child){
		margin-bottom: 30px;
	}
}
.l-task-card__comments{
	margin-top: 57px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
	}
	h5{
	    margin-bottom: 68px;
	    @media ( max-width: @screen-xs-max) {
	    	margin-bottom: 30px;
	    }
	}
}
.comments-item__complaint{
	display: inline-block;
	margin-top: 16px;
	color: @y_orange;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
		color: @y_orange;
	}
}
.l-task-card__comments-item{
	&.sub{
		margin-left: 60px;
		margin-top: 12px;
		padding-top: 30px;
		padding-left: 28px;
		padding-bottom: 29px;
		padding-right: 28px;
		background-color: @gray;
		@media ( max-width: @screen-xs-max) {
			margin-left: 0;
			padding: 15px;
		}
		.comments-item__complaint{
			color: @gray_txt;
			&:hover{
				color: @gray_txt;
			}
		}
	}
}
.l-task-card__table-btns{
	strong{
		font-weight: 400;
		font-size: 16px;
		display: block;
		margin-bottom: 10px;
		color: @y_orange;
	}
}
.l-task-card__to-create{
	a{
		display: inline-block;
		vertical-align: middle;
		font-weight: 600;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			display: block;
		}
	}
	.but{
		font-size: 24px;
		font-weight: 400;
		margin-right: 10px;
		@media ( max-width: @screen-xs-max) {
			margin-right: 0;
			margin-bottom: 10px;
			font-size: 18px;
			height: auto;
			line-height: 28px;
			padding: 10px 15px;
		}
	}
}
.l-task-card__share{
	margin-top: 30px;
	text-align: center;
	a{
		span{
			padding-left: 10px;
		}
	}
}
.l-task-card__table{
	&.map{
		padding-top: 0;
	}
}
.l-task-card__table-item{
	&.map{
		padding-left: 0;
		padding-right: 0;
	}
	#card-task-map{
		height: 216px;
		width: 100%;
	}
	&.destination{
		padding-top: 40px;
		.table-item__val{
		    margin-top: -16px;
		    @media ( max-width: @screen-xs-max) {
		    	margin-top: 0;
		    }
		}
	}
}
.table-item__val-adr{
	line-height: 24px;
	span{
		font-weight: 600;
	}
}
.table-item__val-distance{
	color: @gray_txt;
	line-height: 24px;
}
.l-task-card__table-two-btns{
	padding-left: 32px;
	padding-right: 32px;
	margin-top: 40px;
	@media ( max-width: @screen-xs-max) {
		padding-left: 15px;
		padding-right: 15px;
	}
	p{
		color: @gray_txt;
		margin-bottom: 0;
		line-height: 24px;
		&:last-child{
			margin-bottom: 40px;
		}
	}
	[class*="col-"]{
		padding: 0 16px;
		@media ( max-width: @screen-xs-max) {
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}
	}
	.row{
		margin: 0 -16px;
	}
}
.table-two-btns__item{
	text-align: center;
	.link_bondi{
		margin-top: 20px;
		display: inline-block;
		@media ( max-width: @screen-xs-max) {
			margin-top: 10px;
		}
		&.orange{
			color: @y_orange;
		}
		&:hover{
			color: @bondi_blue;
			&.orange{
				color: @y_orange;
			}
			span{
				text-decoration: none;
			}
		}
		span{
			padding-left: 5px;
			display: inline-block;
			vertical-align: middle;
			text-decoration: underline;
		}
	}
	.task-but{
		width: 100%;
		height: 64px;
		border-radius: 5px;
		line-height: 60px;
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		display: block;
		color: #fff;
		transition: all 0.3s ease;
		@media ( max-width: @screen-xs-max) {
			font-size: 18px;
			height: 46px;
			line-height: 42px;
		}
		&.green{
			background-color: @l_green;
			&:hover{
				background-color: (@l_green - 30%)
			}
		}
		&.orange{
			background-color: @y_orange;
			&:hover{
				background-color: (@y_orange - 30%)
			}
		}
	}
}
.l-task-card__comments-empty{
	.icon{
		width: 105px;
		height: 98px;
		float: left;
		@media ( max-width: @screen-xs-max) {
			float: none;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	.comments-empty__txt{
		overflow: hidden;
		padding-left: 35px;
		@media ( max-width: @screen-xs-max) {
			padding-left: 0;
			font-size: 14px;
			line-height: 24px;
		}
		label{
			margin-top: 20px;
			span{
				@media ( max-width: @screen-xs-max) {
					padding-left: 30px;
				}
			}
			.checkbox{
				@media ( max-width: @screen-xs-max) {
					position: absolute;
					top: 2px;
					left: 0;
				}
				&:before{
					box-shadow: none;
					background: none;
				}
			}
		}
	}
	p{
		font-size: 16px;
		line-height: 30px;
		color: @gray_txt;
		margin-bottom: 0;
	}
}
.comments-empty__link{
	color: @gray_txt;
	text-decoration: underline;
	display: inline-block;
	margin-top: 20px;
	&:hover{
		text-decoration: none;
	}
}
.l-task-card__table-add{
	padding-left: 32px;
	padding-right: 32px;
	margin-top: 60px;
	padding-top: 8px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.table-btns__add{
		color: #fff;
		background-color: @l_green;
		float: left;
		@media ( max-width: @screen-xs-max) {
			float: none;
		}
		&:hover{
			background-color: (@l_green - 30%);
		}
	}
}
.l-task-card__table-add-wrp{
	padding-bottom: 60px;
	border-bottom: 1px solid @l_green;
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
	}
}
.table-btns__add-lnks{
	overflow: hidden;
	padding-left: 40px;
	@media ( max-width: @screen-xs-max) {
		padding-left: 0;
		margin-top: 20px;
	}
	a{
		color: @bondi_blue;
		text-decoration: underline;
		display: block;
		&:not(:last-child){
			margin-bottom: 25px;
		}
		&:hover{
			text-decoration: none;
			color: @y_orange;
		}
	}
}
.l-task-card__table-or{
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	padding-top: 25px;
	@media ( max-width: @screen-xs-max) {
		font-size: 16px;
		line-height: 24px;
	}
	a{
		font-weight: 600;
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	p{
		margin-bottom: 0;
	}
}
.l-task-card__table-edit{
	padding-left: 32px;
	padding-top: 30px;
	padding-bottom: 30px;
	@media ( max-width: @screen-xs-max) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.but_edit{
		margin-right: 30px;
	}
	.link_bondi{
		@media ( max-width: @screen-xs-max) {
			display: block;
			margin-top: 10px;
		}
	}
	@media ( max-width: @screen-xs-max) {
		padding-left: 15px;
	}
}
.but_edit{
	height: 55px;
	line-height: 52px;
	background-color: @l_green;
	font-size: 24px;
	font-weight: 400;
	padding: 0 20px;
	&.orange{
		color: #fff;
		background-color: @y_orange;
		padding: 0 40px;
		&:hover{
			background-color: (@y_orange - 30%);
		}
	}
	@media ( max-width: @screen-xs-max) {
		padding: 0 12px;
		height: 45px;
		margin-right: 0;
    	line-height: 42px;
    	font-size: 16px;
    	.icon{
		    font-size: 18px;
	    	margin-right: 5px;
    	}
	}
	&:hover{
		background-color: (@l_green - 30%);
	}
}
.l-task-card__recom{
	padding: 60px 0;
	border-bottom: 1px solid @l_green;
	@media ( max-width: @screen-xs-max) {
		text-align: center;
		padding: 30px 0;
	}
	.icon{
		width: 93px;
		height: 81px;
		color: @l_green;
		float: left;
		@media ( max-width: @screen-xs-max) {
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
	}
}
.l-task-card__recom-txt{
	overflow: hidden;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
		line-height: 22px;
		text-align: left;
		padding-left: 0;
	}
	p{
		margin-bottom: 0;
	}
	a{
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			color: @bondi_blue;
			text-decoration: none;
		}
	}
}
.l-task-card__bid-sort{
	.sort, a{
		display: inline-block;
		vertical-align: middle;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 10px;
		}
	}
	.sort{
		color: @l_green;
		margin-right: 10px;
	}
	a{
		text-decoration: none;
		color: black;
		position: relative;
		margin-right: 7px;
		span{
			padding: 3px 5px;
		}
		&:hover{
			color: @y_orange;
		}
		&.active{
			span{
				background-color: @l_green;
				color: #fff;
			}
			&:hover{
				span{
					background-color: @l_green;
					color: #fff;
				}
			}
		}
		&:before{
			content: '';
			margin-right: 7px;
			height: 16px;
			width: 1px;
			background-color: @gray_txt;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.l-task-card__bid-propose{
	margin-top: 60px;
}
.bid-propose__img{
	width: 50px;
	height: 50px;
	float: left;
	@media ( max-width: @screen-xs-max) {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
}
.bid-propose__txt{
	.bid-propose__head-name{
		color: @bondi_blue;
		font-size: 18px;
		font-weight: 400;
		display: inline-block;
		vertical-align: bottom;
		margin-right: 12px;
		text-decoration: none;
	}
}
.bid-propose__head-icons{
	display: inline-block;
	vertical-align: bottom;
	font-size: 0;
	margin-right: 15px;
	.icon{
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: bottom;
		&:not(:last-child){
			margin-right: 6px;
		}
	}
	.icon-rat-1{
		color: @bondi_blue;
	}
	.icon-rat-2{
		color: @y_orange;
	}
	.icon-rat-3{
		color: @l_green;
	}
	.icon-rat-4{
		color: @l_green;
	}
}
.bid-propose__head-revs{
	display: inline-block;
	vertical-align: bottom;
}
.bid-propose__txt{
	padding-left: 20px;
	overflow: hidden;
	@media ( max-width: @screen-xs-max) {
		padding-left: 0;
	}
}
.bid-propose__rating{
	color: @gray_txt;
	margin-top: 15px;
}
.bid-propose__message{
	background-color: @gray;
	border: 1px solid @l_green;
	padding: 30px 27px;
	margin-top: 30px;
	@media ( max-width: @screen-xs-max) {
		padding: 15px;
		margin-top: 15px;
	}
}
.bid-propose__message-head{
	margin-bottom: 30px;
	b{
		color: @bondi_blue;
	}
}
.bid-propose__message-body{
	p{
		line-height: 24px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
		&:not(:last-child){
			margin-bottom: 30px;
			@media ( max-width: @screen-xs-max) {
				margin-bottom: 10px;
			}
		}
	}
}
.bid-propose__message-btns{
	margin-top: 30px;
	@media ( max-width: @screen-xs-max) {
		text-align: center;	
		margin-top: 10px;
	}
	.but{
		color: #fff;
		text-decoration: none;
		margin-left: 0;
		@media ( max-width: @screen-xs-max) {
			display: block;
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	a{
		color: @gray_txt;
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
		@media ( max-width: @screen-xs-max) {
			margin-left: 0;
			margin-top: 10px;
			display: block;
		}
	}
}
.bid-propose__message-footer{
	margin-top: 50px;
	color: @bondi_blue;
	font-weight: 600;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
		line-height: 22px;
	}
}
.l-task-card__bid-propose-time{
	float: right;
	margin-top: 15px;
	color: @gray_txt;
}
.l-task-card__comments{
	&.add{
		.l-task-card__comments-item-wrp{
			background-color: @gray;
			padding: 30px 30px;
			@media ( max-width: @screen-xs-max) {
				padding: 15px;
				.comments-item__img{
					float: none;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 20px;
				}
				.comments-item__txt{
					padding-left: 0;
				}
			}
		}
		h5{
			margin-bottom: 20px;
		}
		p{
			margin-bottom: 10px;
			line-height: 24px;
		}
		label{
			color: @gray_txt;
			margin-bottom: 30px;
			.checkbox{
				&:before{
					box-shadow: none;
					background: none;
				}
			}
		}
	}
	.comments-item__txt-bottom{
		display: inline-block;
		&:hover{
			a{
				display: inline-block;
			}
		}
		.comments-item__complaint{
			display: inline-block;
			color: @gray_txt;
			&:hover{
				color: @y_orange;
				text-decoration: underline;
			}
		}
		a{
			display: none;
			margin-right: 12px;
		}
	}
}
.l-task-card__comments-answer{
	padding-left: 70px;
	margin-top: 37px;
	margin-bottom: 30px;
	display: none;
	@media ( max-width: @screen-xs-max) {
		padding-left: 15px;
	}
	&.sub{
		display: block;
	}
	&.full{
		padding-left: 0;
		display: none;
		&.active{
			display: block;
		}
	}
}
.comments-answer__left{
	width: 26px;
	height: 26px;
	float: left;
}
.comments-answer__right{
	overflow: hidden;
	padding-left: 15px;
	a{
		color: @bondi_blue;
		font-size: 16px;
	}
	.form-control{
		border-radius: 0;
		height: 111px;
		margin-top: 10px;
		color: black;
		max-width: 100%;
		&:focus{
			box-shadow: none;
		}
	}
	button{
		margin-top: 30px;
		height: 30px;
		line-height: 28px;
		border-radius: 5px;
		text-align: center;
		padding: 0 20px;
		background-color: @l_green;
		color: #fff;
		transition: all 0.3s ease;
		&[disabled]{
			background-color: @gray;
			color: @gray_txt;
		}
	}
}
.l-task-card__comments-new{
	padding-left: 60px;
}