mixin l-profile-about-me-3(data)
	form.l-prof-conf
		.l-prof-conf__item
			.l-prof-conf__head
				h5 1. Отметьте категории, которые вам интересны
				p Выберите категории заданий, которые вам будет интересно выполнять.
				p А также вы будете получать рассылку только по выбранным категориям..
			.l-prof-conf__drops
				+uslugi_collapse()
		.l-prof-conf__item
			.l-prof-conf__head
				h5 2. Напишите о себе 
				.l-prof-ab-me__head-mdl
					textarea.form-control(placeholder="Напишите о себе, укажите образование, профессиональное образование, род деятельности, перечислите виды услуг…")
		.l-prof-conf__item
			.l-prof-conf__head
				h5 3. Загрузите фотографию
				span Важно: изображение должно быть четким, лицо должно занимать 2/3 фотографии.
			.l-prof-conf__upload
				.l-prof-conf__upload-imgs.clearfix
					.l-prof-conf__big-ava.h-object-fit
						img(src="s/images/tmp_file/ava.jpg", alt="")
					.l-prof-conf__sm-ava.h-object-fit
						img(src="s/images/tmp_file/ava.jpg", alt="")
				p Минимальный размер — 180×180 px..
				.l-prof-def__ava-photo-add
					label
						input(type="file")
						.button-add-photo
							+svg('icon-photoap')
							span Изменить фото
		.l-prof-conf__item
			.l-prof-conf__head
				h5 4. Укажите услуги и цены 
				span Чтобы заказчикам было проще ориентироваться в стоимости ваших услуг при создании задания,
				span укажите среднюю цену за час работы и подробно распишите стоимость услуг.
			.l-prof-conf__min
				.l-prof-conf__min-input
					p Минимальная цена за час работы:
					input.form-control(type="number")
					span руб.
				.l-prof-conf__min-textarea
					textarea.form-control(placeholder="Пример 1: 800 руб. за 1 час. Пример 2: от 600 руб. Пример 3 — от 600 руб. за кв. м.")
					button(type="submit").but.but_bondi
						span Сохранить
				.l-prof-conf__min-annotation
					b *
					span Звездочкой отмечены поля, обязательные для заполнения..
		.l-prof-ab-me__vals
			h5 У вас нет оценок в настоящий момент
			p Заказчики оценивают всех исполнителей по разнообразным критериям таким как цена, качество, вежливость
		.l-prof-ab-me__revs
			h5 Отзывов пока нет
			+svg('icon-revs')
			p Отзывы появятся после того, как вы создадите или выполните задание
