.l-prof-conf__head{
	margin-bottom: 30px;
	h5{
		padding-left: 30px;
		position: relative;
		margin-bottom: 35px;
		&:before{
			content: '*';
			position: absolute;
			top: 5px;
			left: 0;
			font-size: 39px;
			display: block;
			color: @y_orange;
		}
	}
	span{
		display: block;
		color: @gray_txt;
		line-height: 24px;
	}
	p{
		margin-bottom: 0;
		font-size: 16px;
		line-height: 24px;
	}
}
.l-prof-conf{
	padding-top: 60px;
	padding-bottom: 80px;
	.l-prof-ab-me__revs{
		@media ( max-width: @screen-xs-max) {
			padding-bottom: 0;
		}
	}
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 0;
	}
	::-webkit-input-placeholder{
		color: @gray_txt;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
	::-moz-placeholder{
		color: @gray_txt;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
	:-moz-placeholder{
		color: @gray_txt;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
	:-ms-input-placeholder{
		color: @gray_txt;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
}
.l-prof-conf__drops{
	margin-top: 60px;
}
.l-prof-conf__item{
	margin-bottom: 55px;
	.l-prof-ab-me__head-mdl{
		display: block;
	}
}
.l-prof-conf__upload-imgs{
	width: 261px;
}
.l-prof-conf__big-ava{
	width: 180px;
	height: 180px;
	float: left;
}
.l-prof-conf__sm-ava{
	width: 61px;
	height: 61px;
	float: right;
}
.l-prof-conf__upload{
	p{
		color: @gray_txt;
		margin: 10px 0;
	}
	.l-prof-def__ava-photo-add{
		width: 180px;
	}
}
.l-prof-conf__min-input{
	font-weight: 400;
	p{
		margin-bottom: 0;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding-left: 20px;
		@media ( max-width: @screen-xs-max) {
			line-height: 30px;
		}
		&:before{
			content: '*';
			font-size: 17px;
			color: @y_orange;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.form-control{
		width: 105px;
		height: 25px;
		border-radius: 5px;
		border: 1px solid @gray_txt;
		margin-left: 20px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
		color: black;
		&:focus{
			box-shadow: none;
		}
	}
	span{
		display: inline-block;
		vertical-align: middle;
	}
}
.l-prof-conf__min-textarea{
	margin-top: 30px;
	.form-control{
		border-radius: 0;
		border: 1px solid @gray_txt;
		height: 95px;
		display: block;
		width: 100%;
		max-width: 100%;
		margin-bottom: 30px;
		padding-top: 10px;
		font-size: 16px;
		color: black;
		&:focus{
			box-shadow: none;
		}
	}
}
.l-prof-conf__min-annotation{
	margin-top: 30px;
	color: @gray_txt;
	font-size: 14px;
	position: relative;
	b{
		display: inline-block;
		vertical-align: middle;
		font-size: 17px;
		color: @y_orange;
		@media ( max-width: @screen-xs-max) {
			position: absolute;
			top: 2px;
			left: 0;
		}
	}
	span{
		display: inline-block;
		vertical-align: middle;
		padding-left: 20px;
	}
}