.error-block{
	margin-bottom: 50px;
	text-align: center;
	margin-top: 194px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 100px;
	}
}
.error-block__txt{
	font-size: 81px;
	color: #b4c1bb;
	span{
		margin-bottom: 5px;
		font-weight: 600;
		font-size: 48px;
		display: block;
	}
	svg{
		transform: rotate(180deg);
		vertical-align: top;
	}
}
.error-block__content{
	margin-top: -32px;
	font-weight: 400;
	font-size: 36px;
	@media ( max-width: @screen-xs-max) {
		font-size: 30px;
	}
	span {
		display: block;
		&:last-child{
			line-height: 24px;
			font-weight: 300;
			margin-top: 15px;
			font-size: 18px;
			@media ( max-width: @screen-xs-max) {
				margin-top: 25px;
			}
		}
	}
}