.all-tasks__map {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;

	.gm-style {
		& > div:not(.gmnoprint):not(.gmnoscreen):not(.gm-style-cc) {
			& > div:not(.gm-style-pbc) {
				&:last-child {
					& > div:last-child {
						& > div {
							// BALLOON WRAP HERE

							& > div {
								&:first-child {
									// BALLOON DECORATIONS HERE
									& > div {
										&:first-child {
											// BALLOON ARROW
											border-top-color: rgba(0, 0, 0, 0.71) !important;
											border-right-width: 10px !important;
											border-left-width: 10px !important;
											margin-top: -1px;
										}
										&:nth-child(2) {
											// BALLOON BOXSHADOW BLOCK
											display: none;
										}
										&:nth-child(3) {
											// BALLOON ARROW BOXSHADOWS BLOCK
											display: none;
										}
										&:last-child {
											// BALLOON BACKGROUND BLOCK
											background-color: rgba(0, 0, 0, 0.71) !important;
											border-radius: 10px !important;
										}
									}
								}
								&.gm-style-iw {
									// INFOWINDOW
									overflow: visible !important;

									& > div {
										&:first-child {
											// INFOWINDOW INNER
											& > div {
												overflow: visible !important;
											}
										}
									}
								}
								&:last-child {
									// INFOWINDOW CLOSE BTN
									display: none !important;
								}
							}
						}
					}
				}
			}
		}
	}

	&-wrap {
		text-align: center;
	}
	&-inner {
		background-color: #eee;
		margin-bottom: 30px;
		position: relative;

		&:before {
			padding-bottom: 100%;
			display: block;
			content: '';
		}
		& ~ .tab-content {
			display: none;
		}
	}
	&-trig {
		transition: color 0.3s ease, background-color 0.3s ease;
		background-color: #e5fdff;
		white-space: nowrap;
		border-radius: 5px;
		margin-right: auto;
		margin-left: auto;
		padding: 7px 30px;
		font-size: 16px;
		color: #6badc3;
		display: block;

		&:hover {
			background-color: #e5fdff - 20%;
			color: #6badc3 - 20%;
		}
		&:focus {}
		&:active {}

		&.active {
			.show-text {
				display: none;
			}
		}
		&:not(.active) {
			.hide-text {
				display: none;
			}
		}
		.icon {
			margin-right: 10px;
		}
		.icon,
		span {
			vertical-align: middle;
			display: inline-block;
		}
	}
}
.balloon {
	&__inner {
		padding-right: 40px;
		text-align: left;
		max-width: 180px;
	}
	&__text {
		line-height: 24px;
		font-weight: 600;
		font-size: 14px;
		color: #fff;
	}
	&__status {
		line-height: 24px;
		font-weight: 600;
		font-size: 14px;
		color: #a2cf3b;
	}
	&__price {
		transform: translate(-50%, 50%) rotate(-20deg);
		background-color: #f2f6f8;
		white-space: nowrap;
		border-radius: 5px;
		position: absolute;
		line-height: 24px;
		padding: 3px 10px;
		font-weight: 600;
		font-size: 14px;
		bottom: 100%;
		left: 100%;
	}
}