.all-tasks__list {
	padding-bottom: 30px;

	.all-tasks__map-inner ~ & {
		display: none;
	}
	&-empty {
		margin-bottom: 30px;
		margin-top: 56px;
		.after;

		@media ( max-width: @screen-xs-max) {
			margin-top: 30px;
		}

		&-icon {
			position: relative;
			font-size: 100px;
			height: 1.5em;
			width: 1.85em;
			float: left;

			@media ( max-width: @screen-md-max) {
				font-size: 80px;
			}

			@media ( max-width: @screen-xs-max) {
				font-size: 50px;
			}

			.icon {
				position: absolute;
				display: block;
			}
			.icon-1 {
				font-size: 1.2em;
				bottom: 0;
				left: 0;
			}
			.icon-2 {
				font-size: 1.38em;
				right: 0;
				top: 0;
			}
		}
		&-info {
			padding-left: 30px;
			padding-top: 24px;
			overflow: hidden;

			@media ( max-width: @screen-md-max) {
				padding-top: 15px;
			}
			@media ( max-width: @screen-xs-max) {
				padding-left: 15px;
				padding-top: 0;
			}
		}
		&-ttl {
			font-weight: 400;
			font-size: 36px;

			@media ( max-width: @screen-xs-max) {
				font-size: 24px;
			}
		}
		&-txt {
			padding-top: 28px;
			font-size: 16px;

			@media ( max-width: @screen-xs-max) {
				padding-top: 15px;
			}

			a {
				text-decoration: underline;
				color: #75b3c7;

				&:hover {
					text-decoration: none;
					color: #75b3c7;
				}
				&:focus {
					text-decoration: none;
					color: #75b3c7;
				}
				&:active {
					text-decoration: none;
					color: #75b3c7;
				}
			}
		}
	}
	&-item {
		border-bottom: 1px solid #f2f6f8;
		padding-bottom: 30px;
		padding-top: 26px;

		&:first-child {
			border-top: 1px solid #f2f6f8;
			margin-top: 60px;
		}
		&-inner {
			display: flex;

			@media ( max-width: @screen-xx-max) {
				display: block;
			}
		}
		&-left {
			// vertical-align: top;
			// display: table-cell;
			// width: 100%;
			flex-grow: 1;
		}
		&-right {
			// vertical-align: top;
			// display: table-cell;
			padding-left: 5px;
			text-align: right;
			flex-grow: 1;

			@media ( max-width: @screen-xx-max) {
				padding-top: 15px;
				text-align: left;
			}
		}
		&-title {
			font-weight: 400;
			font-size: 24px;

			a {
				text-decoration: none;
				color: #509eb8;

				&:hover {
					text-decoration: underline;
					color: #509eb8 + 20%;
				}
				&:focus {
					text-decoration: none;
				}
				&:active {
					text-decoration: none;
				}
			}
		}
		&-user {
			.after;

			&-image {
				position: relative;
				margin-top: 24px;
				height: 75px;
				float: left;
				width: 75px;

				.h-object-fit {
					position: absolute;
					height: 100%;
					width: 100%;
					bottom: 0;
					right: 0;
					left: 0;
					top: 0;
				}
			}
			&-info {
				padding-left: 26px;
				padding-top: 21px;
				overflow: hidden;
			}
			&-name {
				font-weight: 400;
				font-size: 18px;

				a {
					text-decoration: none;
					color: #fcb53a;

					&:hover {
						text-decoration: underline;
						color: #fcb53a + 20%;
					}
					&:focus {
						text-decoration: none;
					}
					&:active {
						text-decoration: none;
					}
				}
			}
		}
		&-reviews {
			padding-top: 6px;
			color: #b9c2ba;

			span {}
			.icon {
				margin-left: 10px;
				font-size: 12px;
				color: #fcb53a;
			}
		}
		&-price {
			white-space: nowrap;
			padding-top: 4px;
			font-weight: 600;
			font-size: 18px;
			color: #fff;

			span {
				background-color: #9ac9d9;
				vertical-align: middle;
				display: inline-block;
				border-radius: 5px;
				padding: 6px 17px;
			}
			.icon {
				vertical-align: middle;
				margin-right: 18px;
				font-size: 26px;
				color: #a2cf3a;
			}
		}
		&-date {
			padding-top: 12px;
			font-size: 16px;

			&.low_time {
				color: #fcb53a;
			}
			.icon {
				vertical-align: middle;
				margin-right: 5px;
				font-size: 14px;
			}
		}
		&-type {
			padding-top: 8px;
			color: #b9c2ba;
		}
		&-address {
			padding-top: 12px;
			font-weight: 400;
			font-size: 16px;

			.icon {
				margin-right: 5px;
				color: #a2cf3a;
			}
		}
	}
}

.my-tasks__item {
	.after;

	&:not(:last-child) {
		margin-bottom: 55px;
	}
	&:first-child {
		margin-top: 55px;
	}
	.all-tasks__list-item-title {
		margin-bottom: 31px;

		@media ( min-width: @screen-lg-min) {
			font-size: 30px;
		}
	}
	.all-tasks__list-item-price {
		padding-top: 6px;
	}
	&-icon {
		position: relative;
		border-radius: 50%;
		margin-top: 12px;
		font-size: 36px;
		height: 81px;
		width: 81px;
		float: left;
		color: #fff;

		.icon {
			position: absolute;
			display: block;
			margin: auto;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
	}
	&:nth-child(2n-1) &-icon {
		background-color: #ffd387;
	}
	&:nth-child(2n) &-icon {
		background-color: #9ac9d9;
	}
	&-info {
		padding-left: 50px;
		overflow: hidden;
		display: flex;

		@media ( max-width: @screen-xx-max) {
			padding-left: 15px;
			display: block;
		}
	}
	&-status {
		display: inline-block;
		pointer-events: all;
		position: relative;
		cursor: pointer;

		&.opened {
			color: #a2cf3a;
		}
		&.finished {
			color: #c60537;
		}
		&.inprocess {
			color: #fcb53a;
		}
		&-txt {
			transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
			position: absolute;
			left: 0;
			top: 0;
		}
		.icon {
			margin-right: 10px;
		}
		&:hover {
			.my-tasks__item-buttons {
				pointer-events: all;
				visibility: visible;
				transform: none;
				opacity: 1;
			}
			.my-tasks__item-status-txt {
				transform: translate(-50%, -50%) scale(0);
				pointer-events: none;
				visibility: hidden;
				opacity: 0;
			}
		}
		&:focus {}
		&:active {}
	}
	&-buttons {
		transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
		pointer-events: none;
		transform: scale(0);
		visibility: hidden;
		opacity: 0;

		.but {
			vertical-align: middle;

			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
}