.all-tasks__sidebar {
	&-collapses {
		margin-top: 13px;
	}
	.l-prof-set__subs {
		&-item {
			&:not(:last-child) {
				margin-bottom: 9px;
			}
			&-but {
				padding-left: 15px;
				background: none;
				padding-top: 4px;

				&[aria-expanded="true"] {
					& ~ .l-prof-set__subs-item-cont {
						background: none;
					}
				}
			}
			&-cont {
				background: none;

				&-wrp {
					padding-left: 57px;
					padding-top: 9px;

					label {
						margin-bottom: 0;
						font-size: 16px;

						span {
							max-width: calc(~"100% - 20px");

							@media ( min-width: @screen-sm-min) {
								padding-left: 20px !important;
							}
						}
					}
				}
			}
			label {
				span {
					padding-left: 10px;

					@media ( max-width: @screen-xs-max) {
						padding-left: 25px;
					}

					b {
						display: none;
					}
				}
			}
		}
	}
}