.all-tasks__city-modal {
	.modal-welcome__txt {
		font-weight: 400;
	}
	.modal-welcome__bottom {
		&-txt {
			font-size: 16px;

			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				text-decoration: underline;
				color: #fcba4e;

				&:hover {
					text-decoration: none;
					color: #fcba4e;
				}
				&:focus {
					text-decoration: none;
					color: #fcba4e;
				}
				&:active {
					text-decoration: none;
					color: #fcba4e;
				}
			}
		}
	}
	.radio {
		top: 8px;

		@media ( max-width: @screen-xs-max) {
			top: 4px;
		}

		&-list {
			padding-bottom: 30px;
			text-align: center;
			padding-top: 30px;

			li {
				display: inline-block;
				vertical-align: top;
				margin-bottom: 10px;

				&:not(:last-child) {
					margin-right: 15px;
				}
			}
		}
		&-label {
			span {
				font-weight: 400;
				font-size: 24px;
				color: #6badc3;

				@media ( max-width: @screen-xs-max) {
					font-size: 18px;
				}
			}
		}
	}
}