.breadcrumbs {
	padding-bottom: 25px;
	margin-top: 5px;
	.h-list{
		flex-wrap: wrap;
		display: flex;
		font-size: 16px;
		li{
				&:not(:last-child){
					padding-right: 100px;
					margin-bottom: 10px;
					position: relative;
					@media ( max-width: @screen-md-max) {
						padding-right: 30px;
					}
					&:before{
						background-color: #bac2bb;
						height: 2px;
						width: 14px;
					}
					&:after{
						border-bottom: 2px solid #bac2bb;
						border-right: 2px solid #bac2bb;
						transform: rotate(-45deg);
						height: 8px;
						width: 8px;
						
					}
					&:before,&:after{
						position: absolute;
						display: block;
						margin: auto;
						content: '';
						right: 45px;
						bottom: 0;
						top: 0;
						@media ( max-width: @screen-md-max) {
							right: 10px
						}
					}
				}
			a{
				display: inline-block;
				position: relative;
				color: @l_colapse;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}