button{
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.but{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    padding: 0 39px;
    transition: all 0.3s ease;
    text-decoration: none;
    line-height: 46px;
    .icon{
        font-size: 22px;
        margin-right: 13px;
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
    &:hover, &:focus{
        text-decoration: none;
        color: #fff;
    }
    &_bondi{
        background-color: @bondi_blue;
        font-size: 18px;
        @media ( max-width: @screen-sm-max) {
            font-size: 16px;
        }
        &:hover{
            background-color: (@bondi_blue - 30%);
        }
        &_lg{
            font-size: 24px;
            padding: 0 53px;
            line-height: 70px;
            height: 74px;
            font-weight: 400;
            @media ( max-width: @screen-md-max) {
                font-size: 20px;
                padding: 0 41px;
                line-height: 53px;
                height: 54px;
            }
            @media ( max-width: @screen-xs-max) {
                font-size: 18px;
                padding: 0 30px;
                line-height: 45px;
                height: 46px;
            }
        }
    }
    &_y-orange{
        background-color: @y_orange;
        font-size: 16px;
        font-weight: 400;
        &:hover{
            background-color: (@y_orange - 30%);
        }
        &_lg{
            font-size: 24px;
            padding: 0 53px;
            line-height: 70px;
            height: 74px;
            font-weight: 400;
            @media ( max-width: @screen-md-max) {
                font-size: 20px;
                padding: 0 41px;
                line-height: 53px;
                height: 54px;
            }
            @media ( max-width: @screen-xs-max) {
                font-size: 18px;
                padding: 0 30px;
                line-height: 45px;
                height: 46px;
            }
        }
    }
    &_white{
        color: black;
        background: #fff;
        font-size: 16px;
        border: 1px solid @bondi_blue;
        border-radius: 0;
        height: 42px;
        line-height: 40px;
        padding: 0 21px;
        &:hover{
            background-color: @bondi_blue;
            color: #fff;
        }
    }
    &_green{
        background-color: @l_green;
        &:hover{
            background-color: @l_green + 20%;
        }
    }
    &_xs {
        padding: 6px 28px;
        line-height: 1.2;
        font-weight: 400;
        height: auto;
    }
    &_link {
        line-height: 1.2;
        height: auto;
        padding: 0;
        color: @link-color;

        &:hover {
            color: @link-color + 20%;
        }
        &:focus {
            color: @link-color;
        }
        &:active {
            color: @link-color + 20%;
        }
    }
    &_t-orange {
        text-decoration: underline;
        color: #fcb53a;

        &:hover {
            text-decoration: none;
            color: #fcb53a + 20%;
        }
        &:focus {
            text-decoration: none;
            color: #fcb53a;
        }
        &:active {
            text-decoration: none;
            color: #fcb53a + 20%;
        }
    }
}
// .btn{
    
//     height: 51px;
//     border-radius: 11px;
//     font-weight: 400;
//     line-height: 48px;
//     padding: 0 28px;
//     font-size: @font-size-h6;
//     border: 1px solid transparent;
//     background-color: transparent;
//     color: inherit;
//     transition: all 300ms ease;
//     &:hover{
        
//         // border-color: @White40;
//         // background-color: @White80;
//         // color: @CapeCod;
//     }
//     &:focus,
//     &:active{
//         // border-color: @White40;
//         // background-color: @Concrete;
//         // color: @CapeCod;
//     }
//     // colors
//     &_white{
//     }
//     // states
//     a&{
//         text-decoration: none;
//     }
//     &_icon{
//     }
//     // sizes
//     &_md{
//     }
//     &_sm{
//     }
//     &_xs{
//     }
// }