.c-card-sidebar__head{
	margin-bottom: 30px;
	span{
		display: block;
		&:not(:last-child){
			margin-bottom: 14px;
		}
	}
}
.c-card-sidebar{
	padding-top: 78px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 0;
		padding-bottom: 30px;
	}
}
.c-card-sidebar__user{
	display: block;
}
.c-card-sidebar__user-img{
	width: 75px;
	height: 75px;
	float: left;
}
.c-card-sidebar__user-txt{
	padding-left: 22px;
	overflow: hidden;
}
.c-card-sidebar__user-name{
	color: @bondi_blue;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	margin-bottom: 10px;
	i{
		display: inline-block;
		vertical-align: middle;
		width: 6px;
		height: 6px;
		border-radius: 50%;
	}
}
.c-card-sidebar__user-city{
	color: @gray_txt;
	margin-bottom: 10px;
	span{
		display: inline-block;
		&:not(:last-child){
			margin-right: 5px;
		}
	}
}
.c-card-sidebar__user-revs{
	color: @gray_txt;
	span{
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
	}
	.revs-count{
		display: inline-block;
		vertical-align: middle;
		.icon{
			width: 10px;
			height: 10px;
			color: @y_orange;
			margin-right: 5px;
		}
		.revs-count__numb{
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.c-card-sidebar__attention{
	margin-top: 60px;
	line-height: 24px;
	h5{
		margin-bottom: 5px;
	}
	h6{
		font-size: 16px;
		font-weight: 600;
		text-align: left;
		line-height: 24px;
		&:after{
			display: none;
		}
	}
	ul{
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
		margin-top: 30px;
		margin-bottom: 30px;
		li{
			position: relative;
			padding-left: 33px;
			&:not(:last-child){
				margin-bottom: 30px;
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				display: block;
				width: 9px;
				height: 9px;
				border-radius: 50%;
				background-color: @y_orange;
				margin-right: 5px;
			}
			span{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.c-card-sidebar__soc{
	font-weight: 400;
	color: @gray_txt;
	span{
		display: block;
		line-height: 24px;
	}
}
.c-card-sidebar__soc-links{
	margin-top: 20px;
	a{
		float: left;
		transition: all 0.3s ease;
		&:hover{
			opacity: 0.8;
		}
		&:not(:last-child){
			margin-right: 15px;
		}
	}
	.icon{
		width: 46px;
		height: 46px;
		@media ( max-width: @screen-md-max) {
			width: 30px;
			height: 30px;
		}
		&-conf-vk{
			color: #9AB8CE;
		}
		&-conf-fb{
			color: #265999;
		}
		&-conf-tw{
			color: #00AEEE;
		}
		&-conf-ok{
			color: #FF802E;
		}
		&-conf-google{
			color: #FC463C;
		}
	}
}
.c-card-sidebar__faq{
	margin-top: 30px;
	margin-bottom: 60px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 15px;
		margin-bottom: 30px;
	}
	h5{
		margin-bottom: 20px;
	}
	ul{
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
		li{
			&:not(:last-child){
				margin-bottom: 15px;
			}
			a{
				color: @bondi_blue;
				&:hover{
					color: @y_orange;
				}
			}
		}
	}
}