.categoria_zadanija_header{
	text-align: center;
	margin-top: 3px;
	h2{
		font-size: 30px;
	}
}
.categoria_zadanija_content{
	padding-bottom: 30px;
	padding-top: 100px;
	@media ( max-width: @screen-sm-max) {
		padding-bottom: 20px;
		padding-top: 60px;
	}
	.categoria_zadanija_content_list li:first-child span{
			background-color: #9ac9d9;
	}
	&:nth-child(2n){
		.categoria_zadanija_content_list li:first-child span{
			background-color: #ffd387;
		}
	}
}
.categoria_zadanija_content_list{
	.icon{
		position: absolute;
		margin: auto;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}
	ul{
		padding-left: 73px;
	}
	li{
		margin-bottom: 20px;
		&:first-child{
			margin-bottom: 22px;
			position: relative;
			a{
				font-size: 18px;
				font-weight: 600;
				color: #000;
				&:hover{
					color: #fcb53a;
				}
			}
			span{
				display: inline-block;
				border-radius: 50%;	
				position: absolute;
				text-align: center;
				font-size: 40px;
				height: 58px;
				color: #fff;
				width: 58px;
				left: -73px;
				top: -15px;
				// &.blue{
				// 	background-color: #9ac9d9;
				// }
				// &.yellow{
				// 	background-color: #ffd387;
				// }
			}
		}
	}
	a{
		font-weight: 400;
		color: #509eb8;
		font-size: 14px;
		&:hover{
			color: #fcb53a;
		}
	}
}
.categoria_zadanija_content_wrap{
	padding-bottom: 50px;
	flex-wrap: wrap;
	display: flex;
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 20px;
	}
	& > *{
		width: 33.3%;
		@media ( max-width: @screen-sm-max) {
			width: 50%;
		}
		@media ( max-width: @screen-xs-max) {
			width: 100%;
		}
	}
}