.chat {}
.modal-dialog.modal-dialog__chat{
	background-color: #fff;
	position: relative;
	width: 1000px;
	display: flex;
	height: 800px;
	@media ( max-width: @screen-md-max) {
		width: 970px;
	}
	@media ( max-width: @screen-sm-max) {
		// width:	calc(~'100% - 20px');
		flex-direction: column;
		margin-top: 62px;
		height: auto;
		width: 100%;
	}
	.close_modal{
		position: absolute;
		display: block;
		height: 40px;
		width: 40px;
		right: 0;
		top: -51px;
		left: 0;
		margin: auto;
		&:before{
			transition: all 0.3s ease;
			position: absolute;
			margin: auto;
			content: '';
			right: 0;
			left: 0;
			transform: translateY(13px) rotate(225deg);
			border-top: 3px solid #fff;
			bottom: 77%;
			top: 16%;
		}
		&:after{
			border-top: 3px solid #fff;
			position: absolute;
			margin: auto;
			content: '';
			bottom: 0;
			right: 0;
			left: 0;
			top: 47%;
			transform: rotate(315deg);
			bottom: 42%;
		}
	}
}
.chat__sidebar{
	background-color: @chat;
    flex-direction: column;
	padding-top: 50px;
	flex-shrink: 0;
	display: flex;
	width: 384px;
	@media ( max-width: @screen-sm-max) {
		width: 100%;
	}
	li{
		transition: all 0.3s ease;
		background-color: @chat;
		padding-bottom: 15px;
		padding-right: 10px;
		padding-left: 55px;
		padding-top: 15px;
		cursor: pointer;
		&.active,
		&:hover{
			background-color: @l_colapse;
			.chat__wrapper,
			.chat_info-online{
				color: #fff;
			}
		}
	}
	label{
		margin-bottom: 20px;
		display: block;
		flex-shrink: 0;
	}
	.form-control{
		line-height: 24px;
		font-weight: 400;
		font-size: 16px;
		margin: 0 auto;
		height: 40px;
		width: 276px;
		color: #666;
		@media ( max-width: @screen-xs-max) {
			width: 240px;
		}
	}
	ul{
		transition: all 0.3s ease;
		overflow-x: hidden;
		overflow-y: auto;
		flex-shrink: 1;
		@media ( max-width: @screen-sm-max) {
			max-height: 468px;
			&.close{
				transform: translateY(-50%)scaleY(0);
				max-height: 0;
			}
		}
	}
}
.chat_img{
	background-color: #fff;
	margin-right: 20px;
	border-radius: 50%;
	flex-shrink: 0;
	height: 40px;
	width: 40px;
}
.chat__wrapper{
	transition: all 0.3s ease;
	align-items: center;
	display: flex;
}
.chat_info-name{
	font-size: 16px;
}
.chat_info-online{
	transition: all 0.3s ease;
	font-size: 12px;
	color: #c3cbc4;
}
.chat__wrapper{
	line-height: 24px;
	font-weight: 400;

}
.grey-block__modal{
	padding: 45px 20px 49px 45px;
	background-color: #fff;
	position: relative;
	text-align: right;
	&.active{
		padding: 40px 50px 59px 45px;
		background-color: @gray;
		text-align: left;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #c3cbc4;
		& > span:first-of-type{
			margin-bottom: 15px;
			display: block;
		}
	}
}
.modal-chat__block{
    flex-direction: column;
	line-height: 22px;
    overflow: hidden;
	font-size: 16px;
	display: flex;
	flex-grow: 1;
}
.modal_volume{
	position: absolute;
	font-size: 19px;
	color: #c3cbc4;
	left: 15px;
	top: 40px;
}
.info-tel__chat{
	font-size: 14px;
	svg{
		display: inline-block;
		margin-right: 10px;
	}
	.info-tel__chat-tel {
		border: 1px solid #fcb53a;
		background-color: #fff;
		display: inline-block;
		border-radius: 14px;
		padding-right: 12px;
		padding-left: 12px;
		margin-left: 15px;
		color: #555;
	}
}
.modal-chat.modal-chat__you{
	.modal-chat__info{
		span:first-child{
			color: @bondi_blue;
		}
		
	}
}
.modal-chat__info{
	justify-content: space-between;
	padding-bottom: 10px;
	align-items: center;
	margin-top: 10px;
	display: flex;
	span{
		font-weight: 400;
	}
	span:first-child{
		padding-right: 10px;
	}
	span:last-child{
		color: @gray_txt;
	}
}
.modal-chat{
	padding-left: 20px;
	margin-right: 20px;
	margin-left: 20px;
	&:not(:last-child){
		border-bottom: #d2d2d2 1px dotted;
	}
}
.modal-chat__input-button{
	flex-direction: column;
	display: flex;
	width: 124px;
	button{
		font-size: 16px !important;
		padding: 0 16px!important;
		margin-bottom: 10px;
		font-weight: 400;
	}
}
.modal-chat__input{
	box-shadow: 3px -1px 10px 3px rgba(0,0,0,0.2);
	justify-content: space-between;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 40px;
	padding-top: 20px;
	flex-shrink: 0;
	display: flex;
	@media ( max-width: @screen-xs-max) {
		flex-direction: column;
	}
}
.modal-chat__input-textarea{
	margin-right: 20px;
	flex-grow: 1;
    textarea{
		border: 1px solid #c3cbc4;
		border-radius: 5px;
		resize: none;
		height: 90px;
		width: 100%;
		padding-left: 20px;
		padding-right: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
    }
}
.modal-chat__wrapper{
	overflow-x: hidden;
	line-height: 24px;
	overflow-y: auto;
	flex-shrink: 1;
	@media ( max-width: @screen-sm-max) {
		max-height: 500px;
	}
}
.chat_info{
	padding-right: 40px;
	position: relative;
	.num_messages{
		position: absolute;
		background-color: @y_orange;
		border-radius: 50%;
		right: 10px;
		bottom: 0;
		top: 0;
		margin: auto;
		height: 20px;
		min-width: 20px;
		padding: 4px 4px;
		font-size: 12px;
		font-weight: 600;
		color: #fff;
		text-align: center;
		line-height: 1.2;
	}
}