.forms {}
.button__ok{
	margin-bottom: 50px;
	text-align: center;
	margin-top: 80px;
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.but{
		float: none!important;
	}
}
.modal-dialog{
	.checkbox{
		position: absolute;
		margin: auto;
		bottom: 0;
		top: 0;
	}
	.check_list-check span{
		font-weight: 400;
	}
}
.modal-grey{
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	background-color: @gray;
	padding-bottom: 30px;
	margin-right: -45px;
	margin-left: -45px;
	margin-bottom: 30px;
	padding-top: 30px;
	@media ( max-width: @screen-xs-max) {
		margin-right: -20px;
		margin-left: -20px;
		margin-bottom: 20px;
	}
	p{
		margin-bottom: 10px;
	}
	line-height: 24px;
	font-weight: 300;
	font-size: 16px;
	a{
		display: inline-block;
		margin-left: 5px;
	}
	.icon, span{
		margin-right: 5px;
		color: @gray_txt;
	}
	span{
		display: inline-block;
		line-height: 16px;
		font-size: 12px;
	}
	input[readonly]{
		max-width: 70px;
		background: transparent;
		border: none;
		text-align: center;
	}
	input{
		background: #fff;
		max-width: 70px;
		border: 1px solid @gray_txt;
		text-align: center;
	}
}
.modal_two-button{
	justify-content: space-around;
	margin-bottom: 30px;
	display: flex;
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 20px;
	}
	& * {
		font-weight: 400;
		font-size: 18px;
	}
}
.modal_footer_info{
	margin-bottom: 30px;
	text-align: center;
	line-height: 16px;
	color: @gray_txt;
	padding-top: 30px;
	font-size: 12px;
	border-top: 1px solid @gray;
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 20px;
		padding-top: 20px;
	}
	a{
		display: inline-block;
		margin-right: 5px;
		margin-left: 5px;
	}
}
.modal-body{
	@media ( max-width: @screen-sm-max) {
		.checkbox{
			bottom: auto;
			top: 6px;
		}
		.check_list .check-label span {
			padding-left: 35px;
		}
	}
	.check_list-check{
		.caret{
			padding-left: 0;
		}
		.bootstrap-select .dropdown-toggle:focus{
			outline: none!important;
		}
	}
	.check_list{
		margin-top: 20px;
		.grey{
			color: @gray_txt;
			@media ( max-width: @screen-xs-max) {
				padding-left: 35px;
				margin-top: 6px;
			}
		}
	}
	.check_list-check.mart-20{
		padding-bottom: 10px;
		margin-top: -20px;
	}
}
.panel-collapse{
	label{
		width: 100%;
		position: relative;
		&:before{
			display: block;
			position: absolute;
			content: '';
			left: 0;
			right: 10px;
			// background-color: #fff;
			bottom: 4px;
			height: 20px;
			z-index: 1;
		}
	}
}

.scroll_block{
	textarea{
		padding: 20px;
		width: 100%;
		resize: none;
	}
}
.mCSB_scrollTools.mCS-light.mCSB_scrollTools_vertical{
	border-radius: 0 11px 11px 0;
	overflow: hidden;
	visibility: visible!important;
	.mCSB_dragger_bar{
		line-height: 30px;
		background: @l_colapse;
		width: 100%;
		border-radius: 5px;
	}
}
.mCSB_scrollTools .mCSB_draggerRail{
	background-color: transparent!important;
}
.scroll_block{
	width: 100%;
	max-height: 206px;
	resize: none;
	font-size: 16px;
	overflow: hidden;
	font-weight: 400;
	line-height: 24px;
	border: 1px solid #9eaaa0;
	border-radius: 10px;
	position: relative;
	textarea{
		border: none;
		position: relative;
		bottom: 0;
	}
}
.mCSB_scrollTools.mCS-light.mCSB_scrollTools_vertical{
	background-color: #f2f6f8;
	visibility: visible!important;
	&:before{
		height: 200%;
		top: -50%;
		position: absolute;
		margin: auto;
		bottom: -50%;
		display: block;
		width: 100%;
		content: '';
		background-color: #f2f6f8;
	}
}
.mCustomScrollBox{
	position: static!important;
}
.mCSB_inside>.mCSB_container {
	margin-right: 20px;
}
.mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp{
	background-image: none;
	&:before{
		position: absolute;
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		border-right: 1px solid #333;
		border-bottom: 1px solid #333;
		margin: auto;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
}
.mCSB_buttonUp{
	&:before{
		transform: rotate(-135deg);
	}
}
.mCSB_buttonDown{
	&:before{
		transform: rotate(45deg);
	}
}

.stoimost-block{
	justify-content: space-between;
	align-items: center;
	padding-left: 40px;
	display: flex;
	@media ( max-width: @screen-xs-max) {
		padding-left: 0;
	}
	& > span{
		line-height: 36px;
		font-weight: 400;
		font-size: 24px;
		margin-right: 5px;
		@media ( max-width: @screen-xs-max) {
			line-height: 26px;
			font-size: 20px;
			margin-right: 5px;
		}
	}
	& > label{
		background-color: @gray;
		display: flex;
		border-radius: 8px;
		padding: 10px;
		width: 184px;
		& > span {
			margin-left: 12px;
			color: @l_colapse;
			font-weight: 400;
			font-size: 24px;
		}
		& > .form-control{
			line-height: 30px;
			padding: 2px 10px;
			color: @l_colapse;
			font-weight: 400;
			font-size: 24px;
			height: 35px;
			width: 96px;
			opacity: 1;
			@media ( max-width: @screen-xs-max) {
				width: 90px;
			}

		}
	}
}
.check_list-check.marl-40{
	margin-left: 40px;
	@media ( max-width: @screen-xs-max) {
		margin-left: 35px;
	}
}
.modal-welcome__bottom-check{
	align-items: flex-start;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	@media ( max-width: @screen-xs-max) {
		flex-direction: column;
	}
	.but_bondi{
		margin-right: 15px;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 15px;
		}
	}
	.checkbox{
		height: 16px;
		width: 16px;
		@media ( max-width: @screen-sm-max) {
			top: 0;
			bottom: 0;
		}
		& + span{
			padding-left: 25px!important;
			color: #9eaaa0;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}
	span{
		line-height: 20px;
		font-weight: 300;
		font-size: 14px;
	}
}

/*=========================================
=            Форма отправки отзыва           =
=========================================*/

.rev-send{
	.but{
		margin-top: 30px;
	}
	.modal-dialog{
		width: 572px;
		@media ( max-width: @screen-xs-max) {
			margin: auto;
			width: 100%;
		}
	}
	.modal-content{
		padding-top: 60px;
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 60px;
		@media ( max-width: @screen-xs-max) {
			padding: 50px 15px 20px;
		}
	}
	h5{
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 600;
	}
}
.rev-send__head{
	text-align: center;
	label{
		cursor: pointer;
		&:not(:last-child){
			margin-right: 30px;
		}
		&.yes{
			span{
				margin-right: 15px;
			}
		}
		&.no{
			span{
				margin-left: 15px;
			}
			input{
				&:checked{
					& ~ span, & ~ .icon{
						color: red;
					}
				}
			}
		}
		.icon{
			width: 57px;
			height: 57px;
			color: @gray_txt;
			display: inline-block;
			vertical-align: middle;
		}
		span{
			display: inline-block;
			vertical-align: middle;
			font-size: 24px;
			font-weight: 400;
			color: @gray_txt;
		}
		input{
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			&:checked{
				& ~ span, & ~ .icon{
					color: @l_green;
				}
			}
		}
	}
}
.rev-send__estimate{
	margin-top: 20px;
}
.rev-send__estimate-ttl{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 35px;
}
.rev-send__estimate-key{
	float: left;
	font-size: 16px;
	font-weight: 400;
	padding-top: 15px;
	@media ( max-width: @screen-xs-max) {
		float: none;
		margin-bottom: 10px;
	}
}
.rev-send__estimate-val{
	float: right;
	@media ( max-width: @screen-xs-max) {
		float: none;
	}
}
.rev-send__estimate-item{
	margin-bottom: 20px;
}
.rev-send__message-footer-left{
	float: left;
	font-size: 12px;
	line-height: 16px;
	padding-top: 5px;
	@media ( max-width: @screen-xs-max) {
		max-width: 150px;
		padding-top: 0;
	}
}
.rev-send__message-footer-right{
	float: right;
	input{
		display: inline-block;
		vertical-align: middle;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
	}
}
.rev-send__message-footer{
	margin-top: 15px;
}
.rev-send__message{
	h5{
		margin-bottom: 10px;
	}
	.form-control{
		width: 93px;
		height: 35px;
		border-radius: 5px;
		border: 1px solid @gray_txt;
		color: black;
		font-size: 14px;
		&:focus{
			box-shadow: none;
			border-color: @l_green;
		}
	}
	textarea.form-control{
		width: 100%;
		max-width: 100%;
		height: 110px;
		font-size: 12px;
		line-height: 16px;
	}
}
.rev-send__message-sub{
	font-size: 12px;
	line-height: 16px;
	color: @gray_txt;
	margin-bottom: 10px;
}
/*=====  End of Форма отправки отзыва ======*/
.modal-dialog.modal-dialog__fastreg{
	max-width: 380px;
	.modal-welcome__bottom-check .but_bondi{
		margin-right: 0;
	}
	.modal-welcome__txt{
		margin-top: 15px;
	}
	.steps-content__form-input label{
		width: 100%;
		.form-control{
			width: 100%;
		}
	}
}
.modal_fast-reg__socials{
	flex-direction: column;
	align-items: center;
	display: flex;
}
.modal-welcome__txt{
	.big_p{
		line-height: 26px;
		font-size: 20px;
	}
}
.modal-welcome__bottom-check.modal-welcome__bottom-check__fastreg{
	.but.but_bondi{
		width: 100%;
		padding: 0;
	}
}
.modal_mypass{
	justify-content: center;
	align-items: center;
	display: flex;
	margin-bottom: 20px;
}
.modal_mypass.modal_mypass__between{
	justify-content: space-between;
	font-weight: 400;
	margin-bottom: 0;
	a:first-child{
		margin-right: 10px;
		&:hover{
			text-decoration: underline;
		}
	}
}
.step_access.step_access__link.step_access.step_access__link-modal{
	margin-top: 20px;
	.checkbox{
		top: 4px;
	}
	span{
		padding-left: 20px;
	}
}
.modal-dialog.modal-dialog__572{
	max-width: 572px;
}