 .c-header{
	background-color: #000921;
	color: #fff;
	border-bottom: 1px solid #fff;
	&_transparent{
		background-color: transparent;
	    z-index: 3;
	    position: absolute;
	    width: 100%;
	    left: 0;
	}
}
.c-header__left{
	float: left;
	margin-top: 7px;
	position: relative;
	margin-bottom: 12px;
	@media ( max-width: @screen-sm-max) {
		margin-bottom: 19px;
		margin-top: 12px;
	}
	@media ( max-width: @screen-xs-max) {
		margin-top: 13px;
		margin-bottom: 2px;
	}
}
.c-header__menu_small{
	width: 225px;
	background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    position: absolute;
    top: 55px;
    left: 0;
    padding: 20px 0;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.3s ease;
    @media ( max-width: @screen-sm-max) {
    	top: 50px;
    }
    &.active{
    	opacity: 1;
    	pointer-events: all;
    }
    a{
    	color: black;
    	transition: all 0.3s ease;
    	display: block;
    	font-weight: 400;
	    padding: 10px 20px;
    	&:hover{
    		background-color: @bondi_blue;
    		color: #fff;
    	}
    }
}
.c-header__menu_small-trigger{
	display: inline-block;
	vertical-align: middle;
    margin-top: 8px;
    text-align: center;
    position: relative;
    @media ( max-width: @screen-sm-max) {
    	margin-top: 2px;
    }
    &.active{
    	&:before{
    		opacity: 1;
    	}
    }
	&:before{
		content: '';
		width: 30px;
		height: 25px;
		border: 1px solid #fff;
		border-radius: 5px;
		left: -5px;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		display: block;
		position: absolute;
		opacity: 0;
		transition: all 0.3s ease;
	}
    &:hover{
    	&:before{
    		opacity: 1;
    	}
    }
	i{
		display: block;
		width: 20px;
		height: 2px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		transition: all 0.3s ease;
		&:not(:last-child){
			margin-bottom: 3px;
		}
	}
}
.c-header__logo{
	font-size: 36px;
	font-weight: 700;
	position: relative;
	display: inline-block;
	vertical-align: middle;
    margin-left: 12px;
    width: 204px;
    @media ( max-width: @screen-md-max) {
    	font-size: 32px;
	    width: 180px;
    }
    @media ( max-width: @screen-sm-max) {
    	font-size: 26px;
    	width: 144px;
    }
	&:before{
		content: '';
		width: 23px;
		height: 23px;
		background-color: @y_orange;
		border-radius: 50%;
		position: absolute;
	    top: 13px;
    	right: 0;
    	@media ( max-width: @screen-md-max) {
    		top: 10px;
    	}
    	@media ( max-width: @screen-sm-max) {
    		width: 16px;
    		height: 16px;
    		top: 9px;
    	}
	}
}
.c-header__right{
	float: right;
	margin-top: 16px;
	a, .c-header__right-item{
		display: inline-block;
		border: 1px solid #fff;
		line-height: 26px;
		height: 30px;
		padding-right: 16px;
		padding-left: 16px;
		transition: all 0.3s ease;
		@media ( max-width: @screen-md-max) {
			padding-right: 10px;
			padding-left: 10px; 
		}
		@media ( max-width: @screen-sm-max) {
			line-height: 24px;
		}
		&:hover{
			background-color: #304253;
		}
		&:not(:first-child){
			margin-left: 15px;
			@media ( max-width: @screen-sm-max) {
				margin-left: 8px;
			}
		}
		span{
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			@media ( max-width: @screen-xs-max) {
				display: none;
			}
		}
	}
}
.c-header__center{
	float: left;
    margin-left: 112px;
    @media ( max-width: @screen-md-max) {
    	margin-left: 32px;
    }
    @media ( max-width: @screen-sm-max) {
    	margin-left: 20px;
    }
    @media ( max-width: @screen-xs-max) {
    	display: none;
    }
}
.c-header__menu_big{
	font-size: 0;
	a{
	    display: block;
	    font-size: 14px;
	    line-height: 30px;
	    border: 1px solid transparent;
	    transition: all 0.3s ease;
	    padding: 0 10px;
	    @media ( max-width: @screen-md-max) {
	    	padding: 0 8px;
	    }
	    @media ( max-width: @screen-sm-max) {
	    	font-size: 13px;
	    }
	    &:hover{
	    	border: 1px solid #fff;
	    }
	}
	li{
		vertical-align: baseline;
		padding-top: 14px;
    	padding-bottom: 16px;
	}
	.menu__all{
	    a{
    		// padding: 0 18px;
	    }
	}
	.menu__create{
		margin-right: 12px;
		position: relative;
		cursor: pointer;
		@media ( max-width: @screen-sm-max) {
			display: none;
		}
		&.active{
			background-color: #fff;
			color: #000;
			.menu__create-link{
				transition: all 0.3s ease;
				&:before{
					border-top: 7px solid #000;
					transform: rotate(180deg);
				}
			}
			.menu__create-list{
				opacity: 1;
				pointer-events: all;
			}
		}
		.menu__create-link{
			&:hover{
				border: 1px solid transparent;
			}
		}
	}
}
.menu__create-link{
	width: 150px;
	position: relative;
	padding: 0;
	@media ( max-width: @screen-md-max) {
		width: 145px;
	}
	&:hover{
		border: 1px solid transparent;
	}
	&:before{
		content: '';
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 7px solid #fff;
		position: absolute;
		right: 10px;
		top: 13px;
		display: block;
		transition: all 0.3s ease;
	}
}
.menu__create-list{
	padding: 10px 0;
	position: absolute;
	top: 48px;
	width: 275px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    top: 62px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    cursor: default;
    z-index: 3;
    li{
    	padding-top: 0;
    	padding-bottom: 0;
    }
}
.menu__create-list-item{
	.menu__create-list-link{
		position: relative;
		&:before{
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			right: -11px;
			top: 6px;
			background-color: #f4f4f4;
			box-shadow: -2px 2px 1px rgba(0,0,0,.1);
			transform: rotate(45deg);
			z-index: 2;
			opacity: 0;
			transition: opacity 0.2s ease;
		}
	}
	&:hover{
		.menu__create-sub-list{
			pointer-events: all;
			visibility: visible;
			opacity: 1;
		}
		.menu__create-list-link{
			&:before{
				opacity: 1;
			}
		}
	}
	a{
    	color: #6a6a6a;
		font-weight: 700;
		padding: 6px 25px 6px 17px;
		line-height: 22px;
		&:hover{
			color: @bondi_blue;
			border: 1px solid transparent;
		}
	}
	.menu__create-sub-list{
		position: absolute;
		visibility: hidden;
		left: 100%;
		top: 0;
		min-height: 100%;
		width: 100%;
	    background-color: #f4f4f4;
	    box-shadow: 0 1px 5px rgba(0,0,0,.3);
	    padding: 10px 17px;
	    opacity: 0;
	    pointer-events: none;
	    transition: opacity 0.2s ease, visibility 0.2s ease;
		a{
			color: black;
			font-weight: 400;
			padding-left: 0;
			padding-right: 0;
			&:hover{
				border: 1px solid transparent;
				color: @bondi_blue;
			}
		}
		.title-link-item{
			a{
				font-weight: 700;
				font-size: 15px;
			}
		}
	}
}
.c-header.c-header__noborder{
	border-bottom: none;
}