.l-advantages__item-icon{
	height: 100px;
	@media ( max-width: @screen-xs-max) {
		float: left;
		width: 118px;
	}
	@media ( max-width: 450px) {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.icon{
		color: @y_orange;
		&-benefit{
			width: 118px;
			height: 100px;
		}
		&-like{
			width: 102px;
			height: 99px;
		}
		&-clock{
			width: 99px;
			height: 99px;
		}
	}
}
.l-advantages{
    padding-top: 74px;
    padding-bottom: 50px;
    @media ( max-width: @screen-sm-max) {
    	padding: 40px 0;
    }
    h4{
    	&:after{
    		margin-top: 61px;
    		@media ( max-width: @screen-sm-max) {
    			margin-top: 20px;
    		}
    	}
    	margin-bottom: 60px;
    }
    [class*="col-"]{
    	&:not(:last-child){
			margin-bottom: 30px;
		}
    }
}
.l-advantages__item{
	text-align: center;
}
.l-advantages__item-ttl{
	color: #010101;
	margin-top: 23px;
	font-weight: 700;
	font-size: 24px;
	@media ( max-width: @screen-sm-max) {
		font-size: 20px;
	}
	@media ( max-width: @screen-xs-max) {
		margin-top: 0;
		font-size: 18px;
	}
}
.l-advantages__item-txt{
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
    padding: 0 17px;
    @media ( max-width: @screen-xs-max) {
    	padding: 0;
    	margin-top: 15px;
    }
}
.l-advantages__content{
	padding: 0 30px;
	@media ( max-width: @screen-sm-max) {
		padding: 0;
	}
}
.l-advantages__item-cont{
	@media ( max-width: @screen-xs-max) {
		overflow: hidden;
		text-align: left;
		padding-left: 30px;
	}
	@media ( max-width: 450px) {
		text-align: center;
		padding-left: 0;
	}
}