.l-bid-faq{
	@media ( max-width: @screen-sm-max) {
		padding-top: 50px;
	}
	ul{
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
		li{
			&:not(:last-child){
				margin-bottom: 19px;
			}
			a{
				color: @bondi_blue;
				font-size: 16px;
				line-height: 26px;
				display: block;
				&:hover{
					color: @y_orange;
				}
			}
		}
	}
}
.l-bid-faq__ttl{
	color: #1e546d;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 21px;
}