.l-cat-serv__head{
	background-color: #f2f6f8;
	padding-left: 29px;
	padding-right: 30px;
	padding-top: 24px;
	padding-bottom: 30px;
	b{
		font-size: 24px;
		font-weight: 400;
		display: block;
		margin-bottom: 28px;
		@media ( max-width: @screen-sm-max) {
			font-size: 20px;
		}
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 15px;
		}
	}
}
.l-catalog-services{
	padding-left: 10px;
	margin-top: 8px;
	padding-bottom: 76px;
	@media ( max-width: @screen-sm-max) {
		padding-left: 0;
		margin-top: 50px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
	}
	@media ( max-width: 600px) {
		margin-top: 20px;
	}
}
.l-cat-serv__bottom-left{
	float: left;
	@media ( max-width: @screen-xs-max) {
		float: none;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 194px;
	}
	label{
		font-weight: 400;
		font-size: 18px;
		font-weight: 300;
		position: relative;
	    margin-left: 20px;
	    cursor: pointer;
	    @media ( max-width: @screen-sm-max) {
	    	font-size: 16px;
	    }
	    @media ( max-width: @screen-xs-max) {
	    	display: block;
	    	margin-left: 0;
	    	margin-top: 10px;
	    }
		input{
			position: absolute;
			opacity: 0;
			visibility: hidden;
			&:checked ~ i{
				&:before{
					opacity: 1;
				}
			}
		}
		i{
			width: 16px;
			height: 16px;
			border: 1px solid @l_green;
			display: inline-block;
			vertical-align: middle;
			&:before{
				content: '';
				position: absolute;
				width: 6px;
				left: 7px;
				top: -2px;
				height: 18px;
				border-right: 1px solid #a2cf3a;
				border-bottom: 1px solid #a2cf3a;
				margin: auto;
				display: block;
				transform: rotate(45deg);
				opacity: 0;
				transition: all 0.3s ease;
			}
		}
		span{
			display: inline-block;
			vertical-align: middle;
			padding-left: 14px;
			margin-top: -2px;
		}
	}
	.btn-default{
		border: 1px solid #c3cbc4;
		&:hover{
			background-color: #fff;
		}
	}
	.btn{
		border-radius: 5px;
		padding: 8px 12px;
		color: #b4c1bb;
		font-size: 14px;
		font-weight: 400;
		position: relative;
		&:before{
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			border-right: 1px solid #c3cbc4;
			border-bottom: 1px solid #c3cbc4;
			transform: rotate(45deg);
			position: absolute;
			top: 9px;
			right: 12px;
		}
		.bs-caret{
			display: none;
		}
	}
	.btn:active, .btn.active{
		box-shadow: none;
		background-color: #fff;
	}
	.bootstrap-select .dropdown-toggle:focus{
		outline: none !important;
	}
	.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
		background-color: #fff;
	}
	.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
		color: #b4c1bb;
		background-color: #fff;
		border-color: #b4c1bb;
	}
	.btn-default:focus, .btn-default.focus{
		background-color: #fff;
	}
	.btn-group.open .dropdown-toggle{
		box-shadow: none;
	}
	.bootstrap-select.btn-group .dropdown-menu{
		margin-top: 0;
		border: none;
		border-radius: 0;
	}
	.dropdown-menu > li > a{
	    padding: 7px 10px;
	    transition: all 0.3s ease;
	    .text{
	    	display: inline-block;
	    	vertical-align: middle;
	    	padding-left: 10px;
	    	color: #b4c1bb;
	    }
	    &:hover{
	    	background-color: @bondi_blue;
	    	.text{
	    		color: #fff;
	    	}
	    }
	}
}
.l-cat-serv__bottom-right{
	float: right;
	padding-top: 8px;
	font-size: 14px;
	letter-spacing: 0.2px;
	color: #b4c1bb;
	@media ( max-width: @screen-xs-max) {
		float: none;
	}
	a{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.l-cat-serv__item-left-revs{
	font-size: 16px;
    margin-top: 14px;
	span{
		display: inline-block;
		vertical-align: middle;
	}
	.revs-name{
		margin-right: 12px;
	}
	.icon{
		color: @y_orange;
		width: 13px;
		height: 13px;
		margin-right: 4px;
	}
}
.l-cat-serv__item-left{
	width: 170px;
	@media ( max-width: 600px) {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.h-object-fit{
		height: 176px;
	}
}
.l-cat-serv__body{
	margin-top: 94px;
	@media ( max-width: @screen-sm-max) {
		margin-top: 20px;
	}
}
.l-cat-serv__item{
	display: table;
	width: 100%;
	&:not(:last-child){
		margin-bottom: 68px;
	}
}
.l-cat-serv__item-left-stars{
	margin-top: 10px;
	.icon{
		color: @y_orange;
		width: 20px;
		height: 20px;
	}
}
.l-cat-serv__item-right{
	display: table-cell;
	padding-left: 30px;
	@media ( max-width: 600px) {
		display: block;
		padding-left: 0;
		text-align: center;
	}
}
.l-cat-serv__item-left{
	display: table-cell;
	@media ( max-width: 600px) {
		margin-bottom: 30px;
		display: block;
	}
}
.l-cat-serv__it-rght-hd-left{
	float: left;
	@media ( max-width: @screen-xs-max) {
		float: none;
	}
}
.l-cat-serv__it-rght-hd-right{
	float: right;
	font-size: 24px;
	font-weight: 400;
	@media ( max-width: @screen-md-max) {
		font-size: 20px;
	}
	@media ( max-width: @screen-xs-max) {
		float: none;
		margin-top: 8px;
		font-size: 18px;
	}
}
.l-cat-serv__item-name{
	font-size: 24px;
	font-weight: 400;
	color: @bondi_blue;
	display: inline-block;
	vertical-align: middle;
	@media ( max-width: @screen-md-max) {
		font-size: 20px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 18px;
	}
}
.l-cat-serv__item-icons{
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	@media ( max-width: 600px) {
		display: block;
		margin-left: 0;
		margin-top: 10px;
	}
}
.l-cat-serv__item-icon{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
	&:hover{
		.popup{
			opacity: 1;
		}
	}
	.popup{
		width: 153px;
		height: 54px;
		position: absolute;
		top: -71px;
		left: -66px;
		right: 0;
		margin: auto;
		color: #fff;
		font-size: 12px;
		text-align: center;
	    padding-top: 13px;
    	padding-bottom: 13px;
    	opacity: 0;
    	transition: all 0.3s ease;
    	span{
    		position: relative;
    	}
		&:before{
			content: '';
			display: block;
			background-color: black;
			opacity: 0.71;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
		&:after{
			content: '';
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 15px solid black;
			opacity: 0.71;
			position: absolute;
			display: block;
			top: 100%;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
}
.l-cat-serv__it-rght-hd-status{
	color: @l_green;
	font-size: 14px;
	margin-top: 7px;
}
.l-cat-serv__item-right-footer{
	margin-top: 26px;
	.but{
		padding: 0 60px;
		line-height: 50px;
		@media ( max-width: @screen-sm-max) {
			padding: 0 30px;
		}
	}
}
.l-cat-serv__item-right-body{
	color: #0a0a0a;
	font-size: 16px;
	text-align: justify;
	line-height: 24px;
	margin-top: 28px;
	@media ( max-width: @screen-sm-max) {
		font-size: 14px;
	}
	@media ( max-width: @screen-xs-max) {
		margin-top: 20px;
	}
	p{
		margin-bottom: 0;
	}
}
.l-cat-serv__footer{
	margin-top: 77px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
	}
	.c-pagination{
		float: right;
		@media ( max-width: @screen-xs-max) {
			float: none;
		}
	}
}
.c-pagination{
	ul{
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
		font-size: 0;
		li{
			display: inline-block;
			vertical-align: middle;
			&:not(:last-child){
				margin-right: 6px;
			}
			&.active{
				a{
					color: @y_orange;
				}
			}
			a{
				display: block;
				font-size: 16px;
				color: #040404;
				padding: 3px;
				transition: background 0.2s ease;
				&:hover{
					background-color: @bondi_blue;
					color: #fff;
				}
			}
		}
	}
}