.l-contacts{
	padding-bottom: 58px;
	p{
		font-size: 18px;
		margin-bottom: 15px;
		@media ( max-width: @screen-sm-max) {
			font-size: 16px;
		}
	}
	h1{
		margin-bottom: 46px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 20px;
		}
	}
	.l-contacts__section{
		margin-top: 54px;
		letter-spacing: 0.1px;
		@media ( max-width: @screen-sm-max) {
			margin-top: 30px;
		}
		a{
			color: @bondi_blue;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		&:last-child{
			margin-top: 41px;
		}
		span{
			display: block;
			font-size: 16px;
			line-height: 36px;
			@media ( max-width: @screen-md-max) {
				line-height: 30px;
			}
			@media ( max-width: @screen-sm-max) {
				font-size: 14px;
				line-height: 24px;
			}
		}
		h6{
			text-align: left;
			color: @bondi_blue;
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 45px;
			@media ( max-width: @screen-sm-max) {
				margin-bottom: 15px;
				font-size: 18px;
			}
			&:after{
				display: none;
			}
		}
		p{
			margin-top: 36px;
			font-size: 16px;
			line-height: 35px;
			@media ( max-width: @screen-sm-max) {
				margin-top: 19px;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
}