.l-cust-rev__annotation{
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 76px;
    margin-top: 39px;
    letter-spacing: 0.1px;
    max-width: 833px;
    @media ( max-width: @screen-sm-max) {
	    font-size: 14px;
	    line-height: 26px;
	    margin-bottom: 36px;
	    margin-top: 29px;
    }
}
.l-cust-rev__item-img{
	width: 75px;
	height: 75px;
	float: left;
	@media ( max-width: 485px) {
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-bottom: 15px;
	}
}
.l-cust-rev__item-txt{
	overflow: hidden;
	padding-left: 25px;
	@media ( max-width: 485px) {
		padding-left: 0;
	}
}
.l-cust-rev__item-txt-wrp{
	background-color: @gray;
    padding: 27px 10px 26px 30px;
    letter-spacing: 0.1px;
    @media ( max-width: @screen-sm-max) {
    	padding: 15px;
    }
}
.l-cust-rev__item-user-name{
	font-size: 18px;
	font-weight: 400;
	color: @bondi_blue;
	display: inline-block;
	vertical-align: middle;
	@media ( max-width: @screen-sm-max) {
		font-size: 16px;
	}
}
.l-cust-rev__item-user-about{
	color: @y_orange;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 400;
    margin-left: 17px;
    padding-top: 4px;
    @media ( max-width: @screen-sm-max) {
    	font-size: 13px;
    	padding-top: 2px;
    }
}
.l-cust-rev__item-user{
	margin-bottom: 10px;
}
.l-cust-rev__item-rev{
	color: #0a0a0a;
	font-size: 14px;
	line-height: 24px;
	@media ( max-width: @screen-sm-max) {
		font-size: 13px;
	}
	p{
		margin-bottom: 0;
	}
}
.l-cust-rev__item-caption{
	color: @y_orange;
	font-size: 13px;
	font-weight: 400;
    margin-top: 7px;
    float: right;
    padding-right: 6px;
}
.l-cust-rev__item{
	&:not(:last-child){
		margin-bottom: 90px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 40px;
		}
	}
}
.l-cust-rev__btns{
    margin-top: 85px;
    @media ( max-width: @screen-sm-max) {
    	margin-top: 45px;
    }
    @media ( max-width: @screen-xs-max) {
    	text-align: center;
    }
	.c-check-link{
		margin-left: 202px;
	    position: relative;
	    top: -3px;
	    @media ( max-width: @screen-md-max) {
	    	margin-left: 32px;
	    }
	    @media ( max-width: @screen-xs-max) {
	    	margin-left: 0;
	    	margin-top: 30px;
	    	display: block;
	    }
	}
}
.c-check-link{
	font-size: 14px;
	font-weight: 400;
	color: @bondi_blue;
	display: inline-block;
	&:hover{
		color: @y_orange;
	}
	&:before{
		content: '';
		width: 8px;
		height: 14px;
		border-right: 3px solid #a2cf3a;
		border-bottom: 3px solid #a2cf3a;
		transform: rotate(45deg);
		display: inline-block;
		vertical-align: middle;
		margin-right: 17px;
		position: relative;
		top: -3px;
		left: 2px;
	}
}
.l-cust-rev{
	padding-bottom: 86px;
	@media ( max-width: @screen-sm-max) {
		padding-bottom: 46px;
	}
}