.l-economic{
	h4{
		@media ( max-width: @screen-sm-max) {
			font-size: 30px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 23px;
		}
		&:after{
			margin-top: 62px;
			@media ( max-width: @screen-sm-max) {
				margin-top: 30px;
			}
		}
		span{
			padding-left: 67px;
			@media ( max-width: @screen-md-max) {
				padding-left: 0;
				display: block;
			}
		}
	}
}
.l-economic__item-img{
	float: left;
	width: 499px;
	height: 279px;
	@media ( max-width: @screen-sm-max) {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	@media ( max-width: @screen-xs-max) {
	    width: 269px;
    	height: 149px;
	}
}
.l-economic__item-txt{
	overflow: hidden;
    padding-left: 68px;
    padding-top: 7px;
    @media ( max-width: @screen-sm-max) {
    	padding-left: 0;
    	text-align: center;
    }
	h5{
		font-size: 24px;
		font-weight: 400;
	    margin-bottom: 20px;
	    @media ( max-width: @screen-xs-max) {
	    	font-size: 20px;
	    }
	}
	p{
		margin-bottom: 0;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		max-width: 455px;
		@media ( max-width: @screen-sm-max) {
			margin-left: auto;
			margin-right: auto;
			font-size: 16px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
			line-height: 20px;
		}
	    // padding-left: 4px;
	}
	.but{
		margin-top: 26px;
	}
}
.l-economic__content{
    padding-top: 135px;
    @media ( max-width: @screen-sm-max) {
    	padding-top: 45px;
    }
}
.l-economic__item{
	margin-bottom: 35px;
	&.txt-left{
		.l-economic__item-img{
			float: right;
			@media ( max-width: @screen-sm-max) {
				float: none;
			    height: 351px;
			}
			@media ( max-width: @screen-xs-max) {
			    height: 192px;
			}
		}
		.l-economic__item-txt{
			padding-left: 0;
			padding-right: 68px;
		    padding-top: 54px;
		    @media ( max-width: @screen-xs-max) {
		    	padding-right: 0;
		    }
		    p{
		    	font-size: 16px;
		    	@media ( max-width: @screen-xs-max) {
		    		font-size: 14px;
		    	}
		    }
		    h5{
	    	    margin-bottom: 28px;
		    }
		    .but{
		    	margin-top: 23px;
		    }
		}
	}
	&.txt-center{
	    padding-left: 90px;
	    padding-top: 20px;
	    @media ( max-width: @screen-sm-max) {
	    	padding-top: 0;
	    	padding-left: 0;
	    }
	    .l-economic__item-txt{
	    	padding-left: 138px;
	    	padding-top: 94px;
	    	@media ( max-width: @screen-sm-max) {
	    		padding-top: 40px;
	    		padding-left: 0;
	    	}
	    	h5{
	    		margin-bottom: 28px;
	    	}
	    	p{
	    		font-size: 16px;
	    		@media ( max-width: @screen-xs-max) {
	    			font-size: 14px;
	    		}
	    	}
	    }
		.l-economic__item-img{
			height: 401px;
			width: 340px;
			@media ( max-width: @screen-xs-max) {
			    height: 311px;
    			width: 260px;
			}
		}
	}
}
.l-economic__item-about-item{
	display: inline-block;
	width: 204px;
	margin-bottom: 30px;
	@media ( max-width: @screen-xs-max) {
		display: block;
		text-align: left;
	}
	.icon{
		color: #000921;

	}
	.icon-rouble{
		width: 20px;
		height: 22px;
	}
	.icon-like{
		width: 23px;
		height: 21px;
	}
	.icon-star{
		width: 21px;
		height: 21px;
	}
	.icon-example{
		width: 23px;
		height: 18px;
	}
	span{
		color: #666;
		font-size: 18px;
		font-weight: 300;
		display: inline-block;
		vertical-align: middle;
	    padding-left: 15px;
	}
	.icon-wrp{
		display: inline-block;
		vertical-align: middle;
		width: 23px;
		@media ( max-width: @screen-xs-max) {
			text-align: left;
		}
	}
}
.l-economic__item-about{
	max-width: 417px;
	margin-top: 31px;
	@media ( max-width: @screen-sm-max) {
		margin-left: auto;
		margin-right: auto;
	}
}
.l-economic__button{
	text-align: center;
	margin-top: 39px;
	.but_bondi{
	    font-size: 24px;
	    font-weight: 400;
	    padding: 0 80px;
	    height: 74px;
	    line-height: 70px;
	    @media ( max-width: @screen-md-max) {
			font-size: 22px;
			padding: 0 40px;
			height: 54px;
			line-height: 56px;
	    }
	    @media ( max-width: @screen-xs-max) {
			font-size: 16px;
			padding: 0 40px;
			height: auto;
			line-height: 20px;
			padding-top: 16px;
			padding-bottom: 16px;
	    }
	}
}