.l-how-it-works-txt{
	font-size: 16px;
	line-height: 30px;
    max-width: 530px;
    letter-spacing: 0.1px;
    @media ( max-width: @screen-xs-max) {
    	font-size: 14px;
    	line-height: 24px;
    }
	p{
		&:not(:last-child){
			    margin-bottom: 30px;
		}
		a{
			color: @bondi_blue;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		b{
			font-weight: 300;
			font-size: 18px;
			@media ( max-width: @screen-xs-max) {
				font-size: 16px;
			}
		}
	}
	h1{
		margin-bottom: 28px;
	}
}