.l-modal-vacancy__head{
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	b{
		color: @bondi_blue;
	}
}
.l-modal-vacancy{
	.modal-dialog{
		width: 331px;
		@media ( max-width: @screen-xs-max) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.modal-content{
		border-radius: 0;
		padding-left: 30px;
		padding-right: 30px;
	    padding-top: 24px;
        padding-bottom: 30px;
	}
}
.l-modal-vacancy__body{
	margin-top: 23px;
	label{
		cursor: pointer;
	}
	.but{
		margin-top: 27px;
		height: 47px;
		display: block;
		width: 100%;
		line-height: 35px;
	}
	.check-wrap{
		display: block;
		font-weight: 300;
		font-size: 14px;
		color: #b9c2ba;
		line-height: 24px;
		position: relative;
		margin-top: 23px;
		input{
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			&:checked ~ .checkbox{
				&:before{
					opacity: 1;
				}
			}
		}
		.checkbox{
			width: 19px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			border-radius: 2px;
			border: 1px solid #CACACA;
			position: absolute;
			top: 5px;
			left: 0;
			&:before{
				content: '';
				width: 8px;
				height: 20px;
				background: #fff;
				position: absolute;
				top: -10px;
				left: 7px;
				right: 0;
				bottom: 0;
				margin: auto;
				transform: rotate(45deg);
				border-right: 1px solid #92D23B;
				border-bottom: 1px solid #92D23B;
				opacity: 0;
				transition: all 0.3s ease;
				box-shadow: 5px 0px 0px 0px #fff;
			}
		}
		.checkbox-txt{
			display: inline-block;
			vertical-align: middle;
			padding-left: 35px;
		}
	}
	.input-wrap{
		font-weight: 400;
		display: block;
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}
	.add-file{
		display: block;
		margin-bottom: 0;
		position: relative;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		margin-top: 34px;
		cursor: pointer;
		span{
		    padding-left: 18px;
		}
		.icon{
			width: 18px;
			height: 34px;
			color: @y_orange;
		}
		input{
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			top: 0;
			left: 0;
		}
	}
	.form-control{
		border-radius: 0;
		height: 43px;
		border: 1px solid #f2f6f8;
	    font-size: 16px;
    	padding-left: 8px;
    	&:focus{
	        box-shadow: 0px 0px 14px 0px #9be9f7;
    	}
	}
	::-webkit-input-placeholder{
		color: #b9c2ba;
		transition: all 0.3s ease;
		font-weight: 300;
	}
	::-moz-placeholder{
		color: #b9c2ba;
		transition: all 0.3s ease;
		font-weight: 300;
	}
	:-moz-placeholder{
		color: #b9c2ba;
		transition: all 0.3s ease;
		font-weight: 300;
	}
	:-ms-input-placeholder{
		color: #b9c2ba;
		transition: all 0.3s ease;
		font-weight: 300;
	}
	:focus::-webkit-input-placeholder{
		opacity: 0;
	}
	:focus::-moz-placeholder{
		opacity: 0;
	}
	:focus:-moz-placeholder{
		opacity: 0;
	}
	:focus:-ms-input-placeholder{
		opacity: 0;
	}
}