.l-no-risk-faq{
	padding-bottom: 88px;
	padding-top: 62px;
	@media ( max-width: @screen-md-max) {
		padding-top: 0;
		padding-bottom: 40px;
	}
	h6{
		font-size: 30px;
		font-weight: 400;
	    margin-bottom: 25px;
	    @media ( max-width: @screen-xs-max) {
	    	font-size: 20px;
	    }
		&:after{
			display: none;
		}
	}
	.l-faq__dropdowns-item-btn span{
		max-width: 870px;
		display: block;
		overflow: hidden;
		margin-top: -7px;
		line-height: 46px;
		@media ( max-width: @screen-xs-max) {
		    margin-top: -7px;
    		line-height: 29px;
		}
	}
	.l-faq__dropdowns-item-btn .icon{
		float: left;
	}
	.l-faq__dropdowns-item-btn:before{
		border-right: 2px solid #ccc;
    	border-bottom: 2px solid #ccc;
	}
	.l-faq__dropdowns-item-content{
		padding-left: 30px;
		background-color: #fff;
	    padding-top: 16px;
    	padding-bottom: 10px;
    	a{
    		color: @bondi_blue;
    		text-decoration: underline;
    		&:hover{
    			text-decoration: none;
    		}
    	}
	}
	.l-faq__dropdowns-item-btn{
		border-bottom: none;
		&[aria-expanded="true"]{
			&:before{
				transform: rotate(-135deg);
				top: 38px;
			}
		}
	}
	.l-faq__dropdowns-item{
		border-bottom: 1px solid @gray;
	}
}