.l-no-limit__head{
	padding-bottom: 63px;
	@media ( max-width: @screen-md-max) {
		padding-bottom: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 0;
	}
	h1{
		font-size: 36px;
		font-weight: 400;
		float: left;
		max-width: 629px;
		position: relative;
		@media ( max-width: @screen-md-max) {
			font-size: 28px;
			max-width: 490px;
		}
		@media ( max-width: @screen-xs-max) {
			float: none;
			font-size: 26px;
		}
		&:after{
			content: '';
			width: 130px;
			height: 2px;
			background-color: @bondi_blue;
			display: block;
			position: absolute;
			bottom: -63px;
			@media ( max-width: @screen-md-max) {
				bottom: -30px;
			}
			@media ( max-width: @screen-xs-max) {
				display: none;
			}
		}
	}
	.btn{
		border: none;
		border-bottom: 1px solid @y_orange;
		font-size: 24px;
		border-radius: 0;
		padding: 10px 0;
		position: relative;
		text-align: left;
		@media ( max-width: @screen-md-max) {
			font-size: 16px;
		}
		&:before{
			content: '';
			width: 12px;
			height: 12px;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			display: block;
			transform: rotate(45deg);
			position: absolute;
			top: 18px;
			right: 0;
			@media ( max-width: @screen-md-max) {
				top: 11px;
			}
		}
	}
	.btn-default:hover{
		background-color: #fff;
	}
	.bootstrap-select .dropdown-toggle:focus{
		outline: none !important;
	}
	.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
		outline: none !important;
	}
	.btn-group.open .dropdown-toggle{
		box-shadow: none;
	}
	.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
		background-color: #fff;
	}
	.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
		background-color: #fff;
		border-color: @y_orange;
	}
	.btn-default:focus, .btn-default.focus{
		background-color: #fff;
	}
	.btn:active, .btn.active{
		box-shadow: none;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 190px;
		float: right;
	    margin-right: 26px;
    	margin-top: -7px;
    	@media ( max-width: @screen-md-max) {
    		width: 130px;
    	}
    	@media ( max-width: @screen-xs-max) {
    		float: none;
    		margin-top: 20px;
    		width: 200px;
    	}
	}
	.bootstrap-select > .dropdown-toggle{
		padding-right: 10px;
	}
	.bs-caret{
		display: none;
	}
	.bootstrap-select.btn-group .dropdown-menu{
		margin-top: 0;
	}
	.bootstrap-select.btn-group .dropdown-menu li a{
	    padding: 10px 10px;
    	font-size: 20px;
    	@media ( max-width: @screen-md-max) {
    		padding: 5px;
    		font-size: 16px;
    	}
	}
	.dropdown-menu{
		border-radius: 0;
	}
}
.l-no-limit__read-full{
	display: block;
    margin-top: 23px;
    color: @bondi_blue;
    text-decoration: underline;
    line-height: 24px;
    @media ( max-width: @screen-xs-max) {
    	margin-top: 10px;
    }
    &:hover, &:focus{
		text-decoration: none;
		color: @bondi_blue;
    }
}
.l-no-limit{
	padding-top: 76px;
	padding-bottom: 76px;
	// padding-bottom: 84px;
	position: relative;
	@media ( max-width: @screen-sm-max) {
		padding: 40px 0;
	}
	@media ( max-width: @screen-xs-max) {
		padding: 30px 0;
	}
}
.l-no-lt__bd-top{
	padding: 13px 0;
	border-bottom: 1px solid @gray;
	border-top: 1px solid @gray;
	font-size: 12px;
	color: @bondi_blue;
	padding-left: 42px;
	padding-right: 52px;
	@media ( max-width: @screen-xs-max) {
		display: none;
	}
}
.l-no-lt__bd-top-left{
	float: left;
}
.l-no-lt__bd-top-right{
	float: right;
	span{
		display: inline-block;
		vertical-align: middle;
		&:first-child{
		    margin-right: 83px;
		}
	}
}
.l-no-limit__content{
	// padding-bottom: 84px;
}
.l-no-limit__annotation{
	font-size: 18px;
	line-height: 30px;
	margin-top: 52px;
	letter-spacing: 0.1px;
	@media ( max-width: @screen-md-max) {
		font-size: 16px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
		line-height: 26px;
		margin-top: 30px;
	}
}
.l-no-limit__body{
	margin-top: 45px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 20px;
	}
}
.l-no-lt__item{
	position: relative;
	.select-link{
		display: block;
		position: absolute;
		top: 13px;
		right: 0;
		width: 140px;
		height: 42px;
		border: 1px solid @y_orange;
		border-radius: 5px;
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 40px;
		transition: all 0.3s ease;
		&.active{
			color: #fff;
			background-color: #f98576;
			border-color: #f98576;
			&:hover{
				color: #fff;
				background-color: (#f98576 - 30%);
				border-color: (#f98576 - 30%);
			}
		}
		&:hover{
			background-color: @y_orange;
			color: #fff;
		}
		@media ( max-width: @screen-md-max) {
		    top: 9px;
		}
		@media ( max-width: @screen-xs-max) {
			width: 89px;
			height: 32px;
			line-height: 30px;
			font-size: 13px;
			position: absolute;
    		top: 10px;
    		right: 0;
		}
	}
}
.l-no-lt__item-button{
    font-size: 18px;
    font-weight: 400;
    padding-top: 19px;
    padding-bottom: 17px;
    border-bottom: 1px solid @gray;
    cursor: pointer;
    // @media ( max-width: @screen-md-max) {
    // 	font-size: 16px;
    // 	padding-top: 10px;
    // 	padding-bottom: 10px;
    // }
    @media ( max-width: @screen-xs-max) {
    	font-size: 14px;
    	position: relative;
    	padding-top: 7px;
    	padding-bottom: 7px;
    }
    &[aria-expanded="true"]{
    	border-bottom-color: @y_orange;
    	.l-no-lt__item-left{
    		&:before{
			    transform: rotate(-135deg);
			    top: 20px;
			    @media ( max-width: @screen-md-max) {
			    	top: 9px;
			    }
    		}
    	}
    }
    &_sub{
    	font-weight: 300;
    	cursor: default;
    	&:last-child{
    		border-bottom-color: @y_orange;
    	}
    	@media ( max-width: @screen-md-max) {
    		padding: 10px 0;
    	}
    	.l-no-lt__item-left{
    		@media ( max-width: @screen-md-max) {
    			padding-top: 11px;
    		}
    		&:before{
    			display: none;
    		}
    	}
    	.l-no-lt__item-right{
    		padding-right: 0;
    	}
    }
}
.l-no-lt__item-left{
    float: left;
    padding-left: 49px;
    padding-top: 10px;
    position: relative;
    @media ( max-width: @screen-md-max) {
    	padding-top: 0;
    }
    @media ( max-width: @screen-xs-max) {
    	float: none;
    	padding-left: 28px;
    	padding-top: 0;
    	max-width: 170px;
    }
    &:before{
		content: '';
		position: absolute;
		left: 3px;
		top: 15px;
		width: 12px;
		height: 12px;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		transform: rotate(45deg);
		display: block;
		transition: all 0.3s ease;
		@media ( max-width: @screen-md-max) {
			top: 3px;
		}
    }
}
.l-no-lt__item-right{
	float: right;
	padding-right: 140px;
	@media ( max-width: @screen-xs-max) {
		float: none;
		padding-left: 28px;
		max-width: 170px;
		padding-right: 0;
	}
	.price{
		display: inline-block;
		vertical-align: middle;
		margin-right: 28px;
		@media ( max-width: @screen-xs-max) {
			margin-top: 5px;
    		font-weight: 600;
		}
	}
	a{
		display: inline-block;
		vertical-align: middle;
		right: 0;
		width: 140px;
		height: 42px;
		border: 1px solid @y_orange;
		border-radius: 5px;
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 40px;
		transition: all 0.3s ease;
		&.active{
			color: #fff;
			background-color: #f98576;
			border-color: #f98576;
			&:hover{
				color: #fff;
				background-color: (#f98576 - 30%);
				border-color: (#f98576 - 30%);
			}
		}
		&:hover{
			background-color: @y_orange;
			color: #fff;
		}
		@media ( max-width: @screen-xs-max) {
			width: 89px;
			height: 32px;
			line-height: 30px;
			font-size: 13px;
			position: absolute;
    		top: 0;
    		bottom: 0;
    		margin: auto;
    		right: 0;
		}
	}
}
.l-no-limit__media{
	padding-top: 333px;
	padding-left: 32px;
	@media ( max-width: @screen-md-max) {
		padding-left: 0;
		padding-top: 290px;
	}
	@media ( max-width: @screen-sm-max) {
		padding-top: 30px;
	}
}
.l-no-limit__media-item{
	text-align: center;
	&:not(:last-child){
	    margin-bottom: 50px;
	    @media ( max-width: @screen-md-max) {
	    	margin-bottom: 20px;
	    }
	}
	b{
		display: block;
		font-size: 18px;
		font-weight: 400;
	    margin: 27px 0 29px;
	    line-height: 30px;
	    @media ( max-width: @screen-md-max) {
	    	font-size: 16px;
	    	line-height: 26px;
	    	margin: 10px 0;
	    }
	}
	span{
		display: block;
		font-size: 14px;
		line-height: 30px;
		@media ( max-width: @screen-md-max) {
			line-height: 24px;
		}
	}
	.icon{
		margin-left: auto;
		margin-right: auto;
	}
	.icon-pig{
		width: 97px;
		height: 91px;
		color: @bondi_blue;
	}
	.icon-star2{
		width: 97px;
		height: 97px;
		color: @y_orange;
	}
	.icon-messages{
		width: 97px;
		height: 92px;
		color: #1e546d;
	}
}
.l-no-limit__footer{
	background-color: #f2f6f8;
	padding-top: 22px;
	padding-bottom: 22px;
	border-bottom: 1px solid #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
	&.active{
		display: block;
	}
	@media ( max-width: @screen-xs-max) {
		text-align: center;
		padding: 10px 0;
	}
	.selected{
		font-size: 18px;
		font-weight: 400;
		display: block;
		margin-top: 19px;
		float: left;
		@media ( max-width: @screen-sm-max) {
			font-size: 16px;
		}
		@media ( max-width: @screen-xs-max) {
			float: none;
			margin-bottom: 10px;
			font-size: 16px;
			margin-top: 0;
			font-size: 14px;
		}
	}
	.but{
		float: right;
		font-size: 18px;
		font-weight: 400;
		height: 59px;
		padding: 0 71px;
		line-height: 57px;
		@media ( max-width: @screen-sm-max) {
			padding: 0 30px;
			font-size: 16px;
			line-height: 45px;
			height: 48px;
		}
		@media ( max-width: @screen-xs-max) {
			float: none;
			padding: 0 20px;
			height: 35px;
			line-height: 33px;
		}
	}
}
.l-no-limit__footer-cont{
	max-width: 830px;
	margin-left: auto;
	margin-right: auto;
}