.l-personal__ttl{
	font-size: 36px;
	font-weight: 400;
    line-height: 46px;
    @media ( max-width: @screen-sm-max) {
	    font-size: 25px;
    	line-height: 38px;
    }
    @media ( max-width: @screen-xs-max) {
    	line-height: 30px;
    }
}
.l-personal__sub-ttl{
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
    margin-top: 29px;
    @media ( max-width: @screen-sm-max) {
    	font-size: 16px;
    	line-height: 26px;
    }
}
.l-personal__txt{
    padding-left: 136px;
    max-width: 618px;
    @media ( max-width: @screen-md-max) {
    	padding-left: 0;
	    max-width: 488px;
    }
    @media ( max-width: @screen-sm-max) {
    	max-width: 438px;
    }
    @media ( max-width: @screen-xs-max) {
    	max-width: none;
    }
	p{
	    font-size: 16px;
	    margin-bottom: 0;
	    margin-top: 32px;
	    padding-right: 16px;
	    line-height: 30px;
	    @media ( max-width: @screen-sm-max) {
	    	font-size: 14px;
	    	line-height: 20px;
	    }
	}
}
.l-personal{
	background-color: #e6fdff;
	padding-top: 102px;
	padding-bottom: 110px;
	// overflow-x: hidden;
	.container{
		position: relative;
	}
	@media ( max-width: @screen-xs-max) {
		padding: 40px 0;
	}
}
.l-personal__download{
	margin-top: 36px;
	a{
		display: inline-block;
		vertical-align: bottom;
		width: 189px;
		height: 54px;
		margin-right: 36px;
		position: relative;
		@media ( max-width: @screen-sm-max) {
			margin-right: 25px;
		}
		@media ( max-width: @screen-xs-max) {
			display: block;
			margin-left: auto;
			margin-right: auto;
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}
		span{
			font-size: 12px;
			color: #fff;
			position: absolute;
			display: block;
			top: 4px;
			left: 62px;
		}
		&.appstore{
			position: relative;
			.cls-22{
				transition: all 0.3s ease;
			}
			&:hover{
				.cls-22{
					fill: @bondi_blue;
				}
			}
		}
		&.googleplay{
			background-color: black;
			border-radius: 5px;
    		padding: 8px 20px;
    		transition: all 0.3s ease;
    		&:hover{
    			background-color: @bondi_blue;
    		}
		}
	}
}
.l-personal__img{
    position: absolute;
    top: -147px;
    right: -82px;
    width: 503px;
    height: 649px;
    @media ( max-width: 1388px) {
	    right: 42px;
    }
    @media ( max-width: @screen-md-max) {
		top: -57px;
		right: 0;
		width: 356px;
		height: 460px;
    }
    @media ( max-width: @screen-sm-max) {
		top: 0;
		width: 276px;
		height: 357px;
    }
    @media ( max-width: @screen-xs-max) {
    	display: none;
    }
}