.l-profile__sidebar-price{
	margin-top: 9px;
	margin-bottom: 30px;
	span{
		color: @gray_txt;
		display: block;
	}
	b{
		display: block;
		color: @l_green;
		font-size: 36px;
		font-weight: 600;
		margin-top: 10px;
	}
}
.but.propose{
	width: 100%;
	font-size: 24px;
	font-weight: 400;
	padding: 0 15px;
	span{
		vertical-align: baseline;
	}
	&.busy{
		background-color: #fff;
		color: @y_orange;
		border: 1px solid @y_orange;
		&:hover{
			background-color: @y_orange;
			color: #fff;
		}
	}
}
.l-profile__sidebar-annot{
	text-align: center;
	color: @l_green;
	line-height: 18px;
	margin-top: 10px;
}