.l-profile-tabs{
	margin-top: 45px;
	@media ( max-width: @screen-sm-max) {
		padding-bottom: 40px;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus{
		color: black;
		font-size: 18px;
		font-weight: 600;
		border: none;
		border-bottom: 2px solid @l_green;
		@media ( max-width: @screen-xs-max) {
			font-size: 16px;
		}
	}
	.nav-tabs > li > a{
		color: black;
		font-size: 18px;
		font-weight: 600;
		border-bottom: 2px solid transparent;
		padding: 10px 0;
		@media ( max-width: @screen-xs-max) {
			font-size: 16px;
			padding: 5px 0;
		}
		@media ( max-width: 480px) {
			display: inline-block;
			float: none;
		}
	}
	.nav-tabs > li > a:hover{
		background-color: #fff;
		border-bottom: 2px solid transparent;
	    border-color: transparent;
	}
	.nav-tabs > li{
		margin-right: 24px;
		@media ( max-width: @screen-xs-max) {
		    margin-right: 30px;
		}
		@media ( max-width: 480px) {
			display: block;
			float: none;
		}
	}
	.nav-tabs{
		border-bottom: 2px solid transparent;
	}
}
.l-profile{
	h5{
		font-size: 24px;
		font-weight: 600;
    	letter-spacing: 0.5px;
		text-align: left;
		@media ( max-width: @screen-md-max) {
			font-size: 22px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 18px;
			line-height: 22px;
		}
		&:after{
			display: none;
		}
	}
}
.l-profile__left{
	padding-right: 78px;
	@media ( max-width: @screen-sm-max) {
		padding-right: 0;
	}
}
.l-prof-ab-me__head{
	&.active{
		.l-prof-ab-me__head-mdl{
			display: block;
		}
		.l-prof-ab-me__head-bot{
			display: block;
		}
	}
	&.services{
		margin-top: 35px;
	}
	h5{
		display: inline-block;
		vertical-align: middle;
	}
	a{
		display: inline-block;
		vertical-align: middle;
		color: @gray_txt;
		font-size: 16px;
		margin-left: 12px;
		&:hover{
			span{
				color: @bondi_blue;
			}
		}
		span{
		    padding-left: 7px;
		}
	}
}
.l-profile-about-me{
    padding-top: 60px;
    padding-bottom: 60px;
    @media ( max-width: @screen-xs-max) {
    	padding-top: 50px;
    	padding-bottom: 30px;
    }
}
.l-prof-ab-me__add-video{
	background-color: #f2f6f8;
	border-radius: 10px;
	padding-left: 30px;
	padding-top: 24px;
	padding-right: 30px;
    padding-bottom: 32px;
	margin-top: 58px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.l-prof-ab-me__add-video-head{
	h5{
		display: inline-block;
		vertical-align: middle;
	}
	a{
		display: inline-block;
		vertical-align: middle;
		margin-left: 14px;
		font-size: 16px;
		font-weight: 400;
		color: @bondi_blue;
		@media ( max-width: @screen-md-max) {
			display: block;
			margin-left: 0;
			margin-top: 10px;
		}
		&:hover{
			color: @y_orange;
		}
	}
}
.l-prof-ab-me__add-video-bd{
	font-size: 16px;
	line-height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 25px;
    @media ( max-width: @screen-xs-max) {
    	font-size: 14px;
    }
}
.l-prof-ab-me__add-video-foot{
	padding-left: 5px;
	.ab-formats{
		color: @gray_txt;
	}
	label{
		position: relative;
		cursor: pointer;
		.link_bondi{
			font-size: 18px;
			font-weight: 400;
			@media ( max-width: @screen-xs-max) {
				font-size: 16px;
			}			
		}
		input{
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}
	}
}
.l-prof-ab-me__examps{
	margin-top: 55px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
	}
	p{
		font-size: 16px;
		line-height: 24px;
		margin-top: 27px;
		margin-bottom: 29px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
}
.l-prof-ab-me__vals{
	margin-top: 74px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
	}
	p{
		margin-top: 25px;
		margin-bottom: 0;
		font-size: 16px;
		line-height: 24px;
		color: @gray_txt;
	    max-width: 615px;
	}
}
.l-prof-ab-me__revs{
	position: relative;
	margin-top: 36px;
	padding-bottom: 33px;
	.icon{
	    position: absolute;
	    top: 3px;
	    right: 68px;
	    width: 106px;
	    height: 98px;
	    @media ( max-width: @screen-xs-max) {
	    	display: none;
	    }
	}
	p{
		color: @gray_txt;
		margin-top: 22px;
		margin-bottom: 0;
		font-size: 16px;
		padding-right: 80px;
		@media ( max-width: @screen-md-max) {
			padding-right: 200px;
		}
		@media ( max-width: @screen-xs-max) {
			padding-right: 0;
		}
	}
}
.l-prof-ab-me__cond{
	background-color: #e6fdff;
	margin-top: 27px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 9px;
    padding-bottom: 17px;
	p{
		font-size: 16px;
		line-height: 30px;
	    margin-bottom: 24px;
	    @media ( max-width: @screen-xs-max) {
	    	font-size: 14px;
	    	line-height: 24px;
	    }
	}
}
.l-prof-ab-me__busy{
	margin-bottom: 50px;
	h5{
		margin-bottom: 35px;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 20px;
		}
	}
	p{
		font-size: 16px;
		line-height: 24px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
	.but{
		height: 32px;
		line-height: 30px;
		font-size: 16px;
		font-weight: 400;
		padding: 0 24px;
		.icon{
			margin-right: 8px;
			width: 11px;
			height: 14px;
			color: #fff;
			transform: rotate(90deg);
		}
		span{
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.l-prof-ab-me__head-bot{
	display: none;
}
.l-prof-ab-me__head-mdl{
	margin-top: 30px;
	margin-bottom: 30px;
	display: none;
	&.services{
		.form-control{
			height: 108px;
		}
	}
	.form-control{
		border-radius: 0;
		height: 167px;
		max-width: 100%;
		border-color: @gray_txt;
		padding-top: 10px;
		color: black;
		&:focus{
			border-color: @l_green;
		}
	}
	.form-control:focus{
		outline: none !important;
		box-shadow: none;
	}
	::-webkit-input-placeholder{
		font-size: 16px;
		line-height: 24px;
	}
	::-moz-placeholder{
		font-size: 16px;
		line-height: 24px;
	}
	:-moz-placeholder{
		font-size: 16px;
		line-height: 24px;
	}
	:-ms-input-placeholder{
		font-size: 16px;
		line-height: 24px;
	}
}
.l-prof-ab-me__works{
	margin-top: 60px;
	h5{
		margin-bottom: 30px;
	}
}
.l-prof-ab-me__works-item{
	font-size: 16px;
	&:not(:last-child){
		margin-bottom: 28px;
	}
	a{
		color: @bondi_blue;
		text-decoration: underline;
		font-weight: 600;
		&:hover{
			text-decoration: none;
		}
	}
	span{
		display: block;
		margin-top: 12px;
		margin-bottom: 8px;
		color: @l_green;
	}
	p{
		margin-bottom: 0;
	}
}
.l-prof-ab-me__mean{
	margin-top: 60px;
	.mean-head{
		padding-bottom: 10px;
		border-bottom: 1px solid @gray;
		b{
			display: inline-block;
			vertical-align: bottom;
			font-size: 18px;
			font-weight: 600;
			margin-right: 10px;
		}
		.mean-head__stars{
			display: inline-block;
			vertical-align: bottom;
			font-size: 0;
			.icon{
				color: @y_orange;
				width: 32px;
				height: 32px;
				&:not(:last-child){
					margin-right: 6px;
				}
			}
		}
	}
	.mean-body{
		padding-top: 15px;
	}
	.mean-body__item{
		display: inline-block;
		vertical-align: bottom;
		margin-right: 20px;
		margin-bottom: 15px;
		span{
			font-size: 16px;
			margin-right: 10px;
			display: inline-block;
			vertical-align: bottom;
		}
		.mean-body__item-stars{
			display: inline-block;
			vertical-align: bottom;
			font-size: 0;
			.icon{
				width: 22px;
				height: 22px;
				color: @y_orange;
				&:not(:last-child){
					margin-right: 5px;
				}
			}
		}
	}
}
.l-prof-ab-me__reviews{
	margin-top: 50px;
	.reviews__head{
		font-size: 18px;
		margin-bottom: 30px;
		b, span{
			display: inline-block;
			vertical-align: bottom;
		}
		b{
			margin-right: 10px;
		}
		span{
			.icon{
				width: 14px;
				height: 14px;
				color: @y_orange;
				margin-right: 5px;
				vertical-align: middle;
			}
			strong{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.reviews__body-user{
	&:not(:last-child){
		margin-bottom: 35px;
	}
}
.reviews__body-user-photo{
	width: 75px;
	height: 75px;
	float: left;
	@media ( max-width: @screen-xs-max) {
		float: none;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
}
.reviews__body-user-info{
	overflow: hidden;
	padding-left: 25px;
	@media ( max-width: @screen-xs-max) {
		padding-left: 0;
	}
}
.reviews__body-user-name{
	font-size: 18px;
	font-weight: 400;
	color: @bondi_blue;
	margin-bottom: 10px;
	@media ( max-width: @screen-xs-max) {
		text-align: center;
	}
}
.reviews__body-user-about{
	color: @gray_txt;
	font-size: 14px;
	@media ( max-width: @screen-xs-max) {
		text-align: center;
	}
	.icon{
		color: @y_orange;
		width: 10px;
		height: 10px;
		margin-right: 5px;
	}
	.about-left{
		display: inline-block;
		margin-right: 12px;
	}
	.about-right{
		display: inline-block;
	}
}
.reviews__body-user-txt{
	background-color: @gray;
	padding: 30px 25px;
	margin-top: 30px;
	.txt-top{
		color: #011126;
		font-size: 14px;
		border-bottom: 1px solid @l_green;;
		padding-bottom: 10px;
	}
	.txt-middle{
		padding-top: 10px;
		padding-bottom: 10px;
		color: #0a0a0a;
		font-size: 14px;
		line-height: 24px;
	}
	.txt-bottom__item{
		display: inline-block;
		margin-right: 15px;
		span, .txt-bottom__item-stars{
			display: inline-block;
			vertical-align: middle;
		}
		.txt-bottom__item-stars{
			margin-left: 10px;
			.icon{
				color: @y_orange;
			}
		}
	}
}
.reviews__body-user-time {
	float: right;
	color: @gray_txt;
	font-size: 14px;
	margin-top: 10px;
}