.l-publications{
    padding-top: 76px;
    @media ( max-width: @screen-xs-max) {
    	padding-top: 30px;
    }
    h4{
    	margin-bottom: 60px;
    	@media ( max-width: @screen-sm-max) {
    		margin-bottom: 30px;
    	}
		&:after{
			margin-top: 49px;
			@media ( max-width: @screen-sm-max) {
				margin-top: 20px;	
			}
		}
	}
}
.l-publications__item{
	height: 339px;
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 30px;
	@media ( max-width: @screen-sm-max) {
		height: 270px;
	}
	img{
		transition: all 0.3s ease;
	}
	&:hover{
		img{
			transform: scale(1.1);
		}
	}
}
.l-publications__item-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.l-publications__item-txt{
    position: absolute;
    bottom: 15px;
    left: 23px;
    z-index: 1;
    color: #fff;
}
.l-publications__item-about{
    font-size: 18px;
    line-height: 30px;
    max-width: 246px;
    @media ( max-width: @screen-sm-max) {
    	font-size: 16px;
    	line-height: 18px;
    }
    @media ( max-width: @screen-xs-max) {
    	max-width: none;
    }
}
.l-publications__item-ttl{
    margin-bottom: 6px;
    @media ( max-width: @screen-sm-max) {
    	font-size: 13px;
    }
}
.l-publications__item-play{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	width: 79px;
	height: 79px;
	@media ( max-width: @screen-sm-max) {
		width: 60px;
		height: 60px;
	}
	.icon{
		width: 100%;
		height: 100%;
		color: #fff;
	}
}
.l-publications__question{
	text-align: center;
	padding-top: 26px;
}
.l-publications__question-ttl{
	font-size: 24px;
	margin-bottom: 36px;
	@media ( max-width: @screen-xs-max) {
		font-size: 20px;
	}
}
.l-publications__question-btns{
	margin-top: 25px;
	.but, .or{
		display: inline-block;
		vertical-align: middle;
	}
	.or{
	    font-size: 18px;
    	margin: 0 15px 12px;
    	@media ( max-width: 600px) {
    		margin-top: 15px;
    	}
	}
	.but{
		height: 50px;
		line-height: 48px;
		border-width: 2px;
		width: 233px;
		line-height: 45px;
		@media ( max-width: 600px) {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}