.l-rewards__annotation{
    font-size: 16px;
    line-height: 30px;
    max-width: 800px;
    letter-spacing: 0.1px;
    margin-bottom: 97px;
    @media ( max-width: @screen-sm-max) {
    	margin-bottom: 30px;
    }
    @media ( max-width: @screen-xs-max) {
    	font-size: 14px;
    	line-height: 24px;
    }
}
.l-rewards{
	padding-bottom: 78px;
	@media ( max-width: @screen-sm-max) {
		padding-bottom: 30px;
	}
	h1{
	    margin-bottom: 42px;
	}
}
.l-rewards__types{
	background-color: #e6fdff;
    padding: 52px 10px 60px 61px;
    @media ( max-width: @screen-sm-max) {
    	padding: 30px 15px;
    }
}
.l-rewards__types-ttl{
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 50px;
	@media ( max-width: @screen-sm-max) {
		font-size: 30px;
		margin-bottom: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 26px;
	}
}
.l-rewards__types-item-img{
	width: 127px;
	height: 127px;
	float: left;
	@media ( max-width: 550px) {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
}
.l-rewards__types-item-txt{
	overflow: hidden;
	padding-left: 42px;
	font-size: 16px;
	line-height: 30px;
	max-width: 580px;
	padding-top: 14px;
	@media ( max-width: @screen-sm-max) {
		padding-left: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
		line-height: 24px;
	}
	@media ( max-width: 550px) {
		padding-left: 0;
		padding-top: 0;
	}
	b{
		color: @y_orange;
	}
	ul{
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
		margin-top: 40px;
		@media ( max-width: @screen-sm-max) {
			margin-top: 20px;
		}
		li{
			padding-left: 19px;
			position: relative;
			margin-bottom: 40px;
			@media ( max-width: @screen-sm-max) {
				margin-bottom: 10px;
			}
			span{
				display: inline-block;
				vertical-align: middle;
			}
			&:before{
				content: '';
				width: 8px;
				height: 8px;
				background-color: @y_orange;
				position: absolute;
				display: block;
				top: 12px;
				left: 0;
				border-radius: 50%;
			}
		}
	}
}
.l-rewards__types-item{
	&:not(:last-child){
		margin-bottom: 60px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 30px;
		}
	}
}
.l-rewards__rating{
	font-size: 16px;
	line-height: 24px;
	padding-top: 76px;
	max-width: 600px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
	}
	p{
		margin-bottom: 24px;
	}
	h1{
		margin-bottom: 44px;
	}
	h5{
		color: @bondi_blue;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	ul{
		padding-left: 0;
		list-style-type: none;
		li{
			position: relative;
			padding-left: 22px;
			margin-bottom: 25px;
			b{
				color: @y_orange;
			}
			&:before{
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: @bondi_blue;
				position: absolute;
				top: 9px;
				left: 0;
				display: block;
			}
		}
	}
}