.lichnaja_informacija {}
.steps{
	background-color: @l_colapse;
}
.steps__wrapper{
	display: flex;
	height: 63px;
	@media ( max-width: @screen-xs-max) {
		height: 140px;
		flex-direction: column;
		margin-left: -15px;
		margin-right: -15px;
	}
}
.step{
	font-size: 24px;
	opacity: 0.45;
	justify-content: center;
	flex-grow: 1;
	color: #fff;
	height: 100%;
	align-items: center;
	display: flex;
	@media ( max-width: @screen-sm-max) {
		font-size: 18px;
	}

	&.active{
		background-color: @light_blue;
		color: @l_colapse;
		opacity: 1;
	}
}
.steps-content{
	background-color: #fff;
	padding-bottom: 83px;
	padding-top: 77px;

	.bootstrap-select .dropdown-toggle:focus,
	.bootstrap-select .dropdown-toggle:hover,
	.bootstrap-select .dropdown-toggle:active{
		border-color: #ccc;
		outline: none!important;
		// background-color: #fff;
	}
	.panel-body{
		padding-bottom: 15px;
	}
	.check-label{
		display: inline-flex;
		padding-left: 15px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.checkbox{
		margin-bottom: 0;
		margin-top: 0;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		@media ( max-width: @screen-sm-max) {
			bottom: auto;
			top: 4px;
		}
	}
}
.steps-content__header{
	padding-bottom: 23px;
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 10px;
	}
	h2{
		font-size: 36px;
		@media ( max-width: @screen-xs-max) {
			font-size: 26px;
		}
	}
	h3{
		padding-top: 17px;
		@media ( max-width: @screen-xs-max) {
			padding-top: 10px;
			font-size: 20px;
		}
	}
}
.steps-content__content{
	line-height: 30px;
	font-size: 16px;
	p{
		margin-bottom: 30px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 20px;
		}
		span{
			display: inline-block;
			padding-left: 25px;
			font-weight: 400;
		}
	}
}
label.error {
	background: #f7d9d9;
	border: 1px solid #ff3737;
	color: #ff0000;
	padding: 5px;
	margin-top: 5px;
}
.steps-content__form-input__wrap_new{
	display: flex;
	height: 44px;
}
.steps-content__form-input_row input:focus{
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.steps-content__form-input{
	margin-bottom: 30px;
	// padding-right: 15px;
	align-items: center;
	margin-top: 5px;
	display: flex;
	//height: 43px;
	flex-wrap: wrap;

	input:focus{
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
	@media ( max-width: @screen-xs-max) {
		flex-direction: column;
		align-items: stretch;
		margin-bottom: 15px;
		height: auto;
	}
	.marl10{
		margin-left: 10px;
		color: red;
		padding: 0;
		@media ( max-width: @screen-xs-max) {
			margin-top: 10px;
			margin-left: 0;
		}
	}
	&__noheight{
		align-items: flex-start;
		margin-top: 7px;
		height: auto;
	}
	& > span{
		padding-right: 7px;
		line-height: 24px;
		font-weight: 300;
		font-size: 16px;
		&:first-child{
			max-width: 185px;
			min-width: 185px;
			flex-shrink: 0;
			flex-grow: 1;
			@media ( max-width: @screen-xs-max) {
				margin-bottom: 10px;
			}
		}
	}
	label{
		margin-bottom: 0;
	}
	input{
		padding: 10px 10px;
		border-radius: 0;
		font-weight: 400;
		font-size: 16px;
		height: 100%;
		width: 270px;
		color: #000;
		@media ( max-width: @screen-xs-max) {
			width: 100%;
		}
	}
	.btn-group > .btn:first-child,
	.btn-group.open .dropdown-toggle,
	.btn-group .dropdown-toggle:active,
	.bootstrap-select > .dropdown-toggle.bs-placeholder,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:active{
		background-color: #fff;
		border-radius: 0;
		// height: 100%;
		padding: 13px 13px 12px;
		@media ( max-width: @screen-xs-max) {
			padding: 11px 13px;
		}
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		border-radius: 0;
		height: 100%;
		width: 76px;
		&:nth-child(2){
			width: 100px;
		}
		&:not(:last-child){
			margin-right: 9px;
		}
	}
	.caret{
		border-bottom: 1px solid;
		border-right: 1px solid;
		width: 9px;
		height: 9px;
		border-left: none;
		border-top: none;
		transform: rotate(45deg);
		top: 0!important;
		bottom: 0;
		margin: auto!important;
		right: 8px!important;
		border-color: #6eaec4;
	}

}
.steps-content__form-input__img{
	flex-shrink: 0;
	height: 195px;
	width: 200px;
}
.steps-content__form-info{
	background-color: @gray;
    padding: 51px 40px 30px;
    margin-top: 5px;
	p{
		line-height: 24px;
		font-weight: 300;
		font-size: 16px;
		color: @gray_txt;
	}
}
.steps-content__par{
	flex-direction: column;
	padding-left: 34px;
	line-height: 24px;
	font-weight: 300;
	padding-top: 8px;
	max-width: 440px;
	font-size: 16px;
	display: flex;
	@media ( max-width: @screen-xs-max) {
		padding-left: 0;
	}
	p{
		margin-bottom: 25px;
	}
}
.type_file{
	justify-content: center;
	align-items: center;
	position: relative;
	line-height: 24px;
	margin-top: 18px;
	font-weight: 400;
	cursor: pointer;
	font-size: 16px;
	display: flex;
	height: 34px;
	width: 100%;
	input{
		position: absolute;
		visibility: hidden;
		display: block;
		padding: 0;
		opacity: 0;
		height: 0;
		width: 0;
		left: 0;
		top: 0;
	}
	span{
		background-color: @gray;
		border-radius: 5px;
		text-align: center;
		position: relative;
		padding-left: 10px;
		line-height: 34px;
		height: 100%;
		width: 100%;
		svg{
			position: absolute;
			font-size: 20px;
			color: @gray_txt;
			margin: auto;
			bottom: 0;
			left: 10px;
			top: 0;
		}
	}
}
.steps-content__socials{
	margin-bottom: 63px;
	font-size: 51px;
	span{
		&:not(:last-child){
			margin-right: 31px;
		}
		&.conected{
			position: relative;
			&:before{
				content: 'Привязан';
				display: block;
				position: absolute;
				bottom: -28px;
				left: 13px;
				right: 0;
				font-size: 12px;
				font-style: italic;
				line-height: 24px;
				color: @gray_txt;
				margin-top: auto;
			}
		}
	}
}
.steps-content__form-input_row.steps-content__form-input_row-select{
	label{
		min-width: calc(~'100% - 54px');
	}
	input{
		// max-width: calc(~'100% - 54px');
		width: 100%;
	}
}
.steps-content__form-input_row{
	flex-direction: column;
	margin-bottom: 35px;
	margin-top: 23px;
	font-size: 16px;
	display: flex;
	@media ( max-width: @screen-sm-max) {
		margin-bottom: 20px;
		margin-top: 10px;
	}

	label{
		margin-bottom: 0;
	}
	input{
		padding: 10px 10px;
		border-radius: 0;
		font-weight: 400;
		font-size: 16px;
		max-width: 100%;
		height: 100%;
		width: 270px;
		color: #000;
		@media ( max-width: @screen-sm-max) {
			width: 1000px;
		}
	}
	& > span{
		margin-bottom: 25px;
	}
}
.steps-content__form-input_row-wrapper{
	max-height: 44px;
	display: flex;
	.btn-group > .btn:first-child,
	.btn-group.open .dropdown-toggle,
	.btn-group .dropdown-toggle:active,
	.bootstrap-select > .dropdown-toggle.bs-placeholder,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:active{
		background-color: #fff;
		border-right: none;
		border-radius: 0;
		height: 100%;
	}
	input{
		border-left: none;
		&:focus{
			outline: none;
			    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			    border: 1px solid #ccc;
			    border-left: none;
		}
	}
}
.step_access__wrap{
	padding-bottom: 55px;
	margin-top: 38px;
	.step_access{
		padding-bottom: 5px;
		padding-top: 9px;
	}
	.check-label{
		font-weight: 400;
		margin-bottom: 0;
	}
	.radio, .checkbox{
		margin-bottom: 0px;
		margin-top: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0;
		position: absolute;
	}
	.check-label span{
		padding-left: 13px;
		display: inline-block;
		padding-right: 5px;
	}
}
.step__button-wrap{
	padding-top: 53px;
	border-top: 1px solid @gray;
	@media ( max-width: @screen-xs-max) {
		flex-direction: column;
		align-items: center;
		display: flex;
	}
	span{
		display: inline-block;
		padding-left: 25px;
		font-size: 16px;
		color: @gray_txt;
		@media ( max-width: @screen-xs-max) {
			margin-top: 20px;
		}
	}
}
.step_access__link{
	align-items: center;
	display: flex;
    .check-label{
		height: 16px;
    }
    .checkbox{
		position: absolute;
		margin-bottom: 0;
		margin-top: 0;
		left: 0;
    }
    span{
		padding-left: 15px;
		font-weight: 400;
		padding-right: 0;
		font-size: 14px;
    }
}

.steps-content__input-file {
    max-width: 200px;
}
.selectize_label {
	width: 100%;
}