.oformlenie_email {
	background-color: #e6fdff;
	text-align: center;
	min-height: 100vh;
	.c-header__logo{
		text-align: left;
		margin-left: 0;
	}
	.container{
		max-width: 684px;
	}
}
.oformlenie_email__header{
	padding-bottom: 30px;
	padding-top: 40px;
}
.oformlenie_email__main{
	background-color: #fff;
}
.oformlenie_email__main-header{
	padding-bottom: 32px;
	padding-top: 53px;
	h2{
		font-size: 30px;
	}
}
.oformlenie_email__main-content__txt{
	line-height: 18px;
	color: @gray_txt;
	font-size: 12px;
	span{
		display: block;
	}
}
.oformlenie_email__main-content__img{
	padding-bottom: 26px;
}
.oformlenie_email__main-yellow{
	background-color: #fdf8ee;
	padding: 10px 30px 15px;
	margin: 30px auto 0;
	text-align: left;
	max-width: 450px;
}
.oformlenie_email__main-yellow__txt{
	padding-bottom: 3px;
	margin-top: 15px;
	&-grey{
		line-height: 1.8;
		color: @gray_txt;
		font-size: 12px;
	}
	span{
		padding-bottom: 10px;
		display: block;
	}
}
.oformlenie_email__social{
	border-top: 1px solid #f2f6f8;
	padding-bottom: 10px;
	padding-top: 12px;
	margin-top: 60px;
}
.oformlenie_email__social-links{
	margin-top: 16px;
}
.oformlenie_email__social-link{
	display: inline-block;
	font-size: 12px;
	padding: 0 15px;
	a{
		color: @bondi_blue;
	}
}
.oformlenie_email__social-links.oformlenie_email__social-links__circles{
	padding-bottom: 52px;
	margin-top: 25px;
	span{
		font-size: 28px;
		padding: 0 2px;
	}
}
.social__vk{
	color: #a1b6cd;
	&:hover{
		color: #a1b6cd;
	}
}
.social__fb{
	color: #3b5998;
	&:hover{
		color: #3b5998;
	}
}
.social__tw{
	color: #55acee;
	&:hover{
		color: #55acee;
	}
}
.social__ok{
	color: #ed812b;
	&:hover{
		color: #ed812b;
	}
}
.social__goog{
	color: #dd4b39;
	&:hover{
		color: #dd4b39;
	}
}
.social__vk,
.social__fb,
.social__tw,
.social__ok,
.social__goog{
	transition: all 0.3s ease;
	&:hover{
		opacity: 0.6;
	}
}
.oformlenie_email__footer{
	font-size: 12px;
	padding-bottom: 70px;
	text-align: left;
	padding-top: 30px;
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
	}
	span{
		@media ( max-width: @screen-xs-max) {
			margin-top: 15px;
			display: block;
		}
		&:not(:last-child){
			padding-right: 40px;
		}
	}
}