.oplata-block {
	max-width: 630px;
	margin: 0 auto;
	@media ( max-width: @screen-xs-max) {
		max-width: calc(~'100% - 20px');
	}
}
.oplata-block_header{
	padding-bottom: 27px;
	margin-top: 76px;
	font-weight: 400;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
	}
	h2{
		margin-bottom: 24px;
		line-height: 46px;
		font-size: 36px;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 10px;
			font-size: 26px;
		}
	}
	p{
		line-height: 24px;
		font-size: 18px;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 0;
		}
	}
}
.oplata-block_par{
	padding-bottom: 39px;
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 20px;
	}
	p{
		font-size: 18px;
	}
}
.oplata-block__blue{
	background-color: @light_blue;
	padding: 60px 44px 1px 49px;
	border-radius: 10px;
	margin-bottom: 60px;
	@media ( max-width: @screen-xs-max) {
		padding: 30px 20px 1px 20px;
		margin-bottom: 20px;
	}
	& > .row{
		margin-right: -7.5px;
		margin-left: -7.5px;
		margin-bottom: 42px;
		@media ( max-width: @screen-xs-max) {
			margin-right: -10px;
			margin-left: -10px;
		}
		[class^='col']{
			padding-right: 7.5px;
			padding-left: 7.5px;
			@media ( max-width: @screen-xs-max) {
				padding-right: 3px;
				padding-left: 3px;
			}
		}
	}
	.form-control{
		text-align: center;
		line-height: 1.2;
		font-weight: 400;
		font-size: 24px;
		color: #509eb8;
		height: 36px;
		@media ( max-width: @screen-xs-max) {
			font-size: 16px;
		}
	}
	span{
		display: inline-block;
		margin-bottom: 7px;
		line-height: 24px;
		font-weight: 400;
		color: @gray_txt;
		font-size: 14px;
	}
}
.ta_left{
	text-align: left!important;
}
.oplata-block__blue-right{
	align-items: flex-end;
	padding-left: 56px;
	display: flex;
	@media ( max-width: @screen-xs-max) {
		justify-content: flex-end;
		padding-left: 0;
	}
	& > span{
		margin-right: 18px;
		margin-bottom: 0;
		width: 65px;
		@media ( max-width: @screen-xs-max) {
			margin-right: 6px;
		}
	}
	.oplata-block__blue-right__wrap{
		flex-shrink: 0;
		width: 59px;
		@media ( max-width: @screen-xs-max) {
			width: 49px;
		}
		&:not(:last-child){
			margin-right: 6px;
		}
	}
}
.oplata-block__blue-cvv{
	flex-direction: column;
	margin-right: 15px;
	flex-shrink: 0;
	display: flex;
	width: 88px;
}
.oplata-block__blue-cvv__wrap{
	align-items: flex-end;
	display: flex;
	svg{
		vertical-align: bottom;
		display: inline-block;
		font-size: 52px;
	}
	label{
		margin-bottom: 0;
	}
	& > span{
		margin-left: 15px;
		line-height: 20px;
		margin-bottom: 0;
		width: 220px;
		@media ( max-width: @screen-xs-max) {
			margin-left: 10px;
		}
	}
}
.oplata-block__button{
	margin-bottom: 84px;
	text-align: center;
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 20px;
	}
	.but{
		padding: 18px 43px;
		line-height: 24px;
		font-weight: 400;
		font-size: 24px;
		height: auto;
		@media ( max-width: @screen-xs-max) {
			padding: 12px 23px;
			font-size: 16px;
		}
	}
}
.xs-flex{
	align-items: flex-end;
	display: flex;
}
.oplata-block__lastcard{
	justify-content: space-between;
	border: 1px solid #b4c1bb;
	margin: 10px auto 54px;
	padding-bottom: 10px;
	align-items: center;
	border-radius: 5px;
	padding-top: 10px;
	max-width: 425px;
	font-size: 49px;
	padding: 0 15px;
	line-height: 1;
	display: flex;
	height: 48px;
	@media ( max-width: @screen-xs-max) {
		justify-content: space-around;
		margin-bottom: 20px;
		font-size: 40px;
		margin-top: 0px;
		padding: 10px;
	}
	[class^='col']{
		display: flex;
	}
	.icon{
		margin-right: 10px;
		flex-shrink: 0;
	}
	span{
		padding-right: 3px;
		padding-left: 3px;
		line-height: 24px;
		font-weight: 400;
		font-size: 24px;
		color: #509eb8;
		@media ( max-width: @screen-xs-max) {
			padding-right: 0;
			font-size: 16px;
			padding-left: 0;
		}
	}
}