.l-profile__album-back{
	color: @bondi_blue;
	font-size: 16px;
    margin-bottom: 29px;
    @media ( max-width: @screen-xs-max) {
    	font-size: 14px;
    }
	.icon{
		width: 22px;
		height: 16px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		padding-left: 11px;
	}
}
.l-profile__album-ttl{
	font-size: 36px;
	font-weight: 400;
	@media ( max-width: @screen-xs-max) {
		font-size: 26px;
	}
}
.l-profile__album{
	padding-top: 19px;
}
.l-profile__album-form-wrp{
	margin-top: 40px;
	background-color: @gray;
	padding-right: 73px;
	padding-left: 73px;
	padding-top: 30px;
	padding-bottom: 30px;
	@media ( max-width: @screen-md-max) {
		padding: 20px 30px;
	}
	@media ( max-width: @screen-xs-max) {
	    padding: 10px 15px;
	}
	label{
		display: block;
		font-weight: 300;
		width: 100%;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
		span{
			float: left;
			font-size: 16px;
			padding-top: 16px;
			@media ( max-width: @screen-md-max) {
				float: none;
				margin-bottom: 10px;
				display: block;
			}
			@media ( max-width: @screen-xs-max) {
				font-size: 14px;
			}
		}
	}
	.form-control{
		border-radius: 0;
		border-color: 1px solid #b9c2ba;
		height: 48px;
		color: black;
		font-size: 16px;
		float: right;
		display: block;
		max-width: 542px;
		@media ( max-width: @screen-md-max) {
			float: none;
			width: 100%;
			max-width: none;
		}
		&:focus{
			border-color: @l_green;
			box-shadow: none;
		}
	}
	textarea.form-control{
		padding-top: 9px;
		height: 121px;
		line-height: 24px;
		@media ( max-width: @screen-xs-max) {
			height: 170px;
		}
	}
	::-webkit-input-placeholder{
		color: @gray_txt;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
	::-moz-placeholder{
		color: @gray_txt;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
	:-moz-placeholder{
		color: @gray_txt;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
	:-ms-input-placeholder{
		color: @gray_txt;
		font-size: 16px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
	}
}
.l-profile__album-form-btns{
	margin-top: 60px;
	@media ( max-width: @screen-md-max) {
		margin-top: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		text-align: center;
	}
	.but{
		font-size: 24px;
		padding: 0 33px;
		height: 55px;
		display: inline-block;
		vertical-align: bottom;
		@media ( max-width: @screen-md-max) {
			font-size: 20px;
			padding: 0 20px;
		}
		@media ( max-width: @screen-xs-max) {
			font-size: 16px;
			display: block;
			width: 260px;
			height: 45px;
			line-height: 42px;

		}
		&:first-child{
			float: left;
			@media ( max-width: @screen-xs-max) {
				margin-bottom: 20px;
				float: none;
			}
		}
		&:last-child{
			float: right;
			padding: 0 70px;
			@media ( max-width: @screen-md-max) {
				padding: 0 20px;
			}
			@media ( max-width: @screen-xs-max) {
				float: none;
			}
		}
	}
	p{
		margin-bottom: 0;
		font-size: 16px;
		margin-top: 30px;
	}
}
.album-upload__item-txt{
    position: absolute;
    top: 91px;
    color: #fff;
    max-width: 190px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 32px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.3s ease;
}
.album-upload__item{
	height: 254px;
	color: #fff;
	font-size: 24px;
	position: relative;
	font-weight: 600;
	display: block;
	text-align: center;
	cursor: pointer;
	&.back{
		cursor: default;
		&:before{
			background-color: #fff;
			opacity: 0.65;
		}
		.album-upload__item-txt{
			display: none;
		}
	}
	&:hover{
		&:before{
			opacity: 0.65;
		}
		.album-upload__item-txt{
			opacity: 1;
			visibility: visible;
		}
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		opacity: 0;
		transition: all 0.3s ease;
		background-color: @bondi_blue;
		z-index: 1;
	}
	.delete{
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		top: -30px;
	    right: -6px;
	    &.back{
	    	.icon{
	    		display: block;
	    	}
	    	.delete-cross{
	    		display: none;
	    	}
	    }
		.icon{
			width: 26px;
			height: 19px;
			position: absolute;
			top: 0;
			left: -10px;
			right: 0;
			bottom: 0;
			margin: auto;
			display: none;
			color: @y_orange;
		}
		.delete-cross{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 26px;
			margin: auto;
			height: 26px;
			&:before, &:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				display: block;
				width: 100%;
				height: 1px;
				background-color: @bondi_blue;
			}
			&:before{
				transform: rotate(45deg);
			}
			&:after{
				transform: rotate(-45deg);
			}
		}
	}
	.h-object-fit{
		height: 100%;
	}
}
.l-profile__album-upload{
	margin-top: 84px;
	.row{
		margin: 0 -30px;
	}
	[class*='col-']{
		padding: 0 30px;
		margin-bottom: 56px;
	}
}