.modal-docs-check{
	.modal-dialog{
		width: 700px;
		@media ( max-width: @screen-xs-max) {
			width: 100%;
			margin: auto;
		}
	}
	text-align: center;
	h5{
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 45px;
		@media ( max-width: @screen-xs-max) {
			font-size: 24px;
		}
	}
	.modal-content{
		border-radius: 0;
		padding: 80px 80px;
		@media ( max-width: @screen-xs-max) {
			padding: 30px 15px;
		}
	}
	.but{
		margin-top: 48px;
	}
}
.modal-docs-check__content{
	text-align: left;
	.icon{
		width: 77px;
		height: 77px;
		float: left;
		display: block;
	}
	span{
		overflow: hidden;
		padding-left: 20px;
		display: block;
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		@media ( max-width: @screen-xs-max) {
		    font-size: 14px;
    		line-height: 24px;
		}
	}
}
.modal-how-video{
	.modal-dialog{
		width: 624px;
		@media ( max-width: @screen-xs-max) {
			width: 100%;
			margin: auto;
		}
	}
	.modal-content{
		padding: 55px 55px;
		text-align: center;
		@media ( max-width: @screen-xs-max) {
			padding: 20px 15px;
		}
	}
	h5{
		font-size: 24px;
		font-weight: 400;
		color: @y_orange;
		margin-bottom: 30px;
		text-align: center;
	}
	p{
		margin-bottom: 5px;
		text-align: left;
	}
	.but{
		margin-top: 35px;
	}
}
.modal-how-video__item{
	position: relative;
	&:not(:last-child){
		margin-bottom: 12px;
	}
	@media ( max-width: @screen-xs-max) {
		padding: 10px 0;
	}
	.icon{
		color: #b9c2ba;
		@media ( max-width: @screen-xs-max) {
			position: absolute;
			top: 12px;
			left: 0;
		}
	}
	span{
		padding-left: 15px;
		display: inline-block;
		vertical-align: middle;
		@media ( max-width: @screen-xs-max) {
			padding-left: 35px;
		}
	}
	.icon-how-video-1{
		width: 21px;
		height: 25px;
	}
	.icon-how-video-2{
		width: 23px;
		height: 21px;
	}
	.icon-how-video-3{
		width: 23px;
		height: 24px;
	}
	.icon-how-video-4{
		width: 23px;
		height: 14px;
	}
}
.modal-how-video__content{
	text-align: left;
	margin-bottom: 36px;
}

.modal-tel-form{
	h5{
		font-size: 30px;
		font-weight: 600;
		@media ( max-width: @screen-xs-max) {
			font-size: 24px;
		}
	}
	.modal-dialog{
		width: 700px;
		@media ( max-width: @screen-xs-max) {
			width: 100%;
			margin: auto;
		}
	}
	.modal-content{
		padding-left: 64px;
		padding-right: 110px;
		padding-top: 50px;
		padding-bottom: 55px;
		@media ( max-width: @screen-xs-max) {
			padding: 50px 15px 20px 15px;
		}
	}
	.l-prof-set__main-set{
		padding-bottom: 0;
		border-bottom: none;
		padding-left: 0;
		margin-top: 50px;
		margin-bottom: 58px;
		@media ( max-width: @screen-xs-max) {
			margin: 20px 0;
		}
	}
	.l-prof-set__form-line .form-line__input{
		float: left;
		@media ( max-width: @screen-xs-max) {
			float: none;
			width: 100%;
		}
	}
	.l-prof-set__main-set .l-bid-write__form .form-control{
		height: 40px;
		border-radius: 5px;
	}
	.l-prof-set__form-line .bs-caret{
	    top: 11px;
	}
	.but{
		float: left;
	    padding: 0 28px;
	    height: 40px;
	    line-height: 38px;
	    margin-left: 17px;
	    @media ( max-width: @screen-xs-max) {
	    	float: none;
	    	margin-left: 0;
	    	margin-top: 15px;
	    }
	}
	p{
		font-size: 16px;
		font-weight: 400;
		color: @gray_txt;
		line-height: 24px;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.modal-refill{
	.modal-dialog{
		width: 700px;
		@media ( max-width: @screen-xs-max) {
			width: 100%;
			margin: auto;
		}
	}
	.modal-content{
		padding-top: 60px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 20px;
		@media ( max-width: @screen-xs-max) {
			padding: 50px 15px 20px;
		}
	}
}
.modal-refill__head-left{
	float: left;
	color: #010101;
	font-size: 30px;
	font-weight: 400;
	padding-top: 10px;
	@media ( max-width: @screen-xs-max) {
		float: none;
		font-size: 24px
	}
}
.modal-refill__head-right{
	float: right;
	@media ( max-width: @screen-xs-max) {
		float: none;
		margin-top: 15px;
	}
	.form-control{
		width: 129px;
		height: 48px;
		border-radius: 5px;
		border: 1px solid #c3cbc4;
		font-size: 30px;
		font-weight: 400;
		color: #010101;
		display: inline-block;
		vertical-align: middle;
		&:focus{
			box-shadow: none;
		}
	}
	span{
		font-size: 30px;
		font-weight: 400;
		color: #010101;
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;
	}
}
.modal-refill__annot{
	color: #010101;
	@media ( max-width: @screen-xs-max) {
		margin-top: 15px;
	}
}

.modal-refill__items-wrp {
	flex-wrap: wrap;
	display: flex;
	margin-top: 60px;
	& > * {
		flex-basis: 50%;
		margin-bottom: 30px;
		@media ( max-width: @screen-xs-max) {
			flex-basis: 100%;
		}
	}
}
.modal-refill__item{
	position: relative;
	&:hover{
		.modal-refill__item-txt{
			b{
				color: (@l_green - 30%);
			}
		}
		.icon-card{
			color: @bondi_blue;
		}
		.icon-rub{
			color: #000;
		}
		.icon-qiwi{
			color: @y_orange;
		}
		.icon-alfa{
			color: #FF1A2B;
		}
		.icon-y-money{
			color: @y_orange;
		}
		.icon-web-money{
			color: @bondi_blue;
		}
		.icon-sberbank{
			color: @l_green;
		}
		.icon-sms{
			color: #000;
		}
	}
}
.modal-refill__item-ico{
	position: absolute;
	left: 0;
	top: 3px;
	.icon{
		color: #c3cbc4;
	}
	.icon-card{
		width: 29px;
		height: 17px;
	}
	.icon-rub{
		width: 30px;
		height: 30px;
	}
	.icon-qiwi{
		width: 26px;
		height: 29px;
	}
	.icon-alfa{
		width: 24px;
		height: 35px;
	}
	.icon-y-money{
		width: 24px;
		height: 22px;
	}
	.icon-web-money{
		width: 25px;
		height: 25px;
	}
	.icon-sberbank{
		width: 24px;
		height: 24px;
	}
	.icon-sms{
		width: 28px;
		height: 26px;
	}
}
.modal-refill__item-txt{
	padding-left: 45px;
	b, span{
		display: block;
	}
	b{
		font-size: 24px;
		font-weight: 400;
		color: @l_green;
		margin-bottom: 10px;
		@media ( max-width: @screen-xs-max) {
			font-size: 20px;
		}
	}
	span{
		color: #010101;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}
}
.modal-good-photo__done-item{
	text-align: center;
	margin-bottom: 60px;
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 30px;
	}
	i{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		position: relative;
		background-color: @l_green;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 7px;
		&:before{
			content: '';
			position: absolute;
			width: 9px;
			height: 16px;
			top: -3px;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border-right: 3px solid #fff;
			border-bottom: 3px solid #fff;
			transform: rotate(45deg);
		}
	}
	.icon{
		width: 117px;
		height: 96px;
	}
}

.modal-good-photo__bad-item{
	display: inline-block;
	@media ( max-width: 500px) {
		display: block;
		margin-bottom: 30px;
	}
	&:not(:last-child){
		margin-right: 67px;
		@media ( max-width: 500px) {
			margin-right: 0;
		}
	}
	.icon-doc-photo-2{
		width: 102px;
		height: 85px;
	}
	.icon-doc-photo-3{
		width: 100px;
		height: 84px;
	}
	.icon-doc-photo-4{
		width: 99px;
		height: 84px;
	}
	i{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		position: relative;
		background-color: @y_orange;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 13px;
		&:before, &:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 12px;
			height: 1px;
			background-color: #fff;
		}
		&:before{
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
		}
	}
}
.modal-good-photo{
	text-align: center;
	.modal-dialog{
		width: 800px;
		@media ( max-width: @screen-xs-max) {
			margin: auto;
			width: 100%;
		}
	}
	.modal-content{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	h5{
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 60px;
	}
}
.modal-good-photo__upload{
	margin-top: 46px;
	label{
		cursor: pointer;
		input{
			opacity: 0;
			visibility: hidden;
			position: absolute;
		}
	}
}