mixin c-card-sidebar-2(data)
	.c-card-sidebar
		.c-card-sidebar__head
			span Задание № 2242666
			span Заказчик этого задания
		a(href="#").c-card-sidebar__user.clearfix
			.c-card-sidebar__user-img.h-object-fit
				img(src="s/images/tmp_file/comment1.jpg", alt="")
			.c-card-sidebar__user-txt
				.c-card-sidebar__user-name
					span Сабрина
					i
				.c-card-sidebar__user-city
					span 28 лет
					span Санкт-Петербург
				.c-card-sidebar__user-revs
					span Отзывы
					.revs-count
						+svg('icon-like')
						.revs-count__numb 7
		.c-card-sidebar__faq
			h5 Частые вопросы
			ul
				li
					a(href="#") Я разместил задание — что дальше?
				li
					a(href="#") Сколько предложений я получу?
				li
					a(href="#") Как изменить описание задания, цену, 
				li
					a(href="#") сроки и другие условия?
				li
					a(href="#") Как связаться с исполнителем?
				li
					a(href="#") Как выбрать надежного исполнителя?
				li
					a(href="#") Как оплачивать услуги исполнителя?
				li
					a(href="#") Как не выбрать исполнителем мошенника?
		.c-card-sidebar__soc
			span Помогите друзьям решать их задачи.
			span Расскажите им о Pomogoo:
			.c-card-sidebar__soc-links.clearfix
				a(href="#")
					+svg('icon-conf-vk')
				a(href="#")
					+svg('icon-conf-fb')
				a(href="#")
					+svg('icon-conf-tw')
				a(href="#")
					+svg('icon-conf-ok')
				a(href="#")
					+svg('icon-conf-google')