mixin l-no-risk-faq(data)
	.l-no-risk-faq
		.container
			h6 Частые вопросы
			mixin drop_item(btn_txt, id)
				.l-faq__dropdowns-item
					button.l-faq__dropdowns-item-btn.clearfix(data-toggle="collapse" data-target="##{id}")
						+svg('icon-quote')
						span #{btn_txt}
					.l-faq__dropdowns-item-content-wrp.collapse(id="#{id}")
						.l-faq__dropdowns-item-content
							p Чтобы предложить заказчику воспользоваться сервисом, при отправке предложения к заданию выберите способ оплаты банковской картой.
							a(href="#") Подробнее
			+drop_item('Исполнитель не выполнил задание. Задание выполнено, но заказчик это не подтверждает. Что делать?', 'faq_1')
			+drop_item('Какая комиссия удерживается за «Сделку без риска»?', 'faq_2')
			+drop_item('Как подключить «Сделку без риска»?', 'faq_3')
			+drop_item('Как предложить заказчику сотрудничество через «Сделку без риска»?', 'faq_4')