.l-mass-media__item-head{
	.date{
		font-size: 14px;
		color: @bondi_blue;
	    margin-bottom: 23px;
	}
	.title{
		font-size: 24px;
		font-weight: 400;
	    margin-bottom: 28px;
	    @media ( max-width: @screen-xs-max) {
	    	font-size: 20px;
	    	margin-bottom: 18px;
	    }
		span{
			color: @y_orange;
		}
	}
}
.l-mass-media__item{
	&:not(:last-child){
	    margin-bottom: 58px;
	    @media ( max-width: @screen-xs-max) {
	    	margin-bottom: 30px;
	    }
	}
	.h-object-fit{
		height: 538px;
		@media ( max-width: @screen-sm-max) {
			height: 460px;
		}
		@media ( max-width: @screen-xs-max) {
			height: 360px;
		}
		@media ( max-width: 450px) {
			height: 220px;
		}
	}
	p{
		line-height: 30px;
		margin-bottom: 27px;
		@media ( max-width: @screen-xs-max) {
			line-height: 24px;
		}
	}
	a{
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.l-mass-media{
    padding-top: 6px;
    padding-bottom: 110px;
    @media ( max-width: @screen-md-max) {
    	padding-bottom: 50px;
    }
    @media ( max-width: @screen-xs-max) {
    	padding-bottom: 30px;
    }
}