mixin l-mass-media(data)
	.l-mass-media
		mixin item(img)
			.l-mass-media__item
				.l-mass-media__item-head
					.date 17 июля 2017
					.title <span>The Village</span> / Lorem ipsum dolor sit amet, consectetur adipiscing elit
				p Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consma veniam, quis nostrum exercitationem ullam
				.h-object-fit
					img(src="s/images/tmp_file/#{img}.jpg", alt="")

		+item('art2')
		+item('post5')
		+item('post6')
		+item('post7')
		+item('art2')
		+item('post5')
		+item('post6')
		+item('post7')