mixin l-contacts(data)
	.l-contacts
		h1 Контакты
		p Будем рады ответить на ваши вопросы, предложения или жалобы.
		.l-contacts__section
			h6 Служба поддержки
			span Телефон службы поддержки:
			span в Москве — +7 (495) 969 09 63;
			span в Санкт-Петербурге — +7 (812) 986 95 29.
			span Поддержка пользователей с 9:00 до 23:00 в будни и с 9:00 до 21:00 в выходные дни.
			span Как стать исполнителем
			p Выполнять заказы на Pomogoo могут только совершеннолетние пользователи, прошедшие процедуру подтверждения профиля. Подробная информация представлена в разделе <a href="#">«Как стать исполнителем»</a>.
		.l-contacts__section
			h6 Пишите нам
			span Технические проблемы, пожелания, предложения: <a href="mailto:privet@pomogoo.com">privet@pomogoo.com</a>
			span Все вопросы связанные с верификацией исполнителей: <a href="mailto:privet@pomogoo.com">privet@pomogoo.com</a>
			span Реклама и маркетинг: <a href="mailto:privet@pomogoo.com">privet@pomogoo.com</a>
			span Для СМИ: <a href="mailto:privet@pomogoo.com">privet@pomogoo.com</a>
			span Проблемы c вводом/выводом денег: <a href="mailto:privet@pomogoo.com">privet@pomogoo.com</a>
			span Отправляйте запросы либо с адреса, на который был зарегистрирован аккаунт в Pomogoo, либо указывайте свой точный логин на сервисе.
			span В противном случае заявки не будут рассматриваться.
			span Почтовый адрес
			p 123100, Россия, г. Москва, а/я 27