.l-how-perfomer-main-img{
	height: 558px;
    max-width: 833px;
    margin-bottom: 49px;
    @media ( max-width: @screen-md-max) {
    	height: 471px;
    }
    @media ( max-width: @screen-xs-max) {
    	height: 195px;
    }
}
.l-how-perfomer__section{
	line-height: 30px;
    padding-bottom: 57px;
    @media ( max-width: @screen-xs-max) {
    	padding-bottom: 20px;
    	line-height: 24px;
    }
    .but{
		margin-top: 10px;
    }
    span{
    	& ~ a{
			display: block;
			padding-left: 25px;
			@media ( max-width: @screen-xs-max) {
				padding-left: 0;
			}
    	}
    }
    a:not(.but){
		color: @bondi_blue;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
    }
	h1{
	    margin-bottom: 60px;
	    @media ( max-width: @screen-md-max) {
	    	margin-bottom: 30px;
	    }
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 10px;
		}
	}
	ul{
		counter-reset: section;
		li{
			span{
				// display: block;
			}
			&:before{
				color: @bondi_blue;
				counter-increment: section;
  				content: counter(section) ". ";
  				padding-right: 10px;
			}
		}
	}
	&.begin{
		h1{
			&:after{
				margin-top: 59px;
				@media ( max-width: @screen-xs-max) {
					margin-top: 20px;
				}

			}
			& ~ p{
			    margin-bottom: 39px;
			}
		}
	}
	&.receive{
	    padding-top: 16px;
	    ul{
    	    margin-top: 46px;
    	    li:last-child{
	    	    margin-top: 18px;
    	    }
	    }
	}
	&.conditions{
		padding-top: 23px;
		h1{
			margin-bottom: 54px;
			@media ( max-width: @screen-md-max) {
				margin-bottom: 30px;
			}

			&:after{
				margin-top: 61px;
				@media ( max-width: @screen-xs-max) {
					margin-top: 20px;
				}

			}
		}
	 	span{
	    	& ~ a{
				padding-left: 0;
	    	}
    	}
    	p{
    		margin-bottom: 30px;
    		&:last-child{
			    margin-top: 31px;
			    margin-bottom: 0;
    		}
    	}
    	li{
    		span{
    			font-weight: 600;
    		}
    	}
	}
	&.whence{
		padding-top: 10px;
		p{
		    margin-bottom: 27px;
		}
		h1{
			margin-bottom: 53px;
			@media ( max-width: @screen-md-max) {
				margin-bottom: 30px;
			}

			&:after{
				margin-top: 60px;
				@media ( max-width: @screen-xs-max) {
					margin-top: 20px;
				}

			}
		}
	}
	&.tele{
		padding-top: 28px;
		h1{
			margin-bottom: 53px;
			@media ( max-width: @screen-md-max) {
				margin-bottom: 30px;
			}

			&:after{
				margin-top: 60px;
				@media ( max-width: @screen-xs-max) {
					margin-top: 20px;
				}

			}
		}
		p{
			margin-bottom: 40px;
		}
	}
}
.l-how-perfomer__img{
	height: 558px;
	max-width: 830px;
	@media ( max-width: @screen-xs-max) {
		height: 230px;
	}
}
.l-how-perfomer__video{
	max-width: 900px;
	&:not(:last-child){
	    margin-bottom: 46px;
	}
	iframe{
		display: block;
		height: 474px;
		width: 100%;
		@media ( max-width: @screen-xs-max) {
			height: 200px;
		}
	}
}
.l-how-perfomer__video-name{
	color: black;
    font-size: 18px;
	font-weight: 600;
	margin-bottom: 12px;
}
.l-how-perfomer{
	padding-bottom: 70px;
}