mixin l-how-perfomer(data)
	.l-how-perfomer
		.l-how-perfomer__section
			h1 Как стать исполнителем Pomogoo?
			.l-how-perfomer-main-img.h-object-fit
				img(src="s/images/tmp_file/how-perf1.jpg", alt="")
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consma veniam, quis nostrum exercitationem ullam corporis suscipit Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		.l-how-perfomer__section.begin
			h1 Как начать сотрудничать с  Pomogoo?
			p Каждому новому исполнителю Pomogoo дарит несколько дней бесплатного доступа к заказам. Вы сможете оставлять любое количество предложений к заданиям в интересующей вас категории.
			p Чтобы стать исполнителем Pomogoo , пройдите процедуру верификации. Это займет 10 минут. Что нужно сделать:
			ul.h-list
				li Заполните анкету на сайте.
				li Пройдите онлайн-тестирование на знание правил сервиса.
			p Как только вы станете исполнителем, вы получите несколько дней бесплатного доступа к заказам. Наши сотрудники проверят информацию в вашем профиле и позвонят вам, чтобы подтвердить данные.
			a(href="#").but.but_bondi.but_bondi_lg
				span Стать исполнителем 
		.l-how-perfomer__section.receive
			h1 Как получать заказы?
			p Если вы уже стали исполнителем Pomogoo , обязательно <a href="#">прочитайте статью с рекомендациями</a> для успешного старта.
			ul.h-list
				li 
					span Заполните свой профиль на Pomogoo— он станет вашей визитной карточкой. 
					a(href="#") Рекомендации по заполнению профиля.
				li Подпишитесь на уведомления о новых заданиях в вашей категории и регионе.
				li 
					span Оставляйте предложения к заданиям, которые вы можете и готовы выполнить.  
					a(href="#") Как оформлять качественные предложения.
				li  Установите мобильное приложение Pomogoo на свой смартфон (ссылки для <a href="#">IOS,</a> <a href="#">Android</a>). С помощью приложения вы сможете быстро просматривать новые задания, оставлять предложения и переписываться с заказчиками.
			p Соблюдайте правила работы на сервисе и обязательно ознакомьтесь с <a href="#">основными причинами блокировки</a>. При выявлении нарушений аккаунт исполнителя может быть заблокирован.
		.l-how-perfomer__section.conditions
			h1 Условия сотрудничества  с  Pomogoo?
			p После получения статуса исполнителя вы сможете бесплатно оставлять предложения к заказам в интересующей вас категории в течение нескольких дней.
			p Потом предложения к заданиям станут платными. Оплатить их можно двумя способами:
			ul.h-list
				li 
					span Купить пакет безлимитных предложений.
					div  Вы можете приобрести пакет безлимитных предложений в интересующей вас подкатегории и оставлять неограниченное количество предложений ко всем заданиям.
					a(href="#") Подробная информация о безлимитных пакетах.
				li 
					span Оставлять платные предложения.
					div  Также вы можете откликаться на задания с разовой оплатой за каждое предложение (от 20 рублей в зависимости от категории задания).
					a(href="#") Подробная информация о платных предложениях.
			p Будьте готовы поработать над привлечением заказчиков: чтобы получить одно задание, обычно нужно оставить несколько предложений. Когда у вас появятся первые положительные отзывы, заказчики станут чаще доверять вам свои поручения.
		.l-how-perfomer__section.whence
			h1 Откуда на Pomogoo заказы?
			p Для привлечения заказчиков мы активно размещаем рекламу в интернете, на телевидении, в метро и на афишах города.
			.l-how-perfomer__img.h-object-fit
				img(src="s/images/tmp_file/how-perf2.jpg", alt="")
		.l-how-perfomer__section.tele
			h1 Pomogoo на телевидении
			p Смотрите о том, как стать исполнителем, и работать с Pomogoo в репортажах телеканалов:
			.l-how-perfomer__video
				.l-how-perfomer__video-name Lorem ipsum dolor sit amet!
				iframe(src='https://www.youtube.com/embed/dQw4w9WgXcQ', frameborder='0', allowfullscreen='')
			.l-how-perfomer__video
				.l-how-perfomer__video-name Lorem ipsum dolor sit amet!
				iframe(src='https://www.youtube.com/embed/djV11Xbc914', frameborder='0', allowfullscreen='')
			.l-how-perfomer__video
				.l-how-perfomer__video-name Lorem ipsum dolor sit amet!
				iframe(src='https://www.youtube.com/embed/129kuDCQtHs', frameborder='0', allowfullscreen='')
			p Также вы можете <a href="#">почитать о Pomogoo в различных СМИ.</a>
		a(href="#").but.but_bondi.but_bondi_lg
			span Стать исполнителем