mixin l-profile-default-2(data)
	.l-profile-default
		.l-prof-def__head.clearfix
			.l-prof-def__head-ttl Здраствуйте, Виктория!
			.l-prof-def__head-views.active
				+svg('icon-eye')
				span 377 просмотров профиля
		.l-prof-def__sub-head.clearfix
			.l-prof-def__ava
				.l-prof-def__ava-photo
					.h-object-fit
						img(src="s/images/tmp_file/ava.jpg", alt="")
				.l-prof-def__ava-photo-add
					label
						input(type="file")
						.button-add-photo
							+svg('icon-photoap')
							span Изменить фото
			.l-prof-def__city-wrp
				.l-prof-def__city
					span.years 22 года
					+svg('icon-mark')
					span Львов
				.l-prof-def__vals Выполнила 117 задания, создала 77 заданий
				.l-prof-def__rating
					span Средняя оценка: 5
					.l-prof-def__rating-stars
						+svg('icon-star')
						+svg('icon-star')
						+svg('icon-star')
						+svg('icon-star')
						+svg('icon-star')
					span (77 отзывов)
				.l-prof-def__icons
					a(href="#")
						+svg('icon-rat-1')
					a(href="#")
						+svg('icon-rat-2')
					a(href="#")
						+svg('icon-rat-3')
					a(href="#")
						+svg('icon-rat-4')