mixin c-task-card-2(data)
	.l-task-card
		.l-task-card__content
			.l-task-card__header
				h1.h3 Сохранить CRV в pdf формат для печати
				span.e-tag.e-tag_aqua-island: span 15 000 руб.
				.c-task-card__tools
					span.c-task-card__tool.done Выполнено
					span.c-task-card__tool 37 просмотров
					span.c-task-card__tool Создано вчера 9:52
					span.c-task-card__tool Дизайн
			.l-task-card__table
				.l-task-card__table-item.clearfix
					.table-item__key Адрес
					.table-item__val Виртуальное задание
				.l-task-card__table-item.clearfix
					.table-item__key Начать
					.table-item__val 27 июля 2017 , 11:00
				.l-task-card__table-item.clearfix
					.table-item__key Стоимость
					.table-item__val 1 000 руб.
				.l-task-card__table-item.clearfix
					.table-item__key Оплата
					.table-item__val Онлайн
				.l-task-card__table-item.need.clearfix
					.table-item__key Нужно
					.table-item__val
						p сохранить CRV в pdf формат для печати и прислать превью
						p Нужен логотип для наркологической клиники, медицинского центра. Название "Панацея".
						p Более подробно условия задания обсудим с исполнителем.
						p В предложениях указывайте сроки, когда сможете выполнить задание и цену за работу.
						p Жду Ваших предложений!
						.table-item__val-imgs
							.row
								mixin col(img)
									.table-item__val-col
										.h-object-fit
											img(src="s/images/tmp_file/#{img}.jpg", alt="")
								+col('upl1')
								+col('art2')
								+col('art3')
								+col('upl2')
								+col('upl3')
				.l-task-card__table-btns
					strong Если вы хотите получить подобную услугу
					.l-task-card__to-create
						a(href="#").but.but_y-orange
							span Создайте такое же задание
						a(href="#").link_bondi или станьте исполнителем
					.l-task-card__share
						a(href="#").link_bondi
							+svg('icon-twtr')
							span Поделиться ссылкой
			.l-task-card__reviews
				.l-task-card__reviews-head
					b Отзывы
					.card__reviews-head-stars
						+svg('icon-star')
						+svg('icon-star')
						+svg('icon-star')
						+svg('icon-star')
						+svg('icon-star')
					span Рейтинг: 5 - 2 отзыва
				.reviews__body-user.clearfix
					.reviews__body-user-photo.h-object-fit
						img(src="s/images/tmp_file/user2.jpg", alt="")
					.reviews__body-user-info.clearfix
						.reviews__body-user-name Роберт Малишев
						.reviews__body-user-about
							span.about-left Отзывы
							.about-right
								+svg('icon-like')
								span 7 - закакзчик
						.reviews__body-user-txt
							.txt-top Отзыв о выполнении задания «Доставить 2 пакета в центр» 
							.txt-middle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							.txt-bottom
								mixin bot-item(txt)
									.txt-bottom__item
										span #{txt}
										.txt-bottom__item-stars
											+svg('icon-star')
											+svg('icon-star')
											+svg('icon-star')
											+svg('icon-star')
											+svg('icon-star')
								+bot-item('Пунктуальность')
								+bot-item('Адекватность')
								+bot-item('Вежливость')
						.reviews__body-user-time 1 день назад
				.reviews__body-user.clearfix
					.reviews__body-user-photo.h-object-fit
						img(src="s/images/tmp_file/user5.jpg", alt="")
					.reviews__body-user-info.clearfix
						.reviews__body-user-name Альбина Митько
						.reviews__body-user-about
							span.about-left Отзывы
							.about-right
								+svg('icon-like')
								span 7 - закакзчик
						.reviews__body-user-txt
							.txt-top Отзыв о выполнении задания «Доставить 2 пакета в центр» 
							.txt-middle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							.txt-bottom
								mixin bot-item(txt)
									.txt-bottom__item
										span #{txt}
										.txt-bottom__item-stars
											+svg('icon-star')
											+svg('icon-star')
											+svg('icon-star')
											+svg('icon-star')
											+svg('icon-star')
								+bot-item('Пунктуальность')
								+bot-item('Адекватность')
								+bot-item('Вежливость')
					.reviews__body-user-time 1 день назад
			.l-task-card__bid
				h5 Ваше предложение
				p Предложения видны только заказчику
			.l-task-card__comments
				h5 Комментарии
				mixin comment()
					.l-task-card__comments-item-wrp
						.l-task-card__comments-item.clearfix
							a(href="#").comments-item__img.h-object-fit
								img(src="s/images/tmp_file/comment1.jpg", alt="")
							.comments-item__txt
								a(href="#").comments-item__name
									b Регина А.
									span 1 день назад
								.comments-item__cont Здравствуйте! Какие сроки на выполнение макета?
								a(href="").comments-item__complaint Пожаловаться
						.l-task-card__comments-item.sub.clearfix
							a(href="#").comments-item__img.h-object-fit
								img(src="s/images/tmp_file/comment2.jpg", alt="")
							.comments-item__txt
								a(href="#").comments-item__name
									b Александра
									strong — заказчик
									span 1 день назад
								.comments-item__cont Здравствуйте! Какие сроки на выполнение макета?
								a(href="").comments-item__complaint Пожаловаться
				+comment()
				+comment()
				+comment()