/*----------  global changes START  ----------*/
*{
	outline: none !important;
}
html {
	height: 100%;
}
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	font-weight: 300;

	.ie & {
		font-weight: 400;
	}
}
img{
	max-width: 100%;
	height: auto;
}
a{
	color: inherit;
	text-decoration: none;
	transition: color 0.3s ease;
	&:hover, &:focus{
		text-decoration: none;
		color: inherit;
	}
}
textarea.form-control:focus{
	border-color: @l_green;
}
.c-content{
	padding-top: 10px;
	padding-bottom: 10px;
}
::-webkit-input-placeholder{
	transition: all 0.3s ease;
}
::-moz-placeholder{
	transition: all 0.3s ease;
}
:-moz-placeholder{
	transition: all 0.3s ease;
}
:-ms-input-placeholder{
	transition: all 0.3s ease;
}
:focus::-webkit-input-placeholder{
	opacity: 0;
}
:focus::-moz-placeholder{
	opacity: 0;
}
:focus:-moz-placeholder{
	opacity: 0;
}
:focus:-ms-input-placeholder{
	opacity: 0;
}
/*----------  global changes END    ----------*/


/*----------  colors classes  ----------*/


/*----------  bootstrap CHANGE HELPERS  ----------*/

/* typography */

// Headings
// -------------------------

h1,h2,h3,h4,.h1,.h2,.h3,.h4{
	// margin-top: 0;
	// margin-bottom: 20px;
	margin: 0;
	line-height: 1.2;
	&.h_thin{
		font-weight: 400;
	}
}

h1,.h1{
	font-size: 48px;
	font-weight: 700;
	@media ( max-width: @screen-sm-max) {
		font-size: 40px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 24px;
	}
}
h2,.h2{
	@media ( max-width: @screen-xs-max) {
		font-size: @font-size-h3;
	}
}
h3, .h3{
	@media ( max-width: @screen-xs-max) {
		font-size: @font-size-h4;
		line-height: @line-height-base;
	}
}
h4, .h4{
	font-size: 36px;
	font-weight: 400;
	width: 100%;
	text-align: center;
	position: relative;
	@media ( max-width: @screen-sm-max) {
		font-size: 30px;
	}
	
	&:after{
		content: '';
		margin-top: 40px;
		background-color: @bondi_blue;
		height: 2px;
		width: 130px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		@media ( max-width: @screen-sm-max) {
			margin-top: 20px;
		}
	}
	@media ( max-width: @screen-xs-max) {
		font-size: @font-size-h5;
	}
}
h5, .h5{
	line-height: 28px;
	@media ( max-width: @screen-xs-max) {
		font-size: @font-size-h6;
	}
}
h6, .h6{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 24px;
	text-align: center;
	font-weight: 300;
	@media ( max-width: @screen-sm-max) {
		font-size: 18px;
	}
	&:after{
		content: '';
		display: block;
		background-color: @bondi_blue;
		height: 2px;
		width: 58px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 32px;
		@media ( max-width: @screen-sm-max) {
			margin-top: 10px;
		}
	}
}
.h-sC{
	transition: background-color 300ms ease;
}

// Body text
// -------------------------
.text-small{
	font-size: 13px;
	line-height: 15px;
}
.text-large{
	font-size: @font-size-large;
}
p {
  margin: 0 0 20px;
}
a{
	&.active{
		color: @link-hover-color;
	}
	&.a_none{
		text-decoration: none;
	}
}
.h-overflow{
	overflow: hidden;
}
/*----------  bootstrap CHANGE HELPERS  END  ----------*/

.l-page-wrapper {
	min-height: 100vh;
	overflow: hidden;
}

.c-footer{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}
body{
	position: relative;
	min-height: 100%; 
}
// html{
// 	height: 100%;
// }
label{
	font-weight: 300;
	position: relative;
}
.check-label{
	position: relative;
	cursor: pointer;
	input{
		position: absolute;
		visibility: hidden;
		opacity: 0;
		display: block;
		width: 0;
		height: 0;
		left: 0;
		top: 0;
	}
	input:checked ~ .checkbox{
		&:before{
			opacity: 1;
		}
	}
	span{
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;
	}
}
.checkbox{
	width: 16px;
	height: 16px;
	border: 1px solid #B0C2BC;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	&:before{
		content: '';
		width: 8px;
		height: 20px;
		background: #fff;
		position: absolute;
		top: -12px;
		left: 7px;
		right: 0;
		bottom: 0;
		margin: auto;
		transform: rotate(45deg);
		border-right: 1px solid #92D23B;
		border-bottom: 1px solid #92D23B;
		opacity: 0;
		transition: all 0.3s ease;
		box-shadow: 5px 0px 0px 0px #fff;
	}
}
.radio-label{
	display: inline-block;
	position: relative;
	cursor: pointer;

	input{
		visibility: hidden;
		position: absolute;
		opacity: 0;
	}
	input:checked ~ .radio{
		&:before{
			opacity: 1;
		}
	}
	span{
		vertical-align: middle;
		display: inline-block;
		padding-left: 26px;
	}
}
.radio{
	// background-color: #f2f6f8;
	background-color: transparent;
	border-color: #aeaeae;
	border-style: solid;
	border-radius: 50%;
	position: absolute;
	border-width: 1px;
	// height: 18px;
	// width: 18px;
	height: 14px;
	width: 14px;
	margin: 0;
	top: 2px;
	left: 0;

	&:before{
		transition: all 0.3s ease;
		background-color: #6badc3;
		border-radius: 50%;
		position: absolute;
		display: block;
		margin: auto;
		// height: 10px;
		height: 6px;
		content: '';
		// width: 10px;
		width: 6px;
		opacity: 0;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}
}
.modal-content{
	border-radius: 0;
	position: relative;
}
.but-modal-close{
	position: absolute;
	width: 20px;
	height: 20px;
	display: block;
	top: 23px;
	right: 23px;
	&:hover{
		&:before, &:after{
			background-color: #010101;
		}
	}
	&:before, &:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-color: #c3cbc4;
		width: 20px;
		height: 1px;
		transition: background 0.3s ease;
	}
	&:before{
		transform: rotate(45deg);
	}
	&:after{
		transform: rotate(-45deg);
	}
}

input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.link_bondi{
	color: @bondi_blue;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
		color: @bondi_blue;
	}
}
.link_bondi_grey{
	color: @gray_txt;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
		color: @gray_txt;
	}
}
.link_bondi_nound{
	text-decoration: none;
	color: @bondi_blue;
	&:hover{
		text-decoration: underline;
		color: @bondi_blue;
	}
}
br{
	@media ( max-width: @screen-xs-max) {
		display: none;
	}
}
.l-all-tasks-wrapper {
	padding-top: 51px;
}
.green{
	color: @l_green;
}
.orange{
	color: @y_orange;
}
input.error {
	border-color: red;
}