.e-tag{
	display: inline-block;
	height: 33px;
	border-radius: 5px;
	line-height: 33px;
	padding: 0 17px;
	font-size: 18px;
	font-weight: 600;
	&_aqua-island{
		background-color: @aqua-island;
		color: #fff;
	}
}