.modal-mob-numb__ttl{
	color: #010101;
	font-size: 30px;
	font-weight: 400;
	@media ( max-width: @screen-xs-max) {
		font-size: 22px;
	}
}
.modal-mob-numb{
	.modal-content{
		padding-top: 95px;
		padding-bottom: 95px;
		padding-left: 64px;
		@media ( max-width: @screen-xs-max) {
			padding: 40px 30px 40px;
		}
	}
	.modal-dialog{
		width: 700px;
		@media ( max-width: @screen-xs-max) {
			width: 100%;
			margin: auto;
		}
	}
	.l-bid-write__contacts{
		max-width: 525px;
	}
	.but{
		float: right;
		height: 43px;
		line-height: 40px;
		padding: 0 48px;
		font-size: 24px;
		@media ( max-width: @screen-xs-max) {
			float: none;
			margin-top: 15px;
			font-size: 20px;
			padding: 0 30px;
		}
	}
	.tel-wrap{
		float: left;
		@media ( max-width: @screen-xs-max) {
			float: none;
			    max-width: 246px;
		}
		.btn{
	   		padding: 13px 12px 12px;	
		}
	}
	.l-bid-write__form .form-control{
	    height: 44px;
	}
	.l-bid-write__form .bs-caret{
		top: 14px;
	}
	.l-bid-write__contacts .tel-wrap .btn-default:before{
		top: 13px;
	}
}
.modal-sms{
	.modal-mob-numb__ttl{
		margin-bottom: 15px;
	}
	.modal-content{
		padding-top: 64px;
		padding-bottom: 63px;
		@media ( max-width: @screen-xs-max) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	p{
		margin-bottom: 0;
		font-weight: 400;
		margin-bottom: 15px;
	}
	.l-bid-write__form .modal-sms__form-enter{
		max-width: 274px;
		label{
			max-width: 137px;
			float: left;
		}
		.but{
			float: right;
			@media ( max-width: @screen-xs-max) {
				margin-top: 0;
			}
		}
	}
	.link_bondi{
		margin-top: 60px;
		display: inline-block;
		@media ( max-width: @screen-xs-max) {
			margin-top: 30px;
		}
	}
}
.modal-sms__form{
	margin-top: 60px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 30px;
	}
}
.modal-verify{
	text-align: center;
	.modal-content{
		padding-left: 15px;
		padding-right: 15px;
	}
	.but{
		float: none;
		margin-top: 78px;
	    height: 62px;
    	line-height: 58px;
	}
}