mixin l-rewards(data)
	.l-rewards
		h1 Награды и рейтинг исполнителей
		.l-rewards__annotation Значки за различные достижения отображаются в профиле исполнителя, в каталоге исполнителей и рядом с предложениями в заданиях. Награды привлекают внимание заказчиков и вызывают больше доверия к их обладателям. Они подчеркивают статус исполнителя и качество оказываемых им услуг наравне с отзывами и оценками.
		.l-rewards__types
			.l-rewards__types-ttl Типы значков
			.l-rewards__types-item.clearfix
				.l-rewards__types-item-img
					img(src="s/images/tmp_file/type-img1.png", alt="")
				.l-rewards__types-item-txt
					span <b>За выполненные задания.</b> Присваивается при выполнении 50, 100, 200, 300, 400, 500 заданий. Обновляется при достижении очередного результата.
			.l-rewards__types-item.clearfix
				.l-rewards__types-item-img
					img(src="s/images/tmp_file/type-img2.png", alt="")
				.l-rewards__types-item-txt
					span <b>ТОП исполнителей Pomogoo.</b> Присваивается исполнителям, которые входят в список 50, 100, 500 лучших за прошедшие три месяца. Главным образом зависит от количества положительных отзывов.
			.l-rewards__types-item.clearfix
				.l-rewards__types-item-img
					img(src="s/images/tmp_file/type-img3.png", alt="")
				.l-rewards__types-item-txt
					span <b>Процент успешно выполненных заданий.</b> Присваивается активным пользователям, которые были выбраны исполнителями заданий не менее 10 раз, и показывает, какой процент заданий ими был успешно выполнен. <br>При этом:
					ul
						li 
							span задания, которые были отменены или не выполнены по инициативе заказчика, не влияют на данный процент;
						li 
							span задания, которые были не выполнены по вине исполнителя, уменьшают его.
					span Исполнители, успешно выполнившие менее 80% заданий, автоматически блокируются.
			.l-rewards__types-item.clearfix
				.l-rewards__types-item-img
					img(src="s/images/tmp_file/type-img4.png", alt="")
				.l-rewards__types-item-txt
					span <b>Мастер уборки.</b> Значок присваивается исполнителям из категории «Уборка квартир», которые прошли личное собеседование в офисе Pomogoo, подтвердили паспортные данные и имеют более 10 положительных отзывов.
		.l-rewards__rating
			h1 Рейтинг исполнителей
			p Рейтинг и место исполнителя в каждой категории можно увидеть в его личном профиле.
			p Чем выше рейтинг исполнителя в категории, тем выше его предложения отображаются в заданиях из данной категории.
			p Рейтинг начинает формироваться после выполнения первого задания и обновляется ежедневно у всех пользователей.
			h5 На формирование рейтинга влияют:
			ul
				li <b>45%</b> — количество положительных и отрицательных отзывов за последние 90  дней.
				li <b>20%</b> — количество положительных и отрицательных отзывов за период 91 — 360 дней.
				li <b>35%</b> — количество оставленных предложений за последние 90 дней.
			p Самое большое влияние на рейтинг оказывают положительные отзывы. <br>Очень важно оставлять отзывы после выполнения заданий.