.blog-insane__banner{
	height: 509px;
	position: relative;
	&:before{
		content: '';
		opacity: 0.79;
		background-color: #011126;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}
.blog-insane__banner-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.blog-insane__banner-txt{
	color: #fff;
	text-align: center;
	position: relative;
	padding-top: 110px;
	padding-bottom: 110px;
	z-index: 2;
	@media ( max-width: @screen-xs-max) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
.blog-insane__banner-top{
	font-size: 24px;
	font-weight: 700;
	@media ( max-width: @screen-xs-max) {
		font-size: 18px;
	}
}
.blog-insane__banner-middle{
	font-size: 48px;
	font-weight: 700;
	max-width: 845px;
	line-height: 60px;
	margin-top: 47px;
	margin-left: auto;
	margin-right: auto;
	@media ( max-width: @screen-sm-max) {
		font-size: 40px;
	}
	@media ( max-width: @screen-xs-max) {
		font-size: 30px;
		line-height: 40px;
	}
}
.blog-insane__banner-bottom{
	font-size: 30px;
	font-weight: 600;
	line-height: 60px;
	margin-top: 42px;
	@media ( max-width: @screen-xs-max) {
		font-size: 20px;
		line-height: 30px;
	}
}
.blog-insane__user-preview{
	text-align: center;
    margin-bottom: 82px;
    @media ( max-width: @screen-sm-max) {
    	margin-bottom: 30px;
    }
}
.blog-insane__user-img{
	width: 135px;
	height: 135px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.blog-insane__user-name{
	color: @bondi_blue;
	font-size: 16px;
	font-weight: 400;
    margin-top: 26px;
    @media ( max-width: @screen-sm-max) {
    	margin-top: 20px;
    }
}
.blog-insane__user-reg-date{
	color: #010101;
	font-size: 12px;
	margin-top: 28px;
}
.blog-insane__content{
	padding-top: 84px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 35px;
	}
}
.blog-insane__user-text{
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.1px;
	@media ( max-width: @screen-sm-max) {
		font-size: 14px;
		line-height: 24px;
	}
	b{
		display: block;
		font-size: 18px;
		font-weight: 600;
		line-height: 30px;
		margin-bottom: 23px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 10px;
			font-size: 16px;
		}
	}
	p{
		margin-bottom: 72px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 30px;
		}
	}
}
.blog-insane__user-text-img{
	text-align: center;
	margin-bottom: 71px;
	@media ( max-width: @screen-sm-max) {
		margin-bottom: 40px;
	}
	span{
		font-size: 16px;
		display: block;
		margin-top: 20px;
		font-weight: 400;
	}
	.h-object-fit{
		height: 591px;
		@media ( max-width: @screen-sm-max) {
			height: 400px;
		}
		@media ( max-width: @screen-xs-max) {
			height: 250px;
		}
	}	
}
.blg-ins__us-txt-sect-left{
	float: left;
	max-width: 670px;
	@media ( max-width: @screen-md-max) {
	    max-width: 470px;
	}
	@media ( max-width: @screen-sm-max) {
		max-width: none;
	}
}
.blg-ins__us-txt-sect-right{
	float: right;
	max-width: 400px;
	font-size: 24px;
	line-height: 36px;
	border-top: 1px solid @bondi_blue;
	margin-top: 10px;
    padding-top: 21px;
    @media ( max-width: @screen-sm-max) {
    	max-width: none;
    	font-size: 20px;
    	margin-bottom: 30px;
    }
    @media ( max-width: @screen-xs-max) {
    	font-size: 18px;
    	padding-top: 10px;
    	line-height: 28px;
    }
}
.blog-insane__user-titles{
	text-align: center;
	border: 1px solid @y_orange;
	padding-top: 50px;
	padding-bottom: 41px;
	padding-left: 30px;
	padding-right: 30px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 30px;
		padding-bottom: 21px;
	}
	strong{
		display: block;
		font-size: 30px;
		font-weight: 600;
	    margin-bottom: 27px;
	}
	span, p{
		display: block;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 19px;
		@media ( max-width: @screen-xs-max) {
			font-size: 14px;
		}
		a{
			color: @bondi_blue;
			&:hover{
				color: @y_orange;
			}
		}
	}
}
.blog-insane__user-arts{
	padding-top: 76px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 50px;
	}
	h4{
		margin-bottom: 53px;
	}
}
.blog-insane__user-arts-item{
	display: block;
	overflow: hidden;
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 30px;
	}
	img{
		transition: all 0.3s ease;
	}
	.h-object-fit{
		height: 292px;
		@media ( max-width: @screen-sm-max) {
			height: 172px;
		}
	}
	span{
		display: block;
		font-size: 18px;
		font-weight: 300;
		line-height: 36px;
		margin-top: 13px;
		@media ( max-width: @screen-sm-max) {
			font-size: 14px;
			line-height: 27px;
		}
	}
	&:hover{
		img{
			transform: scale(1.1);
		}
	}
}
.blog-insane__subscribe{
	text-align: center;
	background-color: #e6fdff;
	margin-top: 77px;
	padding-top: 146px;
	padding-bottom: 147px;
	@media ( max-width: @screen-sm-max) {
		margin-top: 47px;
		padding: 40px 0;
	}
	@media ( max-width: @screen-xs-max) {
		margin-top: 20px;
	}
	h6{
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 31px;
		@media ( max-width: @screen-xs-max) {
			font-size: 26px;
		}
		&:after{
			display: none;
		}
	}
	span{
		display: block;
		font-size: 16px;
		font-weight: 400;
	}
	form{
		max-width: 802px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		margin-top: 31px;
	}
	label{
		display: block;
		height: 51px;
		font-weight: 300;
		input{
			display: block;
			width: 100%;
			height: 100%;
			border: 1px solid @y_orange;
			padding-left: 21px;
		}
	}
	button{
		text-align: center;
		background-color: @y_orange;
		color: #fff;
		padding: 0 51px;
		line-height: 50px;
		font-size: 18px;
		position: absolute;
		top: 0;
		transition: all 0.3s ease;
		right: 0;
		@media ( max-width: @screen-xs-max) {
			position: static;
			width: 100%;
		}
		&:hover{
			background-color: (@y_orange - 30%);
		}
	}
	::-webkit-input-placeholder{
		font-size: 16px;
		color: #686868;
	}
	::-moz-placeholder{
		font-size: 16px;
		color: #686868;
	}
	:-moz-placeholder{
		font-size: 16px;
		color: #686868;
	}
	:-ms-input-placeholder{
		font-size: 16px;
		color: #686868;
	}
}
.blog-insane__footer{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	background-color: #1e546d;
	padding: 26px 0;
	text-align: center;
	position: relative;
	@media ( max-width: @screen-xs-max) {
		padding: 40px 0 60px;
	}
	ul{
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
		li{
			display: inline-block;
			vertical-align: middle;
			@media ( max-width: @screen-sm-max) {
				display: block;
			}
			&:not(:last-child){
				margin-right: 50px;
				@media ( max-width: @screen-md-max) {
					margin-right: 15px;
				}
				@media ( max-width: @screen-sm-max) {
					margin-right: 0;
					margin-bottom: 10px;
				}
			}
			a{
				&:hover{
					color: @y_orange;
				}
			}
		}
	}
}
.blog-insane__footer-btn{
    font-size: 16px;
    position: absolute;
    top: 26px;
    right: 14px;
    font-weight: 400;
    @media ( max-width: @screen-xs-max) {
    	top: auto;
    	bottom: 18px;
    	text-align: center;
    	left: 0;
    }
    &:hover{
    	span, .icon{
    		color: @y_orange;
    	}
    }
	span{
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
		transition: all 0.3s ease;
	}
	.icon{
		color: #fff;
		width: 8px;
		height: 19px;
		display: inline-block;
		vertical-align: middle;
		transition: all 0.3s ease;
	}
}