//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-bid-head/l-bid-head
include _includes/components/l-bid-write-2/l-bid-write-2
include _includes/components/l-bid-faq/l-bid-faq
include _includes/components/uslugi_collapse/uslugi_collapse
include _includes/components/breadcrumbs/breadcrumbs
include _includes/components/check_list/check_list

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'404'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			header.c-header.js-header
				.container
					.c-header__wrp.clearfix
						.c-header__left
							button.c-header__menu_small-trigger(type="button")
								i
								i
								i
							a(href="#").c-header__logo
								span Pomogoo
							ul.h-list.c-header__menu_small
								li
									a(href="#") Как это работает
								li
									a(href="#") Как стать исполнителем
								li
									a(href="#") Наш блог
								li
									a(href="#") Отзывы заказчиков
								li
									a(href="#") Правила сервиса
								li
									a(href="#") Частые вопросы
								li
									a(href="#") Контакты
			main
				.container
					.error-block
						.error-block__txt
							span 404
							+svg('icon-fourofour')
						.error-block__content
							span Такой страницы у нас нет
							span Зато у нас есть 
								a(href='#').link_bondi страница с заданиями

		script(data-main=route.js + "main" src=route.js + "require.js")