//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer

include _includes/components/all-tasks__sidebar/all-tasks__sidebar
include _includes/components/all-tasks__filter/all-tasks__filter
include _includes/components/all-tasks__list/all-tasks__list
include _includes/components/all-tasks__city-modal/all-tasks__city-modal

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'all_tasks__logged__empty'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-all-tasks-wrapper
				.container
					//- .row.row_no-pad
					.row
						.col-md-4
							+all-tasks__sidebar()
						.col-md-8
							+all-tasks__filter({
								'logged':true,
								'title':'Все категории',
								'city':'Санкт-Петербург',
								//- 'txt':'Новые задания доступны только для исполнителей Pomogoo'
							})
							+all-tasks__list({
								'empty_txt':'Но вы можете создать <a href="#">своё задание</a> в выбранной категории'
							})
			+footer()
		+all-tasks__city-modal()
		script(data-main=route.js + "main" src=route.js + "require.js")