//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer

include _includes/components/all-tasks__sidebar/all-tasks__sidebar
include _includes/components/all-tasks__filter/all-tasks__filter
include _includes/components/all-tasks__list/all-tasks__list
include _includes/components/all-tasks__city-modal/all-tasks__city-modal

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'all_tasks'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-all-tasks-wrapper
				.container
					//- .row.row_no-pad
					.row
						.col-md-4
							+all-tasks__sidebar()
						.col-md-8
							+all-tasks__filter({
								//- 'logged':true,
								'title':'Все категории',
								'city':'Санкт-Петербург',
								'txt':'Новые задания доступны только для исполнителей Pomogoo'
							})
							+all-tasks__list({
								'list':[
									{
										//- 'visa':true,
										'low_time':true,
										'image':'s/images/tmp_file/tasks/01.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'15:17:21',
										'type':'Дизайн',
										//- 'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										'visa':true,
										//- 'low_time':true,
										'image':'s/images/tmp_file/tasks/02.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'До 17 июля',
										'type':'Дизайн',
										//- 'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										//- 'visa':true,
										'low_time':true,
										'image':'s/images/tmp_file/tasks/03.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'15:17:21',
										'type':'Дизайн',
										'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										//- 'visa':true,
										'low_time':true,
										'image':'s/images/tmp_file/tasks/04.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'15:17:21',
										'type':'Дизайн',
										//- 'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										'visa':true,
										//- 'low_time':true,
										'image':'s/images/tmp_file/tasks/05.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'До 17 июля',
										'type':'Дизайн',
										//- 'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										//- 'visa':true,
										'low_time':true,
										'image':'s/images/tmp_file/tasks/06.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'15:17:21',
										'type':'Дизайн',
										'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										//- 'visa':true,
										'low_time':true,
										'image':'s/images/tmp_file/tasks/07.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'15:17:21',
										'type':'Дизайн',
										//- 'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										'visa':true,
										//- 'low_time':true,
										'image':'s/images/tmp_file/tasks/08.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'До 17 июля',
										'type':'Дизайн',
										//- 'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										//- 'visa':true,
										'low_time':true,
										'image':'s/images/tmp_file/tasks/09.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'15:17:21',
										'type':'Дизайн',
										'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										//- 'visa':true,
										'low_time':true,
										'image':'s/images/tmp_file/tasks/01.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'15:17:21',
										'type':'Дизайн',
										//- 'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										'visa':true,
										//- 'low_time':true,
										'image':'s/images/tmp_file/tasks/02.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'До 17 июля',
										'type':'Дизайн',
										//- 'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									},
									{
										//- 'visa':true,
										'low_time':true,
										'image':'s/images/tmp_file/tasks/03.jpg',
										'title':'Фирменный логотип для сайта',
										'name':'Сабрина Малишева',
										'price':'15 000 руб.',
										'date':'15:17:21',
										'type':'Дизайн',
										'address':'Петровка ул., 17с1, Москва, Россия, 127051',
									}
								]
							})
			+footer()
		+all-tasks__city-modal()
		script(data-main=route.js + "main" src=route.js + "require.js")