//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'bid-on-service-modals'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.container
				button(type="button" data-toggle="modal" data-target="#modal-mob-numb").but.but_bondi
					span Подтвердите номер телефона
				button(type="button" data-toggle="modal" data-target="#modal-sms").but.but_bondi
					span Код из СМС
				button(type="button" data-toggle="modal" data-target="#modal-verify").but.but_bondi
					span Телефон верифицирован

			.modal.fade#modal-mob-numb.modal-mob-numb
				.modal-dialog
					form.modal-content.l-bid-write__form
						button(type="button" data-dismiss="modal").but-modal-close
						.modal-mob-numb__ttl Подтвердите номер телефона
						.l-bid-write__contacts.clearfix
							.tel-wrap
								select.selectpicker
									option +7
									option +1
									option +373
									option +374
								label
									input.form-control.tel-input(type="tel" placeholder="Ваш телефон")
							button(type="submit").but.but_bondi
								span Подтвердить
			.modal.fade#modal-sms.modal-mob-numb.modal-sms
				.modal-dialog
					.modal-content
						button(type="button" data-dismiss="modal").but-modal-close
						.modal-mob-numb__ttl Подтверджения телефона
						p На указанный номер +7  (922) 555 5533
						p мы выслали код подтверждения
						form.modal-sms__form.l-bid-write__form
							p Введите полученный код, чтобы подтвердить свой номер телефона.
							.modal-sms__form-enter.clearfix
								label
									input.form-control.tel-input(type="number")
								button(type="submit").but.but_bondi
									span ОК
						a(href="#").link_bondi Попробовать еще раз
			.modal.fade#modal-verify.modal-mob-numb.modal-verify
				.modal-dialog
					.modal-content
						button(type="button" data-dismiss="modal").but-modal-close
						.modal-mob-numb__ttl Ваш телефон успешно <br>верифицирован
						a(href="#").but.but_bondi
							span Опубликовать задание
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")