//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-bid-head/l-bid-head
include _includes/components/l-bid-write/l-bid-write
include _includes/components/l-bid-faq/l-bid-faq

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'bid-on-service'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-bid
				+l-bid-head()
				.l-bid__body
					.container
						.row
							.col-md-8
								+l-bid-write()
							.col-md-4
								+l-bid-faq()
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")