//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-tech-sidebar/l-tech-sidebar
include _includes/components/l-vacancies/l-vacancies

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'blog_main'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			.blog-main__page-wrap
				.blog-main__banner
					.blog-insane__banner-img.h-object-fit
						img(src="s/images/tmp_file/blog_banner.jpg", alt="")
					.container
						h1 Блог Pomogoo
						.blog-main__banner-subheader Делимся интересными историями наших пользователей, необычными заданиями и полезными бытовыми советами
						form.blog-main__banner-form
							label
								input(type="email" placeholder="Подпишитесь на нашу e-mail рассылку")
							button(type="sumbit")
								span Подписаться
				.blog-main__content
					.container
						mixin post(img)
							a(href="#").blog-main__item.clearfix
								.blog-main__item-img.h-object-fit
									img(src="s/images/tmp_file/#{img}.jpg", alt="")
								.blog-main__item-txt
									span Интервью с исполнителем
									b Как бросить нелюбимую работу и начать путешествовать
									span Если в тебе море желаний и амбиций
						+post('post1')
						+post('post2')
						+post('post3')
						+post('post4')
						+post('art1')
						+post('post5')
						+post('pub3')
						+post('post6')
						+post('post7')
						+post('pub4')
						+post('post8')
						+post('pub1')
				.blog-insane__subscribe
					.container
						h6 Подпишитесь на нашу расылку
						span И получайте уведомления о новых материалах раньше других
						form
							label
								input(type="email" placeholder="Укажите ваш e-mail")
							button(type="submit")
								span Получить уведомления
				.blog-insane__footer
					a(href="#").blog-insane__footer-btn
						span Наверх
						+svg('icon-top')
					.container
						ul
							li
								a(href="#") Как стать исполнителем  Pomogoo
							li
								a(href="#") Мы в Facebook
							li
								a(href="#") Мы в ВКонтакте
							li
								a(href="#") Мы в Twitter
							li
								a(href="#") Мы в Youtube


		script(data-main=route.js + "main" src=route.js + "require.js")