//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-tech-sidebar/l-tech-sidebar
include _includes/components/l-vacancies/l-vacancies

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'blog_insane'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			.blog-insane__page-wrap
				.blog-insane__banner
					.container
						.blog-insane__banner-img.h-object-fit
							img(src="s/images/tmp_file/blog_insane_prev.jpg", alt="")
						.blog-insane__banner-txt
							.blog-insane__banner-top Блог Pomogoo
							.blog-insane__banner-middle Как бросить нелюбимую работу и начать путешествовать
							.blog-insane__banner-bottom Если в тебе море желаний и амбиций
				.blog-insane__content
					.container
						.blog-insane__user-preview
							.blog-insane__user-img.h-object-fit
								img(src="s/images/tmp_file/user7.jpg", alt="")
							.blog-insane__user-name Дарья Николаенко
							.blog-insane__user-reg-date На Pomogoo с июня 2017
						.blog-insane__user-text
							p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
							b -  Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p  -  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
							b -  Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p  -  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
							.blog-insane__user-text-img
								.h-object-fit
									img(src="s/images/tmp_file/girl1.jpg", alt="")
								span Мечтает путешествовать
							.blog-insane__user-text-sect.clearfix
								.blg-ins__us-txt-sect-left
									b -  Lorem ipsum dolor sit amet
									p  -  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
								.blg-ins__us-txt-sect-right Sed ut perspiciatis unde chitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur  omnis
							b  -  Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p  -  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?ore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? 	
							.blog-insane__user-text-img
								.h-object-fit
									img(src="s/images/tmp_file/girl2.jpg", alt="")
								span Мечтает путешествовать
							b -  Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p  -  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
							.blog-insane__user-text-img
								.h-object-fit
									img(src="s/images/tmp_file/girl3.jpg", alt="")
								span Мечтает путешествовать
							b -  Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p  -  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
							p -  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
							.blog-insane__user-text-img
								.h-object-fit
									img(src="s/images/tmp_file/girl4.jpg", alt="")
								span Мечтает путешествовать
							.blog-insane__user-text-sect.clearfix
								.blg-ins__us-txt-sect-left
									b -  Lorem ipsum dolor sit amet
									p  -  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
								.blg-ins__us-txt-sect-right Sed ut perspiciatis unde chitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur  omnis
						.blog-insane__user-titles
							strong Титры
							span Герой интервью - <a href="#">Дарья Николаенко</a>
							span Фотограф - <a href="#">Николай Еременко</a>
							span Фотосессия проходила в <a href="#">Хе́льсинки</a> — столице Финляндии
							span Хотите поделиться своей историей? Напишите нам по адресу:
							span
								a(href="mailto:pomogoo_blog@gmail.com") pomogoo_blog@gmail.com
						.blog-insane__user-arts
							h4 Другие материалы
							.row
								.col-md-4.col-sm-4
									a(href="#").blog-insane__user-arts-item
										.h-object-fit
											img(src="s/images/tmp_file/art1.jpg", alt="")
										span Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
								.col-md-4.col-sm-4
									a(href="#").blog-insane__user-arts-item
										.h-object-fit
											img(src="s/images/tmp_file/art2.jpg", alt="")
										span Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
								.col-md-4.col-sm-4
									a(href="#").blog-insane__user-arts-item
										.h-object-fit
											img(src="s/images/tmp_file/art3.jpg", alt="")
										span Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
				.blog-insane__subscribe
					.container
						h6 Подпишитесь на нашу расылку
						span И получайте уведомления о новых материалах раньше других
						form
							label
								input(type="email" placeholder="Укажите ваш e-mail")
							button(type="submit")
								span Получить уведомления
				.blog-insane__footer
					a(href="#").blog-insane__footer-btn
						span Наверх
						+svg('icon-top')
					.container
						ul
							li
								a(href="#") Как стать исполнителем  Pomogoo
							li
								a(href="#") Мы в Facebook
							li
								a(href="#") Мы в ВКонтакте
							li
								a(href="#") Мы в Twitter
							li
								a(href="#") Мы в Youtube

		script(data-main=route.js + "main" src=route.js + "require.js")