//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-tech-sidebar/l-tech-sidebar
include _includes/components/l-faq/l-faq

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'categorija_zadanija'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-tech-wrapper
				.container
					.categoria_zadanija
						.categoria_zadanija_header
							h2 Выберите категорию задания
						.categoria_zadanija_content_wrap
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Курьерские услуги
											span
												+svg('icon-manbox')
										li
											a(href='#') Услуги пешего курьера
										li
											a(href='#') Услуги курьера на легковом авто
										li
											a(href='#') Купить и доставить
										li
											a(href='#') Срочная доставка
										li
											a(href='#') Доставка продуктов
										li
											a(href='#') Доставка еды из ресторанов
										li
											a(href='#') Курьер на день
										li
											a(href='#') Другая посылка
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Бытовой ремонт
											span
												+svg('icon-kljuch')
										li
											a(href='#') Мастер на час
										li
											a(href='#') Ремонт под ключ
										li
											a(href='#') Сантехнические работы
										li
											a(href='#') Электромонтажные работы
										li
											a(href='#') Отделочные работы
										li
											a(href='#') Потолки
										li
											a(href='#') Полы
										li
											a(href='#') Плиточные работы
										li
											a(href='#') Сборка и ремонт мебели
										li
											a(href='#') Установка и ремонт дверей, замков
										li
											a(href='#') Окна, остекление, балконы
										li
											a(href='#') Кровельные и фасадные работы
										li
											a(href='#') Отопление, водоснабжение, канализация
										li
											a(href='#') Изоляционные работы
										li
											a(href='#') Строительно-монтажные работы
										li
											a(href='#') Крупное строительство
										li
											a(href='#') Охранные системы
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Грузоперевозки
											span
												+svg('icon-car')
										li
											a(href='#') Перевозка вещей, переезды
										li
											a(href='#') Пассажирские перевозки
										li
											a(href='#') Строительные грузы и оборудование
										li
											a(href='#') Вывоз мусора
										li
											a(href='#') Эвакуаторы
										li
											a(href='#') Междугородные перевозки
										li
											a(href='#') Услуги грузчиков
										li
											a(href='#') Перевозка продуктов
										li
											a(href='#') Услуги манипулятора
										li
											a(href='#') Другой груз
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Уборка и помощь по хозяйству
											span
												+svg('icon-mitla')
										li
											a(href='#') Поддерживающая уборка
										li
											a(href='#') Генеральная уборка
										li
											a(href='#') Мытье окон
										li
											a(href='#') Вынос мусора
										li
											a(href='#') Помощь швеи
										li
											a(href='#') Приготовление еды
										li
											a(href='#') Глажение белья
										li
											a(href='#') Химчистка
										li
											a(href='#') Уход за животными
										li
											a(href='#') Работы в саду, огороде, на участке
										li
											a(href='#') Сиделки
										li
											a(href='#') Няни
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Виртуальный помощник
											span
												+svg('icon-visual')
										li
											a(href='#') Работа с текстом, копирайтинг, переводы
										li
											a(href='#') Поиск и обработка информации
										li
											a(href='#') Работа в Excel, Power Point и т.д.
										li
											a(href='#') Расшифровка аудио- и видеозаписей
										li
											a(href='#') Размещение объявлений
										li
											a(href='#') Реклама и продвижение в интернете
										li
											a(href='#') Обзвон по базе
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Компьютерная помощь
											span
												+svg('icon-comp')
										li
											a(href='#') Ремонт компьютеров и ноутбуков
										li
											a(href='#') Установка и настройка операц. систем, программ
										li
											a(href='#') Удаление вирусов
										li
											a(href='#') Настройка интернета и Wi-Fi
										li
											a(href='#') Ремонт и замена комплектующих
										li
											a(href='#') Восстановление данных 
										li
											a(href='#') Настройка и ремонт оргтехники
										li
											a(href='#') Консультация и обучение
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Мероприятия и промо-акции
											span
												+svg('icon-events')
										li
											a(href='#') Помощь в проведении мероприятий
										li
											a(href='#') Раздача промо-материалов
										li
											a(href='#') Тайный покупатель
										li
											a(href='#') Разнорабочий
										li
											a(href='#') Промоутер
										li
											a(href='#') Тамада, ведущий, аниматор
										li
											a(href='#') Промо-модель
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Дизайн
											span
												+svg('icon-design')
										li
											a(href='#') Фирменный стиль, логотипы, визитки
										li
											a(href='#') Полиграфический дизайн
										li
											a(href='#') Иллюстрации, живопись, граффити
										li
											a(href='#') Дизайн сайтов и приложений
										li
											a(href='#') Интернет баннеры, оформление соц.сетей
										li
											a(href='#') 3d-графика, анимация
										li
											a(href='#') Инфографика, презентации, иконки
										li
											a(href='#') Наружная реклама, стенды, pos-материалы
										li
											a(href='#') Архитектура, интерьер, ландшафт
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Web-разработка
											span
												+svg('icon-web')
										li
											a(href='#') Сайт под ключ
										li
											a(href='#') Доработка и поддержка сайта
										li
											a(href='#') Программирование и разработка ПО
										li
											a(href='#') Верстка
										li
											a(href='#') Разработка мобильных приложений
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Фото- и видео-услуги
											span
												+svg('icon-camera')
										li
											a(href='#') Фотосъемка
										li
											a(href='#') Видеосъемка
										li
											a(href='#') Ретушь фотографий
										li
											a(href='#') Создание видеороликов под ключ
										li
											a(href='#') Монтаж и цветокоррекция видео
										li
											a(href='#') Оцифровка
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Установка и ремонт техники
											span
												+svg('icon-install')
										li
											a(href='#') Холодильники и морозильные камеры
										li
											a(href='#') Стиральные и сушильные машины
										li
											a(href='#') Посудомоечные машины
										li
											a(href='#') Электрические плиты и панели
										li
											a(href='#') Газовые плиты
										li
											a(href='#') Духовые шкафы
										li
											a(href='#') Вытяжки
										li
											a(href='#') Климатическая техника
										li
											a(href='#') Водонагреватели, бойлеры, котлы, колонки
										li
											a(href='#') Швейные машины
										li
											a(href='#') Пылесосы и очистители
										li
											a(href='#') Утюги и уход за одеждой
										li
											a(href='#') Кофемашины
										li
											a(href='#') СВЧ печи
										li
											a(href='#') Мелкая кухонная техника
										li
											a(href='#') Уход за телом и здоровьем
										li
											a(href='#') Строительная и садовая техника
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Красота и здоровье
											span
												+svg('icon-beauty')
										li
											a(href='#') Парикмахерские услуги
										li
											a(href='#') Ногтевой сервис
										li
											a(href='#') Массаж
										li
											a(href='#') Косметология, макияж
										li
											a(href='#') Стилисты и имиджмейкеры
										li
											a(href='#') Персональный тренер
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Ремонт цифровой техники
											span
												+svg('icon-smartphone')
										li
											a(href='#') Планшеты и телефоны
										li
											a(href='#') Аудиотехника и системы
										li
											a(href='#') Телевизоры и мониторы
										li
											a(href='#') Автомобильная электроника
										li
											a(href='#') Видео/фототехника
										li
											a(href='#') Игровые приставки
										li
											a(href='#') Спутниковые и эфирные антенны
										li
											a(href='#') Часы и хронометры
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Юридическая помощь
											span
												+svg('icon-vagi')
										li
											a(href='#') Юридическая консультация
										li
											a(href='#') Составление и проверка договоров
										li
											a(href='#') Составление и подача жалоб, исков
										li
											a(href='#') Оформление документов
										li
											a(href='#') Регистрация, ликвидация компаний
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Репетиторы и образование
											span
												+svg('icon-education')
										li
											a(href='#') Иностранные языки
										li
											a(href='#') Подготовка к школе
										li
											a(href='#') Начальная школа
										li
											a(href='#') Средняя школа, выпускные классы
										li
											a(href='#') Подготовка к ГИА
										li
											a(href='#') Подготовка к ЕГЭ
										li
											a(href='#') Вузовская программа
										li
											a(href='#') Логопеды
										li
											a(href='#') Музыка
										li
											a(href='#') Спорт
										li
											a(href='#') Красота и уход за собой
										li
											a(href='#') Рукоделие и хобби
										li
											a(href='#') Что-то другое
							.categoria_zadanija_content
								.categoria_zadanija_content_ico
								.categoria_zadanija_content_list
									ul.h-list
										li 
											a(href='#') Ремонт транспорта
											span
												+svg('icon-carzoom')
										li
											a(href='#') Техническое обслуживание автомобиля
										li
											a(href='#') Диагностика и ремонт двигателя, КПП и ходовой части
										li
											a(href='#') Обслуживание системы кондиционирования
										li
											a(href='#') Кузовной ремонт
										li
											a(href='#') Автоэлектрика
										li
											a(href='#') Автостекла и тонировка
										li
											a(href='#') Шиномонтаж
										li
											a(href='#') Мойка и химчистка
										li
											a(href='#') Тюнинг (внешний и внутренний)
										li
											a(href='#') Помощь на дороге
										li
											a(href='#') Мотосервис
										li
											a(href='#') Что-то другое
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")