//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'chat'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.container
				button(type="button" data-toggle="modal" data-target="#modal-mob-chat").but.but_bondi
					span chat
				button(type="button" data-toggle="modal" data-target="#modal-mob-chat1").but.but_bondi
					span chat1

			.modal.fade#modal-mob-chat.modal-mob-numb
				.modal-dialog.modal-dialog__chat
					.chat__sidebar
						button(type='button', data-toggle='modal', data-target='#modal-mob-chat').close_modal.visible-sm.visible-xs
						label
							input.form-control(type='email', placeholder='Введите имя для общения')
						ul.h-list
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/2.jpg', alt)
									.chat_info
										span.num_messages 77
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li.active
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/1.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/3.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/2.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/1.jpg', alt)
									.chat_info
										span.num_messages 7
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/3.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/3.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/2.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/1.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/3.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/3.jpg', alt)
									.chat_info
										span.num_messages 7
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/2.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/1.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/3.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
					.modal-chat__block
						.grey-block__modal
							.modal_volume
								+svg('icon-volume')
							a(href='#').link_bondi Информация о пользователе
						.modal-chat__wrapper
							.modal-chat.modal-chat__you
								.modal-chat__info
									span Ваше Имя
									span 29 июня
								.modal-chat__txt
									p Обращаем ваше внимание на то, что наши специалисты свяжутся с вами и вашими доверенными лицами для подтверждения информации. В случае, если нам не удастся подтвердить ваши данные до 19.06.2017, ваш доступ к заказам будет закрыт. 

									p Это автоматическое сообщение, пожалуйста, не отвечайте на него. По всем вопросам обращайтесь в техническую поддержку пользователей: в Москве — +7 (495) 969 09 63; по Санкт-Петербургу +7 (812) 986 95 29. Поддержка пользователей семь дней в неделю с 9:00 до 21:00.
							.modal-chat
								.modal-chat__info
									span Pomogoo
									span 29 июня
								.modal-chat__txt
									p Обращаем ваше внимание на то, что наши специалисты свяжутся с вами и вашими доверенными лицами для подтверждения информации. В случае, если нам не удастся подтвердить ваши данные до 19.06.2017, ваш доступ к заказам будет закрыт. 

									p Это автоматическое сообщение, пожалуйста, не отвечайте на него. По всем вопросам обращайтесь в техническую поддержку пользователей: в Москве — +7 (495) 969 09 63; по Санкт-Петербургу +7 (812) 986 95 29. Поддержка пользователей семь дней в неделю с 9:00 до 21:00.
							.modal-chat.modal-chat__you
								.modal-chat__info
									span Ваше Имя
									span 29 июня
								.modal-chat__txt
									p Обращаем ваше внимание на то, что наши специалисты свяжутся с вами и вашими доверенными лицами для подтверждения информации. В случае, если нам не удастся подтвердить ваши данные до 19.06.2017, ваш доступ к заказам будет закрыт. 

									p Это автоматическое сообщение, пожалуйста, не отвечайте на него. По всем вопросам обращайтесь в техническую поддержку пользователей: в Москве — +7 (495) 969 09 63; по Санкт-Петербургу +7 (812) 986 95 29. Поддержка пользователей семь дней в неделю с 9:00 до 21:00.
							.modal-chat
								.modal-chat__info
									span Pomogoo
									span 29 июня
								.modal-chat__txt
									p Обращаем ваше внимание на то, что наши специалисты свяжутся с вами и вашими доверенными лицами для подтверждения информации. В случае, если нам не удастся подтвердить ваши данные до 19.06.2017, ваш доступ к заказам будет закрыт. 

									p Это автоматическое сообщение, пожалуйста, не отвечайте на него. По всем вопросам обращайтесь в техническую поддержку пользователей: в Москве — +7 (495) 969 09 63; по Санкт-Петербургу +7 (812) 986 95 29. Поддержка пользователей семь дней в неделю с 9:00 до 21:00.
						.modal-chat__input
							.modal-chat__input-textarea
								textarea(type='text')
							.modal-chat__input-button
								button(type='submit').but.but_bondi Отправить
								span Ctrl + Enter


			.modal.fade#modal-mob-chat1.modal-mob-numb
				.modal-dialog.modal-dialog__chat
					.chat__sidebar
						button(type='button', data-toggle='modal', data-target='#modal-mob-chat1').close_modal.visible-sm.visible-xs
						label
							input.form-control(type='email', placeholder='Введите имя для общения')
						ul.h-list
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/2.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li.active
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/1.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/3.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/2.jpg', alt)
									.chat_info
										span.num_messages 35
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/1.jpg', alt)
									.chat_info
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
							li
								.chat__wrapper
									.chat_img.h-object-fit
										img(src='s/images/tmp_file/chat/3.jpg', alt)
									.chat_info
										span.num_messages 1
										.chat_info-name
											span Pomogoo - новости
										.chat_info-online
											span Был на сайте
					.modal-chat__block
						.grey-block__modal.active
							.modal_volume
								+svg('icon-volume')
							span Ричард Бойлз оставил предложение к вашему заданию 
								a(href='#').link_bondi «удалить вирусы с компьютера»
							span.info-tel__chat Телефон исполнителя:
								span.info-tel__chat-tel 
									+svg('icon-tel')
									| +7 (495) 777 11 88
						.modal-chat__wrapper
							.modal-chat.modal-chat__you
								.modal-chat__info
									span Ваше Имя
									span 29 июня
								.modal-chat__txt
									p Обращаем ваше внимание на то, что наши специалисты свяжутся с вами и вашими доверенными лицами для подтверждения информации. В случае, если нам не удастся подтвердить ваши данные до 19.06.2017, ваш доступ к заказам будет закрыт. 

									p Это автоматическое сообщение, пожалуйста, не отвечайте на него. По всем вопросам обращайтесь в техническую поддержку пользователей: в Москве — +7 (495) 969 09 63; по Санкт-Петербургу +7 (812) 986 95 29. Поддержка пользователей семь дней в неделю с 9:00 до 21:00.
							.modal-chat
								.modal-chat__info
									span Pomogoo
									span 29 июня
								.modal-chat__txt
									p Обращаем ваше внимание на то, что наши специалисты свяжутся с вами и вашими доверенными лицами для подтверждения информации. В случае, если нам не удастся подтвердить ваши данные до 19.06.2017, ваш доступ к заказам будет закрыт. 

									p Это автоматическое сообщение, пожалуйста, не отвечайте на него. По всем вопросам обращайтесь в техническую поддержку пользователей: в Москве — +7 (495) 969 09 63; по Санкт-Петербургу +7 (812) 986 95 29. Поддержка пользователей семь дней в неделю с 9:00 до 21:00.
							.modal-chat.modal-chat__you
								.modal-chat__info
									span Ваше Имя
									span 29 июня
								.modal-chat__txt
									p Обращаем ваше внимание на то, что наши специалисты свяжутся с вами и вашими доверенными лицами для подтверждения информации. В случае, если нам не удастся подтвердить ваши данные до 19.06.2017, ваш доступ к заказам будет закрыт. 

									p Это автоматическое сообщение, пожалуйста, не отвечайте на него. По всем вопросам обращайтесь в техническую поддержку пользователей: в Москве — +7 (495) 969 09 63; по Санкт-Петербургу +7 (812) 986 95 29. Поддержка пользователей семь дней в неделю с 9:00 до 21:00.
							.modal-chat
								.modal-chat__info
									span Pomogoo
									span 29 июня
								.modal-chat__txt
									p Обращаем ваше внимание на то, что наши специалисты свяжутся с вами и вашими доверенными лицами для подтверждения информации. В случае, если нам не удастся подтвердить ваши данные до 19.06.2017, ваш доступ к заказам будет закрыт. 

									p Это автоматическое сообщение, пожалуйста, не отвечайте на него. По всем вопросам обращайтесь в техническую поддержку пользователей: в Москве — +7 (495) 969 09 63; по Санкт-Петербургу +7 (812) 986 95 29. Поддержка пользователей семь дней в неделю с 9:00 до 21:00.
						.modal-chat__input
							.modal-chat__input-textarea
								textarea(type='text')
							.modal-chat__input-button
								button(type='submit').but.but_bondi Отправить
								span Ctrl + Enter


					
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")