//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-tech-sidebar/l-tech-sidebar
include _includes/components/l-contacts/l-contacts

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'contacts'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-tech-wrapper
				.container
					.row.row_no-pad
						.col-md-3
							+l-tech-sidebar()
						.col-md-9
							+l-contacts()

			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")