//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'Pomogoo'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.container
				button(type="button" data-toggle="modal" data-target="#spasibo").but.but_bondi
					span spasibo
				button(type="button" data-toggle="modal" data-target="#zadanie").but.but_bondi
					span sozdat zadanie
				button(type="button" data-toggle="modal" data-target="#check_modal").but.but_bondi
					span check modal
				button(type="button" data-toggle="modal" data-target="#novoe_zadanie", data-id="new-task-1").but.but_bondi
					span novoe zadanie
				button(type="button" data-toggle="modal" data-target="#vyborpolzovatelja").but.but_bondi
					span vybor pol'zovatelja
				button(type="button" data-toggle="modal" data-target="#predlogeniekzadaniju").but.but_bondi
					span predlogenie k zadaniju
				button(type="button" data-toggle="modal" data-target="#fastreg").but.but_bondi
					span fastreg
				button(type="button" data-toggle="modal" data-target="#fastregmail").but.but_bondi
					span fastregmail

			.modal.fade#spasibo.modal-mob-numb
				.modal-dialog
					.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt
							h2 Спасибо за отзыв
						.modal-reg_success__txt
							span Он будет размещен в профиле заказчика
						.button__ok
							button.but.but_bondi.but_green(type='button', data-dismiss='modal') ОК

			.modal.fade#zadanie.modal-mob-numb
				.modal-dialog
					.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt.modal-welcome__txt-left
							h2 У вас пока нет 
								br
								| опубликованных заданий
							p Создайте задание, после чего вы сможете предложить 
								br
								| выполнить его исполнителям из каталога.
						.modal-welcome__bottom.modal-welcome__bottom-left
							button.but.but_bondi(type='button', data-dismiss='modal') Создать задание

			.modal.fade#check_modal.modal-mob-numb
				.modal-dialog
					.modal-body.modal-body__width
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt
							h2 Вы оставляете свое первое платное предложение.
								br
								| Подтвердите, что вы ознакомились с правилами:
						.check_list-check
							label.check-label
								input(type='checkbox', checked='checked')
								i.checkbox
								span За каждое предложение, оставленное вами к заданию, с вашего Pomogoo-счета снимается сумма от 20 рублей в зависимости от категории задания. Точная стоимость предложения указана на странице задания.
						.check_list-check
							label.check-label
								input(type='checkbox')
								i.checkbox
								span Сумма, снятая с вашего Pomogoo-счета за публикацию предложения, не возвращается ни при каких условиях.
						.check_list-check
							label.check-label
								input(type='checkbox')
								i.checkbox
								span При отрицательном балансе Pomogoo-счета возможность оставлять предложения к заданиям ограничивается до тех пор, пока счет не будет пополнен любым удобным для вас способом.
						.check_list-check
							label.check-label
								input(type='checkbox')
								i.checkbox
								span В случае, если вас выберут исполнителем, после завершения работы с заказчиком необходимо закрыть задание на сайте и оставить отзыв.
						.modal-welcome__bottom
							button.but.but_bondi(type='button', data-dismiss='modal') Согласен с правилами
			.modal.fade#novoe_zadanie.modal-mob-numb
				.modal-dialog
					form.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt.modal-welcome__txt-left
							h2 Выберите задание, которое 
								br
								| хотите предложить
								br
								| исполнителю
						.modal-select
							select.selectpicker.change__butcon(title='Сделать новое задание')
								option.add_new_option Новое задание
								option hello2
						.modal-welcome__bottom.modal-welcome__bottom-left
							button.but.but_bondi(type='submit', data-dismiss='modal') Создать новое задание
						.modal-welcome__txt.modal-welcome__txt-left
							p Каждое задание можно предложить пяти исполнителям 
								br
								| из каталога. Исполнители получат СМС со ссылкой на 
								br
								| ваше задание.
			


			.modal.fade#new_option_modal.modal-mob-numb
				.modal-dialog
					.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt.modal-welcome__txt-left
							h2 Выберите задание, которое 
								br
								| хотите предложить
								br
								| исполнителю
						.steps-content__form-input
							label
								input.option-input(type='text')
						.modal-welcome__bottom.modal-welcome__bottom-left
							button.but.but_bondi.submit-btn(type='button') Создать новое задание

			.modal.fade#vyborpolzovatelja.modal-mob-numb
				.modal-dialog.modal-dialog__572
					.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt
							h2 Выбрать пользователя
								br
								a(href='#').link_bondi_nound Сабрина Р.
								br
								| исполнителем вашего задания?
						.modal-grey
							p Стоимость задания 
								input(type='text', readonly="readonly" value='3 000')
								span руб.
								a(href='#')
									+svg('icon-pensil')
									| ред.
							span комиссию оплачивает исполнитель 
								br 
								| - 10% от стоимости задания
						.modal-welcome__txt.modal-welcome__txt-left
							p Оплата исполнителю поступит после выполнения задания
								br
								| В случае проблем, 
								a(href='#').link_bondi Pomogoo вернет вам деньги
						.modal_two-button
							button.but.but_bondi.submit-btn(type='button') Да
							button.but.but_y-orange.submit-btn(type='button') Нет
						.modal_footer_info
							span Нажимая «Да» вы соглашаетесь  с правилами платежного сервиса 
								br
								a(href='#').link_bondi «Единая каса - безопасная сделка»
								| и сервиса 
								a(href='#').link_bondi «Сделка без риска».
								br
								| Ваш банк может взимать дополнительную коммисию.
			.modal.fade#predlogeniekzadaniju.modal-mob-numb
				.modal-dialog
					.modal-body.modal-body__width
						button.but-modal-close(type='button', data-dismiss='modal')
						form.modal-welcome__txt.modal-welcome__txt-left
							h2 Добавить предложение к заданию 
							p 
								b Внимание! 
								br
								| Вы сможете обменяться контактами с заказчиком только после того, 
								br
								| как заказчик выберет вас исполнителем и оплатит услугу.

							.panel-heading(role='tab')
									a(role='button', data-toggle='collapse', data-parent='#accordion', href='#wablon', aria-expanded='true', aria-controls='wablon').steps-content__collapse Использовать шаблон
							#wablon.panel-collapse.collapse(role='tabpanel')
								p.paste_textarea hi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse.hi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse.hi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse.
							//- label
							.scroll_block
								textarea 

							.check_list
								.check_list-check
									label.check-label
										input(type='checkbox', checked='checked')
										i.checkbox
										span Уведомить меня, если исполнителем задания выберут другого или заказчик
											br 
											| отменит задание
								.check_list-check
									label.check-label
										input(type='checkbox', checked='checked')
										i.checkbox
										span Указать время актуальности предложения
								.check_list-check.mart-20
									span.grey Ваше предложения будет удалено, если за указанное время вас не выберут исполнителем задания.
								.check_list-check.marl-40
									select.selectpicker
										option 7 часов
										option 5 часов
										option 3 часов
								.stoimost-block
									span Стоимость работ
									label
										input.form-control(type='number')
										span руб.
								.modal-welcome__bottom-check
									button.but.but_bondi.submit-btn(type='button') Добавить предложение
									span Комиссию оплачивает исполнитель 
										br
										| 10% от стоимости задания
										br
										label.check-label
											input(type='checkbox')
											i.checkbox
											span
												| Я согласен

			.modal.fade#fastreg.modal-mob-numb
				.modal-dialog.modal-dialog__fastreg
					.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt
							p.big_p Быстрая регистрация через
						.modal_fast-reg__socials
							a(href='#').registration-content__socials
								+svg('icon-mailrubig')
							a(href='#').registration-content__socials
								+svg('icon-vkbig')
							a(href='#').registration-content__socials
								+svg('icon-fbbig')
							a(href='#').registration-content__socials.registration-content__socials-google
								+svg('icon-googlebig')
						.modal-welcome__txt
							p.big_p Вход по паролю
						.steps-content__form-input
							label
								input.form-control(type='email', placeholder='Email')
						.steps-content__form-input
							label
								input.form-control(type='password', placeholder='Password')
						.modal-welcome__bottom-check.modal-welcome__bottom-check__fastreg
							button.but.but_bondi.submit-btn(type='button') Войти
						.modal_mypass
							a(href='#').link_bondi_grey Забыли пароль?
						.modal_mypass.modal_mypass__between
							a(href='#') Еще не с нами
							a(href='#').link_bondi Зарегистрируйтесь
			.modal.fade#fastregmail.modal-mob-numb
				.modal-dialog.modal-dialog__fastreg
					.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt
							p.big_p Быстрая регистрация через
						.modal_fast-reg__socials
							a(href='#').registration-content__socials
								+svg('icon-mailrubig')
							a(href='#').registration-content__socials
								+svg('icon-vkbig')
							a(href='#').registration-content__socials
								+svg('icon-fbbig')
							a(href='#').registration-content__socials.registration-content__socials-google
								+svg('icon-googlebig')
						.modal-welcome__txt
							p.big_p или по e-mail
						.steps-content__form-input
							label
								input.form-control(type='email', placeholder='Email')
						.modal-welcome__bottom-check.modal-welcome__bottom-check__fastreg
							button.but.but_bondi.submit-btn(type='button') Зарегистрироваться
						.modal_mypass.modal_mypass__between
							a(href='#') Уже зарегистрированы?
							a(href='#').link_bondi Войдите
						.step_access.step_access__link.step_access.step_access__link-modal
							label.check-label
								input(type='checkbox')
								i.checkbox
							span
								| Я согласен с 
								a.link_bondi(href='#') правилами

			+footer()
		script(data-main=route.js + "main" src=route.js + "require.js")