//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-bid-head/l-bid-head
include _includes/components/l-bid-write-2/l-bid-write-2
include _includes/components/l-bid-faq/l-bid-faq
include _includes/components/uslugi_collapse/uslugi_collapse

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'lichnaja_informicija'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			header.c-header.js-header.c-header__noborder
				.container
					.c-header__wrp.clearfix
						.c-header__left
							button.c-header__menu_small-trigger(type="button")
								i
								i
								i
							a(href="#").c-header__logo
								span Pomogoo
							ul.h-list.c-header__menu_small
								li
									a(href="#") Как это работает
								li
									a(href="#") Как стать исполнителем
								li
									a(href="#") Наш блог
								li
									a(href="#") Отзывы заказчиков
								li
									a(href="#") Правила сервиса
								li
									a(href="#") Частые вопросы
								li
									a(href="#") Контакты
						.c-header__center
							ul.c-header__menu_big.h-list_inline-block
								li.menu__create
									a.menu__create-link(href="#") Создать задание
									ul.h-list.menu__create-list
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Курьерские услуги
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Бытовой ремонт
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Грузоперевозки
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Уборка и помощь по хозяйству
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Виртуальный помощник
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Компьютерная помощь
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Мероприятия и промо-акции
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Дизайн
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Web-разработка
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Фото- и видео-услуги
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Установка и ремонт техники
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Красота и здоровье
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Ремонт цифровой техники
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Юридическая помощь
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Репетиторы и образование
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Ремонт транспорта
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
								li.menu__all
									a(href="#") Все задания
								li.menu__performers
									a(href="#") Исполнители
								li.menu__where
									a(href="#") Куда я попал?
						.c-header__right
							a(href="#")
								+svg('icon-reg')
								span Регистрация
							a(href="#")
								+svg('icon-lock')
								span Вход
			.steps
				.container
					.steps__wrapper
						.step.active
							span 1. Личная информация
						.step
							span 2. Онлайн-тестирование
						.step
							span 3. Подтверждение данних
			form.steps-content
				.container
					.steps-content__header
						h2 Правила
					.steps-content__content
						p Выполнять задания на Pomogoo могут только пользователи, которые прошли процедуру верификации. Данная процедура бесплатная, занимает 10–15 минут и состоит из 3 шагов: заполнение личных данных, прохождение теста на 
							a(href='#').link_bondi знание механики работы сервиса,
							br
							| а также оформления профиля.

						p В настоящее время исполнителями Pomogoo могут стать только совершеннолетние пользователи. Мы оставляем за собой право отказать в присвоении статуса исполнителя без объяснения причин.
					.steps-content__header
						h3 1. Личные данные
					.steps-content__form
						.row
							.col-lg-5.col-md-6
								.steps-content__form-input
									span Имя
									label
										input.form-control(type='text', placeholder='Виктория')
								.steps-content__form-input
									span Фамилия
									label
										input.form-control(type='text', placeholder='Хриновськая')
								.steps-content__form-input
									span Город
									label
										input.form-control(type='text', placeholder='Львов')
								.steps-content__form-input__wrap
									.steps-content__form-input
										span День Рождения
										.steps-content__form-input__wrap_new
											select(title='День').selectpicker
												option 1
												option 2
												option 3
												option 4
												option 5
												option 6
											select(title='Месяц').selectpicker
												option 1
												option 2
												option 3
												option 4
												option 5
												option 6
											select(title='Год').selectpicker
												option 2016
												option 2017
							.col-lg-5.col-md-6.visible-lg.visible-md
								.steps-content__form-info
									p Самый простой способ лишиться статуса исполнителя на Pomogoo — это указать недостоверную информацию.

									p После верификации мы просим случайное число исполнителей предоставить паспорт или иной документ для подтверждения информации.
						.steps-content__form-input.steps-content__form-input__noheight
							span Фотография
							.steps-content__input-file
								.steps-content__form-input__img.h-object-fit
									img(src='s/images/tmp_file/lichnaja_infa/1.jpg', alt)
								label.type_file
									input(type='file')
									span Изменить фото
										+svg('icon-photoap')
							.steps-content__par
								p Загрузите вашу фотографию (хорошее качество, лицо крупным планом). Профили без фото отклоняются во время проверки данных.
								p Минимальный размер: 180×180 px
					.steps-content__header
						h3 2. Подтверждение телефона
					.steps-content__content
						p На указанный номер мы отправим СМС с решением о присвоении вам статуса исполнителя Pomogoo.
						p Телефон 
							span +380 (99) 311-0109
					.steps-content__header
						h3 3. Укажите ваш аккаунт хотя бы в одной соцсети
					.steps-content__socials
						span
							a(href='#').social__vk
								+svg('icon-conf-vk')
						span.conected
							a(href='#').social__fb
								+svg('icon-conf-fb')
						span
							a(href='#').social__tw
								+svg('icon-conf-tw')
					.steps-content__header
						h3 4. Доверенное лицо
					.steps-content__content
						p Укажите человека (родственника, коллегу, друга), который может подтвердить информацию о вас.
							br
							| В верификации будет отказано, если мы не сможем связаться с вашим доверенным лицом, или он не подтвердит указанные вами данные.
					.row
						.col-md-3.col-sm-6.col-xs-12
							.steps-content__form-input_row
								span Имя
								label
									input.form-control(type='text', placeholder='')
						.col-md-3.col-sm-6.col-xs-12
							.steps-content__form-input_row
								span Фамилия
								label
									input.form-control(type='text', placeholder='')
						.col-md-3.col-sm-6.col-xs-12
							.steps-content__form-input_row
								span Кем вам приходится
								label
									input.form-control(type='text', placeholder='')
						.col-md-3.col-sm-6.col-xs-12
							.steps-content__form-input_row.steps-content__form-input_row-select
								span Телефон
								.steps-content__form-input_row-wrapper
									select.selectpicker
											option +1
											option +3
											option +7
									label.tel-wrap.mask
										input.tel-input.form-control(type='text', placeholder='')
					.steps-content__header
						h3 5. Отметьте категории, которые вам интересны
					.steps-content__content
						p Пожалуйста, укажите не более трех категорий, в которых вы хотели бы выполнять задания на Pomogoo.
							br
							| После прохождения верификации вы сможете выбрать больше категорий.
					+uslugi_collapse()
					.step_access__wrap
						.step_access
							label.check-label
								input(type="checkbox")
								i.checkbox
								span Подтверждаю, что я прохожу верификацию на Pomogoo впервые
						.step_access
							label.check-label
								input(type="checkbox")
								i.checkbox
								span Подтверждаю, что я указал свои личные данные достоверно
						.step_access.step_access__link
							label.check-label
								input(type="checkbox")
								i.checkbox
							span Я согласен с 
								a(href='#').link_bondi соглашением на обработку персональных данных				
					.step__button-wrap
						button(type='submit').but.but_bondi Сохранить и продолжить
						span Онлайн-тестирование
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")