//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/footer/footer
include _includes/components/l-main-slider/l-main-slider
include _includes/components/l-propose/l-propose
include _includes/components/l-economic/l-economic
include _includes/components/l-advantages/l-advantages
include _includes/components/l-personal/l-personal
include _includes/components/l-publications/l-publications
include _includes/components/l-to-order/l-to-order

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'main'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper.main-page-wrapper
			.main-page__top
				+header()
				+l-main-slider()
			+l-propose()
			+l-economic()
			+l-advantages()
			+l-personal()
			+l-publications()
			+l-to-order()

			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")