//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer

include _includes/components/all-tasks__sidebar/all-tasks__sidebar
include _includes/components/all-tasks__filter/all-tasks__filter
include _includes/components/all-tasks__list/all-tasks__list
include _includes/components/all-tasks__city-modal/all-tasks__city-modal

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'my_tasks_3'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-all-tasks-wrapper
				.container
					//- .row.row_no-pad
					.row
						.col-md-4
							+all-tasks__sidebar()
						.col-md-8
							+all-tasks__filter({
								//- 'logged':true,
								'title':'Все категории',
								'txt':'Всего вы создали 2 задания, из них:',
								'status':{
									'draft':'В черновиках 1',
									'opened':'Открыто 1',
									'finished':'',
									'inprocess':''
								}
							})
							+my-tasks__list({
								'list':[
									{
										'icon':'icon-design',
										'title':'Дизайн сайта портфолио',
										'price':'15 000 руб.',
										'status':'finished'
									},
									{
										'icon':'icon-visual',
										'title':'Дизайн сайта портфолио',
										'price':'15 000 руб.',
										'status':'opened'
									},
									{
										'icon':'icon-design',
										'title':'Дизайн сайта портфолио',
										'price':'15 000 руб.',
										'status':'finished'
									},
									{
										'icon':'icon-visual',
										'title':'Дизайн сайта портфолио',
										'price':'15 000 руб.',
										'status':'inprocess'
									}
								]
							})
			+footer()
		+all-tasks__city-modal()
		script(data-main=route.js + "main" src=route.js + "require.js")