//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-no-limit/l-no-limit
include _includes/components/modal-no-limit/modal-no-limit

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'no_limit'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			+l-no-limit()
			+modal-no-limit()
			
		script(data-main=route.js + "main" src=route.js + "require.js")