//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-no-risk-banner/l-no-risk-banner
include _includes/components/l-no-risk-is/l-no-risk-is
include _includes/components/l-no-risk-adv/l-no-risk-adv
include _includes/components/l-no-risk-faq/l-no-risk-faq

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'no_risk'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			+l-no-risk-banner()
			+l-no-risk-is()
			+l-no-risk-adv()
			+l-no-risk-faq()

			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")