//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-catalog-sidebar/l-catalog-sidebar
include _includes/components/l-catalog-services/l-catalog-services

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'oformlenie_email'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			.oformlenie_email
				.container
					.oformlenie_email__header
					
						a(href="#").c-header__logo
							span Pomogoo
					.oformlenie_email__main
						.oformlenie_email__main-header
							h2 Подтвердите почтовый адрес
						.oformlenie_email__main-content
							.oformlenie_email__main-content__img
								img(src='s/images/tmp_file/oformlenie_email/mail.png', alt)
							.oformlenie_email__main-content__txt
								span Для подтверждения почты 
								a(href='#').link_bondi перейдите по данной ссилке
						.oformlenie_email__main-yellow
							.oformlenie_email__main-yellow__txt
								span Обязательно запомните ваши регистрационные данные
							.oformlenie_email__main-yellow__txt
								span Ваш логин: 
									a(href='#').link_bondi vikilia_sweet@gmail.com
								span Пароль: 
									a(href='#').link_bondi 777iii1
							.oformlenie_email__main-yellow__txt.oformlenie_email__main-yellow__txt-grey
								span Рекомендуем изменить пароль, а также указать ваш пол, 
									br
									| город и возраст в настройках профиля.
						.oformlenie_email__social
							.oformlenie_email__social-links
								.oformlenie_email__social-link
									a(href='#').link_bondi О нас
								.oformlenie_email__social-link
									a(href='#').link_bondi Как это работает
								.oformlenie_email__social-link
									a(href='#').link_bondi Частые вопросы
							.oformlenie_email__social-links
								.oformlenie_email__social-link
									span Служба поддержки в Москве 
										a(href='#')
											| +7 (925) 55 33 2111
								.oformlenie_email__social-link
									span Служба поддержки в Челябинске
										a(href='#') 
											| +7 (925) 55 33 2111
							.oformlenie_email__social-links
								.oformlenie_email__social-link
									span E-mai:
										a(href='#') 
											| vikiiii_iii@gmail.coml
							.oformlenie_email__social-links.oformlenie_email__social-links__circles
								span
									a(href='#').social__vk
										+svg('icon-conf-vk')
								span
									a(href='#').social__fb
										+svg('icon-conf-fb')
								span
									a(href='#').social__tw
										+svg('icon-conf-tw')
								span
									a(href='#').social__ok
										+svg('icon-conf-ok')
								span
									a(href='#').social__goog
										+svg('icon-conf-google')
					.oformlenie_email__footer
						span
							a(href="#").link_bondi &#169; 2017 Pomogoo
						span
							a(href="#").link_bondi Настроить параметнры рассилки
						span
							a(href="#").link_bondi Отписаться от рассилки


			
			
		script(data-main=route.js + "main" src=route.js + "require.js")