//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-bid-head/l-bid-head
include _includes/components/l-bid-write-2/l-bid-write-2
include _includes/components/l-bid-faq/l-bid-faq
include _includes/components/uslugi_collapse/uslugi_collapse
include _includes/components/breadcrumbs/breadcrumbs
include _includes/components/check_list/check_list

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'online_testing_2'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			header.c-header.js-header.c-header__noborder
				.container
					.c-header__wrp.clearfix
						.c-header__left
							button.c-header__menu_small-trigger(type="button")
								i
								i
								i
							a(href="#").c-header__logo
								span Pomogoo
							ul.h-list.c-header__menu_small
								li
									a(href="#") Как это работает
								li
									a(href="#") Как стать исполнителем
								li
									a(href="#") Наш блог
								li
									a(href="#") Отзывы заказчиков
								li
									a(href="#") Правила сервиса
								li
									a(href="#") Частые вопросы
								li
									a(href="#") Контакты
						.c-header__center
							ul.c-header__menu_big.h-list_inline-block
								li.menu__create
									a.menu__create-link(href="#") Создать задание
									ul.h-list.menu__create-list
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Курьерские услуги
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Бытовой ремонт
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Грузоперевозки
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Уборка и помощь по хозяйству
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Виртуальный помощник
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Компьютерная помощь
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Мероприятия и промо-акции
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Дизайн
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Web-разработка
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Фото- и видео-услуги
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Установка и ремонт техники
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Красота и здоровье
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Ремонт цифровой техники
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Юридическая помощь
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Репетиторы и образование
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Курьерские услуги
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
										li.menu__create-list-item
											a.menu__create-list-link(href="#") Ремонт транспорта
											ul.h-list.menu__create-sub-list
												li.title-link-item
													a(href="#") Lorem ipsum dolor sit.
												li
													a(href="#") Услуги пешего курьера
												li
													a(href="#") Услуги курьера на легковом авто
												li
													a(href="#") Купить и доставить
												li
													a(href="#") Срочная доставка
												li
													a(href="#") Доставка продуктов
												li
													a(href="#") Доставка еды из ресторанов
												li
													a(href="#") Курьер на день
												li
													a(href="#") Другая посылка
								li.menu__all
									a(href="#") Все задания
								li.menu__performers
									a(href="#") Исполнители
								li.menu__where
									a(href="#") Куда я попал?
						.c-header__right
							a(href="#")
								+svg('icon-reg')
								span Регистрация
							a(href="#")
								+svg('icon-lock')
								span Вход
			.steps
				.container
					.steps__wrapper
						.step
							span 1. Личная информация
						.step.active
							span 2. Онлайн-тестирование
						.step
							span 3. Подтверждение данних
			form.steps-content
				.container
					.steps-content__content
						p Вам предстоит пройти тест на знание основных правил работы исполнителей проекта Pomogoo.
						p Пожалуйста, убедитесь, что устройство, с которого вы собираетесь пройти тест, исправно, а интернет-соединение надежно.
							br
							| Любые технические неполадки на вашей стороне могут помешать вам пройти тест. Мы не рекомендуем проходить тест с мобильных устройств.
					.steps-content__header
						h2 Пожалуйста, внимательно ознакомьтесь с инструкцией:
					.steps-content__infolist
						ul.h-list
							li Не переживайте! На выполнение теста вам отводится неограниченное количество времени и попыток. Если вы не 
								br
								| прошли тест с первого раза, то в конце вы увидите вопросы, в которых допустили ошибки, и сможете их 
								br
								| исправить.
							li Каждый вопрос теста предполагает выбор одного или нескольких вариантов ответа.
							li В каждом вопросе есть подсказки. Они представляют собой ссылки на основные правила работы сервиса. Перед 
								br
								| началом тестирования мы настоятельно рекомендуем вам ознакомиться с ними:
						span
							a(href='#').link_bondi Что необходимо знать исполнителям для успешного старта на Pomogoo?
						span
							a(href='#').link_bondi Правила сайта для исполнителей и возможные причины лишения верификации
						span
							a(href='#').link_bondi Как правильно оформить своё предложение и для чего нужны комментарии
						span
							a(href='#').link_bondi Все о комиссии за оставленные предложения
						span
							a(href='#').link_bondi Пакеты безлимитных предложений
						span
							a(href='#').link_bondi Что такое арбитраж и почему задания могут в него попасть?
					.steps-content__form-info.steps-content__form-info-minpad
						h4 Уверены что хотите пройти тест сейчас?
						p Вы можете приступить к тесту позже. Первый шаг повторно заполнять не понадобится.
						a(href='#').but.but_bondi Начать тест
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")