//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-catalog-sidebar/l-catalog-sidebar
include _includes/components/l-catalog-services/l-catalog-services

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'perfomers_catalog'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-catalog-wrapper
				.container
					.row.row_no-pad
						.col-md-4
							+l-catalog-sidebar()
						.col-md-8
							+l-catalog-services()

			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")