//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-profile-sidebar/l-profile-sidebar

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'Pomogoo'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-profile
				.container
					.row
						.col-md-9
							.l-profile__left
								.l-profile__album
									.l-profile__album-back
										a(href="#")
											+svg('icon-arrow')
											span Вернуться в профиль
									h2.l-profile__album-ttl Создание нового альбома
									form.l-profile__album-form
										.l-profile__album-form-wrp
											label.clearfix
												span Название*
												input.form-control(type="text" placeholder="Например: «День Рождения» или «Оформления свадьбы»")
											label.clearfix
												span Описание*
												textarea.form-control(placeholder="Опишите какие работы представлены в этом альбоме, в чем их особенность, когда они были выполнены, в каких целях и т.д. ")
										.l-profile__album-form-btns
											.l-profile__album-form-btns-wrp.clearfix
												a(href="#").but.but_bondi
													span Добавить файл
												button(type="submit").but.but_bondi
													span Сохранить и  вернуться в профиль
											p Размер фотографии должен быть больше 280х206 пикселей
									.l-profile__album-upload
										.row
											mixin item(img)
												.col-md-6.col-sm-6
													.album-upload__item
														button(type="button").delete
															i.delete-cross
															+svg('icon-back')
														.h-object-fit
															img(src="s/images/tmp_file/#{img}.jpg", alt="")
														.album-upload__item-txt Использовать как превью
											+item('upl1')
											+item('upl2')
											+item('upl1')
											+item('upl3')
									.l-profile__album-back
										a(href="#")
											+svg('icon-arrow')
											span Вернуться в профиль
						.col-md-3
							+l-profile-sidebar()
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")