//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'Pomogoo'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.container
				button(type="button" data-toggle="modal" data-target="#docs-check").but.but_bondi Документы проверены
				button(type="button" data-toggle="modal" data-target="#modal-how-video").but.but_bondi Видеоролик
				button(type="button" data-toggle="modal" data-target="#modal-tel-form").but.but_bondi Форма телефона
				button(type="button" data-toggle="modal" data-target="#modal-refill").but.but_bondi Пополнение счета
				button(type="button" data-toggle="modal" data-target="#modal-good-photo").but.but_bondi Загрузите хорошую фотографию

			.modal.fade#docs-check.modal-docs-check
				.modal-dialog
					.modal-content
						h5 Документы проверены
						.modal-docs-check__content.clearfix
							+svg('icon-docs-check')
							span Тепер ваш профил еще надежнее в глазах заказчиков. Вы получили значок и ваши предложения к заданиям виделяются среди остальных.
						button(type="button" data-dismiss="modal").but.but_bondi
							span Хорошо!

			.modal.fade#modal-good-photo.modal-good-photo
				.modal-dialog
					.modal-content
						button.but-modal-close(type="button" data-dismiss="modal")
						h5 Загрузите хорошую по качеству фотографию Вашего пасспорта
						.modal-good-photo__done-item
							+svg('icon-doc-photo-1')
							i
						.modal-good-photo__bad
							.modal-good-photo__bad-item
								+svg('icon-doc-photo-2')
								i
							.modal-good-photo__bad-item
								+svg('icon-doc-photo-3')
								i
							.modal-good-photo__bad-item
								+svg('icon-doc-photo-4')
								i
						form.modal-good-photo__upload
							label
								input(type="file")
								span.but.but_bondi Загрузить файл

			.modal.fade#modal-how-video.modal-how-video
				.modal-dialog
					.modal-content
						button.but-modal-close(type="button" data-dismiss="modal")
						h5 Как сделать хороший видео ролик
						.modal-how-video__content.clearfix
							.modal-how-video__item
								+svg('icon-how-video-1')
								span Советуем вам сесть на расстояние вытянутой руки от камеры
							.modal-how-video__item
								+svg('icon-how-video-2')
								span Длина ролика не должна превышать 30 секунд
							.modal-how-video__item
								+svg('icon-how-video-3')
								span Старайтесь чтобы свет был направлен на вас спереди
							.modal-how-video__item
								+svg('icon-how-video-4')
								span Смотрите в камеру чтобы установить контакт со зрителем
						p Расскажите, как вас зовут, сколько вам лет, про образование.
						p Расскажите чем вы можете и хотите заниматься на сервисе.
						button(type="button" data-dismiss="modal").but.but_bondi
							span Закрыть


			.modal.fade#modal-tel-form.modal-tel-form
				.modal-dialog
					.modal-content
						button.but-modal-close(type="button" data-dismiss="modal")
						h5 Укажите ваш номер телефона
						.l-prof-set__main-set
							form.l-bid-write__form
								.l-prof-set__form-line.clearfix.tel
									.form-line__input
										select.selectpicker
											option +380
											option +898
											option +123
										input(type="tel").form-control
									button(type="submit").but.but_bondi
										span Подтвердить
						p Вы можете не переживать.
						p Мы надежно храним личную информацию наших пользователей. Ваш номер телефона не попадает в открытый доступ и будет показываться только тем пользователям, которые выберут вас в качестве исполнителя.

			.modal.fade#modal-refill.modal-refill
				.modal-dialog
					.modal-content
						button.but-modal-close(type="button" data-dismiss="modal")
						form.modal-refill__wrp
							.modal-refill__head.clearfix
								h5.modal-refill__head-left Пополнить счет на сумму
								.modal-refill__head-right
									input(type="number").form-control
									span ₽
							.modal-refill__annot Выберите наиболее удобный способ оплаты
							.modal-refill__items-wrp
								a(href="#").modal-refill__item
									.modal-refill__item-ico
										+svg('icon-card')
									.modal-refill__item-txt
										b Банковские карты
										span Visa, Mastercard, Maestro
								a(href="#").modal-refill__item
									.modal-refill__item-ico
										+svg('icon-rub')
									.modal-refill__item-txt
										b Наличными
										span Евросеть, Связной, терминал оплаты
								a(href="#").modal-refill__item
									.modal-refill__item-ico
										+svg('icon-qiwi')
									.modal-refill__item-txt
										b QIWI кошелек
								a(href="#").modal-refill__item
									.modal-refill__item-ico
										+svg('icon-alfa')
									.modal-refill__item-txt
										b Альфа-Клик
								a(href="#").modal-refill__item
									.modal-refill__item-ico
										+svg('icon-y-money')
									.modal-refill__item-txt
										b Яндекс. Деньги
								a(href="#").modal-refill__item
									.modal-refill__item-ico
										+svg('icon-web-money')
									.modal-refill__item-txt
										b WebMoney
								a(href="#").modal-refill__item
									.modal-refill__item-ico
										+svg('icon-sberbank')
									.modal-refill__item-txt
										b Сбербанк онлайн
								a(href="#").modal-refill__item
									.modal-refill__item-ico
										+svg('icon-sms')
									.modal-refill__item-txt
										b SMS
										span Билайн, МТС
						
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")