//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-bid-head/l-bid-head
include _includes/components/l-bid-write-2/l-bid-write-2
include _includes/components/l-bid-faq/l-bid-faq
include _includes/components/uslugi_collapse/uslugi_collapse
include _includes/components/breadcrumbs/breadcrumbs
include _includes/components/check_list/check_list

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'profile_oplata_shcheta_1'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			form.oplata-block
				.oplata-block_header
					h2 Оплата банковской картой
				.oplata-block_par
					p Введите данные с карты
				.oplata-block__blue
					.row
						.col-xs-3
							label.label-card
								input.form-control.mask(type='number')
						.col-xs-3
							label.label-card
								input.form-control.mask(type='number')
						.col-xs-3
							label.label-card
								input.form-control.mask(type='number')
						.col-xs-3
							label.label-card
								input.form-control.mask(type='number')
					.row.xs-flex
						.col-sm-6.col-xs-4
							span Имя Фамилия
							label
								input.form-control.ta_left(type='text')
						.col-sm-6.col-xs-8
							.oplata-block__blue-right
								span Срок действия
								.oplata-block__blue-right__wrap
									span Месяц
									label.label-date
										input.form-control.mask(type='number')
								.oplata-block__blue-right__wrap
									span Год
									label.label-date
										input.form-control.mask(type='number')
					.row
						.col-xs-12
							.oplata-block__blue-cvv__wrap
								.oplata-block__blue-cvv
									span CVV
									label.label-cvv
										input.form-control.mask(type='number')
								+svg('icon-cvv')
								span Три последние цифры с обратной стороны карты
				.oplata-block__button
					button.but.but_bondi(type='submit') Пополнить счет
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")