//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black-login/header-black-login
include _includes/components/footer/footer
include _includes/components/l-profile-default-2/l-profile-default-2
include _includes/components/l-profile-about-me-3/l-profile-about-me-3
include _includes/components/uslugi_collapse/uslugi_collapse
include _includes/components/l-profile-sidebar-2/l-profile-sidebar-2
include _includes/components/l-profile-score/l-profile-score
include _includes/components/l-profile-favorite/l-profile-favorite
include _includes/components/l-profile-settings/l-profile-settings

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'Pomogoo'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black-login()
			.l-profile
				.container
					.row
						.col-md-9
							.l-profile__left
								.l-profile-default
									.l-prof-def__head.clearfix
										.l-prof-def__head-ttl Здраствуйте, Виктория!
										.l-prof-def__head-views.active
											+svg('icon-eye')
											span 377 просмотров профиля
									.l-prof-def__sub-head.clearfix
										.l-prof-def__ava
											.l-prof-def__ava-photo
												.h-object-fit
													img(src="s/images/tmp_file/ava.jpg", alt="")
											.l-prof-def__ava-photo-add
												label
													input(type="file")
													.button-add-photo
														+svg('icon-photoap')
														span Изменить фото
										.l-prof-def__city-wrp
											.l-prof-def__city
												span.years 22 года
												+svg('icon-mark')
												span Львов
											.l-prof-def__vals Выполнила 117 задания, создала 77 заданий
											.l-prof-def__rating
												span Средняя оценка: 5
												.l-prof-def__rating-stars
													+svg('icon-star')
													+svg('icon-star')
													+svg('icon-star')
													+svg('icon-star')
													+svg('icon-star')
												span (77 отзывов)
											.l-prof-def__icons.active
												a(href="#")
													+svg('icon-rat-1')
												a(href="#")
													+svg('icon-rat-2')
												a(href="#")
													+svg('icon-rat-3')
												a(href="#")
													+svg('icon-rat-4')
								.l-profile-tabs
									ul.nav.nav-tabs
										li.active
											a(href='#about-me' data-toggle='tab') Обо мне
										li
											a(href='#scores' data-toggle='tab') Счета
										li
											a(href='#favorites' data-toggle='tab') Избранное
										li
											a(href='#settings' data-toggle='tab') Настройки
									.tab-content
										#about-me.tab-pane.fade.in.active
											+l-profile-about-me-3()
										#scores.tab-pane.fade
											+l-profile-score()
										#favorites.tab-pane.fade
											+l-profile-favorite()
										#settings.tab-pane.fade
											+l-profile-settings()
						.col-md-3
							+l-profile-sidebar-2()
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")