//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black-login/header-black-login
include _includes/components/footer/footer
include _includes/components/l-profile-default-2/l-profile-default-2
include _includes/components/l-profile-about-me-2/l-profile-about-me-2
include _includes/components/l-profile-sidebar-4/l-profile-sidebar-4
include _includes/components/l-profile-score/l-profile-score
include _includes/components/l-profile-favorite/l-profile-favorite
include _includes/components/l-profile-settings/l-profile-settings

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'Pomogoo'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black-login()
			.l-profile
				.container
					.row
						.col-md-9
							.l-profile__left
								.l-profile-default
									.l-prof-def__hello.clearfix
										.l-prof-def__head-views.active
											+svg('icon-eye')
											span 377 просмотров профиля
										.l-prof-def__hello-was Была на сайте 15 июня
									.l-prof-def__head.clearfix
										.l-prof-def__head-ttl Здраствуйте, меня зовут Виктория!
										.l-prof-def__head-label.busy свободен
									.l-prof-def__sub-head.clearfix
										.l-prof-def__ava
											.l-prof-def__ava-photo
												.h-object-fit
													img(src="s/images/tmp_file/ava.jpg", alt="")
											.l-prof-def__ava-photo-add
												label
													input(type="file")
													.button-add-photo
														+svg('icon-photoap')
														span Изменить фото
										.l-prof-def__city-wrp
											.l-prof-def__check-perf
												+svg('icon-check-perf')
												span Проверенный исполнитель
											.l-prof-def__city
												span.years 22 года
												+svg('icon-mark')
												span Львов
											.l-prof-def__vals Выполнила 117 задания, создала 77 заданий
											.l-prof-def__rating
												span Средняя оценка: 5
												.l-prof-def__rating-stars
													+svg('icon-star')
													+svg('icon-star')
													+svg('icon-star')
													+svg('icon-star')
													+svg('icon-star')
												span (77 отзывов)
											.l-prof-def__icons.active
												a(href="#")
													+svg('icon-rat-1')
												a(href="#")
													+svg('icon-rat-2')
												a(href="#")
													+svg('icon-rat-3')
												a(href="#")
													+svg('icon-rat-4')
											.l-prof-def__btns.clearfix
												a(href="#").l-prof-def__button
													span Задать вопрос
												a(href="#").l-prof-def__button
													+svg('icon-heart')
													span В избранное
								.l-profile-pub
									h5 Обо мне
									.l-profile-pub__annotation
										+svg('icon-annot')
										p Чтобы воспользоваться моими услугами, нажмите кнопку <a href="#">«Предложить задание»</a>. Сотрудничаю с условием, что о моей работе будет оставлен отзыв на Pomogoo.
									p
										span Образование :
										span ЯПІ (Бакалавр)
										span Национальный университет «Розовый Единорог» (графический дизайнер)
									p Работаю одна в своей атмосфере.
									p Рассматриваю все интересные предложения.
									p Виды работ: графический дизайн (бренд-бук, полиграфическая продукция), веб-дизайн.
									p 
										span Обладаю креативным мышлениемдля каждого задания, проявляю максимальную гибкость с заказчиком!
										span Если берусь за задание, всегда гарантирую аккуратность и качество, что всегда соблюдается.
									.l-profile-pub__examps
										h5 Примеры работ
										.row
											.col-md-6.col-sm-6
												a(href="#").l-profile-pub__examps-item
													.examps-item__img.h-object-fit
														img(src="s/images/tmp_file/upl1.jpg", alt="")
													.examps-item__txt.clearfix
														.examps-item__txt-name Интерьер
														.examps-item__txt-count
															+svg('icon-camera')
															span 11
											.col-md-6.col-sm-6
												a(href="#").l-profile-pub__examps-item
													.examps-item__img.h-object-fit
														img(src="s/images/tmp_file/upl2.jpg", alt="")
													.examps-item__txt.clearfix
														.examps-item__txt-name Интерьер
														.examps-item__txt-count
															+svg('icon-camera')
															span 11
									.l-profile-pub__serv
										h5 Услуги и цены
										p Стоимость услуг подбираются индивидуально, в зависимости от сложности и объема работ.
									.l-prof-ab-me__works
										h5 Виды выполняемых работ
										mixin item()
											.l-prof-ab-me__works-item
												a(href="#") Мероприятия и промо-акции
												span 1487 место в рейтинге категории, выполнено 55 заданий
												p Промо-модель  Помощь в проведении мероприятий  Что-то другое  Разнорабочий
										+item()
										+item()
										+item()
										+item()
									.l-prof-ab-me__mean
										.mean-head
											b Средняя оценка: 5.0
											.mean-head__stars
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
										.mean-body
											mixin item(txt)
												.mean-body__item
													span #{txt}
													.mean-body__item-stars
														+svg('icon-star')
														+svg('icon-star')
														+svg('icon-star')
														+svg('icon-star')
														+svg('icon-star')
											+item('Качество')
											+item('Вежливость')
											+item('Цена')
											+item('Пунктуальность')
											+item('Адекватность')
									.l-prof-ab-me__reviews
										.reviews__head
											b Отзывы
											span
												+svg('icon-like')
												strong +117
										.reviews__body-user.clearfix
											.reviews__body-user-photo.h-object-fit
												img(src="s/images/tmp_file/user2.jpg", alt="")
											.reviews__body-user-info.clearfix
												.reviews__body-user-name Роберт Малишев
												.reviews__body-user-about
													span.about-left Отзывы
													.about-right
														+svg('icon-like')
														span 7 - закакзчик
												.reviews__body-user-txt
													.txt-top Отзыв о выполнении задания «Доставить 2 пакета в центр» 
													.txt-middle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
													.txt-bottom
														mixin bot-item(txt)
															.txt-bottom__item
																span #{txt}
																.txt-bottom__item-stars
																	+svg('icon-star')
																	+svg('icon-star')
																	+svg('icon-star')
																	+svg('icon-star')
																	+svg('icon-star')
														+bot-item('Пунктуальность')
														+bot-item('Адекватность')
														+bot-item('Вежливость')
												.reviews__body-user-time 1 день назад
										.reviews__body-user.clearfix
											.reviews__body-user-photo.h-object-fit
												img(src="s/images/tmp_file/user5.jpg", alt="")
											.reviews__body-user-info.clearfix
												.reviews__body-user-name Альбина Митько
												.reviews__body-user-about
													span.about-left Отзывы
													.about-right
														+svg('icon-like')
														span 7 - закакзчик
												.reviews__body-user-txt
													.txt-top Отзыв о выполнении задания «Доставить 2 пакета в центр» 
													.txt-middle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
													.txt-bottom
														mixin bot-item(txt)
															.txt-bottom__item
																span #{txt}
																.txt-bottom__item-stars
																	+svg('icon-star')
																	+svg('icon-star')
																	+svg('icon-star')
																	+svg('icon-star')
																	+svg('icon-star')
														+bot-item('Пунктуальность')
														+bot-item('Адекватность')
														+bot-item('Вежливость')
												.reviews__body-user-time 1 день назад

						.col-md-3
							+l-profile-sidebar-4()
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")