//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-profile-default/l-profile-default
include _includes/components/l-profile-about-me/l-profile-about-me
include _includes/components/l-profile-sidebar/l-profile-sidebar
include _includes/components/l-profile-score/l-profile-score
include _includes/components/l-profile-favorite/l-profile-favorite
include _includes/components/l-profile-settings/l-profile-settings

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'profile'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-profile
				.container
					.row
						.col-md-9
							.l-profile__left
								+l-profile-default()
								.l-profile-tabs
									ul.nav.nav-tabs
										li.active
											a(href='#about-me' data-toggle='tab') Обо мне
										li
											a(href='#scores' data-toggle='tab') Счета
										li
											a(href='#favorites' data-toggle='tab') Избранное
										li
											a(href='#settings' data-toggle='tab') Настройки
									.tab-content
										#about-me.tab-pane.fade.in.active
											+l-profile-about-me()
										#scores.tab-pane.fade
											+l-profile-score()
										#favorites.tab-pane.fade
											+l-profile-favorite()
										#settings.tab-pane.fade
											+l-profile-settings()
						.col-md-3
							+l-profile-sidebar()
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")