//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-bid-head/l-bid-head
include _includes/components/l-bid-write-2/l-bid-write-2
include _includes/components/l-bid-faq/l-bid-faq
include _includes/components/uslugi_collapse/uslugi_collapse
include _includes/components/breadcrumbs/breadcrumbs
include _includes/components/check_list/check_list

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'registration_disable'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			header.c-header.js-header
				.container
					.c-header__wrp.clearfix
						.c-header__left
							button.c-header__menu_small-trigger(type="button")
								i
								i
								i
							a(href="#").c-header__logo
								span Pomogoo
							ul.h-list.c-header__menu_small
								li
									a(href="#") Как это работает
								li
									a(href="#") Как стать исполнителем
								li
									a(href="#") Наш блог
								li
									a(href="#") Отзывы заказчиков
								li
									a(href="#") Правила сервиса
								li
									a(href="#") Частые вопросы
								li
									a(href="#") Контакты
			main
				.container
					.registration-header
						h2 Завершение регистрации
						span Пожалуйста, проверьте введенные ниже данные
					.registration-content__wrap
						.registration-content
							.registration-content__left
								.registration-content__img.h-object-fit
									img(src='s/images/tmp_file/lichnaja_infa/1.jpg', alt='')
								.l-prof-def__ava-photo-add
									label
										input(type="file")
										span.link_bondi Изменить фото
							.registration-content__right
								.steps-content__form-input
									label.success
										input.form-control(type='text', value='Теодора Джейсон')
								.steps-content__form-input
									label
										input.form-control(type='email', placeholder='Email')
								.steps-content__form-input.l-prof-set__form-line.clearfix.tel
									.form-line__input
										select.selectpicker
											option +7
											option +898
											option +123
										label
											input(type="tel", placeholder='Ваш телефон ').form-control
								.steps-content__form-input
									label
										input.form-control(type='text', placeholder='Город')
									span.example Например: Москва, Санкт-Петербург
								.registration-content__button
									button.but.but_bondi.disabled(type='button', data-toggle='modal', data-target='#confirm')
										span Зарегестрироваться


		script(data-main=route.js + "main" src=route.js + "require.js")