//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'register_modal'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.container
				button(type="button" data-toggle="modal" data-target="#reg_success").but.but_bondi
					span reg_success
				button(type="button" data-toggle="modal" data-target="#welcome").but.but_bondi
					span welcome
				button(type="button" data-toggle="modal" data-target="#confirm").but.but_bondi
					span confirm

			.modal.fade#reg_success.modal-mob-numb
				.modal-dialog
					.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-reg_success__txt
							span Регистрация прошла успешно
								+svg('icon-check')
							h3 Добро пожаловать на Pomogoo!
							+svg('icon-smajlik')
			.modal.fade#welcome.modal-mob-numb
				.modal-dialog
					.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt
							h2 Добро пожаловать!
							span Вы успешно зарегестрированы на сервисе Pomogoo. Регистрационные данные отправлены на вашу почту и указаны под этим сообщением.
						.modal-welcome__info
							p Обязательно сохраните ваш  доступ к сайту:
							.modal-welcome__info-wrap
								span Логин:
									span nadia_rylut@mail.ru
								span Пароль:
									span 7777777
						.modal-welcome__bottom
							a(href='#').link_bondi Хотите стать исполнителем Pomogoo?
							button.but.but_bondi(type='button', data-dismiss='modal') Закрыть
			.modal.fade#confirm.modal-mob-numb
				.modal-dialog
					.modal-body
						button.but-modal-close(type='button', data-dismiss='modal')
						.modal-welcome__txt.modal-welcome__txt-left
							h2 Подтвердите адрес вашей почты
							p На ваш электронный адрес 
								span nadia_rylut@mail.ru 
								| было отправлено письмо со ссылкой для подтверждения вашей почты на Pomogoo.
							p Перейдите по ссилке и активируйте вашу электронную почту.
						.modal-welcome__bottom.modal-welcome__bottom-left
							a(href='#').link_bondi Отправить новое письмо для подтверждения почты
							a(href='#').underline Указать другую почту
			+footer()

		script(data-main=route.js + "main" src=route.js + "require.js")