//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/l-tech-sidebar/l-tech-sidebar

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'service_rules'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-tech-wrapper
				.container
					.row.row_no-pad
						.col-md-3
							+l-tech-sidebar()
						.col-md-9
							.l-service-rules
								h1 Соглашение об использовании ресурса Pomogoo.com физическими лицами
								.l-service-rules__content
									p Компания предлагает Вам услуги (Сервисы) Сайта на условиях, являющихся предметом настоящего Соглашения об использовании Ресурса youdo.com. В этой связи, Вам необходимо внимательно ознакомиться с условиями настоящего Соглашения, которые рассматриваются Компанией как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.
									h3 1. Термины, используемые в Соглашении
									p <b>Компания</b> — ООО «Киберлогистик».
									p <b>Сайт, Ресурс</b> — интернет-ресурс youdo.com
									p <b>Администрация</b> — сотрудники Компании, а также лица, уполномоченные надлежащим образом Компанией на управление Ресурсом и предоставление Услуг Компании Посетителям, в рамках использования Сайта последними.
									p <b>Сделка без риска</b> — сервис, позволяющий использовать Заказчику и Исполнителю при расчетах по Согласованному Заданию на условиях Соглашения о выполнении работы и/или оказании услуги с использованием онлайн сервиса «Сделка без риска» (текст размещен по адресу: <a href="#">https://youdo.com/sbr-agreement</a>) Платежный сервис «Единая касса — Безопасная Сделка» ООО РНКО «Единая касса» на основании Соглашения об использовании Платежного сервиса «Единая касса — Безопасная Сделка» (текст которого размещен по адресу:<a href="#">http://www.единаякасса.рф</a>).
									h3 2. Общие положения
									p Настоящее Соглашение регулирует порядок использования Сайта, а также взаимоотношения, возникающие при использовании Сайта и Сервисов Посетителями. Компания не гарантирует доступность Сайта и Сервисов круглосуточно. Компания имеет право в любой момент отказать любому Посетителю, в том числе Пользователю, в использовании Сайта и Сервисов при нарушении Соглашения. <a href="#">https://youdo.com/terms</a> Компания предоставляет Посетителям, Пользователям личное неисключительное и непередаваемое право использовать Сайт и программное обеспечение, представленное на сайте, в соответствии с настоящим Соглашением, при условии, что ни Посетитель/Пользователь, ни любые иные лица при содействии Посетителя/Пользователя не будут совершать действий: по копированию или изменению программного обеспечение Сайта, Сервисов; по созданию программ, производных от программного обеспечения Сайта и Сервисов; по проникновению в программное обеспечение с целью получения кодов программ; по осуществлению продажи, уступки, сдачи в аренду, передачи третьим лицам в любой иной форме прав в отношении материала Сайта и программного обеспечения Сайта; по модифицированию Сайта и Сервисов в том числе с целью получения несанкционированного доступа к нему; и иных действий, аналогичных перечисленным выше и нарушающих права Компании и третьих лиц. Посетитель/Пользователь несет ответственность за соблюдение прав (материальных и нематериальных) третьих лиц на информацию, переданную (предоставленную) Администрации или третьим лицам при использовании Сайта и Сервисов. Пользователи самостоятельно оценивают правомерность использования ими Сайта и Сервисов, в том числе и с точки зрения законодательства страны, резидентами которой они являются.
									h3 3. Регистрация Пользователя
									p Лицо, желающее стать Пользователем, обязано пройти процедуру Регистрации на соответствующей странице Ресурса. При Регистрации Пользователю присваивается выбранная им пара Логин плюс Пароль, которая используется в дальнейшем Пользователем при работе с Сайтом. Пользователь может пройти процедуру Регистрации только один раз.
									p При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные для каждого Пользователя Логин (адрес электронной почты) и Пароль доступа к Сайту, а также фамилию и имя.
									h3 4. Верификация Пользователя
									ul
										li Исполнитель не выполнил свое первое Задание;
										li Исполнитель получил пять и более отрицательных отзывов;
										li В комментариях к Заданиям Исполнитель использовал ненормативную лексику, оскорбления, обсуждал вопросы, не связанные с сутью Задания;
										li Исполнитель указал в своем Профиле контактные данные или ссылки на сторонние сайты, содержащие контактную информацию или предоставляющие возможность иным образом связаться с Исполнителем, включая сайты для демонстрации своих работ или портфолио;
										li Исполнитель отозвался на Задание, но отказался его выполнять, не согласовав с Заказчиком и не удалив свое Предложение, что привело к возникновению конфликтной ситуации или невыполнению Задания;
										li Исполнитель нарушил требования к фотографии, размещаемой в Профиле. На фотографии должен быть изображен непосредственно сам Исполнитель (лицо крупным планом), без посторонних людей, предметов или животных;
										li Исполнитель нарушил правила общения в общем чате и/или на Сайте. Общий чат является Сервисом Сайта и служит местом, в котором Пользователи могут оказывать взаимопомощь друг другу. В общем чате и в комментариях запрещена критика и оскорбления Пользователей и Администрации, ненормативная лексика, разжигание конфликтных ситуаций, призывы к нарушению Соглашения об использовании Ресурса youdo.com. и законодательства РФ;

			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")