//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/c-task-card-6/c-task-card-6
include _includes/components/c-card-sidebar-2/c-card-sidebar-2

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'Pomogoo'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.container
				button(type="button" data-toggle="modal" data-target="#edit-task-modal").but.but_bondi Редактировать задание
				button(type="button" data-toggle="modal" data-target="#cancel-task-modal").but.but_bondi Отменить задание

			
			.modal.fade#cancel-task-modal.cancel-task-modal
				.modal-dialog
					.modal-content
						button(type="button" data-dismiss="modal").but-modal-close
						form.cancel-task-modal__content
							h5 Причина отмены задания
							mixin radio(txt)
								label.radio-label
									input(type="radio" name="cancel")
									i.radio
									span #{txt}
							+radio('Нет подходящих предложений')
							+radio('Задание уже не актуально')
							+radio('Исполнитель найден на другом ресурсе')
							+radio('Решил проблему самостоятельно')
							+radio('Дорого')
							+radio('Другая причина')
							.cancel-task-modal__footer
								button(type="submit").but.but_bondi Отправить запрос
								a(href="#").link_bondi Отправить запрос


			.modal.fade#edit-task-modal.edit-task-modal
				.modal-dialog
					.modal-content
						button(type="button" data-dismiss="modal").but-modal-close
						.edit-task-modal__content
							.edit-task-modal__item
								.edit-task-modal__item-top
									a(href="#").link_bondi.edit-task-modal__item-link Изменить условия задания
									p.edit-task-modal__item-about Изменить время, адрес или другие условия задания
							.edit-task-modal__item
								.edit-task-modal__item-top
									a(href="#edit_1" data-toggle="collapse").link_bondi.edit-task-modal__item-link Изменить цену задания
									p.edit-task-modal__item-about Измененить цену задания или сделать цену открытой
								.edit-task-modal__item-content.collapse#edit_1
									form.edit-task-modal__price
										.edit-task-modal__price-input
											input(type="number" value="3000")
											span руб.
										.l-bid-write__budget-cols
											.row
												mixin col()
													.cols-item
														span
												+col()
												+col()
												+col()
												+col()
												+col()
										.edit-task-modal__slider
											.l-bid-write__budget-slider
												input.price-slider(type="text" id="budget-slider")
										.edit-task-modal__btn
											button(type="submit").but.but_green Подтвердить
							.edit-task-modal__item
								.edit-task-modal__item-top
									a(href="#edit_2" data-toggle="collapse").link_bondi.edit-task-modal__item-link Задать вопрос службе поддержки
									p.edit-task-modal__item-about Служба поддержки поможет вам и ответит на любые ваши вопросы
								.edit-task-modal__item-content.collapse#edit_2
									.edit-task-modal__quest
										.edit-task-modal__quest-top Наши менеджеры ответят на любые вопросы, связанные с вашим заданием, помогут сделать его более привлекательным для исполнителей, определиться с ценой и т.д.
										.edit-task-modal__quest-bot.clearfix
											span Контакты поддержки: +7 (495) 969 09 63 
											a(href="mailto:privet@youdo.com") privet@youdo.com
							.edit-task-modal__item
								.edit-task-modal__item-top
									a(href="#").link_bondi.edit-task-modal__item-link Отменить задание
									p.edit-task-modal__item-about Отправить запрос на удаление задания
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")