//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/header-black/header-black
include _includes/components/footer/footer
include _includes/components/c-task-card-2/c-task-card-2
include _includes/components/c-card-sidebar/c-card-sidebar

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'Pomogoo'})
	body
		#fb-root
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header-black()
			.l-task-card-wrapper
				.container
					.row
						.col-md-9
							+c-task-card-2()
						.col-md-3
							+c-card-sidebar()
			+footer()
			
		script(data-main=route.js + "main" src=route.js + "require.js")