mixin breadcrumbs(data)
	.breadcrumbs
		ul.h-list
			li
				a(href='#') Общая информация
			li
				a(href='#') Предложения и комментарии
			li
				a(href='#') Работа с заказчиком
			li
				span Счет исполнителя и комиссия Pomogoo
