mixin c-task-card-5(data)
	.l-task-card
		.l-task-card__content
			.l-task-card__header
				h1.h3 Сохранить CRV в pdf формат для печати
				span.e-tag.e-tag_aqua-island: span 15 000 руб.
				.c-task-card__tools
					span.c-task-card__tool.green Выполнено
					span.c-task-card__tool 37 просмотров
					span.c-task-card__tool Создано вчера 9:52
					span.c-task-card__tool Дизайн
			.l-task-card__table.map
				.l-task-card__table-item.clearfix.map
					#card-task-map.map_single
				.l-task-card__table-item.clearfix
					.table-item__key Адрес
					.table-item__val Санкт-Петербург, Садовая 28/30
				.l-task-card__table-item.clearfix
					.table-item__key Начать
					.table-item__val 27 июля 2017 , 11:00
				.l-task-card__table-item.clearfix
					.table-item__key Стоимость
					.table-item__val 1 000 руб.
				.l-task-card__table-item.clearfix
					.table-item__key Оплата
					.table-item__val Онлайн
				.l-task-card__table-item.need.clearfix
					.table-item__key Нужно
					.table-item__val
						p Необходимо доставить один конверт по одному адресу: забрать в точке А можно
						p начиная с 11-30, отвезти в точку Б нужно до 14-00.
				.l-task-card__table-edit
					a(href="#").but.but_edit
						+svg('icon-pensil')
						span Редактировать  задание
					a(href="#").link_bondi Поделиться ссылкой
			.l-task-card__recom.clearfix
				+svg('icon-warning')
				.l-task-card__recom-txt
					p Если вы доверяете исполнителю ценные вещи, крупную задачу или впускаете в дом, проверьте его паспорт и попросите подписать документы. Шаблон расписки, типового договора и другие полезные советы
					a(href="#") смотрите в рекомендациях.
			.l-task-card__bid
				h5 У задания 3 предложения
				.l-task-card__bid-sort
					span.sort Сортировать
					a(href="#").active
						span по рейтингу
					a(href="#")
						span по отзывам
					a(href="#")
						span по времени
				.l-task-card__bid-propose.clearfix
					.l-task-card__bid-propose-wrp.clearfix
						a(href="#").bid-propose__img.h-object-fit
							img(src="s/images/tmp_file/user1.jpg", alt="")
						.bid-propose__txt
							.bid-propose__head
								a(href="#").bid-propose__head-name Роберт Малишев
								.bid-propose__head-icons
									+svg('icon-rat-1')
									+svg('icon-rat-2')
									+svg('icon-rat-3')
									+svg('icon-rat-4')
								.bid-propose__head-revs
									.reviews__body-user-about
										span.about-left Отзывы
										.about-right
											+svg('icon-like')
											span 7 - заказчик
							.bid-propose__rating 3 место в категории «Компьютерная помощь»
							.bid-propose__message
								.bid-propose__message-head <b>Примерная стоимость 1 250 Р</b> (оплата наличными)
								.bid-propose__message-body
									p Здраствуйте!
									p Я сертифицированный специалист по обслуживанию Apple и ОС Windows.
									p Опыт работы системным администратором более 20 лет.
									p Готов решить ваше задание и приехать в удобное для Вас время и место,  все необходимые инструменты и софт - имеются.
									p Указанная мной, цена за задание, является окончательной и увеличению не подлежит.
									p Качество услуг – гарантирую. В качестве бонуса, после выполнения задания, готов БЕСПЛАТНО взять вас на удалённую абонентскую поддержку в течение 6 месяцев.
								.bid-propose__message-footer
									p Телефон исполнителя: +7 (915) 228-28-08
								.bid-propose__message-btns
									a(href="#").but.but_green Выбрать исполнителем
									a(href="#") Написать в Чат
					.l-task-card__bid-propose-time 1 день назад
			form.l-task-card__comments.add
				h5 Комментарии
				p Исполнители могут уточнять детали вашего задания в комментариях. Старайтесь оперативно отвечать на вопросы, это увеличит количество предложений к вашему заданию.
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Отключить комментарии к заданию
				.question-answer-wrapper
					.l-task-card__comments-item-wrp
						.l-task-card__comments-item.clearfix
							a(href="#").comments-item__img.h-object-fit
								img(src="s/images/tmp_file/comment1.jpg", alt="")
							.comments-item__txt
								a(href="#").comments-item__name
									b Регина А.
									span 1 день назад
								.comments-item__cont Здравствуйте! Какие сроки на выполнение макета?
								.comments-item__txt-bottom
									a(href="").comments-item__complaint Ответить
									a(href="#") Редактировать
									a(href="#") Удалить
					.l-task-card__comments-answer.clearfix
						.comments-answer__left.h-object-fit
							img(src="s/images/tmp_file/user3.jpg", alt="")
						.comments-answer__right
							a(href="#") Эдуард Самойлов 
							textarea.form-control
							button(type="submit" disabled) Добавить комментарий
				.question-answer-wrapper
					.l-task-card__comments-item-wrp
						.l-task-card__comments-item.clearfix
							a(href="#").comments-item__img.h-object-fit
								img(src="s/images/tmp_file/comment1.jpg", alt="")
							.comments-item__txt
								a(href="#").comments-item__name
									b Регина А.
									span 1 день назад
								.comments-item__cont Здравствуйте! Какие сроки на выполнение макета?
								.comments-item__txt-bottom
									a(href="").comments-item__complaint Ответить
									a(href="#") Редактировать
									a(href="#") Удалить
					.l-task-card__comments-answer.clearfix
						.comments-answer__left.h-object-fit
							img(src="s/images/tmp_file/user3.jpg", alt="")
						.comments-answer__right
							a(href="#") Эдуард Самойлов 
							textarea.form-control
							button(type="submit" disabled) Добавить комментарий
				a(href="#").l-task-card__comments-new.link_bondi Написать новый комментарий
				.l-task-card__comments-answer.full.clearfix
					.comments-answer__left.h-object-fit
						img(src="s/images/tmp_file/user3.jpg", alt="")
					.comments-answer__right
						a(href="#") Эдуард Самойлов 
						textarea.form-control
						button(type="submit" disabled) Добавить комментарий