// @import (inline) '../../images/useful/svg/theme/style.css';
@import '../../images/useful/sprites/theme/theme-sprite';

.sprites(@spritesheet-sprites); // generate all icons from sprite

.ico {
    vertical-align: middle;
    display: inline-block;
    position: relative;

    &:before {
        transition: visibility 300ms ease, opacity 300ms ease;
        display: block;
        content: '';
    }
    &:after {
        transition: visibility 300ms ease, opacity 300ms ease;
        position: absolute;
        visibility: hidden;
        display: block;
        content: '';
        opacity: 0;
        left: 0;
        top: 0;
    }
    &:hover {
        &:before {
            visibility: hidden;
            opacity: 0;
        }
        &:after {
            visibility: visible;
            opacity: 1;
        }
    }
}
.icon {
    display: inline-block;
    vertical-align: middle;
    stroke: currentColor;
    fill: currentColor;
    height: 1em;
    width: 1em;
}
.icon-fourofour{
    height: 0.4064516129032258em;
    stroke: none;
}
.icon-visual{
    width: 0.9065917824416199em;
}
.icon-comp{
    height: 0.8951190941038657em;
}
.icon-events{
    width: 0.842734375em;
}
.icon-web{
    height: 0.8490514978486185em;
}
.icon-beauty{
    stroke: none; 
}
.icon-cvv{
    height: 0.686668121317914em;
}
.icon-visa{
    vertical-align: inherit;
    height: 0.6896484375em;
}
.icon-fbbig{
    width: 3.866466616654164em;
    vertical-align: baseline;
    display: inline;
}
.icon-vkbig{
    width: 3.866466616654164em;
    vertical-align: baseline;
    display: inline;
}
.icon-mailrubig{
    width: 3.866466616654164em;
    vertical-align: baseline;
    display: inline;
}
.icon-googlebig{
    width: 3.866466616654164em;
    vertical-align: baseline;
    display: inline;
    stroke: none;
}
// .ico-orange-star {
//     .sprite(@ico-orange-star);
// }
// .ico-green-user {
//     .sprite(@ico-green-user);
// }
.icon-mark {
    &_green {
        color: #a2cf3b;
    }
    &_red {
        color: #c60537;
    }
    &_orange {
        color: #fcb53a;
    }
}
.icon-card-2 {
    width: 1.352392065344224em;
}
.icon-big-pointer {
    width: 0.732408325074331em;
}
.icon-docs-check {
    stroke: none;
}