mixin item(ico, ttl, txt)
	a(href="#").l-to-order__articles-item
		.l-to-order__articles-ico
			+svg(ico)
		.l-to-order__articles-about
			.l-to-order__articles-ttl #{ttl}
			.l-to-order__articles-txt #{txt}

mixin l-to-order(data)
	.l-to-order
		.container
			h4 Что заказать на Pomogoo прямо сейчас
			.l-to-order__content
				.row
					.col-md-7
						.l-to-order__articles
							+item('icon-comp', 'Носитель английского языка - 3000 руб.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation')
							+item('icon-events', 'Носитель английского языка - 3000 руб.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation')
							+item('icon-juristic', 'Носитель английского языка - 3000 руб.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation')
							+item('icon-camera', 'Носитель английского языка - 3000 руб.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation')
							+item('icon-beauty', 'Носитель английского языка - 3000 руб.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation')
							+item('icon-design', 'Носитель английского языка - 3000 руб.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation')
							+item('icon-install', 'Носитель английского языка - 3000 руб.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation')
							+item('icon-visual', 'Носитель английского языка - 3000 руб.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation')
						.l-to-order__button
							a(href="#").but.but_bondi
								span Показать все задания
					.col-md-5
						.l-to-order__cards-wrp
							.l-to-order__cards-links
								a(href="#").l-to-order__cards-item
									.l-to-order__cards-item-img.h-object-fit
										img(src="s/images/tmp_file/card1.jpg", alt="")
									span Как стать исполнителем
								a(href="#").l-to-order__cards-item
									.l-to-order__cards-item-img.h-object-fit
										img(src="s/images/tmp_file/card2.jpg", alt="")
									span Безопасность и гарантии
								a(href="#").l-to-order__cards-item
									.l-to-order__cards-item-img.h-object-fit
										img(src="s/images/tmp_file/card3.jpg", alt="")
									span Самые необычные задания
							.l-to-order__widgets
								.l-to-order__widget-facebook
									.fb-page(data-href='https://www.facebook.com/facebook', data-tabs='', data-height='252', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
										blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/facebook')
											a(href='https://www.facebook.com/facebook') Facebook
								.l-to-order__widget-twitter
									a.twitter-follow-button(href='https://twitter.com/TwitterDev', data-size='large') Follow @TwitterDev

