.l-to-order{
	padding-top: 76px;
	padding-bottom: 84px;
	@media ( max-width: @screen-sm-max) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	h4{
		margin-bottom: 88px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 30px;
		}
		&:after{
			display: none;
		}
	}
}

.l-to-order__articles-ico{
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background-color: @y_orange;
	position: relative;
	float: left;
	margin-top: 5px;
	@media ( max-width: 500px) {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
	.icon{
		position: absolute;
		color: #fff;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		font-size: 28px;
	}
}
.l-to-order__articles-about{
	overflow: hidden;
	padding-left: 14px;
	@media ( max-width: 500px) {
		padding-left: 0;
		text-align: center;
	}
}
.l-to-order__articles-ttl{
	color: #1e546d;
	font-size: 18px;
	transition: all 0.3s ease;
	&:hover{
		color: #fcb53a;;
	}
}
.l-to-order__articles-item{
    padding-top: 36px;
    padding-bottom: 32px;
    padding-left: 11px;
    padding-right: 15px;
    display: block;
    border-bottom: 1px solid #EEECF1;
    transition: all 0.3s ease;
    &:nth-child(2n){
    	.l-to-order__articles-ico{
    		background-color: #85CBD9;
    	}
    }
    &:hover{
    	background-color: #e6fdff;
    }
    @media ( max-width: @screen-xs-max) {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
    }	
}
.l-to-order__articles-txt{
    margin-top: 10px;
    line-height: 22px;
    @media ( max-width: 500px) {
    	text-align: left;
    }
}
.l-to-order__cards-wrp{
	padding-left: 71px;
	@media ( max-width: @screen-md-max) {
		padding-left: 30px;
	}
	@media ( max-width: @screen-sm-max) {
		padding-left: 0;
		margin-top: 30px;
	}
}
.l-to-order__cards-item{
	height: 252px;
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 30px;
	&:hover{
		img{
			transform: scale(1.1);
		}
	}
	.l-to-order__cards-item-img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		img{
			transition: all 0.3s ease;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.58;
			background-color: #1f1f1f;
			z-index: 1;
		}
	}
	span{
		width: 356px;
		min-height: 50px;
		overflow: hidden;
		height: auto;
		display: block;
		color: white;
		font-size: 24px;
		font-weight: 600;
		line-height: 30px;
		position: absolute;
		top: 99px;
		left: 0;
		right: 0;
		margin: auto;
		border: 2px solid #fff;
		z-index: 2;
		padding: 5px 0;
		text-align: center;
		transition: all 0.3s ease;
		@media ( max-width: @screen-md-max) {
			width: 300px;
			min-height: 43px;
			font-size: 20px;
			line-height: 26px;
		}
		@media ( max-width: 500px) {
			width: 250px;
			font-size: 18px;
		}
		&:hover{
			background-color: #fff;
			color: black;
		}
	}
}
.l-to-order__button{
    margin-top: 68px;
    text-align: center;
    @media ( max-width: @screen-md-max) {
    	margin-top: 30px;
    }
    .but{
    	font-size: 24px;
    	font-weight: 400;
	    font-weight: 400;
	    line-height: 69px;
	    height: 73px;
	    padding: 0 72px;
	    @media ( max-width: @screen-md-max) {
    	    font-size: 19px;
		    line-height: 46px;
		    height: 45px;
		    padding: 0 40px;
	    }	
    }
}