mixin l-economic(data)
	.l-economic
		.container
			h4 С Pomogoo вы экономите на услугах до 70%
				span Как это возможно?
			.l-economic__content
				.l-economic__item.clearfix
					.l-economic__item-img.h-object-fit
						img(src="s/images/tmp_file/eco1.png", alt="")
					.l-economic__item-txt
						h5 Создайте задание
						p Опишите своими словами задачу, которую<br> требуеться выполнить
						a(href="#").but.but_white
							span Создать задание
				.l-economic__item.clearfix.txt-left
					.l-economic__item-img.h-object-fit
						img(src="s/images/tmp_file/eco2.png", alt="")
					.l-economic__item-txt
						h5 Исполнители предложат вам свои услуги и цены
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						a(href="#").but.but_white
							span Каталог исполнений
				.l-economic__item.clearfix.txt-center
					.l-economic__item-img.h-object-fit
						img(src="s/images/tmp_file/eco3.png", alt="")
					.l-economic__item-txt
						h5 Выберите лучшее предложение
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua:
						.l-economic__item-about
							.l-economic__item-about-item
								.icon-wrp
									+svg('icon-rouble')
								span Стоимость услуг
							.l-economic__item-about-item
								.icon-wrp
									+svg('icon-like')
								span Отзывы заказчиков
							.l-economic__item-about-item
								.icon-wrp
									+svg('icon-star')
								span Рейтинг
							.l-economic__item-about-item
								.icon-wrp
									+svg('icon-example')
								span Примеры работ
			.l-economic__button
				a(href="#").but.but_bondi
					span Разместите задание прямо сейчас