mixin c-card-sidebar(data)
	.c-card-sidebar
		.c-card-sidebar__head
			span Задание № 2242666
			span Заказчик этого задания
		a(href="#").c-card-sidebar__user.clearfix
			.c-card-sidebar__user-img.h-object-fit
				img(src="s/images/tmp_file/comment1.jpg", alt="")
			.c-card-sidebar__user-txt
				.c-card-sidebar__user-name
					span Сабрина
					i
				.c-card-sidebar__user-city
					span 28 лет
					span Санкт-Петербург
				.c-card-sidebar__user-revs
					span Отзывы
					.revs-count
						+svg('icon-like')
						.revs-count__numb 7
		.c-card-sidebar__attention
			h5 Напоминаем!
			p Модераторы Pomogoo следят за комментариями, предложениями и перепиской в чате. За нарушение правил сервиса ваш аккаунт или доступ к комментариям задания может быть заблокирован.
			h6 В комментариях к заданиям запрещено:
			ul
				li Вести торги с заказчиком, обсуждать стоимость задания
				li Предлагать заказчику свои услуги
				li Спорить, грубить или вести любые обсуждения, не связанные с условиями задания
				li Распространять флуд однотипными комментариями
			h6 В комментариях можно:
			ul
				li Уточнять детали, связанные с заданием
		.c-card-sidebar__soc
			span Помогите друзьям решать их задачи.
			span Расскажите им о Pomogoo:
			.c-card-sidebar__soc-links.clearfix
				a(href="#")
					+svg('icon-conf-vk')
				a(href="#")
					+svg('icon-conf-fb')
				a(href="#")
					+svg('icon-conf-tw')
				a(href="#")
					+svg('icon-conf-ok')
				a(href="#")
					+svg('icon-conf-google')