mixin l-no-risk-banner(data)
	.l-no-risk-banner
		.l-no-risk-banner__img.h-object-fit
			img(src="s/images/tmp_file/risk-banner.jpg", alt="")
		.l-no-risk-banner__txt
			h1 Сделка без риска
			.l-no-risk-banner__sub-header Удобный способ оплачивать задания онлайн и получать деньги за работу на банковскую карту
			.l-no-risk-banner__btns
				a(href="#").but.but_y-orange
					span Создать задание
				a(href="#").select-task
					span Выбрать задание
