.l-no-risk-banner__img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background-color: #011126;
		opacity: 0.5;
		z-index: 1;
	}
}
.l-no-risk-banner{
	height: 441px;
	position: relative;
    padding-top: 108px;
    @media ( max-width: @screen-xs-max) {
	    padding-top: 80px;
    }
}
.l-no-risk-banner__txt{
    position: relative;
    text-align: center;
    z-index: 2;
    color: #fff;
    max-width: 479px;
    margin-left: auto;
    margin-right: auto;
    @media ( max-width: @screen-xs-max) {
    	padding: 0 15px;
    }
	h1{
		font-size: 48px;
		font-weight: 700;
		@media ( max-width: @screen-xs-max) {
			font-size: 30px;
		}
	}
}
.l-no-risk-banner__sub-header{
	font-size: 18px;
	line-height: 30px;
	margin: 25px 0;
	@media ( max-width: @screen-xs-max) {
		font-size: 16px;
	}
}
.l-no-risk-banner__btns{
	a{
		display: inline-block;
		vertical-align: middle;
	}
	.select-task{
		font-size: 16px;
		font-weight: 400;
		text-decoration: underline;
		margin-left: 18px;
		@media ( max-width: @screen-xs-max) {
			margin-left: 0;
			margin-top: 20px;
			display: block;
		}
		&:hover{
			text-decoration: none;
		}
	}
}