mixin l-vacancy-full(data)
	.l-vacancy-full
		.l-vacancy-full__section
			h1 UI дизайнер (mobile)
			.c-blue-table
				table
					tbody
						tr
							th Уровень зарплаты
							th Город
							th Требуемый опыт работы
						tr
							td от 30 000 до 40 000 руб.
							td Москва
							td 1 – 5 года
			.pomogoo-logo Pomogoo
		.l-vacancy-full__description
			p Команда Pomogoo в связи с развитием проекта ищет web-дизайнера с опытом в мобильных приложениях. <br>Pomogoo – это сервис, который позволяет быстро находить надежных исполнителей для решения любых задач. Pomogoo – это более 1,5 млн зарегистрированных пользователей, более 140 тысяч исполнителей, которые зарабатывают на сервисе, помогая заказчикам решать их проблемы.
			p Мы гордимся своей социальной направленностью, которая реально улучшает жизнь людей: заказчикам дает возможность экономить свое время и заниматься более важными делами, исполнителям помогает находить клиентов и зарабатывать на своих умениях. Ежедневно на  Pomogoo публикуется более 3,5 тысяч новых заданий и регистрируются тысячи новых пользователей. Сервис работает на трех платформах: web, iOs и Android. В данный момент в большинстве категорий мы работаем в Москве и Санкт-Петербурге, но в 2017 году появимся сразу во многих новых городах. <br>Pomogoo за последние годы из веб-сервиса превратился в мобильный. Уже сейчас большинство заданий и предложений к ним публикуются с мобильных приложений. Это неудивительно, так как мобильные приложения позволяют заказчику быстрее опубликовать задание и найти исполнителя, а исполнителям подобрать максимально подходящие заказы и оперативно оставлять предложения. Встроенный чат в приложениях позволяет сторонам удобного обсуждать детали в любое время.
			h4 Обязанности:
			ul
				li разработка мобильного приложения, на основе изучения и анализа потребностей пользователей и существующих тенденций в UI/UX;
				li поддержка и развитие существующего приложения;
				li подготовка подробных спецификаций для разработчиков;
				li создание различных графических элементов (иконки, иллюстрации и так далее).
			h4 Требования:
			ul
				li опыт работы web-дизайнером от 3-х лет;
				li хорошее портфолио с примерами интерфейсов мобильных приложений;
				li отличные знания UI/UX, опыт создания понятных и удобных интерфейсных решений в рамках мобильных приложений вне зависимости от платформы;
				li наличие опыта использования анимации в интерфейсных решениях - Principle, Flinto и Adobe After Effects и т.д.;
				li уверенная работа с продуктами Adobe, Sketch + Zepplin;
				li умение работать в команде, объяснять свои решения, воспринимать конструктивную критику, находить компромиссы;
				li опыт создания иконок и иллюстрации будет преимуществом, но главное — навыки проектирования и создания
				li интерфейсов мобильных приложений.
			h4 Будет плюсом:
			ul
				li использование сервисов типа InVision, Atomic и т.п.;
			h4 Условия:
			ul
				li оформление по ТК РФ, гибкий график работы;
				li современная техника - компьютеры с 16Г оперативной памяти, SSD, два монитора;
				li офис в 5 минутах ходьбы от ст. м."Улица 1905 года";
				li компетентный дружелюбный коллектив;
				li стабильная конкурентоспособная заработная плата.
			p Тип занятости
			p Полная занятость, полный день
		.l-vacancy-full__btn
			a(href="#vacancy-modal" data-toggle="modal").but.but_bondi.but_bondi_lg
				span Откликнуться 