.c-blue-table{
	table{
		width: 100%;
		background-color: @light_blue;
		th{
			font-weight: 400;
		    padding-top: 28px;
		    padding-bottom: 27px;
		    @media ( max-width: @screen-xs-max) {
		    	font-size: 11px;
		    	text-align: center;
		    }
		    &:nth-child(1){
		    	padding-left: 30px;
		    	width: 48%;
		    	@media ( max-width: @screen-xs-max) {
		    		width: 33.333%;
		    		padding-left: 10px;
		    		padding-right: 10px;
		    	}
		    }
		    &:nth-child(2){
		    	width: 30.7%;
		    	@media ( max-width: @screen-md-max) {
		    		width: 25%;
		    	}
		    	@media ( max-width: @screen-xs-max) {
		    		width: 33.333%;
		    	}
		    }
		    &:nth-child(3){
		    	@media ( max-width: @screen-xs-max) {
		    		padding-right: 10px;
		    	}
		    }
		}
		td{
			font-size: 16px;
			font-weight: 600;
			padding-bottom: 25px;
			@media ( max-width: @screen-xs-max) {
				font-size: 12px;
				text-align: center;
			}
			&:nth-child(1){
		    	padding-left: 30px;
		    	@media ( max-width: @screen-xs-max) {
		    		padding-left: 10px;
		    		padding-right: 10px;
		    	}
		    }
		    &:nth-child(3){
		    	@media ( max-width: @screen-xs-max) {
		    		padding-right: 10px;
		    	}
		    }
		}
	}
}
.l-vacancy-full{
	padding-bottom: 83px;
	@media ( max-width: @screen-sm-max) {
		padding-bottom: 30px;
	}
	.c-blue-table{
		margin-bottom: 21px;
	}
	h1{
		font-size: 30px;
		margin-bottom: 31px;
		@media ( max-width: @screen-xs-max) {
			font-size: 26px;
		}
		&:after{
			margin-top: 58px;
			@media ( max-width: @screen-md-max) {
				margin-top: 30px;
			}
		}
	}
}
.pomogoo-logo{
	font-size: 36px;
	font-weight: 700;
	@media ( max-width: @screen-xs-max) {
		font-size: 26px;
	}
	&:after{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 23px;
		height: 23px;
		border-radius: 50%;
		background-color: @y_orange;
		margin-left: 13px;
		@media ( max-width: @screen-xs-max) {
			width: 16px;
			height: 16px;
		}
	}
}
.l-vacancy-full__section{
	padding-bottom: 32px;
	border-bottom: 1px solid #edecf1;
}
.l-vacancy-full__description{
	line-height: 30px;
    padding-top: 27px;
    letter-spacing: 0.1px;
    @media ( max-width: @screen-xs-max) {
    	line-height: 24px;
    }
	p{
		margin-bottom: 31px;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 15px;
		}
	}
	h4{
		font-size: 18px;
		font-weight: 600;
		color: @bondi_blue;
		margin-bottom: 7px;
		text-align: left;
		@media ( max-width: @screen-xs-max) {
			font-size: 16px;
		}
		&:after{
			display: none;
		}
	}
	ul{
		padding-left: 0;
		list-style-type: none;
		margin-bottom: 32px;
		max-width: 844px;
		li{
			position: relative;
			padding-left: 27px;
			&:before{
				content: '';
				position: absolute;
				top: 12px;
				left: 0;
				width: 7px;
				height: 7px;
				background-color: @y_orange;
				display: block;
				border-radius: 50%;
			}
		}
	}
}
.l-vacancy-full__btn{
    margin-top: 75px;
    @media ( max-width: @screen-sm-max) {
    	margin-top: 30px;
    }
    .but{
    	padding: 0 71px;
    }
}