
mixin head(data)
	- var project_mame = 'Pomogoo'
		unless (data)
			- var data = {}
			//-
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title=data.title ? project_mame + ' | ' + data.title : ' | New page'
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet")
		link(href='s/css/all.css', rel='stylesheet')