.l-prof-def__hello-was{
	float: left;
	color: @gray_txt;
	@media ( max-width: @screen-xs-max) {
		margin-top: 10px;
	}
}
.l-prof-def__hello{
	margin-bottom: 50px;
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 20px;
	}
	.l-prof-def__head-views{
		margin-top: 0;
	}
}
.l-prof-def__head-label{
	background-color: @l_green;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	width: 91px;
	height: 22px;
	line-height: 20px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 17px;
    &.busy{
    	background-color: @y_orange;
    }
    @media ( max-width: @screen-md-max) {
    	margin-top: 9px;
    }
    @media ( max-width: @screen-xs-max) {
    	margin-left: 0;
    }
}
.l-prof-def__check-perf{
	font-size: 16px;
	color: @gray_txt;
	margin-bottom: 20px;
	.icon{
		color: @l_green;
		width: 13px;
		height: 16px;
	}
	span{
		padding-left: 10px;
		display: inline-block;
		vertical-align: middle;
	}
}
.l-prof-def__btns{
	margin-top: 30px;
	width: 350px;
	@media ( max-width: @screen-xs-max) {
		margin-bottom: 30px;
	}
}
.l-prof-def__button{
	width: 160px;
	padding: 0 15px;
	height: 35px;
	line-height: 32px;
	color: @gray_txt;
	background-color: @gray;
	text-align: center;
	transition: all 0.3s ease;
	border-radius: 5px;
	display: inline-block;
	@media ( max-width: @screen-xs-max) {
		display: block;
	}
	&:first-child{
		float: left;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 15px;
			float: none;
		}
	}
	&:last-child{
		float: right;
		@media ( max-width: @screen-xs-max) {
			float: none;
		}
	}
	span{
		display: inline-block;
		vertical-align: middle;
	}
	.icon{
		margin-right: 7px;
	}
	&:hover{
		color: #fff;
		background-color: @bondi_blue;
	}
}
.l-profile-pub__annotation{
	color: @bondi_blue;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	background-color: @gray;
	position: relative;
	padding: 24px 70px;
	margin-top: 35px;
	margin-bottom: 40px;
	@media ( max-width: @screen-xs-max) {
		padding: 20px 15px;
		font-size: 14px;
		margin-bottom: 20px;
	}
	p{
		margin-bottom: 0 !important;
	}
	.icon{
		width: 18px;
		height: 21px;
		position: absolute;
		top: -8px;
		left: 26px;
	}
	a{
		color: @y_orange;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.l-profile-pub{
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 80px;
	@media ( max-width: @screen-xs-max) {
		font-size: 14px;
		line-height: 22px;
		padding-bottom: 0;
	}
	p{
		margin-bottom: 30px;
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 10px;
		}
	}
	span{
		display: block;
	}
	.l-prof-ab-me__works{
		@media ( max-width: @screen-xs-max) {
			margin-top: 30px;
		}
	}
	.l-prof-ab-me__works-item{
		span{
			margin: 0;
		}
	}
	.reviews__body-user-about{
		span{
			display: inline;
		}	
	} 
	.reviews__body-user-txt{
		span{
			font-size: 14px;
		}
	}
	.txt-bottom__item{
		font-size: 14px;
	}
}
.l-profile-pub__examps-item{
	display: block;
	position: relative;
	height: 254px;
	overflow: hidden;
	&:hover{
		img{
			transform: scale(1.1);
		}
	}
	img{
		transition: all 0.5s ease;
	}
}
.l-profile-pub__examps{
	margin-bottom: 60px;
	@media ( max-width: @screen-xs-max) {
		margin-top: 15px;
		margin-bottom: 0;
	}
	h5{
		margin-bottom: 30px;
	}
	.row{
		margin: 0 -29px;
		@media ( max-width: @screen-md-max) {
			margin: 0 -15px 
		}
	}
	[class*='col-']{
		padding: 0 29px;
		@media ( max-width: @screen-md-max) {
			padding: 0 15px 
		}
		@media ( max-width: @screen-xs-max) {
			margin-bottom: 30px;
		}
	}
}
.examps-item__img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.examps-item__txt{
	color: #fff;
	font-size: 24px;
	font-weight: 400;
    padding: 9px 30px;
	background-color: rgba(0, 160, 185, 0.65);
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 1;
	@media ( max-width: @screen-xs-max) {
		font-size: 18px;
	}
}
.examps-item__txt-name{
	float: left;
}
.examps-item__txt-count{
	float: right;
	.icon{
		color: #1e546d;
		width: 29px;
		height: 23px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		padding-left: 15px;
		@media ( max-width: @screen-xs-max) {
			padding-left: 10px;
		}
	}
}
.l-profile-pub__serv{
	h5{
		margin-bottom: 30px;
	}
}