.check_list {
	padding-bottom: 27px;
	p{
		font-size: 16px;
	}
	.check-label{
		display: inline-flex;
		align-items: center;
		line-height: 30px;
		margin-bottom: 0;
		font-weight: 400;
		max-width: 100%;
		font-size: 16px;
		span{
			letter-spacing: -0.28px;
			padding-left: 40px;
			@media ( max-width: @screen-sm-max) {
				padding-left: 25px;
			}
		}
	}
	.checkbox{
		margin-right: 32px;
		flex-shrink: 0;
		height: 20px;
		width: 20px;
		@media ( max-width: @screen-sm-max) {
			top: 6px;
		}
	}
	.check-label input:checked ~ .checkbox{
		border: 1px solid #92D23B;
	}
	.check-label input:checked ~ .checkbox:before{
		box-shadow: 1px -2px 0px 0px #fff, inset -2px 0px 0px 0px #fff;
		background-color: transparent;
	}
}
.check_list-check{
	&.blinked {
		background: #e8ffe7;
	}
	margin-bottom: 30px;
	display: flex;
	br{
		@media ( max-width: @screen-sm-max) {
			display: none;
		}
	}
	@media ( max-width: @screen-sm-max) {
		padding-bottom: 10px;
	}
	span{
		display: inline-block;
		padding-left: 40px;
		line-height: 30px;
		font-weight: 300;
		font-size: 16px;
		@media ( max-width: @screen-sm-max) {
			padding-left: 25px;
		}
		a{
			display: inline-block;
			margin-left: 15px;
		}
	}
	.bootstrap-select.btn-group .dropdown-toggle .filter-option{
		padding-left: 0;
	}
}
.check_list-check__link{
	// min-height: 60px;
}
.check_list-par{
	margin-top: 23px;
	p{
		margin-bottom: 50px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 20px;
		}
	}
}
.allert{
	color: @red;
}
.check_list .check-label.allert input:checked ~ .checkbox{
	border: 1px solid @red;
	color: @red;
}
.check_list .check-label.allert input:checked ~ .checkbox:before{
	border-right: 1px solid @red;
	border-bottom: 1px solid @red;
}
.check-label.allert{
	.checkbox{
		border: 1px solid @red;
	}
}


.steps-content__infolist{
	margin-bottom: 60px;
	padding-left: 38px;
	line-height: 24px;
	font-weight: 300;
	font-size: 18px;
	@media ( max-width: @screen-sm-max) {
		margin-bottom: 30px;
	}
	ul{
		margin-bottom: 42px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 20px;
		}
	}
	li{
		padding-bottom: 16px;
		position: relative;
		padding-top: 9px;
		display: block;
		@media ( max-width: @screen-sm-max) {
			padding-bottom: 15px;
		}
		&:before{
			background-color: @l_colapse;
			position: absolute;
			border-radius: 50%;
			display: block;
			content: '';
			left: -38px;
			margin: auto;
			height: 9px;
			width: 9px;
			bottom: 16px;
			top: 9px;
			@media ( max-width: @screen-xs-max) {
				bottom: auto;
				top: 20px;
			}
		}
	}
	span{
		margin-bottom: 12px;
		display: block;
	}
}
.steps-content__form-info.steps-content__form-info-minpad{
	padding: 20px 29px 30px;
	text-align: left;
	h4{
		line-height: 32px;
		text-align: left;
		font-weight: 600;
		font-size: 18px;
		&:after{
			display: none;
		}
	}
	p{
		line-height: 36px;
		font-weight: 300;
		font-size: 16px;
	}
	button{
		line-height: 24px;
		font-weight: 400;
		font-size: 24px;
	}
}
.steps-content__form-info{
	.but.but_bondi{
		line-height: 50px;
		font-weight: 400;
		font-size: 24px;
	}
}
.modal-select + .modal-welcome__bottom.modal-welcome__bottom-left{
	margin-top: 0;
	&:not(:last-child){
		margin-bottom: 30px;
		@media ( max-width: @screen-sm-max) {
			margin-bottom: 20px;
		}
	}
}
.add_new_option{
	padding-left: 40px!important;
	display: inline-block;
	position: relative;
	&:before{
		position: absolute;
		display: block;
		content: '';
		height: 15px;
		width: 1px;
		background-color: @l_green;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 20px;
	}
	&:after{
		position: absolute;
		display: block;
		content: '';
		height: 1px;
		width: 15px;
		background-color: @l_green;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 13px;
	}
}