mixin check_list(data)
	.check_list
		.check_list-par
			p 1. Как устроен сервис Pomogoo?
			.check_list-check
				label.check-label
					input(type="checkbox", checked)
					i.checkbox
					span Заказчик создает задание, исполнители оставляют к нему предложения (предложения - платные,
						br
						| сумма списывается автоматически), в которых указаны их номера телефонов. Заказчик выходит на связь
						br
						| с понравившимся кандидатом, выбирает его исполнителем своего заказа.
			.check_list-check
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Заказчик создает задание, исполнители уточняют телефон заказчика в комментариях и далее
						br
						| созваниваются, чтобы договориться об условиях.
			.check_list-check
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Заказчик создает задание, исполнители сразу видят его телефон и могут созвониться для уточнения условий.
		.check_list-par
			p 2. Как подписаться на уведомления о новых заданиях?
			.check_list-check
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Написать в тех.поддержку с просьбой подключить уведомления в нужной категории.
			.check_list-check.check_list-check__link
				label.check-label.allert
					input(type="checkbox")
					i.checkbox
				span.allert Подписки нет. Нужно следить за появлением новых заданий, обновляя сайт.
					a(href='#').link_bondi посмотреть правилный ответ
			.check_list-check
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Зайти в настройки уведомлений в профиле и выбрать категории, уведомления об обновлении которых хотите получать по e-mail.
		.check_list-par
			p 3. Что стоит указать в профиле исполнителя, чтобы привлечь внимание заказчика?
			.check_list-check
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Достаточно кратко рассказать о себе, указав возраст и предыдущие места работы.
			.check_list-check
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Профиль исполнителя - это его визитная карточка. Стоит подробно рассказать о себе, своем опыте, навыках и личных качествах.
						br
						| Портфолио работ помогает заказчикам понять, на что способен исполнитель, а прайс-лист оценить стоимость услуг.
		.check_list-par
			p 4. За что исполнитель может быть лишен верификации? Укажите несколько вариантов ответа.
			.check_list-check
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Если не выполнит свое первое задание.
			.check_list-check
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Если получит пять отрицательных отзывов.
			.check_list-check
				label.check-label
					input(type="checkbox")
					i.checkbox
					span Если будет указывать свои контакты в профиле или в комментариях к заданиям.
	.step__button-wrap
		button(type='submit').but.but_bondi Дальше
		span Продолжения и комментарии