mixin l-bid-faq(data)
	.l-bid-faq
		.l-bid-faq__ttl Частые вопросы
		ul
			li
				a(href="#") Сколько предложений я получу?
			li
				a(href="#") Обязательно ли выбирать исполнителя?
			li
				a(href="#") Зачем мне указывать примерный бюджет задания?
			li
				a(href="#") Как не выбрать исполнителем мошенника?