mixin item(img)
	.l-cat-serv__item
		.l-cat-serv__item-left
			.h-object-fit
				img(src="s/images/tmp_file/#{img}.jpg", alt="")
			.l-cat-serv__item-left-revs
				span.revs-name Отзывы
				span.revs-count
					+svg('icon-like-2')
					span 77
			.l-cat-serv__item-left-stars
				+svg('icon-star')
				+svg('icon-star')
				+svg('icon-star')
				+svg('icon-star')
				+svg('icon-star')
		.l-cat-serv__item-right
			.l-cat-serv__item-right-head.clearfix
				.l-cat-serv__it-rght-hd-left
					.l-cat-serv__item-name Альбина Митько
				.l-cat-serv__it-rght-hd-right 700 руб./час
			.l-cat-serv__it-rght-hd-status Сейчас на сайте
			.l-cat-serv__item-right-body
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
			.l-cat-serv__item-right-footer
				a(href="#").but.but_bondi
					span Предложить задание

mixin l-profile-favorite(data)
	.l-profile-favorite
		.l-cat-serv__item
			.l-cat-serv__item-left
				.h-object-fit
					img(src="s/images/tmp_file/user2.jpg", alt="")
				.l-cat-serv__item-left-revs
					span.revs-name Отзывы
					span.revs-count
						+svg('icon-like-2')
						span 177
				.l-cat-serv__item-left-stars
					+svg('icon-star')
					+svg('icon-star')
					+svg('icon-star')
					+svg('icon-star')
					+svg('icon-star')
			.l-cat-serv__item-right
				.l-cat-serv__item-right-head.clearfix
					.l-cat-serv__it-rght-hd-left
						.l-cat-serv__item-name Роберт Малишев
					.l-cat-serv__it-rght-hd-right
				.l-cat-serv__it-rght-hd-status.not-online Был на сайте 2 ч. 17 мин. назад
				.l-cat-serv__item-right-body
					p Анкета пока не заполнена. Скоро исполнитель расскажет о себе!
				.l-cat-serv__item-right-footer
					a(href="#").but.but_bondi
						span Предложить задание
		.l-cat-serv__item
			.l-cat-serv__item-left
				.h-object-fit
					img(src="s/images/tmp_file/user5.jpg", alt="")
				.l-cat-serv__item-left-revs
					span.revs-name Отзывы
					span.revs-count
						+svg('icon-like-2')
						span 77
				.l-cat-serv__item-left-stars
					+svg('icon-star')
					+svg('icon-star')
					+svg('icon-star')
					+svg('icon-star')
					+svg('icon-star')
			.l-cat-serv__item-right
				.l-cat-serv__item-right-head.clearfix
					.l-cat-serv__it-rght-hd-left
						.l-cat-serv__item-name Альбина Митько
					.l-cat-serv__it-rght-hd-right 700 руб./час
				.l-cat-serv__it-rght-hd-status Сейчас на сайте
				.l-cat-serv__item-right-body
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
				.l-cat-serv__item-right-footer
					a(href="#").but.but_bondi
						span Предложить задание